<div class="tile is-vertical m-t-0">
	<div class="tile">
		<div class="columns max-width-100 m-x-0 is-multiline is-mobile">
			<div class="column is-6 p-l-0 is-hidden-mobile">
				<p>
					<span class="roboto-med size-18">{{'TABLE_HEADER.STATUS' |  translate}}</span>
					<br>
					<span class="invoice-stats is-warning" ng-if="(invoice.status | uppercase) == 'OPEN'">OPEN</span>
					<span class="invoice-stats is-danger" ng-if="(invoice.status | uppercase) == 'PAST DUE'">PAST DUE</span>
					<span class="invoice-stats is-success" ng-if="(invoice.status | uppercase) == 'PAID'">PAID</span>
				</p>
			</div>
			<div class="column is-6 p-l-0 p-t-0 is-hidden-desktop is-hidden-tablet">
				<div class="column is-6 p-l-0 p-b-0">
					<p>
						<span class="roboto-med size-14">{{'TABLE_HEADER.STATUS' |  translate}}</span>
						<br>
						<span class="invoice-stats size-18 is-warning" ng-if="(invoice.status | uppercase) == 'OPEN'">OPEN</span>
						<span class="invoice-stats size-18 is-danger" ng-if="(invoice.status | uppercase) == 'PAST DUE'">PAST DUE</span>
						<span class="invoice-stats size-18 is-success" ng-if="(invoice.status | uppercase) == 'PAID'">PAID</span>
					</p>
				</div>
				<div class="column is-6 p-l-0 p-t-0">
					<span class="roboto-med size-14">{{'TEXT.AMT_DUE' |  translate}}</span>
					<br><span class="invoice-stats size-18">{{currency}} {{invoice.total}}</span>				
				</div>
			</div>
			
			<div class="column is-6 p-r-0 is-hidden-touch">
				<!-- Desktop View -->
				<p class="">
					<a class="invoice-button m-r-2 is-pulled-right relative"  angular-popover direction="top" template="<div class='btn-tooltip'>PRINT</div>" mode="mouseover"><i
						class="material-icons">print</i> 
					</a>
					<a class="invoice-button is-pulled-right m-r-2 relative" angular-popover direction="top" template="<div class='btn-tooltip no-wrap'>DOWNLOAD PDF</div>" mode="mouseover">
						<img class="logo-img invoice-detail-icon m-b-1" src="resources/images/reports-icon/pdf-icon-blue.svg">
					</a>
					<!-- <a class="invoice-button m-r-2">
						<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
					</a> -->
					<!-- <a class="invoice-button m-r-2">
						<img class="logo-img invoice-detail-icon m-b-1" src="resources/images/reports-icon/reports-export-excel.svg">
					</a> -->
				</p>
			</div>			
			<!-- Tablet View -->
			<div class="column is-6 p-r-0 is-hidden-desktop is-hidden-mobile">	
				<div class="column is-12 p-l-0">			
					<p>
						<a class="invoice-button m-r-1">
							<img class="logo-img invoice-detail-icon m-b-1" src="resources/images/reports-icon/pdf-icon-blue.svg">
						</a>
						<!-- <a class="invoice-button m-r-1">
							<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
						</a> -->
						<a class="invoice-button m-r-1"><i
							class="material-icons">print</i> 
						</a>
						<!-- <a class="invoice-button m-r-1">
							<img class="logo-img invoice-detail-icon m-b-1" src="resources/images/reports-icon/reports-export-excel.svg">
						</a> -->
					</p>
				</div>
			</div>
			
			
			<!-- Mobile view -->
			<div class="column is-6 is-paddingless is-hidden-desktop is-hidden-tablet" ng-if="(invoice.status | uppercase) != 'PAID'">
				<div class="column is-8 p-l-0 p-b-0">
					<a class="button is-primary max-width-100 p-y-2">{{'BUTTON.PAY_NOW' |  translate | uppercase}}</a>
				</div>
				<div class="column is-8 p-l-0 add-watchlist-btn">
					<a class="button is-ghost max-width-100 p-y-2">{{'INVOICE_TEXT.ADD_TO_WATCHLIST' |  translate | uppercase}}</a>
				</div>
			</div>
			
			
			<div class="column is-12 p-l-0 is-hidden-mobile">
				<span class="roboto-med size-18">{{'TEXT.AMT_DUE' |  translate}}</span>
				<br><span class="invoice-stats">{{currency}} {{invoice.total}}</span>
			</div>
			<!-- Desktop view -->
			<div class="column is-12 p-l-0 is-hidden-touch is-hidden-desktop" ng-if="(invoice.status | uppercase) != 'PAID'">
				<div class="column is-4 p-l-0">
					<a class="button is-primary max-width-100 p-y-2">{{'BUTTON.PAY_NOW' |  translate | uppercase}}</a>
				</div>
				<div class="column is-4 p-l-0">
					<a class="button is-ghost max-width-100 p-y-2">{{'INVOICE_TEXT.ADD_TO_WATCHLIST' |  translate | uppercase}}</a>
				</div>
			</div>
			<!-- Tablet view -->
			<div class="column is-12 p-l-0 is-hidden-mobile" ng-if="(invoice.status | uppercase) != 'PAID'">
				<div class="column is-8 p-l-0">
					<a class="button is-primary max-width-100 p-y-2">{{'BUTTON.PAY_NOW' |  translate | uppercase}}</a>
				</div>
				<div class="column is-8 p-l-0">
					<a class="button is-ghost max-width-100 p-y-2">{{'INVOICE_TEXT.ADD_TO_WATCHLIST' |  translate | uppercase}}</a>
				</div>
			</div>
			
			<div class="column p-l-0">		
				<!--  Desktop View-->		
				<div class="columns is-multiline is-hidden-touch">	
					<div class="column is-4">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.PO_NO' |  translate | uppercase}}</label> 
						</div>
						<div class="control has-icons-right address-details">
							<label>{{invoice.poNumber}}</label> 
						</div>
					</div>									
					<div class="column is-4">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.ORDER_DATE' |  translate | uppercase}}</label> 
						</div>
						<div class="control has-icons-right address-details">
							<label>{{invoice.dateIssued}}</label> 
						</div>
					</div>
					<div class="column is-4">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'INVOICE_TEXT.ORDER_NO' |  translate | uppercase}}</label> 
						</div>
						<div class="control has-icons-right address-details">
							<label>{{invoice.invoiceNumber}}</label> 
						</div>
					</div>
					<div class="column is-4">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.CONTACT_NAME' |  translate | uppercase}}</label> 
						</div>
						<div class="control address-details has-icons-right ">
							<label>John Smith</label> 
						</div>
					</div>
					<div class="column is-4">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.CONTACT_NO' |  translate | uppercase}}</label> 
						</div>
						<div class="control address-details has-icons-right ">
							<label>123123123</label> 
						</div>
					</div>
				</div>		
				<!--Mobile and Tablet View  -->
				<div class="columns is-multiline is-mobile is-hidden-desktop">	
					<div class="column is-6">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.PO_NO' |  translate | uppercase}}#</label> 
						</div>
						<div class="control has-icons-right address-details">
							<label>{{invoice.poNumber}}</label> 
						</div>
					</div>									
					<div class="column is-6">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.ORDER_DATE' |  translate | uppercase}}</label> 
						</div>
						<div class="control has-icons-right address-details">
							<label>{{invoice.dateIssued}}</label> 
						</div>
					</div>
					<div class="column is-6">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'INVOICE_TEXT.ORDER_NO' |  translate | uppercase}}</label> 
						</div>
						<div class="control has-icons-right address-details">
							<label>{{invoice.invoiceNumber}}</label> 
						</div>
					</div>
					<div class="column is-6">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.CONTACT_NAME' |  translate | uppercase}}</label> 
						</div>
						<div class="control address-details has-icons-right ">
							<label>John Smith</label> 
						</div>
					</div>
					<div class="column is-6">
						<div class="control has-icons-right">
							<label class="invoice-detail-label size-14">{{'TABLE_HEADER.CONTACT_NO' |  translate | uppercase}}</label> 
						</div>
						<div class="control address-details has-icons-right ">
							<label>123123123</label> 
						</div>
					</div>
				</div>		
				
			</div>
		</div>
	</div>
</div>