<invoice-detail-breadcrumbs></invoice-detail-breadcrumbs>
<div class="container p-x-1">
	<div class="columns is-multiline m-t-0">
		<div class="column is-12 m-t-1 is-hidden-mobile">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 p-l-1 m-b-1">
					<span class="invoices-title size-3-rem">{{'INVOICE_TEXT.HEADING' |  translate}} {{invoiceId}}</span>
				</div>
			</div>
		</div>
		
		<div class="column is-12 is-hidden-tablet">
			<div class="columns is-multiline is-marginless is-mobile">
				<div class="column is-6 p-t-0 is-paddingless">
					<span class="invoices-id-title">{{'INVOICE_TEXT.HEADING' |  translate}} {{invoiceId}}</span>
				</div>
				<div class="column is-6 p-l-1">
					<a class="invoice-button m-r-1">
						<img class="logo-img invoice-detail-icon m-b-1" src="resources/images/reports-icon/pdf-icon-blue.svg">
					</a>
					<a class="invoice-button m-r-1">
						<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
					</a>
					<a class="invoice-button m-r-1"><i
						class="material-icons">print</i> 
					</a>
					<a class="invoice-button m-r-1">
						<img class="logo-img invoice-detail-icon m-b-1" src="resources/images/reports-icon/reports-export-excel.svg">
					</a>
				</div>				
			</div>
		</div>
		
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">	
				<div class="column is-12 is-hidden-tablet is-paddingless">
					<invoice-detail-payment></invoice-detail-payment>
				</div>
			
				<div class="column is-2 has-text-centered center-x-y is-hidden-mobile">
					<invoice-detail-carousel></invoice-detail-carousel>
				</div>
				<div class="column is-4 is-hidden-mobile">
					<invoice-detail-display-image></invoice-detail-display-image>
				</div>
				
				<div class="column is-3 has-text-centered center-x-y is-hidden-tablet">
					<invoice-detail-carousel></invoice-detail-carousel>
				</div>
				<div class="column is-9 is-hidden-tablet">
					<invoice-detail-display-image></invoice-detail-display-image>
				</div>	
				
				<div class="column is-6 is-hidden-mobile">
					<invoice-detail-payment></invoice-detail-payment>
				</div>
				
				<div class="column is-12 is-paddingless">
					<invoice-detail-table></invoice-detail-table>
				</div>
				<div class="column is-12">
					<invoice-detail-address></invoice-detail-address>
				</div>
				
			</div>
		</div>
	</div>
</div>
<order-detail-modal></order-detail-modal>
<order-detail-mobile></order-detail-mobile>