<div class="is-paddingless is-hidden-touch">
	<a class="carousel-previous-desktop no-underline"><span
		class="icon is-medium"><i class="fa fa-chevron-up"
			aria-hidden="true"></i></span></a>
	<slick settings="slickConfigDesktop" ng-if="product.images.length > 0">
	<div class="slick-item m-t-1 m-b-1 carousel-image"
		ng-repeat="image in product.images"
		ng-click="selectImage(product, image)">
		<figure class="image slick-item-img">
			<img
				ng-class="{'slick-image-active': product.selectedImage == image}"
				class="slick-item-img-border image is-128x128 slick-image-inactive"
				ng-src="{{image.url}}" />
		</figure>
	</div>
	</slick>
	<a class="carousel-next-desktop no-underline"><span
		class="icon is-medium"><i class="fa fa-chevron-down"
			aria-hidden="true"></i></span></a>
</div>

<div class="columns m-x-0 m-y-0 m-t-2 is-mobile is-hidden-desktop">
	<div class="display-table height-100-perc">
		<div class="display-table-cell">
			<a class="carousel-previous no-underline"><span
				class="icon is-medium"><i class="fa fa-chevron-left"
					aria-hidden="true"></i></span></a>
		</div>
	</div>
	<div class="column is-10 p-x-0">
		<slick settings="slickConfigTabMobile"
			ng-if="product.images.length > 0">
		<div class="slick-item carousel-image m-l-1 slick-image-inactive"
			ng-repeat="image in product.images"
			ng-click="selectImage(product, image)"
			ng-class="[{'slick-image-active': product.selectedImage == image}, {'m-r-1': !$last}]">
			<img ng-src="{{image.url}}" />
		</div>
		</slick>
	</div>
	<div class="display-table height-100-perc">
		<div class="display-table-cell">
			<a class="carousel-next no-underline"><span
				class="icon is-medium"><i class="fa fa-chevron-right"
					aria-hidden="true"></i></span></a>
		</div>
	</div>
</div>