<div class="columns p-x-6 m-x-3 is-multiline is-mobile is-hidden-touch">
	<div class="column is-3 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.BILLING_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-3 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.SHIPPING_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-3 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.SOLD_TO_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-3 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.PAYER_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
</div>

<!-- Tablet View -->
<div class="columns p-x-1 is-multiline is-mobile is-hidden-mobile is-hidden-desktop">
	<div class="column is-4 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.BILLING_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-4 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.SHIPPING_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-4 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.SOLD_TO_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-4 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.PAYER_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
</div>

<!-- Mobile View -->
<div class="columns p-x-1 is-multiline is-mobile is-hidden-tablet is-hidden-desktop">
	<div class="column is-6 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.BILLING_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-6 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.SHIPPING_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-6 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.SOLD_TO_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
	<div class="column is-6 p-x-0 p-t-0">
		<label class="invoice-address-label">{{'INVOICE_TEXT.PAYER_ADD' |  translate}}</label>
		<div class="control">
			<span class="address-details">{{billAccount.name}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address1}}</span>
		</div>
		<div class="control">
			<span class="address-details">{{billAccount.address2}}</span>
		</div>
	</div>
</div>