<div class="column is-12 is-paddingless row-reorder-container">
	<table class="table footable p-x-1" datatable="ng" dt-options="invoiceCtrl.dtOptions" dt-column-defs="invoiceCtrl.dtColumnDefs" dt-instance="invoiceCtrl.dtInstance"
		 cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="center-text is-hidden-tablet not-desktop toggle" data-sort-ignore="true">&nbsp;</th>
				<th>&nbsp;</th>
				<th data-priority="1" ng-click="resetSort()">{{'TABLE_HEADER.ITEM_NO' |  translate}}</th>
				<th ng-click="resetSort()">{{'TABLE_HEADER.TITLE' |  translate}}</th>
				<th class="" data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.OPTION' |  translate}}</th>
				<th class="" data-priority="2" ng-click="resetSort()">{{'TABLE_HEADER.UNIT_PRICE' |  translate}}</th>
				<th class="" data-priority="3" ng-click="resetSort()">{{'TABLE_HEADER.QUANTITY' |  translate}}</th>
				<th class="" data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.AVAILABILITY' |  translate}}</th>
				<th class="" data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.TOTAL_COST' |  translate}}</th>
				<th class="" data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.PROJECT' |  translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in invoiceItems">
				<td class="is-hidden-tablet has-text-centered"></td>
				<td>
					<figure class="image is-64x64">
						<img class="image is-64x64" ng-src="{{row.image}}" />
					</figure>
				</td>
				<!-- <td><a href="" class="ng-popover-trigger" id="order-details">{{row.itemNumber}}</a></td> -->
				<td class="max-w-100 text-ellipsis">
					<span class="item-title max-w-100 text-ellipsis">
						<a href=""  ng-click="toggleOrderDetailsModal(true, row)" productCode="row.itemNumber"
						class="is-hidden-mobile">{{row.itemNumber}}</a> <a href=""
						ng-click="showOrderDetailsMobile(row)" productCode="row.itemNumber"
						class="is-hidden-tablet">{{row.itemNumber}}</a>
					</span>
				</td>
				<td>
					<span class="is-hidden-mobile" ng-bind="row.name | limitTo:45">{{row.name}}</span>
					<span class="is-hidden-mobile" ng-if="row.name.length > 45">...</span>					
					<span class="is-hidden-desktop is-hidden-tablet item-name">{{row.name}}</span>
				</td>
				<td class="max-w-200 text-ellipsis">
					<span ng-if="row.options.length == 0 || !row.hasOptions">-</span>
					<span class="item-title max-w-100 text-ellipsis">
						<span ng-if="row.options.length != 0 && row.hasOptions" ng-repeat="option in row.options">
							{{option}} 
							<span ng-if="!$last">-</span>
						</span>
					</span>
				</td>
				<td class="max-w-100 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{currency}}{{row.unitPrice | number : 2}}</span></td>
				<td class="max-w-100 text-ellipsis quantity"><span class="item-title max-w-100 text-ellipsis">{{row.quantity}}</span></td>
				<td class=""><span
					ng-if="row.stockLevel > 0">{{'TEXT.IN_STOCK' |  translate}}</span><span
					ng-if="row.stockLevel == 0">{{'TEXT.OUT_OF_STOCK' |  translate}}</span></td>
				<td class="max-w-100 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{currency}}{{row.unitPrice * row.quantity | number : 2}}</span></td>
				<td class="max-w-100 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.project}}</span></td>
			</tr>
		</tbody>
	</table>
</div>