<!-- Create Folder Modal -->
<div class="modal" ng-class="createProjmodalTrigger" ng-click="$event.stopPropagation()">
	<div class="modal-background"></div>
	<div class="modal-card create-proj-modal">
	    <section class="modal-card-body has-text-centered">
		<div class="column m-t-1 p-x-2">
			<span class="create-proj-title">{{ 'PROJECT.CREATE_PROJ' | translate }}</span>
			<div class="tile is-vertical m-t-1">
				<div class="tile m-b-1">
					<div class="column">
						<div class="control m-t-1h">
							<input
								class="input search ng-pristine ng-untouched ng-valid ng-empty" ng-blur="validateProjectName()"
								type="text" id="project-name" name="projname" placeholder="Project Name"
								ng-model="projectName"> 
							<span class="error-message ng-hide" ng-hide="isValidProjectName">{{ 'TEXT.INVALID_NAME' | translate }}</span>
						</div>
					</div>
				</div>
				<div class="columns is-mobile">
					<div class="column cancel-btn p-r-0 m-r-2 has-text-centered">
						<a class="button is-ghost" ng-click="toggleProjectCreateModal(false)">{{ 'BUTTON.CANCEL' | translate | uppercase}}
						</a>
					</div>
					<div class="column p-l-0 m-l-0 has-text-centered">
						<a class="button is-secondary-btn is-pulled-left" ng-click="addProject()">{{ 'BUTTON.SAVE' | translate | uppercase}}
						</a>
					</div>
				</div>
				<input type="file" file-reader="fileContent" id="upload-csv" accept=".csv" callback-fn="addDataFromCsv(result)" class="is-hidden" />	
				<div class="columns is-mobile">
					<div class="column cancel-btn p-r-0 m-r-4 has-text-centered">
						<a class="button is-ghost" ng-click="clickUploadCsv(); $event.stopPropagation();">{{ 'BUTTON.IMPORT_CSV' | translate | uppercase}}
						</a>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleProjectCreateModal(false)"></button>
</div>

<!-- Rename Modal -->
<div class="modal" ng-class="changeNameProjmodalTrigger">
	<div class="modal-background"></div>
	<div class="modal-card create-proj-modal">
	    <section class="modal-card-body has-text-centered">
		<div class="column m-t-1 p-x-2">
			<span class="create-proj-title">{{ 'TEXT.CHANGE_NAME' | translate}}</span>
			<div class="tile is-vertical m-t-1">
				<div class="tile m-b-1">
					<div class="column">
						<div class="control m-t-1h">
							<input
								class="input search ng-pristine ng-untouched ng-valid ng-empty" ng-blur="validateProjectRename()"
								type="text" id="project-name" placeholder="Project Name"
								ng-model="projectNameChange"> 
							<span class="error-message ng-hide" ng-hide="isValidProjectRename">{{ 'TEXT.INVALID_NAME' | translate}}</span>
						</div>
					</div>
				</div>
				<div class="columns is-mobile">
					<div class="column cancel-btn p-r-0 m-r-2 has-text-centered">
						<a class="button is-ghost" ng-click="toggleProjectChangeNameModal(false)">{{ 'BUTTON.CANCEL' | translate | uppercase}}
						</a>
					</div>
					<div class="column p-l-0 m-l-0 has-text-centered">
						<a class="button is-secondary-btn is-pulled-left" ng-click="changeProjectName()">{{ 'BUTTON.SAVE' | translate | uppercase}}
						</a>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleProjectChangeNameModal(false)"></button>
</div>


<!-- Delete Modal -->
<div class="modal" ng-class="deleteProjmodalTrigger">
	<div class="modal-background"></div>
	<div class="modal-card create-proj-modal">
	    <section class="modal-card-body has-text-centered">
		<div class="column m-t-1 p-x-2">
			<span class="create-proj-title delete-font-size">{{ 'TEXT.DELETE_CONFIRM' | translate}}</span>
			<div class="tile is-vertical m-t-1">
				<div class="columns is-mobile">
					<div class="column cancel-btn p-r-0 m-r-2 has-text-centered">
						<a class="button is-ghost" ng-click="toggleDeleteProjectModal(false)">{{ 'BUTTON.CANCEL' | translate | uppercase}}
						</a>
					</div>
					<div class="column is-6 p-l-0 m-l-0 has-text-centered">
						<a class="button is-secondary-btn is-pulled-left" ng-click="deleteProjectFolder()">{{ 'BUTTON.DELETE' | translate | uppercase}}
						</a>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleDeleteProjectModal(false)"></button>
</div>

<!-- Duplicate Modal -->
<div class="modal" ng-class="dupesModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-card duplicate-modal create-proj-modal">
	    <section class="modal-card-body has-text-centered">
		<div class="column m-t-1 p-x-2">
			<span class="create-proj-title size-25"> {{ 'TEXT.DUP_PROJ_ITEM' | translate}}</span>
			<div class="tile is-vertical m-t-1 is-hidden-mobile">
				<div class="columns is-mobile">
					<div class="column cancel-btn p-r-0 m-r-2 has-text-centered">
						<a class="button is-ghost" ng-click="toggleDuplicateModal(false)">{{ 'BUTTON.CANCEL' | translate | uppercase}}
						</a>
					</div>
					<div class="column is-6 p-l-0 m-l-0 has-text-centered">
						<a class="button is-secondary-btn is-pulled-left" ng-click="goToProjectDetail(selectedProject)">{{ 'PROJECT.GO_TO_PROJECT' | translate }}
						</a>
					</div>
				</div>
			</div>
			<div class="tile is-vertical m-t-1 is-hidden-tablet">
				<div class="columns is-multiline is-mobile">
					<div class="column is-12 cancel-btn p-r-0 m-r-2 has-text-centered">
						<a class="button is-ghost" ng-click="toggleDuplicateModal(false)">{{ 'BUTTON.CANCEL' | translate | uppercase}}
						</a>
					</div>
					<div class="column is-12 p-l-0 m-l-2 has-text-centered">
						<a class="button is-secondary-btn is-pulled-left" ng-click="goToProjectDetail(selectedProject)">{{ 'PROJECT.GO_TO_PROJECT' | translate }}
						</a>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleDuplicateModal(false)"></button>
</div>
