<div class="columns is-mobile is-marginless height-105">	
	<div class="column is-6 has-text-centered cursor-pointer"
		ng-class="{'filter-selected-display-options' : selectedDisplayOption == 1}"
		ng-click="selectDisplay(1)">
		<div class="columns is-multiline is-marginless">
			<div class="column is-12 p-x-0">
				<figure class="image is-32x32">
					<img class="image is-32x32"
						src="resources/images/large_grid_icon@2x.png">
				</figure>
			</div>
			<div class="column is-12 is-paddingless">
				<span class="display-options-text">{{'TEXT.GRID' | translate}}</span>
			</div>
		</div>
	</div>
	<div class="column is-6 has-text-centered cursor-pointer"
		ng-class="{'filter-selected-display-options' : selectedDisplayOption == 2}"
		ng-click="selectDisplay(2)">
		<div class="columns is-multiline is-marginless">
			<div class="column is-12 p-x-0">
				<figure class="image is-32x32">
					<img class="image is-32x32" src="resources/images/list_icon@2x.png">
				</figure>
			</div>
			<div class="column is-12 is-paddingless">
				<span class="display-options-text">{{'TEXT.LIST' | translate}}</span>
			</div>
		</div>
	</div>
</div>