<project-breadcrumbs></project-breadcrumbs>
<toaster-container toaster-options="{'time-out': 900}"></toaster-container>
<div class="container p-x-1">
	<div class="columns m-t-0">
		<div class="column is-2 m-t-1 is-hidden-touch">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 p-x-0 m-b-1">
					<span class="invoices-title">{{'NAV_PROJECTS' | translate}}</span>
				</div>
				<div class="column is-12 is-paddingless">
					<project-filter></project-filter>
				</div>
			</div>
		</div>
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">
				<div class="column is-12 is-paddingless">
					<project-header></project-header>
				</div>
				<div class="column is-12 is-paddingless">
					<project-list></project-list>
				</div>
			</div>
		</div>
	</div>
</div>
<project-filter-modal></project-filter-modal>
<project-create-modal></project-create-modal>
<error-modal></error-modal>