<!-- Desktop View -->
<div class="columns is-marginless is-mobile is-multiline is-hidden-touch">
	
	<div class="column is-3 m-t-2 p-r-2" >
		<a class="button m-t-1 p-t-1 p-b-1 is-secondary create-project" ng-click="toggleProjectCreateModal(true)">
		<img class="project-btn-img" src="resources/images/folder-add.svg">&nbsp;
		{{'PROJECT.CREATE' | translate | uppercase}}
		</a>
	</div>
	<div class="column is-3 p-l-0 m-t-2">
		<div class="control m-t-1">
			<input class="input search" type="search" id="project-search-desktop"
				placeholder="Search Projects" ng-model="searchProjects.name" ng-change="searchProjects()"> <span
				class="icon is-small is-right search-icon" ng-click=""> <i
				class="material-icons">search</i>
			</span>
		</div>
	</div>
	<div class="column is-1 m-t-1">
		<p class="control has-icons-right">
			<label class="label filter-label">{{'SORT_BY' | translate | uppercase}}</label> <span class="select width-100-perc"> 
			<select ng-model="sortBy" class="filter-dropdown width-100-perc ng-pristine ng-valid ng-not-empty ng-touched" ng-options="sortBy for sortBy in sortByList" ng-change="sortName()">
			</select> 
			<span class="icon is-large is-right"> 
			<i class="material-icons">arrow_drop_down</i>
			</span></span>
		</p>
	</div>
	<div class="column is-3 m-t-1 is-hidden">
		<p class="control has-icons-right">
			<label class="label filter-label">{{'TEXT.VIEW_BY' | translate | uppercase}}</label> <span class="select width-100-perc"> 
			<input type="checkbox">{{'NAV_PROJECTS' | translate | uppercase}}
			<input type="checkbox">{{'TEXT.SOLD_TO' | translate}}
			<select ng-model="soldTo" class="filter-dropdown width-100-perc ng-pristine ng-valid ng-not-empty ng-touched" ng-options="soldTo for soldTo in soldToList">
				 <option value="" disabled selected>Select Sold-To</option>
			</select> 
			<span class="icon is-large is-right"> 
			<i class="material-icons">arrow_drop_down</i>
			</span></span>
		</p>
	</div>
	
	<div class="tile m-t-3 justify-right is-hidden-mobile project-options">
		<project-display-options></project-display-options>
		<div class="display-options" ng-show="isDisplayOptionsOpen">
			<project-display-options-tab></project-display-options-tab>
		</div>
	</div>
</div>

<!-- Tablet & Mobile View-->
<div
	class="columns is-marginless is-mobile is-multiline is-hidden-desktop">
	<div class="column is-12 is-paddingless">
		<div class="columns m-y-0 is-paddingless is-mobile is-hidden-desktop">
			<div class="column">
				<span class="invoices-title">{{'NAV_PROJECTS' | translate }}</span>
			</div>
			<div class="column is-hidden-mobile">
				<a class="button m-t-1h is-secondary create-project" ng-click="toggleProjectCreateModal(true)">
				<img class="project-btn-img" src="resources/images/folder-add.svg">&nbsp;
				{{'PROJECT.CREATE' | translate | uppercase}}
				</a>
			</div>
			<div class="column is-hidden-mobile">
				<div class="control m-t-1h">
					<input
						class="input search ng-pristine ng-untouched ng-valid ng-empty"
						type="search" id="project-search" placeholder="Search Projects"
						ng-model="searchProjects.name" ng-change="searchProject()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
			<div class="column is-7 p-l-0 is-hidden-tablet is-mobile">
				<div class="control m-t-1h">
					<input
						class="input search ng-pristine ng-untouched ng-valid ng-empty"
						type="search" id="project-search" placeholder="Search Projects"
						ng-model="searchProjects.name" ng-change="searchProject()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-12 is-paddingless is-hidden-desktop is-hidden-mobile">
		<div class="columns is-marginless is-paddingless is-mobile">
			<div class="column is-paddingless">
				<project-selected-filter></project-selected-filter>
			</div>
			<div class="tile justify-right is-hidden-mobile project-options">
				<project-display-options></project-display-options>
				<div class="display-options" ng-show="isDisplayOptionsOpen">
					<project-display-options-tab></project-display-options-tab>
				</div>
			</div>
		</div>	
	</div>
	<div class="column is-3 p-l-0 is-hidden-desktop is-hidden-mobile">
		<p class="control has-icons-right">
			<label class="label filter-label">{{'SORT_BY' | translate | uppercase}}</label> <span class="select width-100-perc"> 
			<select ng-model="sortBy" class="filter-dropdown width-100-perc ng-pristine ng-valid ng-not-empty ng-touched" ng-options="sortBy for sortBy in sortByList" ng-change="sortName()">
			</select> 
			<span class="icon is-large is-right"> 
			<i class="material-icons">arrow_drop_down</i>
			</span></span>
		</p>
	</div> 
	<div class="column is-2 is-paddingless is-hidden-tablet">
		<div class="columns is-marginless is-paddingless is-mobile">
			<div class="column is-paddingless">
				<project-selected-filter></project-selected-filter>
			</div>
		</div>
	</div>
	<div class="column is-8 m-l-2 is-paddingless">
		<a class="button is-secondary create-project is-hidden-tablet is-mobile" ng-click="toggleProjectCreateModal(true)">
			<img class="project-btn-img" src="resources/images/folder-add.svg">&nbsp;
			{{'PROJECT.CREATE' | translate | uppercase}}
		</a>
	</div>
	
	<div class="column is-4 p-l-0 is-hidden-desktop is-hidden-tablet">
		<p class="control has-icons-right">
			<label class="label filter-label">{{'SORT_BY' | translate | uppercase}}</label> <span class="select width-100-perc"> 
			<select ng-model="sortBy" class="filter-dropdown width-100-perc ng-pristine ng-valid ng-not-empty ng-touched" ng-options="sortBy for sortBy in sortByList" ng-change="sortName()">
			</select> 
			<span class="icon is-large is-right"> 
			<i class="material-icons">arrow_drop_down</i>
			</span></span>
		</p>
	</div> 
</div>