<!-- Filter Modal -->
<div class="modal" ng-class="modalTrigger">
	<div class="modal-background"></div>
	<div class="modal-card filter-modal">
	    <section class="modal-card-body">
		<div class="column m-t-1 p-x-2">
			<span class="filter-title">{{'FILTER_BY' | translate | uppercase}}:</span>
			<div class="tile is-vertical m-t-1">
			<div class="tile m-b-1">
						<!-- Date Filter -->
						<ul class="filter m-t-1">
							<li class="content">
								<h4 class="filter-name">{{'TEXT.DATE' | translate}}</h4>
								<div class="columns is-marginless is-mobile is-multiline">
									<div class="column is-12 is-paddingless">
										<datepicker class="datepick-filter"
											button-prev="<i class='material-icons'>keyboard_arrow_left</i>"
											button-next="<i class='material-icons'>keyboard_arrow_right</i>"
											date-format="MM/dd/yyyy" datepicker-mobile="true"
											date-max-limit="{{maxDate}}"> <input
											class="datepick-filter" ng-model="dateFromFilter"
											id="date-from-filter-touch" type="text" placeholder="Date"
											ng-change="filterByDate()" readonly /> <label
											for="date-from-filter-touch"
											class="icon is-small is-right datepicker-filter-icon">
											<i class="fa fa-calendar" aria-hidden="true"></i>
										</label> </datepicker>
									</div>

									<div
										class="column is-12 is-paddingless has-text-left padding-y-12px">
										<span class="date-range-text">{{'TEXT.TO' | translate}}</span>
									</div>

									<div class="column is-12 is-paddingless">
										<datepicker class="datepick-filter date-picker-mobile-right"
											button-prev="<i class='material-icons'>keyboard_arrow_left</i>"
											button-next="<i class='material-icons'>keyboard_arrow_right</i>"
											date-format="MM/dd/yyyy" datepicker-mobile="true"
											date-max-limit="{{maxDate}}" date-min-limit="{{minDate}}">
										<input class="datepick-filter" ng-model="dateToFilter"
											id="date-to-filter-touch" type="text" placeholder="Date"
											ng-change="filterByDate()"
											ng-disabled="dateFromFilter == undefined || dateFromFilter.length == 0"
											readonly /> <label for="date-to-filter-touch"
											class="icon is-small is-right datepicker-filter-icon">
											<i class="fa fa-calendar" aria-hidden="true"></i>
										</label> </datepicker>
									</div>
								</div>
							</li>
						</ul>
					</div>
			</div>
		</div>
		</section>
		
		 <!-- <footer class="modal-card-foot is-hidden-desktop-only">
	      <button class="button is-primary" ng-click="toggleProjectFilterModal(false)">APPLY</button>
	    </footer> -->
	</div>
	<button class="modal-close is-large"
		ng-click="toggleProjectFilterModal(false)"></button>
</div>