<!-- Desktop View -->
<div ng-show="selectedDisplayOption == 1" class="columns m-t-2 is-multiline is-hidden-touch">
	<div class="column is-2 project-thumb cursor-pointer"
		ng-repeat="project in projectList | filter:searchProjects | orderBy: !sortToggle?'-name':'name':reverse track by $index ">
		<div class="columns is-multiline is-marginless project-folder">
			<div class="clearfix">&nbsp;</div>
			<div class="column is-12 is-paddingless has-text-centered" ng-click="goToProjectDetail(project)">
				<figure class="project-img">
					<img class="project-img" src="resources/images/folder-large.svg">
				</figure>
				<div class="clearfix">&nbsp;</div>
			</div>			
			<div class="column is-12 p-y-0 has-text-centered project-name overflow" ng-click="goToProjectDetail(project)">
				{{project.name}}
			</div>
			<div class="column is-12 p-y-0 has-text-centered overflow" ng-click="goToProjectDetail(project)">
				<span class="project-date">{{'TEXT.CREATED' | translate}}: {{project.createDate | date:'M/d/yyyy'}}</span>
			</div>
			<div class="column is-12 ">
				<span ng-if="project.entries.length != undefined" class="project-name">{{project.entries.length}} </span>
				<span ng-if="project.entries.length == undefined" class="project-name">0 </span>
				<label>{{'TEXT.ITEM' | translate}}</label>
				<!-- <span class="project-date">Created: {{project.createDate | date:'M/d/yyyy'}}</span> -->
				<a ><i class="project-context material-icons is-pulled-right" ng-class="{'thumb-4': ($index+1)%5 == 0 }" aria-hidden="true" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project/project-popover.html">&#xE5D3;</i></a>
			</div>		
		</div>
	</div>
</div>
<!-- Grid View for tablet -->
<div ng-show="selectedDisplayOption == 1" class="columns m-t-2 is-multiline is-hidden-mobile is-hidden-desktop">
	<div class="column is-4 cursor-pointer"
		ng-repeat="project in projectList | filter:searchProjects | orderBy: !sortToggle?'-name':'name':reverse track by $index">
		<div class="columns is-multiline is-marginless project-folder">
			<div class="clearfix">&nbsp;</div>
			<div class="column is-12 is-paddingless has-text-centered" ng-click="goToProjectDetail(project)">
				<figure class="project-img">
					<img class="project-img" src="resources/images/folder-large.svg">
				</figure>
				<div class="clearfix">&nbsp;</div>
			</div>			
			<div class="column is-12 p-y-0 has-text-centered project-name overflow" ng-click="goToProjectDetail(project)">
				{{project.name}}
			</div>
			<div class="column is-12 m-b-2 p-y-0 has-text-centered overflow" ng-click="goToProjectDetail(project)">
				<span class="project-date">{{'TEXT.CREATED' | translate}}: {{project.createDate | date:'M/d/yyyy'}}</span>
			</div>
			<div class="column is-12 ">
				<span ng-if="project.entries.length != undefined" class="project-name">{{project.entries.length}} </span>
				<span ng-if="project.entries.length == undefined" class="project-name">0 </span>
				<label>{{'TEXT.ITEM' | translate}}</label>
				<!-- <span class="project-date">Created: {{project.createDate | date:'M/d/yyyy'}}</span> -->
				<a ><i class="project-context material-icons is-pulled-right" ng-class="{'thumb-4': ($index+1)%3 == 0 }" aria-hidden="true" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project/project-popover.html">&#xE5D3;</i></a>
			</div>		
		</div>
	</div>
</div>
<!-- ListView -->
<div ng-show="selectedDisplayOption == 2" class="column m-t-2">
	<div class="columns is-12 m-t-2 project-list-item cursor-pointer is-hidden-mobile"
		ng-repeat="project in projectList | filter:searchProjects | orderBy: !sortToggle?'-name':'name':reverse track by $index">
		<div class="column m-r-1 m-b-1 is-paddingless is-1" ng-click="goToProjectDetail(project)">
			<figure class="project-img-list is-pulled-right">
				<img class="project-img-list" src="resources/images/folder-large.svg">
			</figure>
		</div>		
		<div class="column m-l-0 m-t-1h m-b-1 is-paddingless project-name overflow" ng-click="goToProjectDetail(project)">
			{{project.name}}
		</div>	
		<div class="column m-l-0 m-t-1h m-b-1 is-paddingless project-name overflow" ng-click="goToProjectDetail(project)">
			<span ng-if="project.entries.length != undefined" class="project-name">{{project.entries.length}} {{'TEXT.ITEM' | translate}}</span>
			<span ng-if="project.entries.length == undefined" class="project-name">0 {{'TEXT.ITEM' | translate}}</span>
		</div>
		<div class="column m-l-2 m-b-1 m-t-1h is-paddingless project-name">
			<span class="project-date">{{'TEXT.CREATED' | translate}}: {{project.createDate | date:'M/d/yyyy'}}</span>
		</div>		
		<div class="column m-l-2 m-b-1 is-5 is-hidden-touch">
			<a ><i class="project-context material-icons is-pulled-right list-popover" aria-hidden="true" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project/project-popover-list.html">&#xE5D3;</i></a>
		</div>			
		<div class="column m-l-2 m-b-1 is-2 is-hidden-mobile is-hidden-desktop">
			<a ><i class="project-context material-icons is-pulled-right list-popover" aria-hidden="true" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project/project-popover-list.html">&#xE5D3;</i></a>
		</div>	
	</div>
</div>

<!-- Mobile View -->
<div class="m-t-2 is-hidden-tablet is-mobile">
	<div class="columns project-list-item cursor-pointer is-mobile p-y-1 p-r-1"
		ng-repeat="project in projectList | filter:searchProjects | orderBy: !sortToggle?'-name':'name':reverse track by $index">
		<div class="column is-paddingless is-1 m-l-1h m-r-1h" ng-click="goToProjectDetail(project)">			
			<figure class="project-img-list is-pulled-right">
				<img class="project-img-list" src="resources/images/folder-large.svg">
			</figure>
		</div>
		<div class="column m-l-0 is-paddingless project-name overflow" ng-click="goToProjectDetail(project)">
			<span class="project-name" ng-click="goToProjectDetail(project)">
				{{project.name}}
			</span>	
		</div>	
		<div class="column m-l-0 is-paddingless project-name overflow" ng-click="goToProjectDetail(project)">
			<span ng-if="project.entries.length != undefined" class="project-name">{{project.entries.length}} {{'TEXT.ITEM' | translate}}</span>
			<span ng-if="project.entries.length == undefined" class="project-name">0 {{'TEXT.ITEM' | translate}}</span>
		</div>	
		<div class="column is-4 is-paddingless project-name">
			<span class="project-date is-pulled-right">{{'TEXT.CREATED' | translate}}: {{project.createDate | date:'MM/dd/yyyy'}}</span>
		</div>
		<div class="column is-1 is-paddingless relative list-popover" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project/project-popover-list.html">
			<a><i class="m-l-1h project-context material-icons is-pulled-right list-popover" aria-hidden="true" >&#xE5D3;</i></a>
		</div>
	</div>
</div>