<div class="popover-content popover-proj m-l-2 m-y-1">
	<ul class="has-text-left">
		<li class="m-b-1h" ng-click="toggleProjectChangeNameModal(true, project)">
			<i class="material-icons m-r-1h">&#xE254;</i>
			<span>{{'TEXT.CHANGE_NAME' | translate}}</span>
		</li>
		<li class="m-b-1h" ng-click="duplicateProject(project)">
			<i class="material-icons dp48 m-r-1h">content_copy</i>
			<span>{{'TEXT.DUPLICATE' | translate}}</span>
		</li>
		<li class="m-b-1h" ng-click="toggleDeleteProjectModal(true, project)">
			<i class="fa fa-trash m-r-1h" aria-hidden="true"></i>
			<span>{{'BUTTON.DELETE' | translate}}</span>
		</li>
	</ul>
</div>