<!-- Desktop & Tablet View -->
<div id="cart" class="side-nav-cart-container">
	<div class="p-x-1 p-y-1">
		<div
			class="columns is-multiline is-mobile is-paddingless is-marginless">
			<div class="column is-12 is-paddingless m-b-2">
				<div class="columns is-paddingless is-marginless display-table">
					<div class="column is-3 is-paddingless">
						<a class="no-underline" ng-click="hideCart()"> <span
							class="icon"> <i class="material-icons font-size-32">close</i>
						</span>
						</a>
					</div>
					<div class="column is-6 is-paddingless has-text-centered">
						<span><i class="material-icons">shopping_cart</i> <span
							class="side-nav-shopping-cart-title">{{ 'CART_TEXT.HEADING' | translate | uppercase}}</span></span>
					</div>
					<div
						class="column is-3 is-paddingless has-text-centered display-table">
						<span ng-show="shoppingCart.items.length == 1"
							class="display-table-cell side-nav-shopping-cart-item">{{shoppingCart.items.length}}
							item</span> <span ng-show="shoppingCart.items.length > 1"
							class="display-table-cell side-nav-shopping-cart-item">{{shoppingCart.items.length}}
							items</span>
					</div>
				</div>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<table class="table footable cart" datatable="ng" dt-options="headerCtrl.dtOptions" dt-column-defs="headerCtrl.dtColumnDefs" dt-instance="dtInstance"
		 					width="100%">
					<thead>
						<tr>
							<th data-sort-ignore="true">&nbsp;</th>
							<th>{{ 'TABLE_HEADER.PRODUCT' | translate }}</th>
							<th class="center-text">{{ 'TABLE_HEADER.QUANTITY' | translate }}</th>
							<th class="center-text">{{ 'TABLE_HEADER.PRICE' | translate }}</th>
							<th data-sort-ignore="true">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in shoppingCart.items">
							<td>
								<figure class="image is-64x64">
									<img class="image is-64x64" ng-src="{{row.image}}" />
								</figure>
							</td>
							<td><a href=""  go-to-specific-product productCode="row.itemNumber">{{row.itemNumber}}</a></td>
							<td class="center-text"><input
								class="input width-50 center-text" type="text" min="0"
								ng-model="row.quantity"
								ng-blur="updateItemQuantityToCart($index, row.quantity, row, row.quantity <= row.stockLevel)"
								ng-class="{'error-input': row.quantity > row.stockLevel}" numeric-only
								select-on-click>
								<br ng-show="row.quantity > row.stockLevel"/>
								<span class="error-message" ng-show="row.quantity > row.stockLevel">{{ 'TEXT.INVALID_QUANTITY' | translate }}</span>	
							</td>
							<td class="center-text">{{currency}}{{row.unitPrice | number : 2}}</td>
							<td><a class="button p-x-0 p-y-0"> <span
									class="icon is-danger" ng-click="removeToCart(row.entryNumber)"><i
										class="fa fa-trash" aria-hidden="true"></i></span>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="column is-12">
				<div class="columns is-paddingless is-marginless">
					<div class="column is-6 p-l-0">
						<a class="button is-ghost max-width-100" ng-click="hideCart()">{{ 'CART_TEXT.KEEP_SHOPPING' | translate }}</a>
					</div>
					<div class="column is-6 p-r-0">
						<a class="button is-secondary max-width-100"
							ng-click="goToShoppingCart()">{{ 'CART_TEXT.GO_TO_CART' | translate | uppercase}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mobile View -->
<div id="cart-mobile" class="nav-cart-container-mobile">
	<div class="p-x-1 p-y-1">
		<div
			class="columns is-multiline is-mobile is-paddingless is-marginless">
			<div class="column is-12 is-paddingless m-b-2">
				<div
					class="columns is-mobile is-paddingless is-marginless display-table">
					<div class="column is-7 is-paddingless has-text-centered">
						<span><i class="material-icons">shopping_cart</i> <span
							class="side-nav-shopping-cart-title">{{ 'CART_TEXT.HEADING' | translate | uppercase}}</span></span>
					</div>
					<div
						class="column is-5 is-paddingless has-text-centered display-table">
						<span ng-show="shoppingCart.items.length == 1"
							class="display-table-cell side-nav-shopping-cart-item">{{shoppingCart.items.length}}
							{{ 'CART_TEXT.ITEM' | translate }}</span> <span ng-show="shoppingCart.items.length > 1"
							class="display-table-cell side-nav-shopping-cart-item">{{shoppingCart.items.length}}
							{{ 'CART_TEXT.ITEMS' | translate }}</span>
					</div>
				</div>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<table class="table footable cart" datatable="ng" dt-options="headerCtrl.dtOptionsMobile" dt-column-defs="headerCtrl.dtColumnDefsMobile" dt-instance="dtInstance"
		 					width="100%">
					<thead>
						<tr>
							<th data-sort-ignore="true">&nbsp;</th>
							<th data-sort-ignore="true" >&nbsp;</th>
							<th data-priority="1">{{ 'TABLE_HEADER.PRODUCT' | translate }}</th>
							<th data-priority="1" class="center-text">{{ 'TABLE_HEADER.QUANTITY' | translate }}</th>
							<th class="center-text" >{{ 'TABLE_HEADER.PRICE' | translate }}</th>
							<th data-sort-ignore="true" data-priority="1">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in shoppingCart.items" >
							<td class="has-text-centered footable-toggle"><i
								class="material-icons table-collapse-icon"></i></td>
							<td>
								<figure class="image is-64x64">
									<img class="image is-64x64" ng-src="{{row.image}}" />
								</figure>
							</td>
							<td><a href="#">{{row.itemNumber}}</a></td>
							<td class="center-text"><input
								class="input width-50 center-text" type="text" min="0"
								ng-model="row.quantity"
								ng-blur="updateItemQuantityToCart($index, row.quantity, row, row.quantity <= row.stockLevel)"
								ng-class="{'error-input': row.quantity > row.stockLevel}" numeric-only
								select-on-click>
								<br ng-show="row.quantity > row.stockLevel"/>
								<span class="error-message" ng-show="row.quantity > row.stockLevel">Invalid Quantity</span>
							</td>
							<td class="center-text">{{currency}}{{row.unitPrice | number : 2}}</td>
							<td><a class="button p-x-0 p-y-0"> <span
									class="icon is-danger" ng-click="removeToCart(row.entryNumber)"><i
										class="fa fa-trash" aria-hidden="true"></i></span>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="column is-12">
				<div class="columns is-mobile is-paddingless is-marginless">
					<div class="column is-6 p-l-0">
						<a class="button is-ghost max-width-100"
							ng-click="hideCartMobile()">{{'CART_TEXT.KEEP_SHOPPING' | translate | uppercase}}</a>
					</div>
					<div class="column is-6 p-r-0">
						<a class="button is-secondary max-width-100"
							ng-click="goToShoppingCart()">{{'CART_TEXT.GO_TO_CART' | translate | uppercase}}</a>
					</div>
				</div>
			</div>
			<div class="column is-12 has-text-centered is-paddingless">
				<a class="button is-ghost" ng-click="hideCartMobile()"> <span
					class="icon"> <i class="material-icons">close</i>
				</span>&nbsp;&nbsp;{{'TEXT.CLOSE' | translate | uppercase}}
				</a>
			</div>
		</div>
	</div>
</div>