<div class="container is-fluid">
	<div class="tile align-items-center header-height">
		<div class="clearfix is-hidden-tablet">&nbsp;</div>

		<!-- Desktop View -->
		<figure class="image p-r-1-3f m-x-0 m-y-0 is-hidden-mobile"
			go-to-home>
			<img class="logo-img" src="resources/images/PTU_Logo/Chrome@2x.png">
		</figure>
		<div class="tile is-vertical p-t-1 is-hidden-touch">
			<div class="tile align-items-center">
				<div class="control max-width-100 autocomplete">
					<input class="input search" type="search"
						placeholder="Search by item #, SKU, or keyword"
						ng-model="freeTextSearch"
						ng-enter="goToSearchResults(freeTextSearch)"
						ng-change="searchSuggestion(freeTextSearch)"
						ng-focus="searchSuggestion(freeTextSearch)"
						ng-blur="hideSuggestedProducts()"
						handle-phone-submit> <span
						class="icon is-small is-right search-icon"
						ng-click="goToSearchResults(freeTextSearch)"> <i
						class="material-icons">search</i>
					</span>
					<ul
						ng-show="suggestedProducts.length > 0 && isSuggestedProductsVisible && freeTextSearch.length > 0">
						<li class="autocomplete" ng-repeat="product in suggestedProducts"
							ng-mousedown="goToProductDetails(product.code, freeTextSearch)">
							{{product.name}} <br /> {{product.code}}
						</li>
					</ul>
				</div>
			</div>
			<div class="tile align-items-center m-t-1">
				<div id="cd-nav" class="max-width-100">
					<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

					<nav id="cd-main-nav">
						<ul class="display-table-100">
							<li><a href="#" id="product-catalog-trigger-desktop"
								class="search-link no-underline p-x-0 m-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.PRODUCT_CATALOG' | translate| uppercase}}<span class="icon"> <i class="material-icons">keyboard_arrow_down</i>
									</span>
								</span></a></li>
							<li><a href="#" id="quick-order-trigger-desktop"
								class="search-link no-underline m-x-0 p-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.QUICK_ORDER' | translate| uppercase}} <span class="icon"> <i class="material-icons">keyboard_arrow_down</i>
									</span>
								</span></a></li>
							<li><a href="#"
								class="search-link no-underline m-x-0 p-x-0 p-y-0"
								ng-click="goToOrders()"><span>{{'NAV_MENU.ORDERS' | translate| uppercase}}</span></a></li>
							<li class="has-text-right"><a href="#0"
								class="search-link no-underline p-x-0 m-x-0 p-y-0"
								ng-click="goToInvoicePage()"><span>{{'NAV_MENU.INVOICES' | translate| uppercase}}</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div
			class="tile is-5 align-items-center justify-content-right is-hidden-touch">
			<a class="button p-l-2 p-r-2 search-area-btn is-secondary"
				ng-click="showCart()"> <span class="icon"> <i
					class="material-icons">shopping_cart</i>
			</span>&nbsp;<span>{{shoppingCart.items.length}} {{ 'CART_TEXT.ITEMS' | translate }}</span>
			</a> &nbsp;&nbsp; <a
				class="button p-l-1 p-r-1 search-area-btn is-secondary"
				ng-click="showNotification()"> <span class="notification-number">{{notifications.length}}</span>&nbsp;<span
				class="icon"> <i class="material-icons">notifications</i>
			</span>&nbsp;<span>{{ 'CART_TEXT.NOTIFICATIONS' | translate }}</span>
			</a>
		</div>

		<!-- Tablet View -->
		<div
			class="columns is-mobile is-multiline is-hidden-desktop is-hidden-mobile m-t-1">
			<div class="column is-9 p-r-0 p-t-1">
				<div class="control max-width-100 autocomplete">
					<input class="input search" type="search"
						placeholder="Search by item #, SKU, or keyword"
						ng-model="freeTextSearch"
						ng-enter="goToSearchResults(freeTextSearch)"
						ng-change="searchSuggestion(freeTextSearch)"
						ng-focus="searchSuggestion(freeTextSearch)"
						ng-blur="hideSuggestedProducts()"
						handle-phone-submit> <span
						class="icon is-small is-right search-icon"
						ng-click="goToSearchResults(freeTextSearch)"> <i
						class="material-icons">search</i>
					</span>
					<ul
						ng-show="suggestedProducts.length > 0 && isSuggestedProductsVisible && freeTextSearch.length > 0">
						<li class="autocomplete" ng-repeat="product in suggestedProducts"
							ng-mousedown="goToProductDetails(product.code, freeTextSearch)">
							{{product.name}} <br /> {{product.code}}
						</li>
					</ul>
				</div>
			</div>
			<div class="column is-3 has-text-right p-t-1">
				<a class="button is-secondary search-area-btn m-r-1 width-50"
					ng-click="showCart()"> <span class="number-circle-notification">{{shoppingCart.items.length}}</span><i
					class="material-icons">shopping_cart</i>
				</a> <a class="button is-secondary search-area-btn width-50"
					ng-click="showNotification()"> <span
					class="number-circle-notification">{{notifications.length}}</span><i
					class="material-icons">notifications</i></a>
			</div>
			<div class="column is-12 align-items-center p-t-0">
				<div id="cd-nav" class="max-width-100">
					<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

					<nav id="cd-main-nav">
						<ul class="display-table-100">
							<li><a href="#" id="product-catalog-trigger-tablet"
								class="search-link no-underline p-x-0 m-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.PRODUCT_CATALOG' | translate| uppercase}}<span class="icon"> <i class="material-icons">keyboard_arrow_down</i>
									</span>
								</span></a></li>
							<li><a href="#" id="quick-order-trigger-tablet"
								class="search-link no-underline m-x-0 p-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.QUICK_ORDER' | translate| uppercase}}<span class="icon"> <i class="material-icons">keyboard_arrow_down</i>
									</span>
								</span></a></li>
							<li><a href="#"
								class="search-link no-underline m-x-0 p-x-0 p-y-0"
								ng-click="goToOrders()"><span>{{'NAV_MENU.ORDERS' | translate| uppercase}}</span></a></li>
							<li class="has-text-right"><a href="#0"
								class="search-link no-underline p-x-0 m-x-0 p-y-0"
								ng-click="goToInvoicePage()"><span>{{'NAV_MENU.INVOICES' | translate| uppercase}}</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!--  Mobile View -->
		<div class="columns is-mobile is-hidden-tablet">
			<div class="column is-2 p-t-2">
				<div class="tile header-display-table">
					<div class="tile header-display-table-cell">
						<a href="#cd-primary-nav"
							class="mega-cd-nav-trigger button is-secondary search-area-btn header-btn-mobile profile-btn-mobile p-x-0 p-y-0 nav-btn-mobile"><i
							class="material-icons profile-btn-mobile-icon">account_box</i></a>
					</div>
				</div>
			</div>
			<div class="column">
				<figure class="image p-r-1-3f m-x-0 m-y-0" go-to-home>
					<img class="logo-img logo-img-mobile"
						src="resources/images/PTU_Logo/Chrome@2x.png">
				</figure>
			</div>
			<div class="column is-5 has-text-right p-t-2">
				<div class="tile header-display-table float-right">
					<div class="tile header-display-table-cell">
						<a
							class="button is-secondary search-area-btn m-r-1 header-btn-mobile"
							ng-click="showCartMobile()"> <span
							class="number-circle-notification"
							ng-show="shoppingCart.items.length > 0">{{shoppingCart.items.length}}</span><i
							class="material-icons">shopping_cart</i>
						</a> <a href="#cd-primary-nav"
							class="mega-notification-cd-nav-trigger button is-secondary search-area-btn header-btn-mobile"
							ng-click="showNotificationMobile()"> <span
							class="number-circle-notification"
							ng-show="notifications.length > 0">{{notifications.length}}</span><i
							class="material-icons">notifications</i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="columns is-mobile is-hidden-tablet">
			<div class="column is-12">
				<div class="control max-width-100 autocomplete">
					<input class="input search" type="search"
						placeholder="Search by item #, SKU, or keyword"
						ng-model="freeTextSearch"
						ng-enter="goToSearchResults(freeTextSearch)"
						ng-change="searchSuggestion(freeTextSearch)"
						ng-focus="searchSuggestion(freeTextSearch)"
						ng-blur="hideSuggestedProducts()"
						handle-phone-submit> <span
						class="icon is-small is-right search-icon"
						ng-click="goToSearchResults(freeTextSearch)"> <i
						class="material-icons">search</i>
					</span>
					<ul
						ng-show="suggestedProducts.length > 0 && isSuggestedProductsVisible && freeTextSearch.length > 0">
						<li class="autocomplete" ng-repeat="product in suggestedProducts"
							ng-mousedown="goToProductDetails(product.code, freeTextSearch)">
							{{product.name}} <br /> {{product.code}}
						</li>
					</ul>
				</div>
				<div class="clearfix is-hidden-tablet">&nbsp;</div>
			</div>
			<!-- <smart-fixed-navigation></smart-fixed-navigation> -->
			<!-- Smart Fixed Navigation - Mobile View -->
			<div class="column is-12 align-items-center p-t-0">
				<div id="cd-nav-mobile" class="max-width-100">
					<a href="" ng-click="backsmartMainNav()" class="cd-nav-trigger">Menu<span></span></a>

					<nav id="cd-main-nav-mobile">
						<!-- Main Nav -->
						<ul ng-show="smartMainNav">
							<li><a href="" ng-click="goToSmartProductCatalogNav()"
								class="search-link no-underline p-l-0 m-x-0 p-y-0"><span>{{'NAV_MENU.PRODUCT_CATALOG' | translate| uppercase}}<span class="icon"> <i class="material-icons">keyboard_arrow_right</i>
									</span>
								</span></a></li>
							<li><a href="" ng-click="toggleQuickOrderModal(true)"
								class="search-link no-underline m-x-0 p-y-0"><span>{{'NAV_MENU.QUICK_ORDER' | translate| uppercase}}<span class="icon"> <i class="material-icons">keyboard_arrow_right</i>
									</span>
								</span></a></li>
							<li><a href="" class="search-link no-underline m-x-0 p-y-0"
								ng-click="goToOrders()"><span>{{'NAV_MENU.ORDERS' | translate| uppercase}}</span></a></li>
							<li><a href=""
								class="search-link no-underline p-r-0 m-x-0 p-y-0"
								ng-click="goToInvoicePage()"><span>{{'NAV_MENU.INVOICES' | translate| uppercase}}</span></a></li>
						</ul>

						<!-- Product Catalog Nav -->
						<ul ng-show="smartProductCatalogNav">
							<li><a href="" ng-click="backsmartMainNav()"
								class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
										class="material-icons">arrow_back</i> </span> </span></a></li>
							<li><a href="" ng-click="goToSmartHandTools()"
								class="search-link no-underline p-l-0 m-x-0 p-y-0"><span>{{'PRODUCT_CATALOG.HAND_TOOLS' | translate}}<span class="icon"> <i class="material-icons">keyboard_arrow_right</i>
									</span>
								</span></a></li>
							<li><a href="" ng-click="goToSmartMeasuringAndLayoutTools()"
								class="search-link no-underline m-x-0 p-y-0"><span>{{'PRODUCT_CATALOG.MEASURE_TOOLS' | translate}}<span class="icon"> <i
											class="material-icons">keyboard_arrow_right</i>
									</span>
								</span></a></li>
							<li><a href="" ng-click="goToSmartFootwear()"
								class="search-link no-underline m-x-0 p-y-0"><span>{{'PRODUCT_CATALOG.FOOTWEAR' | translate}}
										<span class="icon"> <i class="material-icons">keyboard_arrow_right</i>
									</span>
								</span></a></li>
						</ul>

						<!-- Hand Tools Nav -->
						<ul ng-show="smartHandTools">
							<li><a href="" ng-click="goToSmartProductCatalogNav()"
								class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
										class="material-icons">arrow_back</i> </span></a></li>
							<li class="smart-nav-content p-x-1 p-y-1">
								<div class="columns is-paddingless is-marginless">
									<div class="column is-paddingless is-marginless">
										<span class="product-catalog-header">{{'PRODUCT_CATALOG.HAND_TOOLS' | translate}}</span>
										<div class="product-catalog-horizontal-line"></div>
										<div class="columns is-mobile">
											<div class="column product-catalog-item smart-nav-item">
												<div class="control">
													<span>{{'PRODUCT_CATALOG.POWER_DRILLS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.ANGLE_GRINDERS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.SCREWDRIVERS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.SANDERS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.HAND_SAWS' | translate}}</span>
												</div>
											</div>
											<div class="column product-catalog-item smart-nav-item">
												<div class="control">
													<span>{{'PRODUCT_CATALOG.JIGSAWS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.NUT_DRIVERS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.ROTARY_HAMMERS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.STRIPPING_TOOLS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.PUNCHES' | translate}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>

						<!-- Measuring & Layout Tools Nav -->
						<ul ng-show="smartMeasuringAndLayoutTools">
							<li><a href="" ng-click="goToSmartProductCatalogNav()"
								class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
										class="material-icons">arrow_back</i> </span></a></li>
							<li class="smart-nav-content p-x-1 p-y-1">
								<div class="columns is-paddingless is-marginless">
									<div class="column is-paddingless is-marginless">
										<span class="product-catalog-header">{{'PRODUCT_CATALOG.MEASURE_TOOLS' | translate}}</span>
										<div class="product-catalog-horizontal-line"></div>
										<div class="columns is-mobile">
											<div class="column product-catalog-item smart-nav-item">
												<div class="control">
													<span>{{'PRODUCT_CATALOG.SETS' | translate}}</span>
												</div>
												<div class="control">
													<span>{{'PRODUCT_CATALOG.INSTRUMENTS' | translate}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>

						<!-- Footwear Nav -->
						<ul ng-show="smartFootwear">
							<li><a href="" ng-click="goToSmartProductCatalogNav()"
								class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
										class="material-icons">arrow_back</i> </span></a></li>
							<li class="smart-nav-content p-x-1 p-y-1">
								<div class="columns is-paddingless is-marginless">
									<div class="column is-paddingless is-marginless">
										<span class="product-catalog-header">{{'PRODUCT_CATALOG.FOOTWEAR' | translate}}</span>
										<div class="product-catalog-horizontal-line"></div>
										<div class="columns is-mobile">
											<div class="column product-catalog-item smart-nav-item">
												<div class="control">
													<a ng-click="goToProductCategory()">{{'PRODUCT_CATALOG.MENS' | translate}}</a>
												</div>
												<div class="control">
													<a ng-click="goToProductCategory()">{{'PRODUCT_CATALOG.WOMENS' | translate}}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>


						<!-- Quick Order Nav -->
						<!-- <ul ng-show="smartQuickOrder">
								<li><a href="" ng-click="backsmartMainNav()"
									class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
											class="material-icons">arrow_back</i> </span></a></li>
								<li class="smart-nav-content p-x-1 p-y-1">
									<div
										class="columns is-multiline is-paddingless is-marginless m-b-2">
										<div class="column is-12 p-b-0" ng-repeat="order in orderItem">
											<div class="columns" ng-if="order.item != null">
												<div class="column is-12 is-paddingless">
													<div class="columns is-mobile is-paddingless is-marginless">
														<div class="column is-3">
															<figure class="image is-48x48">
																<img ng-src="{{order.item.image}}">
															</figure>
														</div>
														<div class="column is-7 p-x-0">
															<span class="quick-order-name">{{order.item.name}}</span>
															<br /> <span class="quick-order-stock">{{order.item.stock}}
																in stock</span>
														</div>
														<div class="column is-2">
															<a class="button p-x-0 p-y-0"
																ng-click="removeOrder($index)"> <span
																class="icon is-danger"><i class="fa fa-trash"
																	aria-hidden="true"></i></span>
															</a>
														</div>
													</div>
												</div>
												<div class="column is-12 is-paddingless">
													<div class="columns is-mobile is-paddingless is-marginless">
														<div class="column">
															<input class="input width-50 center-text" type="text"
																min="0" ng-model="order.item.quantity" numeric-only>
														</div>

													</div>
												</div>
											</div>
											<div class="control" ng-if="order.item == null">
												<input class="input quick-order-item" type="text"
													placeholder="Item # or SKU">
											</div>
										</div>
										<div class="column is-12">
											<div class="columns is-multiline is-paddingless">
												<div class="column is-12 p-b-0">
													<a
														class="button is-ghost quick-order-add-more-items-mobile max-width-100"
														ng-click="addOrder()">ADD MORE ITEMS</a>
												</div>
												<div class="column is-12 has-text-right">
													<a
														class="button is-primary quick-order-add-to-cart-mobile max-width-100"><i
														class="material-icons m-l-0">add_circle_outline</i>ADD TO
														CART</a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul> -->
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>