<div class="container is-fluid">
	<a href="" class="live-chat no-underline is-hidden-mobile"><span
		class="icon"> <i class="material-icons">question_answer</i>
	</span></a>
	<header class="cd-main-header">
		<ul class="cd-header-buttons">

		</ul>
		<!-- cd-header-buttons -->
	</header>

	<main class="cd-main-content"> <!-- your content here --> </main>

	<div class="cd-overlay"></div>

	<nav class="mega-cd-nav">
		<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
			<li class="has-text-right is-hidden-tablet"><a
				class="mega-cd-nav-trigger no-underline display-initial padding-right-5"
				href="#cd-primary-nav"><div
						class="icon is-medium no-display-before-after">
						<i class="material-icons">close</i>
					</div></a></li>
			<li>
				<p class="nav-item header-nav-btn">
					<span class="icon"> <i class="material-icons">question_answer</i>
					</span> &nbsp; <span>{{ 'NAV_CUSTOMER_SERVICE' | translate }}</span>
				</p>
			</li>
			<li>
				<p class="nav-item header-nav-btn cursor-pointer" ng-click="goToMyReports()">					
					<span class="icon"> 
						<img class="logo-img report-icon" src="resources/images/reports-icon/reports-nav-icon.svg">
					</span> &nbsp; <span>{{ 'NAV_REPORTS' | translate }}</span>
				</p>
			</li>
			<li>
				<p class="nav-item header-nav-btn cursor-pointer" ng-click="goToMyProjects()">
					<span class="icon"> <i class="material-icons">folder</i>
					</span> &nbsp; <span>{{ 'NAV_PROJECTS' | translate }}</span>
				</p>
			</li>
			<li class="has-children"><a href=""
				class="header-profile-btn no-underline p-x-0"><span
					class="nav-item header-nav-btn box-shadow-none"> <span
						class="icon"> <i class="material-icons">account_box</i>
					</span> &nbsp; <span>{{user.name}}</span>
				</span></a>

				<ul class="cd-nav-gallery p-x-1 p-y-1 is-hidden">
					<li class="go-back"><a href="#0">Menu</a></li>
					<li><a
						class="cd-nav-item no-underline header-nav-btn box-shadow-none" ng-click="goToMyAccount()">
							<span>{{ 'NAV_ACCOUNT' | translate }}</span>
					</a></li>
					<li><a
						class="cd-nav-item no-underline header-nav-btn box-shadow-none" ng-click="logoutUser()">
							<span>{{ 'NAV_LOGOUT' | translate }}</span>
					</a></li>
				</ul></li>
			<li class="is-hidden-tablet">
				<p class="nav-item header-nav-btn">
					<span class="icon live-chat-mobile"> <i
						class="material-icons">question_answer</i>
					</span> &nbsp; <span>{{ 'LIVE_CHAT' | translate }}</span>
				</p>
			</li>
		</ul>
		<!-- primary-nav -->
	</nav>
	<!-- cd-nav -->
</div>