<div class=" has-shadow header-background-color" id="top">
	<!-- <div ng-include="'resources/views/common/header/header-top.html'"></div> -->
	<!-- <header-top></header-top> -->
	<div class="container">
		<a href="" class="live-chat no-underline is-hidden-mobile"><span
			class="icon"> <i class="material-icons">question_answer</i>
		</span></a>
		<header class="cd-main-header">
			<ul class="cd-header-buttons">

			</ul>
			<!-- cd-header-buttons -->
		</header>

		<main class="cd-main-content"> <!-- your content here --> </main>

		<div class="cd-overlay"></div>

		<nav class="mega-cd-nav">
			<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
				<li class="has-text-right is-hidden-tablet"><a
					class="mega-cd-nav-trigger no-underline display-initial padding-right-5"
					href="#cd-primary-nav"><div
							class="icon is-medium no-display-before-after">
							<i class="material-icons">close</i>
						</div></a></li>
				<li>
					<p class="nav-item header-nav-btn">
						<span class="icon"> <i class="material-icons">question_answer</i>
						</span> &nbsp; <span>{{'NAV_CUSTOMER_SERVICE' | translate}}</span>
					</p>
				</li>
				<li ng-click="goToMyReports()">
					<p class="nav-item header-nav-btn cursor-pointer">
						<span class="icon"> 
							<img class="logo-img report-icon" src="resources/images/reports-icon/reports-nav-icon.svg">
						</span>
							&nbsp; <span>{{'NAV_REPORTS' | translate}}</span>
					</p>
				</li>
				<li ng-click="goToMyProjects()">
					<p class="nav-item header-nav-btn cursor-pointer">
						<span class="icon"> <i class="material-icons">folder</i>
						</span> &nbsp; <span>{{'NAV_PROJECTS' | translate}}</span>
					</p>
				</li>
				<li class="has-children"><a href=""
					class="header-profile-btn no-underline p-x-0"><span
						class="nav-item header-nav-btn box-shadow-none"> <span
							class="icon"> <i class="material-icons">account_box</i>
						</span> &nbsp; <span>{{user.name}}</span>
					</span></a>

					<ul class="cd-nav-gallery p-x-1 p-y-1 is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li><a
							class="cd-nav-item no-underline header-nav-btn box-shadow-none" ng-click="goToMyAccount()">
								<span>{{'NAV_ACCOUNT' | translate}}</span>
						</a></li>
						<li><a
							class="cd-nav-item no-underline header-nav-btn box-shadow-none" ng-click="logoutUser()">
								<span>{{'NAV_LOGOUT' | translate}}</span>
						</a></li>
					</ul></li>
				<li class="is-hidden-tablet">
					<p class="nav-item header-nav-btn">
						<span class="icon live-chat-mobile"> <i
							class="material-icons">question_answer</i>
						</span> &nbsp; <span>{{'LIVE_CHAT' | translate}}</span>
					</p>
				</li>
			</ul>
			<!-- primary-nav -->
		</nav>
		<!-- cd-nav -->
	</div>
</div>
<div class="logo-section">
	<!-- <div ng-include="'resources/views/common/header/header-bottom.html'"></div> -->
	<!-- <header-bottom></header-bottom> -->
	<div class="container p-x-1">
		<div class="tile align-items-center header-height">
			<div class="clearfix is-hidden-tablet">&nbsp;</div>

			<!-- Desktop View -->
			<figure class="image p-r-1-3f m-x-0 m-y-0 is-hidden-mobile"
				go-to-home>
				<img class="logo-img" src="resources/images/PTU_Logo/Chrome@2x.png">
			</figure>
			<div class="tile is-vertical p-t-1 is-hidden-touch">
				<div class="tile align-items-center">
					<div class="control max-width-100 autocomplete">
						<input class="input search" type="search"
							placeholder="Search by item #, SKU, or keyword"
							ng-model="freeTextSearch"
							ng-enter="goToSearchResults(freeTextSearch)"
							ng-change="searchSuggestion(freeTextSearch)"
							ng-focus="searchSuggestion(freeTextSearch)"
							ng-blur="hideSuggestedProducts()" handle-phone-submit> <span
							class="icon is-small is-right search-icon"
							ng-click="goToSearchResults(freeTextSearch)"> <i
							class="material-icons">search</i>
						</span>
						<ul
							ng-show="suggestedProducts.length > 0 && isSuggestedProductsVisible && freeTextSearch.length > 0">
							<li class="autocomplete" ng-repeat="product in suggestedProducts"
								ng-mousedown="goToProductDetails(product.code, freeTextSearch)">
								{{product.name}} <br /> {{product.code}}
							</li>
						</ul>
					</div>
				</div>
				<div class="tile align-items-center m-t-1">
					<div id="cd-nav" class="max-width-100">
						<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

						<nav id="cd-main-nav">
							<ul class="display-table-100">
								<li><a href="#" id="product-catalog-trigger-desktop"
									class="search-link no-underline p-x-0 m-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.PRODUCT_CATALOG' | translate | uppercase}}<span class="icon is-medium"><i
												class="fa fa-angle-down" aria-hidden="true"></i></span>
									</span></a></li>
								<li><a href="#" id="quick-order-trigger-desktop"
									class="search-link no-underline m-x-0 p-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.QUICK_ORDER' | translate | uppercase}}<span class="icon is-medium"><i
												class="fa fa-angle-down" aria-hidden="true"></i></span>
									</span></a></li>
								<li><a href="#"
									class="search-link no-underline m-x-0 p-x-0 p-y-0"
									ng-click="goToOrders()"><span>{{'NAV_MENU.ORDERS' | translate | uppercase}}</span></a></li>
								<li class="has-text-right"><a href="#0"
									class="search-link no-underline p-x-0 m-x-0 p-y-0"
									ng-click="goToInvoice()"><span>{{'NAV_MENU.INVOICES' | translate | uppercase}}</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div
				class="tile is-5 align-items-center justify-content-right is-hidden-touch">
				<a class="button p-l-2 p-r-2 search-area-btn is-secondary"
					ng-click="showCart()"> <span class="icon"> <i
						class="material-icons">shopping_cart</i>
				</span>&nbsp;<span>{{shoppingCart.items.length}} {{'CART_TEXT.ITEMS' | translate }}</span>
				</a> &nbsp;&nbsp; <a
					class="button p-l-1 p-r-1 search-area-btn is-secondary"
					ng-click="showNotification()"> <span
					class="notification-number">{{notifications.length}}</span>&nbsp;<span
					class="icon"> <i class="material-icons">notifications</i>
				</span>&nbsp;<span>{{'TEXT.NOTIFICATIONS' | translate}}</span>
				</a>
			</div>

			<!-- Tablet View -->
			<div
				class="columns is-mobile is-multiline is-hidden-desktop is-hidden-mobile m-t-1">
				<div class="column is-9 p-r-0 p-t-1">
					<div class="control max-width-100 autocomplete">
						<input class="input search" type="search"
							placeholder="Search by item #, SKU, or keyword"
							ng-model="freeTextSearch"
							ng-enter="goToSearchResults(freeTextSearch)"
							ng-change="searchSuggestion(freeTextSearch)"
							ng-focus="searchSuggestion(freeTextSearch)"
							ng-blur="hideSuggestedProducts()" handle-phone-submit> <span
							class="icon is-small is-right search-icon"
							ng-click="goToSearchResults(freeTextSearch)"> <i
							class="material-icons">search</i>
						</span>
						<ul
							ng-show="suggestedProducts.length > 0 && isSuggestedProductsVisible && freeTextSearch.length > 0">
							<li class="autocomplete" ng-repeat="product in suggestedProducts"
								ng-mousedown="goToProductDetails(product.code, freeTextSearch)">
								{{product.name}} <br /> {{product.code}}
							</li>
						</ul>
					</div>
				</div>
				<div class="column is-3 has-text-right p-t-1">
					<a class="button is-secondary search-area-btn m-r-1 width-50"
						ng-click="showCart()"> <span
						class="number-circle-notification">{{shoppingCart.items.length}}</span><i
						class="material-icons">shopping_cart</i>
					</a> <a class="button is-secondary search-area-btn width-50"
						ng-click="showNotification()"> <span
						class="number-circle-notification">{{notifications.length}}</span><i
						class="material-icons">notifications</i></a>
				</div>
				<div class="column is-12 align-items-center p-t-0">
					<div id="cd-nav" class="max-width-100">
						<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

						<nav id="cd-main-nav">
							<ul class="display-table-100">
								<li><a href="#" id="product-catalog-trigger-tablet"
									class="search-link no-underline p-x-0 m-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.PRODUCT_CATALOG' | translate | uppercase}}<span class="icon is-medium"><i
												class="fa fa-angle-down" aria-hidden="true"></i></span>
									</span></a></li>
								<li><a href="#" id="quick-order-trigger-tablet"
									class="search-link no-underline m-x-0 p-x-0 p-y-0 ng-popover-trigger"><span>{{'NAV_MENU.QUICK_ORDER' | translate | uppercase}}<span class="icon is-medium"><i
												class="fa fa-angle-down" aria-hidden="true"></i></span>
									</span></a></li>
								<li><a href="#"
									class="search-link no-underline m-x-0 p-x-0 p-y-0"
									ng-click="goToOrders()"><span>{{'NAV_MENU.ORDERS' | translate | uppercase}}</span></a></li>
								<li class="has-text-right"><a href="#0"
									class="search-link no-underline p-x-0 m-x-0 p-y-0"
									ng-click="goToInvoice()"><span>{{'NAV_MENU.INVOICES' | translate | uppercase}}</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<!--  Mobile View -->
			<div class="columns is-mobile is-hidden-tablet">
				<div class="column is-2 p-t-2">
					<div class="tile header-display-table">
						<div class="tile header-display-table-cell">
							<a href="#cd-primary-nav"
								class="mega-cd-nav-trigger button is-secondary search-area-btn header-btn-mobile profile-btn-mobile p-x-0 p-y-0 nav-btn-mobile"><i
								class="material-icons profile-btn-mobile-icon">account_box</i></a>
						</div>
					</div>
				</div>
				<div class="column">
					<figure class="image p-r-1-3f m-x-0 m-y-0" go-to-home>
						<img class="logo-img logo-img-mobile"
							src="resources/images/PTU_Logo/Chrome@2x.png">
					</figure>
				</div>
				<div class="column is-5 has-text-right p-t-2">
					<div class="tile header-display-table float-right">
						<div class="tile header-display-table-cell">
							<a
								class="button is-secondary search-area-btn m-r-1 header-btn-mobile"
								ng-click="showCartMobile()"> <span
								class="number-circle-notification"
								ng-show="shoppingCart.items.length > 0">{{shoppingCart.items.length}}</span><i
								class="material-icons">shopping_cart</i>
							</a> <a href="#cd-primary-nav"
								class="mega-notification-cd-nav-trigger button is-secondary search-area-btn header-btn-mobile"
								ng-click="showNotificationMobile()"> <span
								class="number-circle-notification"
								ng-show="notifications.length > 0">{{notifications.length}}</span><i
								class="material-icons">notifications</i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="columns is-mobile is-hidden-tablet">
				<div class="column is-12">
					<div class="control max-width-100 autocomplete">
						<input class="input search" type="search"
							placeholder="Search by item #, SKU, or keyword"
							ng-model="freeTextSearch"
							ng-enter="goToSearchResults(freeTextSearch)"
							ng-change="searchSuggestion(freeTextSearch)"
							ng-focus="searchSuggestion(freeTextSearch)"
							ng-blur="hideSuggestedProducts()" handle-phone-submit> <span
							class="icon is-small is-right search-icon"
							ng-click="goToSearchResults(freeTextSearch)"> <i
							class="material-icons">search</i>
						</span>
						<ul
							ng-show="suggestedProducts.length > 0 && isSuggestedProductsVisible && freeTextSearch.length > 0">
							<li class="autocomplete" ng-repeat="product in suggestedProducts"
								ng-mousedown="goToProductDetails(product.code, freeTextSearch)">
								{{product.name}} <br /> {{product.code}}
							</li>
						</ul>
					</div>
					<div class="clearfix is-hidden-tablet">&nbsp;</div>
				</div>
				<!-- <smart-fixed-navigation></smart-fixed-navigation> -->
				<!-- Smart Fixed Navigation - Mobile View -->
				<div class="column is-12 align-items-center p-t-0">
					<div id="cd-nav-mobile" class="max-width-100">
						<a href="" ng-click="backsmartMainNav()" class="cd-nav-trigger">Menu<span></span></a>

						<nav id="cd-main-nav-mobile">
							<!-- Main Nav -->
							<ul ng-show="smartMainNav">
								<li><a href="" ng-click="goToSmartProductCatalogNav()"
									class="search-link no-underline p-l-0 m-x-0 p-y-0"><span>{{'NAV_MENU.PRODUCT_CATALOG' | translate | uppercase}}<span class="icon is-medium"><i
												class="fa fa-angle-right" aria-hidden="true"></i></span>
									</span></a></li>
								<li><a href="" ng-click="toggleQuickOrderModal(true)"
									class="search-link no-underline m-x-0 p-y-0"><span>{{'NAV_MENU.QUICK_ORDER' | translate | uppercase}}<span class="icon is-medium"><i
												class="fa fa-angle-right" aria-hidden="true"></i></span>
									</span></a></li>
								<li><a href="" class="search-link no-underline m-x-0 p-y-0"
									ng-click="goToOrdersMobile()"><span>{{'NAV_MENU.ORDERS' | translate | uppercase}}</span></a></li>
								<li><a href=""
									class="search-link no-underline p-r-0 m-x-0 p-y-0"
									ng-click="goToInvoiceMobile()"><span>{{'NAV_MENU.INVOICES' | translate | uppercase}}</span></a></li>
							</ul>

							<!-- Product Catalog Nav -->
							<ul ng-show="smartProductCatalogNav">
								<li><a href="" ng-click="backsmartMainNav()"
									class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
											class="material-icons">arrow_back</i> </span> </span></a></li>
								<li><a href="" ng-click="goToSmartHandTools()"
									class="search-link no-underline p-l-0 m-x-0 p-y-0"><span>{{'PRODUCT_CATALOG_SUB.HAND_TOOLS' | translate}}<span class="icon"> <i class="material-icons">keyboard_arrow_right</i>
										</span>
									</span></a></li>
								<li><a href=""
									ng-click="goToSmartMeasuringAndLayoutTools()"
									class="search-link no-underline m-x-0 p-y-0"><span>{{'PRODUCT_CATALOG_SUB.MEASURE_TOOLS' | translate}}<span class="icon"> <i
												class="material-icons">keyboard_arrow_right</i>
										</span>
									</span></a></li>
								<li><a href="" ng-click="goToSmartFootwear()"
									class="search-link no-underline m-x-0 p-y-0"><span>{{'PRODUCT_CATALOG_SUB.FOOTWEAR' | translate}}<span class="icon"> <i class="material-icons">keyboard_arrow_right</i>
										</span>
									</span></a></li>
							</ul>

							<!-- Hand Tools Nav -->
							<ul ng-show="smartHandTools">
								<li><a href="" ng-click="goToSmartProductCatalogNav()"
									class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
											class="material-icons">arrow_back</i> </span></a></li>
								<li class="smart-nav-content p-x-1 p-y-1">
									<div class="columns is-paddingless is-marginless">
										<div class="column is-paddingless is-marginless">
											<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.HAND_TOOLS' | translate}}</span>
											<div class="product-catalog-horizontal-line"></div>
											<div class="columns is-mobile">
												<div class="column product-catalog-item smart-nav-item">
													<div class="control"
														ng-repeat="handTools in handToolsCategoryList"
														ng-if="$even">
														<span go-to-category categoryId="handTools.id">{{handTools.name}}</span>
													</div>
												</div>
												<div class="column product-catalog-item smart-nav-item">
													<div class="control"
														ng-repeat="handTools in handToolsCategoryList"
														ng-if="$odd">
														<span go-to-category categoryId="handTools.id">{{handTools.name}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>

							<!-- Measuring & Layout Tools Nav -->
							<ul ng-show="smartMeasuringAndLayoutTools">
								<li><a href="" ng-click="goToSmartProductCatalogNav()"
									class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
											class="material-icons">arrow_back</i> </span></a></li>
								<li class="smart-nav-content p-x-1 p-y-1">
									<div class="columns is-paddingless is-marginless">
										<div class="column is-paddingless is-marginless">
											<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.MEASURE_TOOLS' | translate}}</span>
											<div class="product-catalog-horizontal-line"></div>
											<div class="columns is-mobile">
												<div class="column product-catalog-item smart-nav-item">
													<div class="control">
														<span>{{'PRODUCT_CATALOG_SUB.SETS' | translate}}</span>
													</div>
													<div class="control">
														<span>{{'PRODUCT_CATALOG_SUB.INSTRUMENTS' | translate}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>

							<!-- Footwear Nav -->
							<ul ng-show="smartFootwear">
								<li><a href="" ng-click="goToSmartProductCatalogNav()"
									class="search-link no-underline p-l-0 m-x-0 p-y-0"><span><i
											class="material-icons">arrow_back</i> </span></a></li>
								<li class="smart-nav-content p-x-1 p-y-1">
									<div class="columns is-paddingless is-marginless">
										<div class="column is-paddingless is-marginless">
											<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.FOOTWEAR' | translate}}</span>
											<div class="product-catalog-horizontal-line"></div>
											<div class="columns is-mobile">
												<div class="column product-catalog-item smart-nav-item">
													<div class="control"
														ng-repeat="handTools in footWearCategoryList">
														<span go-to-category categoryId="handTools.id">{{handTools.name}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<product-catalog></product-catalog>
<quick-order></quick-order>
<cart></cart>
<notification></notification>