<!-- Desktop & Tablet View -->
<div id="notification" class="side-nav-notification-container">
	<div class="p-x-1 p-y-1">
		<div
			class="columns is-multiline is-mobile is-paddingless is-marginless">
			<div class="column is-12 is-paddingless">
				<div class="columns is-paddingless is-marginless display-table">
					<div class="column is-8 is-paddingless">
						<a class="no-underline" ng-click="hideNotification()"> <span
							class="icon"> <i class="material-icons font-size-32">close</i>
						</span>
						</a>
					</div>
					<div class="column is-4 is-paddingless">
						<div class="control right-text">
							<span class="side-nav-notification"><i
								class="material-icons vertical-align-middle">notifications</i>
								{{'TEXT.NOTIFICATIONS' | translate}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 p-x-0 p-b-0"
				ng-repeat="notification in notifications">
				<div class="columns is-marginless is-mobile notification-item">
					<div class="column is-2 p-x-0 notification-item-container">
						<div class="control center-text display-table-cell">
							<span class="tag notification-tag-new"
								ng-show="(notification.type | uppercase) == 'NEW'">{{notification.type
								| uppercase}}</span> <span class="notification-past-due"
								ng-show="(notification.type | uppercase) == 'PASTDUE'"><i
								class="fa fa-exclamation-circle vertical-align-middle"
								aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="column is-3 p-x-0">
						<div class="columns is-multiline is-mobile is-marginless">
							<div class="column is-12 is-paddingless">
								<span class="notification-type">{{notification.notificationType
									| uppercase}}</span>
							</div>
							<div class="column is-12 is-paddingless">
								<span class="notification-details">{{notification.date}}</span>
							</div>
						</div>
					</div>
					<div class="column is-7 p-l-0 notification-item-container">
						<div class="control right-text display-table-cell">
							<a class="notification-link">{{notification.notificationHead}}</a>&nbsp;<span
								class="notification-details">{{notification.notificationMessage}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mobile View -->
<div id="notification-mobile" class="side-nav-notification-container">
	<div class="p-x-1 p-y-1">
		<div
			class="columns is-multiline is-mobile is-paddingless is-marginless">
			<div class="column is-12 is-paddingless">
				<div class="columns is-mobile is-paddingless is-marginless">
					<div class="column is-7 is-paddingless">
						<a class="no-underline" ng-click="hideNotificationMobile()"> <span
							class="icon"> <i class="material-icons font-size-32">close</i>
						</span>
						</a>
					</div>
					<div class="column is-5 is-paddingless">
						<div class="control right-text">
							<span class="side-nav-notification"><i
								class="material-icons vertical-align-middle">notifications</i>
								{{'TEXT.NOTIFICATIONS' | translate}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 p-b-0 p-x-0"
				ng-repeat="notification in notifications">
				<div class="columns is-marginless is-mobile notification-item">
					<div class="column is-2 p-x-0 notification-item-container">
						<div class="control center-text display-table-cell">
							<span class="tag notification-tag-new"
								ng-show="(notification.type | uppercase) == 'NEW'">{{notification.type
								| uppercase}}</span> <span class="notification-past-due"
								ng-show="(notification.type | uppercase) == 'PASTDUE'"><i
								class="fa fa-exclamation-circle vertical-align-middle"
								aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="column is-3 p-x-0">
						<div class="columns is-multiline is-mobile is-marginless">
							<div class="column is-12 is-paddingless">
								<span class="notification-type">{{notification.notificationType
									| uppercase}}</span>
							</div>
							<div class="column is-12 is-paddingless">
								<span class="notification-details">{{notification.date}}</span>
							</div>
						</div>
					</div>
					<div class="column is-7 p-l-0 notification-item-container">
						<div class="control right-text display-table-cell">
							<a class="notification-link">{{notification.notificationHead}}</a><br />
							<span class="notification-details">{{notification.notificationMessage}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>