<!-- Desktop View -->
<ng-popover trigger="product-catalog-trigger-desktop" direction="bottom"
	on-open="popOverCall(true)" on-close="popOverCall(false)">
<div class="container is-fluid m-y-1 product-catalog-container">
	<div class="columns">
		<div class="column">
			<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.HAND_TOOLS' | translate}}</span>
			<div class="product-catalog-horizontal-line"></div>
			<div class="columns">
				<div class="column">
					<ul class="product-catalog-item">
						<li ng-repeat="handTools in handToolsCategoryList" ng-if="$even"><a
							go-to-category categoryId="handTools.id">{{handTools.name}}</a></li>
					</ul>
				</div>
				<div class="column">
					<ul class="product-catalog-item">
						<li ng-repeat="handTools in handToolsCategoryList" ng-if="$odd"><a
							go-to-category categoryId="handTools.id">{{handTools.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="column">
			<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.MEASURE_TOOLS' | translate}}</span>
			<div class="product-catalog-horizontal-line"></div>
			<ul class="product-catalog-item">
				<li>{{'PRODUCT_CATALOG_SUB.SETS' | translate}}</li>
				<li>{{'PRODUCT_CATALOG_SUB.INSTRUMENTS' | translate}}</li>
			</ul>
		</div>
		<div class="column">
			<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.FOOTWEAR' | translate}}</span>
			<div class="product-catalog-horizontal-line"></div>
			<ul class="product-catalog-item">
				<li ng-repeat="footWear in footWearCategoryList"><a
					go-to-category categoryId="footWear.id">{{footWear.name}}</a></li>
			</ul>
		</div>
	</div>
</div>
</ng-popover>

<!-- Tablet View -->
<ng-popover trigger="product-catalog-trigger-tablet" direction="bottom"
	on-open="popOverCall(true)" on-close="popOverCall(false)">
<div class="container is-fluid m-y-1 product-catalog-container">
	<div class="columns">
		<div class="column">
			<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.HAND_TOOLS' | translate}}</span>
			<div class="product-catalog-horizontal-line"></div>
			<div class="columns">
				<div class="column">
					<ul class="product-catalog-item">
						<li ng-repeat="handTools in handToolsCategoryList" ng-if="$even"><a
							go-to-category categoryId="handTools.id">{{handTools.name}}</a></li>
					</ul>
				</div>
				<div class="column">
					<ul class="product-catalog-item">
						<li ng-repeat="handTools in handToolsCategoryList" ng-if="$odd"><a
							go-to-category categoryId="handTools.id">{{handTools.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="columns is-multiline">
				<div class="column is-12">
					<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.MEASURE_TOOLS' | translate}}</span>
					<div class="product-catalog-horizontal-line"></div>
					<ul class="product-catalog-item">
						<li>{{'PRODUCT_CATALOG_SUB.SETS' | translate}}</li>
						<li>{{'PRODUCT_CATALOG_SUB.INSTRUMENTS' | translate}}</li>
					</ul>
				</div>
				<div class="column is-12">
					<span class="product-catalog-header">{{'PRODUCT_CATALOG_SUB.FOOTWEAR' | translate}}</span>
					<div class="product-catalog-horizontal-line"></div>
					<ul class="product-catalog-item">
						<li ng-repeat="footWear in footWearCategoryList"><a
							go-to-category categoryId="footWear.id">{{footWear.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</ng-popover>