<!-- Desktop View -->
<ng-popover trigger="quick-order-trigger-desktop" direction="bottom"
	on-open="popOverCall(true)" on-close="popOverCall(false)">
<div class="container is-fluid m-y-1 quick-order-container">
	<div class="columns is-multiline">
		<div class="column is-12 p-b-0" ng-repeat="order in orderItem">
			<div class="columns" ng-if="order.item.name != undefined">
				<div class="column is-2">
					<figure class="image is-48x48">
						<img class="image is-48x48" ng-src="{{order.item.image}}">
					</figure>
				</div>
				<div class="column is-7 p-x-0">
					<span class="quick-order-name">{{order.item.name}}</span> <br /> <span
						class="quick-order-stock"
						ng-show="order.item.stock.stockLevel > 0">{{order.item.stock.stockLevel}}
						{{'TEXT.IN_STOCK' | translate}}</span> <span class="quick-order-stock"
						ng-show="order.item.stock.stockLevel == 0">{{'TEXT.OUT_OF_STOCK' | translate}}</span>
				</div>
				<div class="column is-2">
					<input class="input width-50 center-text" type="text" min="0"
						ng-class="[{'error-input': order.item.quantity > order.item.stock.stockLevel}, {'error-input': !order.item.quantity}]"
						ng-model="order.item.quantity"
						ng-change="clearQuickOrderError($index)"
						ng-focus="clearQuickOrderError($index)" numeric-only
						select-on-click>
				</div>
				<div class="column is-1">
					<a class="button p-x-0 p-y-0" ng-click="removeOrder($index)"> <span
						class="icon is-danger"><i class="fa fa-trash"
							aria-hidden="true"></i></span>
					</a>
				</div>
			</div>
			<div class="control" ng-if="order.item.name == undefined">
				<span class="error-message" ng-show="order.item.error.length > 0">{{order.item.error}}</span>
				<input class="input quick-order-item" type="text"
					ng-model="productCode" placeholder="Item # or SKU"
					ng-class="{'error-input': order.item.error.length > 0}"
					ng-change="clearQuickOrderError($index)"
					ng-focus="clearQuickOrderError($index)"
					ng-blur="getProductQuickOrder(productCode, $index)"
					ng-enter="getProductQuickOrder(productCode, $index)"
					select-on-click>
			</div>
		</div>
		<div class="column is-12">
			<div class="columns is-paddingless">
				<div class="column is-6">
					<a class="button is-ghost quick-order-add-more-items"
						ng-click="addOrder()">{{'BUTTON.ADD_MORE_ITEM' | translate | uppercase}}</a>
				</div>
				<div class="column is-6 has-text-right">
					<button class="button is-primary quick-order-add-to-cart"
						ng-disabled="addToCartButtonDisabled"
						ng-click="quickAddProductToCart()">
						<i class="material-icons m-l-0">add_circle_outline</i>{{'BUTTON.ADD_TO_CART' | translate | uppercase}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</ng-popover>

<!-- Tablet View -->
<ng-popover trigger="quick-order-trigger-tablet" direction="bottom"
	on-open="popOverCall(true)" on-close="popOverCall(false)">
<div class="container is-fluid m-y-1 quick-order-container">
	<div class="columns is-multiline">
		<div class="column is-12 p-b-0" ng-repeat="order in orderItem">
			<div class="columns" ng-if="order.item.name != undefined">
				<div class="column is-2">
					<figure class="image is-48x48">
						<img class="image is-48x48" ng-src="{{order.item.image}}">
					</figure>
				</div>
				<div class="column is-7 p-x-0">
					<span class="quick-order-name">{{order.item.name}}</span> <br /> <span
						class="quick-order-stock"
						ng-show="order.item.stock.stockLevel > 0">{{order.item.stock.stockLevel}}
						{{'TEXT.IN_STOCK' | translate}}</span> <span class="quick-order-stock"
						ng-show="order.item.stock.stockLevel == 0">{{'TEXT.OUT_OF_STOCK' | translate}}</span>
				</div>
				<div class="column is-2">
					<input class="input width-50 center-text" type="text" min="0"
						ng-class="[{'error-input': order.item.quantity > order.item.stock.stockLevel}, {'error-input': !order.item.quantity}]"
						ng-model="order.item.quantity"
						ng-change="clearQuickOrderError($index)"
						ng-focus="clearQuickOrderError($index)" numeric-only
						select-on-click>
				</div>
				<div class="column is-1">
					<a class="button p-x-0 p-y-0" ng-click="removeOrder($index)"> <span
						class="icon is-danger"><i class="fa fa-trash"
							aria-hidden="true"></i></span>
					</a>
				</div>
			</div>
			<div class="control" ng-if="order.item.name == undefined">
				<span class="error-message" ng-show="order.item.error.length > 0">{{order.item.error}}</span>
				<input class="input quick-order-item" type="text"
					ng-model="productCode" placeholder="Item # or SKU"
					ng-class="{'error-input': order.item.error.length > 0}"
					ng-change="clearQuickOrderError($index)"
					ng-focus="clearQuickOrderError($index)"
					ng-blur="getProductQuickOrder(productCode, $index)"
					ng-enter="getProductQuickOrder(productCode, $index)"
					select-on-click>
			</div>
		</div>
		<div class="column is-12">
			<div class="columns is-paddingless">
				<div class="column is-6">
					<a class="button is-ghost quick-order-add-more-items"
						ng-click="addOrder()">{{'BUTTON.ADD_MORE_ITEM' | translate | uppercase}}</a>
				</div>
				<div class="column is-6 has-text-right">
					<button class="button is-primary quick-order-add-to-cart"
						ng-disabled="addToCartButtonDisabled"
						ng-click="quickAddProductToCart()">
						<i class="material-icons m-l-0">add_circle_outline</i>{{'BUTTON.ADD_TO_CART' | translate | uppercase}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</ng-popover>

<!-- Mobile View Modal -->
<div class="modal" ng-class="quickOrderModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-content quick-order-modal p-y-2">
		<div class="columns is-multiline is-paddingless is-marginless m-b-2">
			<div class="column is-12 p-b-0" ng-repeat="order in orderItem">
				<div class="columns" ng-if="order.item.name != undefined">
					<div class="column is-12 is-paddingless">
						<div class="columns is-mobile is-paddingless is-marginless">
							<div class="column is-2">
								<figure class="image is-48x48">
									<img class="image is-48x48" ng-src="{{order.item.image}}">
								</figure>
							</div>
							<div class="column is-6">
								<span class="quick-order-name">{{order.item.name}}</span> <br />
								<span class="quick-order-stock"
									ng-show="order.item.stock.stockLevel > 0">{{order.item.stock.stockLevel}}
									{{'TEXT.IN_STOCK' | translate}}</span> <span class="quick-order-stock"
									ng-show="order.item.stock.stockLevel == 0">{{'TEXT.OUT_OF_STOCK' | translate}}</span>
							</div>
							<div class="column is-2 p-x-0">
								<input class="input width-50 center-text" type="text" min="0"
									ng-class="[{'error-input': order.item.quantity > order.item.stock.stockLevel}, {'error-input': !order.item.quantity}]"
									ng-model="order.item.quantity"
									ng-change="clearQuickOrderError($index)"
									ng-focus="clearQuickOrderError($index)" numeric-only
									select-on-click>
							</div>
							<div class="column is-2">
								<a class="button p-x-0 p-y-0" ng-click="removeOrder($index)">
									<span class="icon is-danger"><i class="fa fa-trash"
										aria-hidden="true"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="control" ng-if="order.item.name == undefined">
					<span class="error-message" ng-show="order.item.error.length > 0">{{order.item.error}}</span>
					<input class="input quick-order-item" type="text"
						ng-model="productCode" placeholder="Item # or SKU"
						ng-class="{'error-input': order.item.error.length > 0}"
						ng-change="clearQuickOrderError($index)"
						ng-focus="clearQuickOrderError($index)"
						ng-blur="getProductQuickOrder(productCode, $index)"
						ng-enter="getProductQuickOrder(productCode, $index)"
						select-on-click>
				</div>
			</div>
			<div class="column is-12">
				<div class="columns is-multiline is-paddingless">
					<div class="column is-12 p-b-0">
						<a
							class="button is-ghost quick-order-add-more-items-mobile max-width-100"
							ng-click="addOrder()">{{'BUTTON.ADD_MORE_ITEM' | translate | uppercase}}</a>
					</div>
					<div class="column is-12 has-text-right">
						<button class="button is-primary quick-order-add-to-cart-mobile max-width-100"
							ng-disabled="addToCartButtonDisabled"
							ng-click="quickAddProductToCart()">
							<i class="material-icons m-l-0">add_circle_outline</i>{{'BUTTON.ADD_TO_CART' | translate | uppercase}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleQuickOrderModal(false)"></button>
</div>