<invoice-breadcrumbs></invoice-breadcrumbs>
<div class="container p-x-1">
	<div class="columns m-t-0">
		<div class="column is-2 m-t-1 is-hidden-touch">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 p-x-0 m-b-1">
					<span class="invoices-title">{{'NAV_MENU.INVOICES' | translate | uppercase}}</span>
				</div>
				<div class="column is-12 is-paddingless">
					<invoice-filter></invoice-filter>
				</div>
			</div>
		</div>
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">
				<div class="column is-12 is-paddingless">
					<invoice-header></invoice-header>
				</div>
				<div class="column is-12 is-paddingless">
					<invoice-table></invoice-table>
				</div>
			</div>
		</div>
	</div>
</div>

<invoice-filter-modal></invoice-filter-modal>
<invoice-pdf-view-modal></invoice-pdf-view-modal>