<!-- Desktop View -->
<div class="columns is-marginless is-mobile is-multiline is-hidden-touch">
	
	<div class="column is-12 m-t-2 p-x-0 p-b-0 has-text-left invoice-tab">
		<div class="columns">
			<div class="column is-10">
				<span class="size-1h-rem p-x-1 is-muted m-r-1" ng-class="{'invoice-tab-active is-danger' : invoiceTab == 'Open'}" ng-click="toggleInvoiceTables('Open')">
					<small ng-hide="totalOpenCount === 0">{{'INVOICE_TEXT.OPEN_INVOICE' | translate | uppercase}} ({{totalOpenCount}})</small>
					<small ng-hide="totalOpenCount != 0">{{'INVOICE_TEXT.OPEN_INVOICE' | translate | uppercase}}</small>
				</span>
				<span class="size-1h-rem p-x-1 is-muted m-r-1" ng-class="{'invoice-tab-active is-danger' : invoiceTab == 'Paid'}" ng-click="toggleInvoiceTables('Paid')">
					<small ng-hide="paidCount === 0">{{'INVOICE_TEXT.PAID_INVOICE' | translate | uppercase}} ({{paidCount}})</small>
					<small ng-hide="paidCount != 0">{{'INVOICE_TEXT.PAID_INVOICE' | translate | uppercase}}</small>
				</span>
				<span class="size-1h-rem p-x-1 is-muted m-r-1" ng-class="{'invoice-tab-active is-danger' : invoiceTab == 'Watchlist'}" ng-click="toggleInvoiceTables('Watchlist')">
					<small ng-hide="watchlistCount === 0">{{'INVOICE_TEXT.WATCHLIST' | translate | uppercase}} ({{watchlistCount}})</small>
					<small ng-hide="watchlistCount != 0">{{'INVOICE_TEXT.WATCHLIST' | translate | uppercase}}</small>
				</span>
			</div>
			<div class="column is-2">
				<a class="invoice-button p-y-0 m-l-1 float-right relative" ng-click="printInvoiceList()" angular-popover direction="top" template="<div class='btn-tooltip'>PRINT</div>" mode="mouseover"> 
					<span class="icon m-r-1">
						<i class="material-icons">print</i> 
					</span>
				</a>
				<a class="invoice-button float-right relative" ng-click="exportReportExcel()"  angular-popover direction="top" template="<div class='btn-tooltip'>DOWNLOAD<br>SPREADSHEET</div>" mode="mouseover">
					<img class="logo-img invoice-detail-icon" src="resources/images/reports-icon/reports-export-excel.svg">
				</a>
			</div>
		</div>			
	</div>
	<div class="column is-3">
		<div class="control m-t-3">
			<input class="input search" type="search" id="invoice-search-desktop"
				placeholder="Search Invoices" ng-model="searchInvoices" ng-change="searchInvoice()"> <span
				class="icon is-small is-right search-icon" ng-click=""> <i
				class="material-icons">search</i>
			</span>
		</div>
	</div>
	<div class="column m-t-2">
		<div class="p-x-1 p-y-1 has-text-centered">
			<!-- <div class="p-x-1 total-invoices-detail">
				<span class="total-selected-invoices-label display-table-cell">Total
					Selected Invoices</span>&nbsp;&nbsp; <span
					class="total-selected-invoices display-table-cell">{{currency}}{{totalSelectedInvoices
					| number : 2}}</span>

			</div>
			<button ng-disabled="!paySelectedInvoiceButtonEnabled"
				class="button is-primary pay-selected-invoices-btn" ng-click="payInvoices()">PAY
				SELECTED INVOICES</button> -->
		</div> 
	</div>
	<div class="column is-1 margin-top-18 p-x-0">
		<p class="control has-icons-right">
			<label class="label filter-label">{{'PER_PAGE' | translate | uppercase}}</label> <span
				class="select width-100-perc"> <select
				ng-model="selectedPerPage" class="filter-dropdown width-100-perc"
				ng-options="perPage for perPage in perPageList" ng-change="">
			</select> <span class="icon is-large is-right"> <i
					class="material-icons">arrow_drop_down</i>
			</span></span>
		</p>
	</div>
</div>

<!-- Tablet & Mobile View-->
<div
	class="columns is-marginless is-mobile is-multiline is-hidden-desktop">
	<div class="column is-12 is-paddingless">
		<div class="columns m-y-0 is-mobile is-hidden-desktop">
			<div class="column">
				<span class="invoices-title">{{'NAV_MENU.INVOICES' | translate}}</span>
			</div>
			<div class="column is-8 is-hidden-tablet">
				<div class="control m-t-1h">
					<input
						class="input search ng-pristine ng-untouched ng-valid ng-empty"
						type="search" id="invoice-search" placeholder="Search Invoices"
						ng-model="searchInvoices" ng-change="searchInvoice()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-12 is-paddingless">
		<div class="columns is-marginless is-paddingless is-mobile">
			<div class="column is-paddingless">
				<invoice-selected-filter></invoice-selected-filter>
			</div>
			<div
				class="column is-8 is-paddingless has-text-right is-hidden-desktop is-hidden-mobile">
				<!-- <div class="p-x-1 total-invoices-detail">
					<span class="total-selected-invoices-label display-table-cell">Total
						Selected Invoices</span>&nbsp;&nbsp; <span
						class="total-selected-invoices display-table-cell">{{currency}}{{totalSelectedInvoices
						| number : 2}}</span>

				</div>
				<button ng-disabled="!paySelectedInvoiceButtonEnabled"
					class="button is-primary pay-selected-invoices-btn" ng-click="payInvoices()">PAY
					SELECTED INVOICES</button> -->
			</div>
		</div>
	</div>
	<div class="column is-12 is-paddingless">
		<div
			class="columns is-marginless is-paddingless is-mobile is-hidden-desktop">
			<div class="column is-5 is-paddingless is-hidden-mobile">
				<div class="control m-t-2">
					<input class="input search" type="search" id="invoice-search"
						placeholder="Search Invoices" ng-model="searchInvoices" ng-change="searchInvoice()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
			<div class="column is-offset-5 is-2 is-paddingless is-hidden-mobile">
				<p class="control has-icons-right">
					<label class="label filter-label margin-bottom-5">{{'PER_PAGE' | translate | uppercase}}</label>
					<span class="select width-100-perc"> <select
						ng-model="selectedPerPage" class="filter-dropdown width-100-perc"
						ng-options="perPage for perPage in perPageList" ng-change="">
					</select> <span class="icon is-large is-right"> <i
							class="material-icons">arrow_drop_down</i>
					</span></span>
				</p>
			</div>
			<div class="column is-3 is-paddingless is-hidden-tablet">
				<p class="control has-icons-right">
					<label class="label filter-label margin-bottom-5">{{'PER_PAGE' | translate | uppercase}}</label>
					<span class="select width-100-perc"> <select
						ng-model="selectedPerPage" class="filter-dropdown width-100-perc"
						ng-options="perPage for perPage in perPageList" ng-change="">
					</select> <span class="icon is-large is-right"> <i
							class="material-icons">arrow_drop_down</i>
					</span></span>
				</p>
			</div>
			<div class="column is-paddingless is-hidden-tablet">
				<div class="total-selected-container">
					<!-- <label
						class="display-block total-selected-invoices-label margin-bottom-3">Total
						Selected Invoices</label>
					<div class="total-invoices-detail">
						<span class="total-selected-invoices display-table-cell">{{currency}}{{totalSelectedInvoices
							| number : 2}}</span>
					</div>
					<button ng-disabled="!paySelectedInvoiceButtonEnabled"
						class="button is-primary pay-selected-invoices-btn" ng-click="payInvoices()">PAY
						SELECTED</button> -->
				</div>
			</div>
		</div>
	</div>
</div>