<nav class="pagination is-centered" ng-if="totalPages > 0">
	<button class="pagination-previous transparent"
		ng-disabled="currentPage == 0" ng-click="changePage(currentPage-1)">
		<i class="material-icons">keyboard_arrow_left</i>
	</button>
	<ul class="pagination-list">
		<li ng-show="currentPage > 2 && totalPages != 3"><span
			class="pagination-ellipsis">&hellip;</span></li>
		<li ng-repeat="page in totalPagesList"><button class="pagination-link transparent"
			ng-click="changePage(page)"
			ng-class="{'is-current': currentPage == page}"
			ng-disabled="currentPage == page">{{page+1}}</button></li>
		<li
			ng-show="totalPages > currentPage+2 && currentPage != totalPages-1"><span
			class="pagination-ellipsis">&hellip;</span></li>
	</ul>
	<button class="pagination-next transparent"
		ng-disabled="currentPage+1 == totalPages"
		ng-click="changePage(currentPage+1)">
		<i class="material-icons">keyboard_arrow_right</i>
	</button>
</nav>