<div class="column is-12 is-paddingless" ng-class="{'is-hidden' : watchList}">
	<table id="invoice-table" class="table"  datatable="ng" datatable="ng" dt-options="ic.dtOptions" dt-column-defs="ic.dtColumnDefs" dt-instance="ic.dtInstance"
		 cellspacing="0" width="100%" data-filter="#invoice-search-desktop, #invoice-search">
		<thead>
			<tr>
				<th class="all has-text-centered expand"
					data-sort-ignore="true">&nbsp;</th>
				<th data-priority="2" ng-click="resetSort($event.currentTarget)">{{'INVOICE_TEXT.INVOICE_NO' | translate}}</th>
				<th class="has-text-left" data-hide="phone" ng-click="resetSort($event.currentTarget)">{{'TABLE_HEADER.PO_NO' | translate}}</th>
				<th class="has-text-left" data-hide="phone" ng-click="resetSort($event.currentTarget)">{{'TABLE_HEADER.PO_NO' | translate}}</th>
				<th class="has-text-left" data-hide="phone" ng-click="resetSort($event.currentTarget)">{{'TABLE_HEADER.DATE_ISSUED' | translate}}</th>
				<th class="has-text-left" data-priority="3" ng-click="resetSort($event.currentTarget)">{{'TABLE_HEADER.TOTAL' | translate}}</th>
				<th class="has-text-left" data-priority="4" ng-click="resetSort($event.currentTarget)">{{'TABLE_HEADER.STATUS' | translate}}</th>
				<th class="has-text-left no-print">&nbsp;</th>
				<th class="has-text-left no-print">&nbsp;</th>
				<th class="has-text-left"> {{'TABLE_HEADER.TOTAL_ITEM' | translate}}</th>
				<th class="has-text-left"> {{'TABLE_HEADER.CONTACT_NAME' | translate}}</th>
				<th class="has-text-left"> {{'TABLE_HEADER.CONTACT_NO' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in invoiceList track by $index">
				<td class="has-text-centered" ng-click="$timeout(loadAngular,500)"></td>
				<td>
					<a href="" ng-click="goToInvoiceDetail(row)" ng-bind="row.invoiceNumber | limitTo:15">
						<span>{{row.invoiceNumber}}</span>
						<span ng-if="row.invoiceNumber.length > 15">...</span>
					</a>
				</td>
				<td>
					<div class="item-title has-text-left max-w-200 text-ellipsis"> 
						<span class="max-w-100 text-ellipsis">{{row.poNumber}}</span>
					</div> 
				</td>
				<td class="max-w-200">
					<span class="word-break-all">{{row.poNumber}}</span>
				</td>
				<td class="has-text-left max-w-200 text-ellipsis">{{row.dateIssued}}</td>
				<td class="has-text-left max-w-200 text-ellipsis"><span class="max-w-100 text-ellipsis">{{currency}}{{row.total | number : 2}}</span></td>
				<td class="has-text-left no-wrap" ng-if="(row.status | uppercase) == 'PAST DUE'">
					<span class="p-x-1 status-border">
						<div class="small-circle bg-danger"></div> {{'INVOICE_TEXT.PAST_DUE' | translate}}
					</span>
				</td>
				<td class="has-text-left no-wrap" ng-if="(row.status | uppercase) == 'OPEN'">
					<span class="p-x-1 status-border">
						<div class="small-circle bg-warning"></div> {{'INVOICE_TEXT.OPEN' | translate}}
					</span>
				</td>
				<td class="has-text-left no-wrap" ng-if="(row.status | uppercase) == 'PAID'">
					<span class="p-x-1 status-border">
						<div class="small-circle bg-success"></div> {{'INVOICE_TEXT.PAID' | translate}}
					</span>
				</td>
				<td class="has-text-left no-wrap" ng-if="(row.status | uppercase) == 'SCHEDULED'">
					<span class="p-x-1 status-border">
						<div class="small-circle bg-success"></div> {{'INVOICE_TEXT.SCHEDULED' | translate}}
					</span>
				</td>

				<td class="center-text"><a ng-if="(row.status | uppercase) != 'PAID'" href="" class="button is-primary is-white" ng-click="payNow($event.currentTarget)">PAY
						NOW
						<span class="is-hidden invoiceNo">{{row.invoiceNumber}}</span></a>						
						</td>
				<td class="has-text-left">
					<div class="columns is-paddingless is-multiline">				
						<div class="column is-2 p-l-0 p-r-1">
							<div class="control has-icons-right">
								<label class="dtr-title">{{'TABLE_HEADER.TOTAL_ITEM' | translate | uppercase}}</label> 
							</div>
							<div class="control has-icons-right max-w-300 text-ellipsis">
								<label class="ng-binding">{{row.totalItem}}</label> 
							</div>
						</div>		
						<div class="column is-2 p-l-0 p-r-1">
							<div class="control has-icons-right">
								<label class="dtr-title">{{'TABLE_HEADER.CONTACT_NAME' | translate | uppercase}}</label> 
							</div>
							<div class="control has-icons-right max-w-300 text-ellipsis">
								<label class="ng-binding">{{row.contactName}}</label> 
							</div>
						</div>			
						<div class="column is-2 p-l-0 p-r-1">
							<div class="control has-icons-right">
								<label class="dtr-title">{{'TABLE_HEADER.CONTACT_NO' | translate | uppercase}}</label> 
							</div>
							<div class="control has-icons-right max-w-300 text-ellipsis">
								<label class="ng-binding">{{row.contactNo}}</label> 
							</div>
						</div>				
						<div class="column  p-l-0 p-r-1 has-text-right">
							<a class="button p-y-0 m-r-1 is-secondary"> 
								{{'INVOICE_TEXT.ADD_TO_WATCHLIST' | translate}}
							</a>
							<a class="button p-y-0 m-r-1 invoice-dl"  angular-popover direction="top" template="<div class='btn-tooltip'>DOWNLOAD</div>" mode="mouseover" ng-click="toggleInvoicePdfModal(true);initializePdfModal(row.invoiceNumber, 'url', $event.currentTarget)"> 
							
							</a>
							<a class="button p-y-0 m-r-1 invoice-print"  angular-popover direction="top" template="<div class='btn-tooltip'>PRINT</div>" mode="mouseover"> 
								
							</a>
						</div>	
					</div>		
				</td>
				<td class="has-text-left">{{row.totalItem}}</td>
				<td class="has-text-left">{{row.contactName}}</td>
				<td class="has-text-left">{{row.contactNo}}</td>
			</tr>
		</tbody>
	</table>
</div>