<div class="modal" ng-class="pdfModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-card pdf-view">
		<header class="modal-card-head">
			<p class="modal-card-title">{{'INVOICE_TEXT.INVOICE_NO' | translate}}: {{invoicePdfNumber}}</p>
			<span class="pdf-download">
				<a ng-href="" ng-click="downloadPdf()">
				<i class="fa fa-download" aria-hidden="true"></i>&nbsp<span class="is-hidden-mobile">{{'TEXT.DOWNLOAD' | translate}}</span>
				</a>	
			</span>
			<button class="delete is-large" ng-click="toggleInvoicePdfModal(false)"></button>
	    </header>
	    <section class="modal-card-body" scroll-down="nextPage()" scroll-up="prevPage()">
	    	<!-- <object data="{{pdfUrl}}" type="application/pdf" width="100%" height="100%">
			  <p>Alternative text - include a link <a href="{{pdfUrl}}">to the PDF!</a></p>
			</object> -->
			<pdf-viewer
		    delegate-handle="invoice-pdf-container"
		    url="pdfUrl"
		    scale="1"
		    show-toolbar="true"
		    headers="{ 'x-you-know-whats-awesome': 'EVERYTHING' }"></pdf-viewer>
		</section>
	</div>
</div>