<!-- Desktop View -->
<div class="columns is-marginless is-mobile is-hidden-touch">
	<div class="column is-4 m-y-0">
		<div class="control m-b-1h">
			<span class="order-detail-address-label">{{'INVOICE_TEXT.BILLING_ADD' | translate}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{billingAddress.firstName}} {{billingAddress.lastName}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{billingAddress.line1}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{billingAddress.line2}}</span>
		</div>
	</div>
	<div class="column is-4 m-y-0">
		<div class="control m-b-1h">
			<span class="order-detail-address-label">{{'INVOICE_TEXT.SHIPPING_ADD' | translate}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{deliveryAddress.firstName}} {{deliveryAddress.lastName}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{deliveryAddress.line1}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{deliveryAddress.line2}}</span>
		</div>
	</div>
</div>

<!-- Tablet & Mobile View -->
<div class="columns is-marginless is-mobile is-hidden-desktop">
	<div class="column is-6 m-y-0">
		<div class="control m-b-1h">
			<span class="order-detail-address-label">{{'INVOICE_TEXT.BILLING_ADD' | translate}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{billingAddress.firstName}} {{billingAddress.lastName}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{billingAddress.line1}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{billingAddress.line2}}</span>
		</div>
	</div>
	<div class="column is-6 m-y-0">
		<div class="control m-b-1h">
			<span class="order-detail-address-label">{{'INVOICE_TEXT.SHIPPING_ADD' | translate}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{deliveryAddress.firstName}} {{deliveryAddress.lastName}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{deliveryAddress.line1}}</span>
		</div>
		<div class="control">
			<span class="order-detail-address">{{deliveryAddress.line2}}</span>
		</div>
	</div>
</div>