<!-- Desktop View -->
<ng-popover trigger="order-details" direction="right"
	on-open="popOverCall(true)" on-close="popOverCall(false)">
<div class="container is-fluid m-y-1 order-detail-container"
	ng-init="tab = 1">
	<div class="columns is-mobile is-multiline">
		<div class="column is-12">
			<div class="columns is-mobile is-marginless">
				<div class="column is-4 p-x-1">
					<div
						class="column is-12 has-text-centered is-paddingless order-detail-nav"
						ng-class="{'btn-tabs-active-underline': tab == 1}">
						<a class="btn-tabs" ng-click="tab = 1"
							ng-class="{'btn-tabs-active': tab == 1}">{{'TEXT.DESC' | translate | uppercase}}</a>
					</div>
				</div>
				<div class="column is-4 p-x-1">
					<div
						class="column is-12 has-text-centered is-paddingless order-detail-nav"
						ng-class="{'btn-tabs-active-underline': tab == 2}">
						<a class="btn-tabs" ng-click="tab = 2"
							ng-class="{'btn-tabs-active': tab == 2}">{{'TEXT.SPECS' | translate | uppercase}}</a>
					</div>
				</div>
				<div class="column is-4 p-x-1">
					<div
						class="column is-12 has-text-centered is-paddingless order-detail-nav"
						ng-class="{'btn-tabs-active-underline': tab == 3}">
						<a class="btn-tabs" ng-click="tab = 3"
							ng-class="{'btn-tabs-active': tab == 3}">{{'TEXT.RATINGS' | translate | uppercase}}</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Description -->
		<div class="column is-12 p-t-0" ng-show="tab == 1">
			<div class="columns is-mobile is-multiline is-marginless">
				<div class="column is-12 is-paddingless m-b-2">
					<div class="columns is-mobile is-marginless">
						<div class="column is-6 is-paddingless has-text-left">
							<span class="order-pop-over-product-name">Direct Attach
								Waterproof Insulated 6" Steel Toe</span>
						</div>
						<div class="column is-6 is-paddingless has-text-right">
							<span class="order-pop-over-product-name">{{'TABLE_HEADER.ITEM_NO' | translate }}(Number)</span> <br />
							<span class="icon is-small"
								ng-repeat="rating in displayCurrentRating(rating)"> <i
								class="fa fa-star star-rated" aria-hidden="true"></i>
							</span><span class="icon is-small" ng-show="rating < 5"
								ng-repeat="rating in displayUnratedRating(rating)"> <i
								class="fa fa-star-o star-unrated" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="column is-12 is-paddingless m-b-2">
					<div class="columns is-mobile is-marginless">
						<div class="column is-6 is-paddingless">
							<figure class="image is-128x128">
								<img class="image is-128x128"
									ng-src="resources/images/shoes/timberland_direct_attach_brown_boot_angle.png" />
							</figure>
						</div>
						<div class="column is-6 is-paddingless">
							<div class="columns is-mobile is-marginless is-multiline">
								<div class="column is-9 is-paddingless p-t-1">
									<span class="label-text-pdp-13">{{'TEXT.COLOR' | translate | uppercase}}:</span>&nbsp;<span
										class="label-text-pdp-16">{{color}}</span>
								</div>
								<div class="column is-3 is-paddingless">
									<div
										class="square-color m-b-1 m-x-1h m-x-auto square-color-active"
										ng-style="{'background-color': color}">
										<div class="padding-top-1"></div>
									</div>
								</div>
								<div class="column is-9 is-paddingless p-t-1">
									<span class="label-text-pdp-13">{{'TEXT.SIZE' | translate | uppercase}}:</span>&nbsp;<span
										class="label-text-pdp-16">{{size}}</span>
								</div>
								<div class="column is-3 is-paddingless">
									<div
										class="square-number m-b-1 m-x-1h m-x-auto square-number-active"
										ng-style="{'background-color': color}">
										<div class="padding-top-1">{{size}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-12 is-paddingless">
					<p class="m-b-2" ng-repeat="description in productDescription">
						<span class="tabs-text-details-pdp">{{description}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="column is-12 p-t-0" ng-show="tab == 2">
			<div class="columns is-mobile is-marginless">
				<div class="column is-12 is-paddingless">
					<p class="m-b-2" ng-repeat="detailedSpecs in productDetailsSpecs">
						<span class="tabs-text-details-pdp">{{detailedSpecs.name}}</span>
						<br /> <span class="tabs-text-details-pdp">{{detailedSpecs.details}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="column is-12 p-t-0" ng-show="tab == 3">
			<div class="columns is-mobile is-marginless is-multiline">
				<div class="column is-12 is-paddingless">
					<div class="columns is-paddingless">
						<div class="column is-4">
							<p class="control has-icons-right">
								<label class="label filter-label">{{'SORT_BY' | translate | uppercase}}</label> <span
									class="select"> <select ng-model="selectedStarRating"
									class=""
									ng-options="rating.value for rating in starRating track by rating.id"">
								</select> <span class="icon is-large is-right"> <i
										class="material-icons">arrow_drop_down</i>
								</span>
								</span>
							</p>
						</div>
						<div class="column p-t-1">
							<div class="tile justify-content-right">
								<product-detail-rating-pagination></product-detail-rating-pagination>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-12 is-paddingless">
					<div class="columns is-multiline is-paddingless"
						ng-repeat="customerReviewAndRating in visibleCustomerReviewsAndRatingsList">
						<div class="column is-12">
							<p>
								<span class="icon margin-right-2"
									ng-repeat="rating in displayCurrentRating(customerReviewAndRating.rating)">
									<i class="fa fa-star star-rated" aria-hidden="true"></i>
								</span><span class="icon margin-right-2"
									ng-show="customerReviewAndRating.rating < 5"
									ng-repeat="rating in displayUnratedRating(customerReviewAndRating.rating)">
									<i class="fa fa-star-o star-unrated" aria-hidden="true"></i>
								</span>
							</p>
						</div>
						<div class="column is-12">
							<p>
								<span class="customer-review-text">{{customerReviewAndRating.shortComment}}</span><br />
								<span class="customer-review-text">{{customerReviewAndRating.customerName}}
									{{'TEXT.ON' | translate}} {{customerReviewAndRating.date}}</span><br /> <span
									class="customer-review-text">{{customerReviewAndRating.size}}
									D(M)</span><br /> <span class="customer-review-text">{{customerReviewAndRating.color}}</span><br />
							</p>
						</div>
						<div class="column is-12 p-y-0">
							<p class="m-b-2" ng-if="$first"
								ng-repeat="comment in customerReviewAndRating.longComment">
								<span class="customer-review-long-comment">{{comment}}</span><a
									class="is-danger"
									ng-show="customerReviewAndRating.showBtnShowAll"
									ng-click=showMoreComment(customerReviewAndRating)>{{'TEXT.SHOW_MORE' | translate}}</a>
							</p>
							<p class="m-b-2"
								ng-if="customerReviewAndRating.showAllComment && !$first && !customerReviewAndRating.showBtnShowAll"
								ng-repeat="comment in customerReviewAndRating.longComment">
								<span class="customer-review-long-comment">{{comment}}</span><a
									class="is-danger"
									ng-show="!customerReviewAndRating.showBtnShowAll && $last"
									ng-click=showMoreComment(customerReviewAndRating)>{{'TEXT.SHOW_LESS' | translate}}</a>
							</p>
						</div>
						<div class="column is-12 p-y-0">
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ng-popover>