<order-detail-breadcrumbs></order-detail-breadcrumbs>
<div class="container p-x-1 m-b-3">
	<div class="columns m-b-0 m-t-1 is-multiline">
		<div class="column is-12 is-paddingless">
			<div class="columns is-marginless is-mobile">
				<div class="column">
					<span class="order-detail-title">{{'TABLE_HEADER.ORDER_NO' | translate}}{{orderCode}}</span>
				</div>
				<div class="column is-8 is-hidden-touch">
					<order-detail-address></order-detail-address>
				</div>
				<div class="column is-1">
					<div class="button print-order-btn" ng-click="" ng-disabled="">
						<i class="fa fa-print" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="column is-12 is-paddingless is-hidden-desktop">
			<order-detail-address></order-detail-address>
		</div>
		<div class="column is-12 is-paddingless m-t-2">
			<order-detail-table></order-detail-table>
		</div>

		<!-- Desktop View -->
		<div class="column is-3 is-offset-9 is-paddingless is-hidden-touch">
			<order-detail-summary></order-detail-summary>
		</div>

		<!-- Tablet View -->
		<div
			class="column is-5 is-offset-7 is-paddingless is-hidden-desktop is-hidden-mobile">
			<order-detail-summary></order-detail-summary>
		</div>

		<!-- Mobile View -->
		<div class="column is-12 is-hidden-tablet">
			<order-detail-summary></order-detail-summary>
		</div>
	</div>
</div>

<!-- <order-detail-pop-over></order-detail-pop-over> -->
<order-detail-modal></order-detail-modal>
<order-detail-mobile></order-detail-mobile>