<div class="column is-12 is-paddingless">
	<table class="table footable" datatable="ng" dt-options="orderDetailCtrl.dtOptions" dt-column-defs="orderDetailCtrl.dtColumnDefs" dt-instance="orderDetailCtrl.dtInstance"
		 cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="center-text expand is-hidden-tablet not-desktop toggle" data-sort-ignore="true">&nbsp;</th>
				<th data-hide="phone" data-sort-ignore="true">&nbsp;</th>
				<th data-priority="1" ng-click="resetSort()">{{'TABLE_HEADER.ITEM_NO' | translate}}</th>
				<th ng-click="resetSort()">{{'TABLE_HEADER.ITEM_NAME' | translate}}</th>
				<th data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.OPTION' | translate}}</th>
				<th data-priority="2" ng-click="resetSort()">{{'TABLE_HEADER.UNIT_PRICE' | translate}}</th>
				<th data-priority="3" ng-click="resetSort()">{{'TABLE_HEADER.QUANTITY' | translate}}</th>
				<th data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.AVAILABILITY' | translate}}</th>
				<th data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.TOTAL_COST' | translate}}</th>
				<th data-hide="phone,tablet" ng-click="resetSort()">{{'TABLE_HEADER.PROJECT' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in shoppingCartItems">
				<td class="is-hidden-tablet has-text-centered footable-toggle" ng-click="$timeout(loadAngular,500)"></td>
				<td>
					<figure class="image is-64x64">
						<img class="image is-64x64" ng-src="{{row.image}}" />
					</figure>
				</td>
				<!-- <td><a href="" class="ng-popover-trigger" id="order-details">{{row.itemNumber}}</a></td> -->
				<td class="max-w-200 text-ellipsis"><a href="" ng-click="toggleOrderDetailsModal(true, row)"
					class="is-hidden-mobile">{{row.product.code}}</a> <a href=""
					ng-click="showOrderDetailsMobile(row)"
					class="is-hidden-tablet">{{row.product.code}}</a></td>
				<td>
					<span class="relative" angular-popover direction="top" template="<div>{{row.product.name}}</div>" mode="mouseover">
						<span class="is-hidden-mobile relative" ng-bind="row.product.name | limitTo:45">{{row.product.name}}</span>
						<span class="is-hidden-mobile" ng-if="row.product.name.length > 45">...</span>	
					</span>				
					<span class="is-hidden-desktop is-hidden-tablet item-name">{{row.product.name}}</span>
				</td>
				<td class="max-w-200 text-ellipsis">
					<span ng-if="!row.hasOptions">-</span>
					<span class="item-title max-w-200 text-ellipsis">
						<span ng-if="row.options.length != 0 && row.hasOptions" ng-repeat="option in row.options">
							{{option}} <span ng-if="!$last">-</span> 
						</span>
					</span>
				</td>
				<td class="max-w-200 text-ellipsis"><span class="item-title max-w-200 text-ellipsis">{{currency}}{{row.price | number : 2}}</span></td>
				<td class="max-w-200 text-ellipsis"><span class="item-title max-w-200 text-ellipsis">{{row.quantity}}</span></td>
				<td ><span
					ng-if="row.product.stock.stockLevel > 0">{{'TEXT.IN_STOCK' | translate}}</span><span
					ng-if="row.product.stock.stockLevel == 0">{{'TEXT.OUT_OF_STOCK' | translate}}</span></td>
				<td class="max-w-200 text-ellipsis" ><span class="item-title max-w-200 text-ellipsis">{{currency}}{{row.totalPrice.value | number : 2}}</span></td>
				<td class="max-w-200 text-ellipsis"><span
					ng-if="row.project.trim().length === 0">-</span>
					<div ng-if="row.project.trim().length != 0"
						class="shopping-cart-table-project padding-3"><span class="item-title max-w-200 text-ellipsis">{{row.project}}</span></div></td>
			</tr>
		</tbody>
	</table>
</div>