<hr class="m-y-1">
<div class="columns is-multiline is-marginless is-mobile">
	<div class="column is-4 p-x-0">
		<span class="shopping-cart-summary-label">{{'TEXT.SUBTOTAL' | translate}}</span>
	</div>
	<div class="column has-text-right">
		<span class="shopping-cart-summary-computation">{{currency}}{{shoppingCartItems.subTotal
			| number : 2}}</span>
	</div>
</div>
<div class="columns is-multiline is-marginless is-mobile">
	<div class="column is-4 p-x-0">
		<span class="shopping-cart-summary-label">{{'CHECKOUT_TEXT.SHIPPING' | translate}}</span>
	</div>
	<div class="column has-text-right">
		<span class="shopping-cart-summary-computation">{{currency}}{{shoppingCartItems.shippingFee
			| number : 2}}</span>
	</div>
</div>
<hr class="m-y-1">
<div class="columns is-multiline is-marginless is-mobile">
	<div class="column is-4 p-x-0">
		<span class="shopping-cart-summary-label">{{'TEXT.TOTAL' | translate}}</span>
	</div>
	<div class="column has-text-right">
		<span
			class="shopping-cart-summary-computation shopping-cart-summary-total">{{currency}}{{shoppingCartItems.total | number : 2}}</span>
	</div>
</div>