<invoice-payment-breadcrumbs></invoice-payment-breadcrumbs> 
<div class="container p-x-1">
	<!-- Desktop View -->
	<div class="columns is-marginless is-hidden-touch">
		<div class="column is-6">
			<invoice-payment-tabs></invoice-payment-tabs>
		</div>
		<div class="column is-6">
			<invoice-payment-summary></invoice-payment-summary>
		</div>
	</div>

	<!-- Tablet View -->
	<div
		class="columns is-marginless is-multiline p-x-3 is-hidden-desktop is-hidden-mobile">
		<div class="column is-12">
			<invoice-payment-tabs></invoice-payment-tabs>
		</div>
		<div class="column is-12">
			<invoice-payment-summary></invoice-payment-summary>
		</div>
	</div>

	<!-- Mobile View -->
	<div class="columns is-marginless is-hidden-tablet">
		<div class="column is-12 is-paddingless">
			<invoice-payment-tabs></invoice-payment-tabs>
		</div>
		<div class="column is-12 is-paddingless">
			<invoice-payment-summary></invoice-payment-summary>
		</div>
	</div>
</div>
<invoice-pdf-view-modal></invoice-pdf-view-modal>