<div class="columns is-marginless is-multiline">
	<div class="column is-12 has-text-centered is-hidden-mobile">
	</div>
	<div class="column is-12 side-nav-shopping-cart-table-container is-hidden-mobile">
		<table class="table footable"datatable="ng" dt-options="invoicePaymentCtrl.dtOptions" dt-column-defs="invoicePaymentCtrl.dtColumnDefs" dt-instance="dtInstance"
		 					width="100%">
			<thead>
			<tr>
				<th class="center-text" data-sort-ignore="true"><input
					class="styled-checkbox" id="invoice-check-all" type="checkbox"
					ng-init="val=true"
					ng-model="val" ng-click="val = true">
					<label for="invoice-check-all" class="filter-value"></label></th>
				<th>{{'INVOICE_TEXT.INVOICE_NO' |  translate}}</th>
				<th class="center-text" data-hide="phone">{{'TABLE_HEADER.PO_NO' |  translate}}</th>
				<th class="center-text" data-priority="1">{{'TABLE_HEADER.TOTAL' |  translate}}</th>
				<th class="center-text" data-hide="phone" data-sort-ignore="true">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in selectedInvoices track by $index">
				<td class="center-text"><input class="styled-checkbox"
					id="invoice-checkbox-{{$index}}" type="checkbox" value=""
					ng-change="" ng-model="val" ng-click="val = true" > <label
					for="invoice-checkbox-{{$index}}" class="filter-value"></label></td>
				<td><a href="">{{row.invoiceNumber}}</a></td>
				<td class="center-text">{{row.poNumber}}</td>
				<td class="center-text" ng-click="toggleInvoicePdfModal(true);initializePdfModal(row.invoiceNumber, 'url')"><a href=""><i
						class="fa fa-file-pdf-o is-danger" aria-hidden="true"></i></a></td>
			</tr>
		</tbody>
		</table>
	</div>
</div>