<div class="columns is-marginless is-multiline p-x-1 is-mobile"
	ng-init="tab = 1">
	<div class="column is-12  is-hidden-mobile">
		<span class="checkout-heading">{{'INVOICE_TEXT.PAY_INVOICE' |  translate}}</span>
		<span class="is-danger asterisk-head">*</span>
		<span class="required-label"> {{'TEXT.REQ_FIELD' |  translate}}</span>
	</div>
	<div class="column is-12 p-l-0 is-hidden-tablet">
		<span class="checkout-heading">{{'INVOICE_TEXT.PAY_INVOICE' |  translate}}</span><span class="is-danger">*</span>{{'TEXT.REQ_FIELD' |  translate}}
	</div>

	<!-- Payment Amount -->
	<div class="column is-12 p-x-0 checkout-step-label-border"
		ng-class="{'checkout-step-label-border-previous': tab > 1}">
		<span class="checkout-step-label"
			ng-class="[{'checkout-step-label-active': tab == 1}, {'checkout-label-previous': tab > 1}]">1.
			{{'TEXT.PAYMENT_AMT' |  translate}}</span> <a class="checkout-edit" ng-click="tab = 1"
			ng-show="tab > 1" ng-class="{'checkout-label-previous': tab > 1}"><i
			class="material-icons">mode_edit</i></a>
	</div>
	<div class="column is-12 p-x-0" ng-show="tab == 1">
		<div class="columns is-marginless is-multiline is-mobile">
			<div class="column is-6 p-x-0 p-b-0">
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label checkout-label">{{'INVOICE_TEXT.INVOICES_TOTAL' |  translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right invoice-total">
						<label>{{currency}}{{totalInvoice}}</label> 
					</div>
				</div>
			</div>
			<div class="column is-6 p-x-0 p-b-0">
				<div class="columns is-marginless is-multiline is-mobile">
					<div class="column is-12 p-l-0 p-r-1">
						<div class="control has-icons-right">
							<label class="label checkout-label">{{'TEXT.DATE_TO_SEND' |  translate | uppercase}}</label> 
						</div>
						<datepicker class="datepick-invoice-pay"
							button-prev="<i class='material-icons'>keyboard_arrow_left</i>"
							button-next="<i class='material-icons'>keyboard_arrow_right</i>"
							date-format="MM/dd/yyyy" datepicker-mobile="false"
							date-max-limit="{{maxDate}}"> <input class="datepick-filter"
							ng-model="dateSelected" id="date-from-filter" type="text"
							placeholder="Date" readonly /> <label
							for="date-from-filter"
							class="icon is-small is-right datepicker-filter-icon"> <i
							class="fa fa-calendar" aria-hidden="true"></i>
						</label> </datepicker>
					</div>
				</div>
			</div>
			<div class="column is-12 p-x-0 has-text-centered">
				<a class="button is-primary" ng-click="tab = 2">{{'BUTTON.NEXT' |  translate | uppercase}}</a>
			</div>
		</div>
	</div>

	<!-- Payment Type -->
	<div class="column is-12 p-x-0 checkout-step-label-border"
		ng-class="{'checkout-step-label-border-previous': tab > 2}">
		<span class="checkout-step-label"
			ng-class="[{'checkout-step-label-active': tab == 2}, {'checkout-label-previous': tab > 2}]">2.
			Payment Type</span> <a class="checkout-edit" ng-click="tab = 2"
			ng-show="tab > 2" ng-class="{'checkout-label-previous': tab > 2}"><i
			class="material-icons">mode_edit</i></a>
	</div>
	<div class="column is-12 p-x-0" ng-show="tab == 2">
		<div class="columns is-marginless is-multiline is-mobile">
			<div class="column is-6 p-x-0 p-b-0">
				<div class="control has-icons-right">
					<label class="label checkout-label"></label> <span
						class="select width-100-perc"> <select
						ng-model="selectedPaymentType"
						class="filter-dropdown width-100-perc"
						ng-options="paymentType for paymentType in paymentTypeList"
						ng-change="">
					</select> <span class="icon is-large is-right"> <i
							class="material-icons">arrow_drop_down</i>
					</span></span>
				</div>
			</div>
			<div class="column is-12 p-x-0 has-text-centered">
				<a class="button is-primary" ng-click="tab = 3">{{'BUTTON.NEXT' |  translate | uppercase}}</a>
			</div>
		</div>
	</div>

	<!-- Payment Source -->
	<div class="column is-12 p-x-0 checkout-step-label-border"
		ng-class="{'checkout-step-label-border-previous': tab > 3}">
		<span class="checkout-step-label"
			ng-class="[{'checkout-step-label-active': tab == 3}, {'checkout-label-previous': tab > 3}]">3.
			{{'TEXT.PAYMENT_SOURCE' |  translate}}</span> <a class="checkout-edit" ng-click="tab = 3"
			ng-show="tab > 3" ng-class="{'checkout-label-previous': tab > 3}"><i
			class="material-icons">mode_edit</i></a>
	</div>
	<div class="column is-12 p-x-0" ng-show="tab == 3">
		<div class="columns is-marginless is-multiline is-mobile">
			<div class="column is-12 p-x-0 p-b-0">
				<div class="control has-icons-right">
					<label class="label checkout-label">{{'TEXT.LABEL' |  translate | uppercase}}</label> 
				</div>
			</div>
			<div class="column is-6 p-x-0 p-b-0">
					<div class="control">
						<span class="address-details ng-binding">{{paymentSource}}</span>
					</div>
			</div>
			<div class="column is-6 p-x-0 p-b-0">
					<div class="control">
						<a href="" class="checkout-link">{{'TEXT.EDIT' |  translate}}</a>
					</div>
			</div>
		</div>
		<div class="column is-12 p-x-0">
			<a class="button is-secondary">{{'TEXT.SUBMIT_PAYMENT' |  translate | uppercase}}</a>
		</div>
	</div>	

</div>