<!-- Desktop View -->
<div class="columns is-marginless is-mobile m-t-2 is-multiline is-hidden-touch">
	
	<div class="column m-t-2 p-r-2" >
		<div class="dropdown" ng-click="toggleDropDown()" ng-class="{'is-active' : toggle}">
		  <div class="dropdown-trigger">
		    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
		      <span>{{'REPORT_TEXT.NEW_REP' | translate}}</span>
		      <span class="icon is-small">
		        <i class="fa fa-angle-down" aria-hidden="true"></i>
		      </span>
		    </button>
		  </div>
		  <div class="dropdown-menu" id="dropdown-menu" role="menu">
		    <div class="report-dropdown dropdown-content">
		      <a href="#" class="dropdown-item" ng-repeat="option in reportOption track by $index" ng-click="createReport(option)">
		       	{{option.reportType}}
		      </a>
		    </div>
		  </div>
		</div>
	</div>
	<div class="column is-3 p-l-0 m-t-1">
		<div class="control m-t-1">
			<input class="input search" type="search" id="project-search-desktop"
				placeholder="Search Reports" ng-model="searchReport" ng-change="searchReports()"> <span
				class="icon is-small is-right search-icon" ng-click=""> <i
				class="material-icons">search</i>
			</span>
		</div>
	</div>
	<div class="column is-4 m-t-1">
		<div class="columns justify-right is-mobile">
			<div class="column is-4 p-t-0">
				<p class="control has-icons-right">
					<label class="label filter-label">{{'PER_PAGE' | translate | uppercase}}</label> <span
						class="select width-100-perc"> <select
						ng-model="ordersPerPage" class="filter-dropdown width-100-perc"
						ng-options="perPage for perPage in perPageDropdownList"
						ng-change="updatePerPage()">
					</select> <span class="icon is-large is-right"> <i
							class="material-icons">arrow_drop_down</i>
					</span></span>
			</div>
			<div class="column is-8 m-t-1 padding-top-5">
				<!-- <report-pagination class="is-pulled-right"></report-pagination> -->
			</div>
		</div>
	</div>
	
</div>

<!-- Tablet & Mobile View-->

<div class="columns is-marginless is-mobile is-multiline is-hidden-desktop">
	<div class="column is-12 is-paddingless">
		<div class="columns m-y-0 is-paddingless is-mobile is-hidden-desktop">
			<div class="column">
				<span class="invoices-title">{{'NAV_REPORTS' | translate}}</span>
			</div>
			
			<div class="column is-hidden-mobile">
				<div class="control m-t-1h">
					<input class="input search" type="search" id="project-search-desktop"
						placeholder="Search Reports" ng-model="searchReport" ng-change="searchReports()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
			<div class="column is-7 p-l-0 is-hidden-tablet is-mobile">
				<div class="control m-t-1h">
					<input class="input search" type="search" id="project-search-desktop"
						placeholder="Search Reports" ng-model="searchReport" ng-change="searchReports()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-12 is-paddingless is-hidden-desktop is-hidden-mobile">
		<div class="columns is-marginless is-paddingless is-mobile">
			<div class="column is-paddingless">
				<report-selected-filter></report-selected-filter>
			</div>
		</div>	
	</div>
	<div class="column p-l-0 is-hidden-mobile">
		<div class="dropdown" ng-click="toggleDropDown()" ng-class="{'is-active' : toggle}">
		  <div class="dropdown-trigger">
		    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
		      <span>{{'REPORT_TEXT.NEW_REP' | translate}}</span>
		      <span class="icon is-small">
		        <i class="fa fa-angle-down" aria-hidden="true"></i>
		      </span>
		    </button>
		  </div>
		  <div class="dropdown-menu" id="dropdown-menu" role="menu">
		    <div class="report-dropdown dropdown-content">
		      <a href="#" class="dropdown-item" ng-repeat="option in reportOption track by $index" ng-click="createReport(option)">
		       	{{option.reportType}}
		      </a>
		    </div>
		  </div>
		</div>
	</div>
	<div class="column is-4 m-t-2 is-paddingless is-hidden-tablet">
		<div class="columns is-marginless is-paddingless is-mobile">
			<div class="column is-paddingless">
				<report-selected-filter></report-selected-filter>
			</div>
		</div>
	</div>
	<div class="column is-4 is-hidden-mobile">
		<div class="columns justify-right is-mobile">
			<div class="column is-6 p-t-0">
				<p class="control has-icons-right">
					<label class="label filter-label">{{'PER_PAGE' | translate | uppercase}}</label> <span
						class="select width-100-perc"> <select
						ng-model="ordersPerPage" class="filter-dropdown width-100-perc"
						ng-options="perPage for perPage in perPageDropdownList"
						ng-change="updatePerPage()">
					</select> <span class="icon is-large is-right"> <i
							class="material-icons">arrow_drop_down</i>
					</span></span>
			</div>
			<div class="column is-9 m-t-1 padding-top-5">
				<!-- <report-pagination class="is-pulled-right"></report-pagination> -->
			</div>
		</div>
	</div>
	<div class="column is-8 is-hidden-tablet">
		<div class="columns justify-right is-mobile">
			<div class="column is-6 p-t-0">
				<p class="control has-icons-right">
					<label class="label filter-label">{{'PER_PAGE' | translate | uppercase}}</label> <span
						class="select width-100-perc"> <select
						ng-model="ordersPerPage" class="filter-dropdown width-100-perc"
						ng-options="perPage for perPage in perPageDropdownList"
						ng-change="updatePerPage()">
					</select> <span class="icon is-large is-right"> <i
							class="material-icons">arrow_drop_down</i>
					</span></span>
			</div>
			<div class="is-paddingless p-l-0 column is-9 m-t-1 padding-top-5">
				<!-- <report-pagination></report-pagination> -->
			</div>
		</div>
	</div>
	
	<div class="column is-8 is-paddingless m-b-2">
		<div class="dropdown is-hidden-tablet is-mobile" ng-click="toggleDropDown()" ng-class="{'is-active' : toggle}">
		  <div class="dropdown-trigger">
		    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
		      <span>{{'REPORT_TEXT.NEW_REP' | translate }}</span>
		      <span class="icon is-small">
		        <i class="fa fa-angle-down" aria-hidden="true"></i>
		      </span>
		    </button>
		  </div>
		  <div class="dropdown-menu" id="dropdown-menu" role="menu">
		    <div class="report-dropdown dropdown-content">
		      <a href="#" class="dropdown-item" ng-repeat="option in reportOption track by $index" ng-click="createReport(option)">
		       	{{option.reportType}}
		      </a>
		    </div>
		  </div>
		</div>
	</div>
</div>