<report-breadcrumbs></report-breadcrumbs>
<toaster-container toaster-options="{'time-out': 900}"></toaster-container>
<div class="container p-x-1">
	<div class="columns m-t-0">
		<div class="column is-2 m-t-1 is-hidden-touch">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 p-x-0 m-b-1">
					<span class="invoices-title">{{'NAV_REPORTS' | translate}}</span>
				</div>
				<div class="column is-12 is-paddingless">
					<report-filter></report-filter>
				</div>
			</div>
		</div>
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">
				<div class="column is-12 is-paddingless">
					<report-header></report-header>
				</div>
				<div class="column is-12 is-paddingless">
					<report-table></report-table>
				</div>
				<div class="column is-12 is-paddingless is-hidden-mobile">
					<!-- <report-pagination class="is-pulled-right"></report-pagination> -->
				</div>
				
				<div class="column is-offset-5 is-paddingless is-hidden-tablet">
					<!-- <report-pagination></report-pagination> -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="report-render">
	<div class="column is-3 p-l-0 report-export"></div>
	<canvas id="bar" class="chart chart-bar" chart-options="options"
	  chart-data="data" chart-labels="labels"  chart-series="series" ng-if="newReport.chartType == 'Bar Chart' || newReport.chartType == undefined">
	</canvas>
	<canvas id="line" class="chart chart-line" chart-data="data"
	chart-labels="labels" chart-series="series" chart-options="options"
	chart-dataset-override="datasetOverride" chart-click="onClick" ng-if="newReport.chartType == 'Line Chart'">
	</canvas>
	<canvas id="pie" class="chart chart-pie"
	  chart-data="data" chart-labels="labels" chart-options="options" ng-if="newReport.chartType == 'Pie Chart'">
	</canvas> 
	<report-detail-table  ng-if="reportId != 0 && report.type!='Summary Report' && report.type!='Product Summary Report' && report.type!='Ship-To Summary Report'"></report-detail-table>
	<summary-report-table ng-if="report.type=='Summary Report'"></summary-report-table>
	<product-summary-report-table ng-if="report.type=='Product Summary Report'"></product-summary-report-table> 
	<ship-to-summary-report-table ng-if="report.type=='Ship-To Summary Report'"></ship-to-summary-report-table> 
</div>
<report-modal></report-modal>
<report-filter-modal></report-filter-modal>
<report-rename-modal></report-rename-modal>
<error-modal></error-modal>