<div class="column is-12 is-paddingless">
	<table id="report-table" class="table footable row-border hover" datatable="ng" dt-options="reportCtrl.dtOptions" dt-column-defs="reportCtrl.dtColumnDefs" dt-instance="reportCtrl.dtInstance"
		 cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="center-text not-desktop toggle" data-sort-ignore="true">&nbsp;</th>
				<th class="" data-priority="1" ng-click="resetSort()">{{'REPORT_TEXT.REPORT_NAME' | translate}}</th>
				<th class="" data-priority="1"></th>
				<th class="" data-priority="3" ng-click="resetSort()">{{'TEXT.DATE' | translate }}</th>
				<th data-priority="4" ng-click="resetSort()">{{'TABLE_HEADER.TYPE' | translate}}</th>
				<!-- <th class="is-hidden-touch all" data-sort-ignore="true" data-priority="1">&nbsp;</th> -->
				<th class="all" data-sort-ignore="true" data-priority="1">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in reportList track by $index">
				<td class="has-text-centered footable-toggle"></td> 
				<td class="report-name" >
					<a ng-click="goToReportDetail(row, $index)" ng-hide="reportToggle{{row.reportId}}">{{row.reportName}}</a>
				</td>
				<td class="" colspan="1">
					<a class="button p-y-0"  ng-click="toggleRenameReport(true, row, $index)"> 
						<i class="fa fa-pencil-square-o is-danger m-r-2" aria-hidden="true"></i>
					</a>		
				</td>
				<td class="">			
					{{row.dateIssued | date:'MM/dd/yyyy'}}
				</td>
				<td class="has-text-left">{{row.type}}</td>
				<td class="has-text-centered context-menu">						
					<span class="icon is-danger" ng-click="reportToDelete = row;toggleDeleteReportModal(true, $index)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>