<!-- Delete Modal -->
<div class="modal" ng-class="deleteReportModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-card create-proj-modal">
	    <section class="modal-card-body has-text-centered">
		<div class="column m-t-1 p-x-2">
			<span class="create-proj-title delete-font-size">{{'TEXT.DELETE_CONFIRM' | translate}}</span>
			<div class="tile is-vertical m-t-1">
				<div class="columns is-mobile">
					<div class="column cancel-btn p-r-0 m-r-2 has-text-centered">
						<a class="button is-ghost" ng-click="toggleDeleteReportModal(false, '')">{{'BUTTON.CANCEL' | translate | uppercase}}
						</a>
					</div>
					<div class="column is-6 p-l-0 m-l-0 has-text-centered">
						<a class="button is-secondary-btn is-pulled-left" ng-click="deleteReport()">{{'BUTTON.DELETE' | translate | uppercase}}
						</a>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleDeleteReportModal(false, '')"></button>
</div>


