<!-- Rename Modal -->
<div class="modal" ng-class="renameReportModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-card create-proj-modal">
	    <section class="modal-card-body has-text-centered">
		<div class="column m-t-1 p-x-2">
			<span class="create-proj-title">{{'TEXT.CHANGE_NAME' | translate}}</span>
			<div class="tile is-vertical m-t-1">
				<div class="tile m-b-1">
					<div class="column">
						<div class="control m-t-1h">
							<input
								class="input search ng-pristine ng-untouched ng-valid ng-empty" ng-blur="validateReportRename()"
								type="text" id="project-name" placeholder="Report Name"
								ng-model="reportNameChange"> 
							<span class="error-message ng-hide" ng-hide="isValidReportRename">{{'TEXT.INVALID_NAME' | translate}}</span>
						</div>
					</div>
				</div>
				<div class="columns is-mobile">
					<div class="column cancel-btn p-r-0 m-r-2 has-text-centered">
						<a class="button is-ghost" ng-click="toggleRenameReport(false)">{{'BUTTON.CANCEL' | translate | uppercase}}
						</a>
					</div>
					<div class="column p-l-0 m-l-0 has-text-centered">
						<a class="button is-secondary-btn is-pulled-left" ng-click="saveReportName()">{{'BUTTON.SAVE' | translate | uppercase}}
						</a>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleRenameReport(false)"></button>
</div>
