<div class="popover-content p-y-1 p-r-1h">
	<ul class="has-text-left report-context">
		<li ng-if="row.type != 'Product Summary Report' && row.type != 'Summary Report' && row.type != 'Ship-To Summary Report'" class="p-l-1 no-wrap" ng-click="downloadPdf(row.reportName)"> 
			<a>
				<span class="icon" type="button" >					
					<img class="logo-img report-icon" src="resources/images/reports-icon/pdf-icon-blue.svg">
				</span>
				{{'TEXT.DOWNLOAD_PDF' | translate}}
			</a>
		</li>
		<li ng-if="row.type != 'Product Summary Report' && row.type != 'Summary Report' && row.type != 'Ship-To Summary Report'" class="p-l-1 no-wrap"> 
			<a>
				<span class="icon" type="button" ng-csv="retrieveReportsData()" csv-header="headers" filename="{{row.reportName}}.csv">
					<img class="logo-img report-icon" src="resources/images/reports-icon/reports-export-excel.svg">
				</span>
				{{'TEXT.DOWNLOAD_CSV' | translate}}
			</a>
		</li>		
		<li ng-if="row.type != 'Product Summary Report' && row.type != 'Summary Report' && row.type != 'Ship-To Summary Report'" class="p-l-1 no-wrap">
			<a> 
				<span class="icon" ng-click="initializePdfPrint(row.reportName , 'url' )">
					<i class="material-icons">print</i> 
				</span>
				{{'TEXT.PRINT' | translate}}
			</a>
		</li>
		<li ng-if="row.type == 'Product Summary Report' || row.type == 'Summary Report' || row.type == 'Ship-To Summary Report'" class="p-l-1 no-wrap" ng-click="retrieveReportDetail(row, 'pdf')"> 
			<a>
				<span class="icon" type="button" >					
					<img class="logo-img report-icon" src="resources/images/reports-icon/pdf-icon-blue.svg">
				</span>
				{{'TEXT.DOWNLOAD_PDF' | translate}}
			</a>
		</li>
		<li ng-if="row.type == 'Product Summary Report' || row.type == 'Summary Report' || row.type == 'Ship-To Summary Report'" class="p-l-1 no-wrap" class="p-l-1 no-wrap" ng-click="retrieveReportDetail(row, 'csv')"> 
			<a>
				<span class="icon">
					<img class="logo-img report-icon" src="resources/images/reports-icon/reports-export-excel.svg">
				</span>
				{{'TEXT.DOWNLOAD_CSV' | translate}}
			</a>
		</li>		
		<li ng-if="row.type == 'Product Summary Report' || row.type == 'Summary Report' || row.type == 'Ship-To Summary Report'" class="p-l-1 no-wrap" class="p-l-1 no-wrap" ng-click="retrieveReportDetail(row, 'print')">
			<a> 
				<span class="icon">
					<i class="material-icons">print</i> 
				</span>
				{{'TEXT.PRINT' | translate}}
			</a>
		</li>
		<li class="p-l-1 no-wrap"> 
			<a>
				<span class="icon is-danger" ng-click="reportToDelete = row;toggleDeleteReportModal(true)">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</span>
				{{'BUTTON.DELETE' | translate }}
			</a>
		</li>
	</ul>
	
	
</div>