<div class="columns is-marginless is-mobile">
	<div
		class="column is-3 is-paddingless is-hidden-desktop is-hidden-mobile">
		<a
			class="button is-ghost filter-small-screen is-hidden-desktop m-r-1 m-b-1"
			ng-click="toggleReportFilterModal(true)"><i
			class="material-icons">filter_list</i></a>
	</div>
	<div class="column is-2 is-paddingless is-hidden-tablet">
		<a
			class="button is-ghost filter-small-screen is-hidden-desktop m-r-1 m-b-1"
			ng-click="toggleReportFilterModal(true)"><i
			class="material-icons">filter_list</i></a>
	</div>
</div>