<!-- Desktop View -->
<div class="columns is-multiline">
	<div class="column is-3 cursor-pointer is-hidden-touch"
		ng-repeat="product in productList track by $index">
		<div class="columns is-multiline is-marginless"
			ng-class="hoverEffect{{$index}}"
			ng-mouseenter="itemOnHover($index, true)"
			ng-mouseleave="itemOnHover($index, false)" go-to-specific-product
			productCode="product.code">
			<div class="clearfix">&nbsp;</div>
			<div class="column is-12 is-paddingless has-text-centered">
				<figure class="image is-128x128">
					<img class="image is-128x128" ng-src="{{product.image}}">
				</figure>
				<div class="clearfix">&nbsp;</div>
			</div>
			<div
				class="column is-12 is-paddingless p-x-1 has-text-centered search-name-card display-table-100">
				<span class="product-name display-table-cell">{{product.name}}</span>
			</div>
			<div class="column is-12 is-paddingless has-text-centered">
				<span class="icon"
					ng-repeat="rating in displayCurrentRating(product.rating)">
					<i class="fa fa-star star-rated" aria-hidden="true"></i>
				</span> <span class="icon" ng-show="product.rating < 5"
					ng-repeat="rating in displayUnratedRating(product.rating)">
					<i class="fa fa-star-o star-unrated" aria-hidden="true"></i>
				</span>
				<div class="clearfix">&nbsp;</div>
			</div>
			<div class="column is-12 is-paddingless has-text-centered">
				<span class="product-price">{{product.price.formattedValue}}</span>
				<div class="clearfix">&nbsp;</div>
			</div>
			<div class="column is-12 is-paddingless has-text-centered" ng-class="[{'is-hidden' : product.hasColor}]">
				<div class="columns m-x-0 m-y-0 p-x-1 is-mobile is-multiline">
					<div class="m-x-auto">
						<div class="square-color-search-page m-b-1 m-x-1h m-x-auto"
							ng-repeat="image in product.imageList"
							ng-click="selectColor(product, image.code); $event.stopPropagation();"
							ng-class="[{'square-color-search-page-active': product.color == image.code}]">
							<div class="padding-top-1">
								<img ng-src="{{image.url}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>

<!-- Tablet & Mobile View -->
<div class="columns is-multiline">
	<div class="column is-4 cursor-pointer is-hidden-desktop"
		ng-repeat="product in productList track by $index">
		<div class="columns is-marginless is-multiline"
			ng-class="hoverEffect{{$index}}"
			ng-mouseenter="itemOnHover($index, true)"
			ng-mouseleave="itemOnHover($index, false)" go-to-specific-product
			productCode="product.code">
			<div class="clearfix">&nbsp;</div>
			<div class="column is-12 is-paddingless has-text-centered">
				<figure class="image is-128x128 search-img">
					<img class="image is-128x128" ng-src="{{product.image}}">
				</figure>
				<div class="clearfix">&nbsp;</div>
			</div>
			<div class="clearfix">&nbsp;</div>
			<div
				class="column is-12 is-paddingless p-x-1 has-text-centered search-name-card display-table-100">
				<span class="product-name display-table-cell">{{product.name}}</span>
			</div>
			<div class="column is-12 is-paddingless has-text-centered">
				<span class="icon"
					ng-repeat="rating in displayCurrentRating(product.rating)">
					<i class="fa fa-star star-rated" aria-hidden="true"></i>
				</span> <span class="icon" ng-show="product.rating < 5"
					ng-repeat="rating in displayUnratedRating(product.rating)">
					<i class="fa fa-star-o star-unrated" aria-hidden="true"></i>
				</span>
				<div class="clearfix">&nbsp;</div>
			</div>
			<div class="column is-12 is-paddingless has-text-centered">
				<span class="product-price">{{product.price.formattedValue}}</span>
				<div class="clearfix">&nbsp;</div>
			</div>
			<div class="column is-12 is-paddingless has-text-centered" ng-class="[{'is-hidden' : product.hasColor}]">
				<div
					class="columns m-x-0 m-y-0 p-x-1 has-text-centered center-x-y is-mobile is-multiline">
					<div class="m-x-auto">
						<div class="square-color-search-page m-b-1 m-x-1h m-x-auto"
							ng-repeat="image in product.imageList"
							ng-click="selectColor(product, image.code); $event.stopPropagation();"
							ng-class="[{'square-color-search-page-active': product.color == image.code}]">
							<div class="padding-top-1">
								<img ng-src="{{image.url}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>