<div class="columns is-mobile">
	<div class="column is-two-thirds">
		<p class="control has-icons-right">
			<label class="label filter-label">{{'SORT_BY' | translate | uppercase}}</label> <span
				class="select width-100-perc"> <select
				ng-model="selectedSortBy" class="filter-dropdown width-100-perc"
				ng-options="sortBy.name for sortBy in sortByDropdownList"
				ng-change="initializeProducts()">
			</select> <span class="icon is-large is-right"> <i
					class="material-icons">arrow_drop_down</i>
			</span>
			</span>
		</p>
	</div>
	<div class="column">
		<p class="control has-icons-right width-100px">
			<label class="label filter-label">{{'PER_PAGE' | translate | uppercase}}</label> <span
				class="select width-100-perc"> <select
				ng-model="selectedProductPerPage"
				class="filter-dropdown width-100-perc"
				ng-options="perPage for perPage in perPageDropdownList"
				ng-change="initializeProducts()">
			</select> <span class="icon is-large is-right"> <i
					class="material-icons">arrow_drop_down</i>
			</span></span>
	</div>
</div>