
<search-breadcrumbs></search-breadcrumbs>
<div class="container p-x-1">
	<div class="columns">
		<div class="column is-2 m-t-1 is-hidden-touch">
			<search-filter></search-filter>
		</div>
		<div class="column m-t-1">
			<div class="tile is-vertical">
				<div class="tile">
					<span class="search-title">{{'SEARCH_TEXT.SEARCHED_FOR' | translate}}
						"{{freeTextSearch}}"</span>
				</div>
				<div class="tile">
					<div class="tile is-vertical is-6">
						<div class="tile m-t-1">
							<search-selected-filter></search-selected-filter>
						</div>
						<div class="tile m-t-1">
							<search-dropdown-filter></search-dropdown-filter>
						</div>
					</div>
					<div class="tile is-vertical is-6">
						<div class="tile m-t-1 justify-right is-hidden-mobile">
							<search-display-options></search-display-options>
							<div class="display-options" ng-show="isDisplayOptionsOpen">
								<search-display-options-tab></search-display-options-tab>
							</div>
						</div>
						<div class="tile m-t-1 justify-right">
							<search-pagination></search-pagination>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
			<search-product-card></search-product-card>
			<div class="tile m-t-1 justify-right">
				<search-pagination></search-pagination>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>
<search-filter-modal></search-filter-modal>
<order-detail-modal></order-detail-modal>
<order-detail-mobile></order-detail-mobile>