<span class="filter-title">{{'FILTER_BY' | translate | uppercase}}:</span>
<div class="tile is-vertical m-t-1">
	<div class="tile m-b-1">
		<!-- Color Filter -->
		<ul class="filter">
			<div class="content">
				<h4 class="filter-name">{{'FILTER_SUB.COLOR' | translate}}</h4>
				<li ng-repeat="color in colorFilter track by $index">
					<p class="control">
						<input class="styled-checkbox" id="color-filter-{{$index}}"
							type="checkbox" value="{{color.name}}"
							ng-change="addFilter(color, color.selected)"
							ng-model="color.selected"> <label
							for="color-filter-{{$index}}" class="filter-value">{{color.name}}</label>
					</p>
				</li>
			</div>
		</ul>
	</div>
	<div class="tile m-b-1">
		<!-- Price Filter -->
		<ul class="filter m-t-1">
			<div class="content">
				<h4 class="filter-name">{{'FILTER_SUB.PRICE' | translate}}</h4>
				<li ng-repeat="price in priceFilter track by $index">
					<p class="control">
						<input class="styled-checkbox" id="price-filter-{{$index}}"
							type="checkbox" value="{{price.name}}"
							ng-change="addFilter(price, price.selected)"
							ng-model="price.selected"> <label
							for="price-filter-{{$index}}" class="filter-value">{{price.name}}</label>
					</p>
				</li>
			</div>
		</ul>
	</div>
	<div class="tile m-b-1">
		<!-- Fit Filter -->
		<ul class="filter m-t-1">
			<div class="content">
				<h4 class="filter-name">{{'FILTER_SUB.FIT' | translate}}</h4>
				<li ng-repeat="fit in fitFilter track by $index">
					<p class="control">
						<input class="styled-checkbox" id="fit-filter-{{$index}}"
							type="checkbox" value="{{fit.name}}"
							ng-change="addFilter(fit, fit.selected)" ng-model="fit.selected">
						<label for="fit-filter-{{$index}}" class="filter-value">{{fit.name}}</label>
					</p>
				</li>
			</div>
		</ul>
	</div>
	<div class="tile m-b-1">
		<!-- Gender Filter -->
		<ul class="filter m-t-1">
			<div class="content">
				<h4 class="filter-name">{{'FILTER_SUB.GENDER' | translate}}</h4>
				<li ng-repeat="gender in genderFilter track by $index">
					<p class="control">
						<input class="styled-checkbox" id="gender-filter-{{$index}}"
							type="checkbox" value="{{gender.name}}"
							ng-change="addFilter(gender, gender.selected)"
							ng-model="gender.selected"> <label
							for="gender-filter-{{$index}}" class="filter-value">{{gender.name}}</label>
					</p>
				</li>
			</div>
		</ul>
	</div>
	<div class="tile m-b-1">
		<!-- Size Filter -->
		<ul class="filter m-t-1">
			<div class="content">
				<h4 class="filter-name">{{'FILTER_SUB.SIZE' | translate}}</h4>
				<li ng-repeat="size in sizeFilter track by $index">
					<p class="control">
						<input class="styled-checkbox" id="size-filter-{{$index}}"
							type="checkbox" value="{{size.name}}"
							ng-change="addFilter(size, size.selected)"
							ng-model="size.selected"> <label
							for="size-filter-{{$index}}" class="filter-value">{{size.name}}</label>
					</p>
				</li>
			</div>
		</ul>
	</div>
</div>