<!-- Desktop & Tablet View -->
<div ng-repeat="headline in headlines" class="is-hidden-mobile">
	<!-- Headline - Left image -->
	<div class="columns is-paddingless is-marginless m-t-2 is-multiline"
		ng-if="$even">
		<div class="column is-12 is-paddingless is-marginless">
			<div class="columns is-paddingless is-marginless is-multiline">
				<div class="column is-12 is-paddingless is-marginless">
					<div class="horizontal-line-black"></div>
				</div>
				<div
					class="column is-6 is-paddingless is-marginless headline-image-left display-table"
					ng-style="{'background-image':'url({{headline.image}})'}">
					<div class="display-table-cell p-x-3">
						<div class="headline-message-container"
							ng-if="headline.message.length > 0 && headline.message != null">
							<span class="headline-message">{{headline.message}}</span>
						</div>
					</div>
				</div>
				<div class="column is-6 p-r-0 p-t-2 p-l-2">
					<div class="columns is-multiline is-marginless">
						<div
							class="column is-12 p-l-0 p-r-3 p-b-0 border-bottom-red-right">
							<span class="login-headline-title-right">{{headline.title}}</span>
						</div>
						<div class="column is-12 p-l-0 p-r-3"
							ng-repeat="content in headline.contents">
							<span class="login-headline-content">{{content.content}}</span>
						</div>
						<div class="column is-12 p-l-0 p-r-3">
							<a class="button is-big">{{'BUTTON.BIG_BUTTON' | translate | uppercase}} <i class="material-icons">arrow_forward</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Headline - Right image - Desktop & Tablet View -->
	<div class="columns is-paddingless is-marginless m-t-4 is-multiline"
		ng-if="$odd">
		<div class="column is-12 is-paddingless is-marginless">
			<div class="columns is-paddingless is-marginless is-multiline">
				<div
					class="column is-12 border-bottom-red m-b-2 p-l-2 headline-title-left">
					<span class="login-headline-title-left">{{headline.title}}</span>
				</div>
				<div class="column is-6 p-l-2 p-t-2 p-r-2">
					<div class="columns is-multiline is-marginless">
						<div class="column is-12 p-x-0"
							ng-repeat="content in headline.contents">
							<span class="login-headline-content">{{content.content}}</span>
						</div>
						<div class="column is-12 p-x-0">
							<a class="button is-big">{{'BUTTON.BIG_BUTTON' | translate | uppercase}} <i class="material-icons">arrow_forward</i></a>
						</div>
					</div>
				</div>
				<div
					class="column is-6 is-paddingless is-marginless headline-image-right display-table"
					ng-style="{'background-image':'url({{headline.image}})'}">
					<div
						class="display-table-cell p-x-3 headline-image-right-border-bottom">
						<div class="headline-message-container"
							ng-if="headline.message.length > 0 && headline.message != null">
							<span class="headline-message">{{headline.message}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mobile View -->
<div ng-repeat="headline in headlines" class="is-hidden-tablet">
	<!-- Headline - Left image -->
	<div class="columns is-paddingless is-marginless is-multiline"
		ng-if="$even">
		<div class="column is-12 is-paddingless is-marginless">
			<div class="columns is-paddingless is-marginless is-multiline">
				<div
					class="column is-12 is-paddingless is-marginless headline-image-left-mobile display-table max-width-100"
					ng-style="{'background-image':'url({{headline.image}})'}">
					<div class="display-table-cell p-x-3">
						<div class="headline-message-container"
							ng-if="headline.message.length > 0 && headline.message != null">
							<span class="headline-message-mobile">{{headline.message}}</span>
						</div>
					</div>
				</div>
				<div class="column is-12 p-x-0 p-t-2">
					<div class="columns is-multiline is-marginless">
						<div
							class="column is-12 p-x-2 p-b-0 has-text-centered">
							<span class="login-headline-title-mobile">{{headline.title}}</span>
						</div>
						<div class="column is-12 is-paddingless m-l-3 border-bottom-red-right"></div>
						<div class="column is-12"
							ng-repeat="content in headline.contents">
							<span class="login-headline-content">{{content.content}}</span>
						</div>
						<div class="column is-12 has-text-centered">
							<a class="button is-big">{{'BUTTON.BIG_BUTTON' | translate | uppercase}} <i class="material-icons">arrow_forward</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Headline - Right image - Mobile View -->
	<div class="columns is-paddingless is-marginless is-multiline"
		ng-if="$odd">
		<div class="column is-12 is-paddingless is-marginless">
			<div class="columns is-paddingless is-marginless is-multiline">
				<div
					class="column is-12 is-paddingless is-marginless headline-image-right-mobile display-table max-width-100"
					ng-style="{'background-image':'url({{headline.image}})'}">
					<div class="display-table-cell p-x-3">
						<div class="headline-message-container"
							ng-if="headline.message.length > 0 && headline.message != null">
							<span class="headline-message-mobile">{{headline.message}}</span>
						</div>
					</div>
				</div>
				<div class="column is-12 p-x-0 p-t-2">
					<div class="columns is-multiline is-marginless">
						<div
							class="column is-12 p-x-2 p-b-0 has-text-centered">
							<span class="login-headline-title-mobile">{{headline.title}}</span>
						</div>
						<div class="column is-12 is-paddingless m-r-3 border-bottom-red-left"></div>
						<div class="column is-12"
							ng-repeat="content in headline.contents">
							<span class="login-headline-content">{{content.content}}</span>
						</div>
						<div class="column is-12 has-text-centered">
							<a class="button is-big">{{'BUTTON.BIG_BUTTON' | translate | uppercase}} <i class="material-icons">arrow_forward</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>