<div class="columns is-mobile is-multiline">
	<div class="column is-12 p-t-3 p-b-0 is-hidden-mobile">
		<figure class="m-x-0 m-y-0">
			<img class="image login-logo-img"
				src="resources/images/PTU_Logo/Chrome@2x.png">
		</figure>
	</div>
	<div class="column is-12 p-b-0 is-hidden-tablet">
		<div class="columns is-mobile is-paddingless is-marginless">
			<div class="column is-6">
				<figure class="m-x-0 m-y-0">
					<img class="image login-logo-img-mobile"
						src="resources/images/PTU_Logo/Chrome@2x.png">
				</figure>
			</div>
			<div class="column is-6 display-table">
				<div class="display-table-cell has-text-centered">
					<span class="login-heading-mobile-bold"> {{'TEXT.TOUGH' | translate | uppercase}}</span>&nbsp;<span
						class="login-heading-mobile">{{'TEXT.TOOLS' | translate | uppercase}}</span>&nbsp;<span
						class="login-heading-mobile">{{'TEXT.FOR' | translate | uppercase}}</span>&nbsp; <br /> <span
						class="login-heading-mobile-bold">{{'TEXT.TOUGH' | translate | uppercase}}</span>&nbsp;<span
						class="login-heading-mobile">{{'TEXT.JOBS' | translate | uppercase}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-12 m-t-1 has-text-centered is-paddingless">
		<span class="error-message" ng-show="invalidCredentials">{{'TEXT.INVALID_CRED' | translate}}</span>
		<div class="clearfix" ng-show="!invalidCredentials">&nbsp;</div>
	</div>
	<div class="column is-12 has-text-centered is-hidden-mobile p-t-0">
		<p class="control m-b-1">
			<input type="text" class="input" placeholder="Email" ng-model="email"
				ng-enter="login(email, password)" ng-focus="clearError()"/>
		</p>
		<p class="control">
			<input type="password" class="input" placeholder="Password"
				ng-model="password" ng-enter="login(email, password)" ng-focus="clearError()"/>
		</p>
	</div>
	<div class="column is-12 p-x-3 has-text-centered is-hidden-tablet p-t-0">
		<p class="control m-b-1">
			<input type="text" class="input" placeholder="Email" ng-model="email"
				ng-enter="login(email, password)" />
		</p>
		<p class="control">
			<input type="password" class="input" placeholder="Password"
				ng-model="password" ng-enter="login(email, password)" />
		</p>
	</div>
	<div class="column is-12 has-text-centered">
		<a class="button is-primary" ng-click="login(email, password)">{{'TEXT.SIGNIN' | translate | uppercase}}<i
			class="material-icons">arrow_forward</i></a>
	</div>
	<div class="column is-12 has-text-centered">
		<a class="login-link no-underline">{{'TEXT.FORGOT' | translate}}</a>
	</div>
	<div class="column is-12 has-text-centered">
		<a class="login-link no-underline">{{'TEXT.REGISTER' | translate}}</a>
	</div>
	<div class="column is-12 has-text-centered">
		<ul>
			<li><div class="field is-grouped center-x-y">
					<p class="control">
						<a class="nav-item no-underline login-icon-link"><i
							class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
					</p>
					<p class="control">
						<a class="nav-item no-underline login-icon-link"><i
							class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
					</p>
					<p class="control">
						<a class="nav-item no-underline login-icon-link"><i
							class="fa fa-telegram fa-lg" aria-hidden="true"></i></a>
					</p>
					<p class="control">
						<a class="nav-item no-underline login-icon-link"><i
							class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
					</p>
				</div></li>
		</ul>
	</div>
</div>