<!-- Desktop View -->
<div
	class="columns is-paddingless is-marginless login-background-image is-hidden-touch">
	<div class="column is-3 is-offset-1 login-container">
		<div ng-include="'resources/views/login/login-form.html'"></div>
	</div>
	<div class="column is-6 is-offset-1 m-t-4">
		<span class="login-heading-desktop">{{'HOME.HEADING' | translate | uppercase}}</span>
	</div>
</div>

<!-- Tablet View -->
<div class="login-background-image is-hidden-desktop is-hidden-mobile">
	<div
		class="columns is-paddingless is-marginless login-border-top-tablet">
		<div class="column is-4 login-container">
			<div ng-include="'resources/views/login/login-form.html'"></div>
		</div>
		<div class="column is-6 m-l-2 m-t-4">
			<div class="columns is-paddingless is-marginless is-multiline">
				<div class="column is-12 is-paddingless is-marginless">
					<span class="login-heading-tablet-bold">{{'TEXT.TOUGH' | translate | uppercase}}</span>
				</div>
				<div class="column is-12 is-paddingless is-marginless">
					<span class="login-heading-tablet">{{'TEXT.TOOLS' | translate | uppercase}}</span>
				</div>
				<div class="column is-12 is-paddingless is-marginless">
					<span class="login-heading-tablet">{{'TEXT.FOR' | translate | uppercase}}</span>
				</div>
				<div class="column is-12 is-paddingless is-marginless">
					<span class="login-heading-tablet-bold">{{'TEXT.TOUGH' | translate | uppercase}}</span>
				</div>
				<div class="column is-12 is-paddingless is-marginless">
					<span class="login-heading-tablet">{{'TEXT.JOBS' | translate | uppercase}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mobile View -->
<div class="columns is-paddingless is-marginless login-background-image-mobile is-hidden-tablet">
	<div class="column is-12 login-container-mobile">
		<div ng-include="'resources/views/login/login-form.html'"></div>
	</div>
</div>

<div ng-include="'resources/views/login/headline.html'"></div>
<div ng-include="'resources/views/common/footer.html'"></div>
<div ng-http-loader template="resources/views/common/loading-modal.html"></div>