<div class="column is-12 is-paddingless ship-to-summary-tab container">
	<table id="ship-to-table" class="table footable row-border hover responsive" cellspacing="0" >
		<thead>
			<tr>
				<th class="is-hidden"></th>
				<th class="no-wrap align-middle m-t-1 all" data-priority="1" ng-click="resetSort(1)"><span>{{'TEXT.SHIP_TO' | translate}}</span></th>
				<th class="no-wrap align-middle m-t-1 all" data-priority="1" ng-click="resetSort(2)"><span>{{'TABLE_HEADER.SHIP_TO_NAME' | translate}}</span></th>
				<th class="align-middle m-t-1 all" data-priority="2" ng-click="resetSort(3)"><span>{{'TABLE_HEADER.CITY' | translate}}</span></th>
				<th class="align-middle m-t-1" data-priority="2" ng-click="resetSort(4)"><span>{{'TABLE_HEADER.STATE' | translate}}</span></th>
				<th class="m-t-1 total-shipped" data-priority="2" ng-click="resetSort(5)"><span>{{'TABLE_HEADER.TOTAL_SHIP' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(6)"><span>{{'TABLE_HEADER.JAN' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(7)"><span>{{'TABLE_HEADER.FEB' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(8)"><span>{{'TABLE_HEADER.MAR' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(9)"><span>{{'TABLE_HEADER.APR' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(10)"><span>{{'TABLE_HEADER.MAY' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(11)"><span>{{'TABLE_HEADER.JUN' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(12)"><span>{{'TABLE_HEADER.JUL' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(13)"><span>{{'TABLE_HEADER.AUG' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(14)"><span>{{'TABLE_HEADER.SEP' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(15)"><span>{{'TABLE_HEADER.OCT' | translate}}</span></th>
				<th class="m-t-1" data-priority="3" ng-click="resetSort(16)"><span>{{'TABLE_HEADER.NOV' | translate}}</span></th>
				<th class="m-t-1 dec" data-priority="3" ng-click="resetSort(17)"><span>{{'TABLE_HEADER.DEC' | translate}}</span></th>
			</tr>
		</thead>
		<tbody><input type="hidden" ng-repeat-start="item in shipToData track by $index" class="report-title is-hidden" />
			<tr ng-repeat="row in shipToData[$index].summary track by $index">
				<td ng-if ="item.unit != 'Both'" class="light-blue size-14 no-wrap is-hidden">{{item.name}} <span class="is-hidden">*{{row.Ship_To}}</span> </td>
				<td ng-if ="item.unit == 'Both'" class="light-blue size-14 no-wrap is-hidden">{{item.name}} <span class="is-hidden">*{{item.type}}</span></td>
				<td class="no-wrap">{{row.Ship_To}}</td> 
				<td class="">{{row.Ship_To_Name}}</td>
				<td  class="has-text-left ">{{row.City}}</td> 
				<td class="has-text-left max-w-50 state">{{row.State}}</td>
				
				<td class="has-text-left report-content no-wrap" ng-init="item.total.totalShipped = item.total.totalShipped+row['Total ($) Shipped']" ng-if="row['Total ($) Shipped'] != undefined">{{row['Total ($) Shipped']}}</td>
				<td class="has-text-left report-content no-wrap" ng-init="item.total.totalShipped = item.total.totalShipped+row['Total (MSF) Shipped']" ng-if="row['Total (MSF) Shipped'] != undefined">{{row['Total (MSF) Shipped']}}</td>
				
				<td class="has-text-left report-content no-wrap" ng-if="row['Jan($)'] != 0 && row['Jan($)'] != undefined">{{row['Jan($)']}}</td>		
				<td class="has-text-left report-content no-wrap"  ng-if="row['Jan(MSF)'] != 0 && row['Jan(MSF)'] != undefined">{{row['Jan(MSF)']}}</td>	
				<td class="has-text-left report-content no-wrap"  ng-if="row['Jan($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap"  ng-if="row['Jan(MSF)'] == 0">-</td>	
					
				<td class="has-text-left report-content no-wrap" ng-if="row['Feb($)'] != 0 && row['Feb($)'] != undefined">{{row['Feb($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Feb(MSF)'] != 0 && row['Feb(MSF)'] != undefined">{{row['Feb(MSF)']}}</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Feb($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Feb(MSF)'] == 0">-</td>			
							
				<td class="has-text-left report-content no-wrap" ng-if="row['Mar($)'] != 0 && row['Mar($)'] != undefined">{{row['Mar($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Mar(MSF)'] != 0 && row['Mar(MSF)'] != undefined">{{row['Mar(MSF)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Mar($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Mar(MSF)'] == 0">-</td>			
								
				<td class="has-text-left report-content no-wrap" ng-if="row['Apr($)'] != 0 && row['Apr($)'] != undefined">{{row['Apr($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Apr(MSF)'] != 0 && row['Apr(MSF)'] != undefined">{{row['Apr(MSF)']}}</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Apr($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Apr(MSF)'] == 0">-</td>			
								
				<td class="has-text-left report-content no-wrap" ng-if="row['May($)'] != 0 && row['May($)'] != undefined">{{row['May($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['May(MSF)'] != 0 && row['May(MSF)'] != undefined">{{row['May(MSF)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['May($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['May(MSF)'] == 0">-</td>				
								
				<td class="has-text-left report-content no-wrap" ng-if="row['Jun($)'] != 0 && row['Jun($)'] != undefined">{{row['Jun($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Jun(MSF)'] != 0 && row['Jun(MSF)'] != undefined">{{row['Jun(MSF)']}}</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Jun($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Jun(MSF)'] == 0">-</td>			
							
				<td class="has-text-left report-content no-wrap" ng-if="row['Jul($)'] != 0 && row['Jul($)'] != undefined">{{row['Jul($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Jul(MSF)'] != 0 && row['Jul(MSF)'] != undefined">{{row['Jul(MSF)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Jul($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Jul(MSF)'] == 0">-</td>					
							
				<td class="has-text-left report-content no-wrap" ng-if="row['Aug($)'] != 0 && row['Aug($)'] != undefined">{{row['Aug($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Aug(MSF)'] != 0 && row['Aug(MSF)'] != undefined">{{row['Aug(MSF)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Aug($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Aug(MSF)'] == 0">-</td>				
						
				<td class="has-text-left report-content no-wrap" ng-if="row['Sep($)'] != 0 && row['Sep($)'] != undefined">{{row['Sep($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Sep(MSF)'] != 0 && row['Sep(MSF)'] != undefined">{{row['Sep(MSF)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Sep($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Sep(MSF)'] == 0">-</td>			
						
				<td class="has-text-left report-content no-wrap" ng-if="row['Oct($)'] != 0 && row['Oct($)'] != undefined">{{row['Oct($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Oct(MSF)'] != 0 && row['Oct(MSF)'] != undefined">{{row['Oct(MSF)']}}</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Oct($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Oct(MSF)'] == 0">-</td>		
							
				<td class="has-text-left report-content no-wrap" ng-if="row['Nov($)'] != 0 && row['Nov($)'] != undefined">{{row['Nov($)']}}</td>
				<td class="has-text-left report-content no-wrap" ng-if="row['Nov(MSF)'] != 0 && row['Nov(MSF)'] != undefined">{{row['Nov(MSF)']}}</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Nov($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap" ng-if="row['Nov(MSF)'] == 0">-</td>		
								
				<td class="has-text-left report-content no-wrap dec" ng-if="row['Dec($)'] != 0 && row['Dec($)'] != undefined">{{row['Dec($)']}}</td>
				<td class="has-text-left report-content no-wrap dec" ng-if="row['Dec(MSF)'] != 0 && row['Dec(MSF)'] != undefined">{{row['Dec(MSF)']}}</td>
				<td class="has-text-left report-content no-wrap dec" ng-if="row['Dec($)'] == 0">-</td>	
				<td class="has-text-left report-content no-wrap dec" ng-if="row['Dec(MSF)'] == 0">-</td>			
			</tr>
			<input type="hidden" ng-repeat-end="" value="{{item.total.name}}" class="is-hidden" /> 
		</tbody>
		<tfoot>
			<tr class="report-mFooter">
				<td class="is-hidden"></td>
				<td class="has-text-right" colspan="4">{{'TABLE_HEADER.TOTAL_FOR' | translate}} <label class="ng-binding" ng-repeat="division in newReport.division">{{division}}{{$last ? '' : ', '}} Products</label></td>
				<td class="has-text-left">{{getTotalValues().totalShipped}}</td>
				<td class="has-text-left">{{getTotalValues().totalJan}}</td>
				<td class="has-text-left">{{getTotalValues().totalFeb}}</td>
				<td class="has-text-left">{{getTotalValues().totalMar}}</td>
				<td class="has-text-left">{{getTotalValues().totalApr}}</td>
				<td class="has-text-left">{{getTotalValues().totalMay}}</td>
				<td class="has-text-left">{{getTotalValues().totalJun}}</td>
				<td class="has-text-left">{{getTotalValues().totalJul}}</td>
				<td class="has-text-left">{{getTotalValues().totalAug}}</td>
				<td class="has-text-left">{{getTotalValues().totalSep}}</td>
				<td class="has-text-left">{{getTotalValues().totalOct}}</td>
				<td class="has-text-left">{{getTotalValues().totalNov}}</td>
				<td class="has-text-left dec">{{getTotalValues().totalDec}}</td>
			</tr>
		</tfoot>
	</table>
</div>