<div class="card column order-block">
	<div class="tile">
		<div class="tile">
			<header class="card-header content has-text-centered">
				<span class="card-title">{{ 'NAV_MENU.ORDERS' | translate}}</span>
			</header>
		</div>
		<div class="clearfix is-hidden-tablet">&nbsp;</div>
		<div class="tile is-hidden-touch">
			<p class="control max-width-100">
				<input id="order-filter" class="input search" type="search"
					placeholder="Search Orders" ng-change="filterOrderTable()"
					ng-model="orderFilter"> <span
					class="icon is-small is-right search-icon-card"
					ng-click="filterOrderTable()"> <i class="material-icons">search</i>
				</span>
			</p>
		</div>
	</div>
	<div class="tile is-hidden-desktop">
		<p class="control max-width-100 m-t-1">
			<input id="order-filter" class="input search" type="search"
				placeholder="Search Orders" ng-change="filterOrderTable()"
				ng-model="orderFilter"> <span
				class="icon is-small is-right search-icon-card"
				ng-click="filterOrderTable()"> <i class="material-icons">search</i>
			</span>
		</p>
	</div>
	<div class="columns m-t-2 is-mobile">
		<div class="column p-r-0">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content is-success">{{orderStatusShipped}}</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text is-success">{{ 'ORDER_TEXT.SHIPPED' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column p-x-0">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content is-warning">{{orderStatusPending}}</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text is-warning">{{ 'ORDER_TEXT.PENDING' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column p-l-0">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content is-danger">{{orderStatusOnHold}}</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text is-danger">{{ 'ORDER_TEXT.ON_HOLD' | translate | uppercase}}</span>
			</div>
		</div>
	</div>
	<div class="card-content" ng-if="ordersList.length > 0">
		<div class="overflow-auto height-200">
			<table id="homeOrder" class="table footable is-hidden-touch" datatable="ng" dt-options="hc.dtOptionsOrder" dt-column-defs="hc.dtColumnDefsOrder" dt-instance="hc.dtInstanceOrder"
		 			width="100%" data-filter="#order-filter" data-page-size="5">
				<thead>
					<tr>
						<th ng-click="resetSortOrder()">{{ 'TABLE_HEADER.ORDER_NO' | translate }}</th>
						<th ng-click="resetSortOrder()">{{ 'TABLE_HEADER.PO_NO' | translate }}</th>
						<th ng-click="resetSortOrder()">{{ 'TABLE_HEADER.DATE_ORDERED' | translate }}</th>
						<th data-priority="1" ng-click="resetSortOrder()">{{ 'TABLE_HEADER.STATUS' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in ordersList">
						<td class="max-w-200 text-ellipsis"><a href="#" ng-click="goToOrderDetails(row.code)">{{row.code}}</a></td>
						<td class="max-w-200 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.poNumber}}</span></td>
						<td class="max-w-200 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.placed | date:'MM/dd/yyyy'}}</span></td>
						<td
							ng-if="(row.statusDisplay | uppercase) == 'ON HOLD'"><div
								class="small-circle bg-danger"></div> {{row.statusDisplay |
							uppercase}}</td>
						<td class=""
							ng-if="(row.statusDisplay | uppercase) == 'PENDING'"><div
								class="small-circle bg-warning"></div> {{row.statusDisplay |
							uppercase}}</td>
						<td class=""
							ng-if="(row.statusDisplay | uppercase) == 'SHIPPED'"><div
								class="small-circle bg-success"></div> {{row.statusDisplay |
							uppercase}}</td>
						<td class=""
							ng-if="(row.statusDisplay | uppercase) == 'PROCESSING'">{{row.statusDisplay
							| uppercase}}</td>
						<td class=""
							ng-if="(row.statusDisplay | uppercase) == 'CANCELLED'">{{row.statusDisplay
							| uppercase}}</td>
					</tr>
				</tbody>
				<!-- <tfoot class="hide-if-no-paging" ng-show="ordersList.length > 5">
					<tr>
						<td colspan="4" align="center">
							<ul class="pagination"></ul>
						</td>
					</tr>
				</tfoot> -->
			</table>

			<table id="home-order-mobile" class="table footable is-hidden-desktop" datatable="ng" dt-options="hc.dtOptionsOrder" dt-column-defs="hc.dtColumnDefsOrder" dt-instance="hc.dtInstanceOrderM"
		 			width="100%" data-filter="#order-filter" data-page-size="5">
				<thead>
					<tr>
						<th class="center-text not-desktop toggle" data-sort-ignore="true">&nbsp;</th>
						<th data-priority="2" ng-click="resetSortOrderMobile()">{{ 'TABLE_HEADER.ORDER_NO' | translate }}</th>
						<th class="not-mobile" data-hide="phone,tablet" ng-click="resetSortOrderMobile()">{{ 'TABLE_HEADER.PO_NO' | translate }}</th>
						<th class="not-mobile" data-hide="phone,tablet" ng-click="resetSortOrderMobile()">{{ 'TABLE_HEADER.DATE_ORDERED' | translate }}</th>
						<th data-priority="2" ng-click="resetSortOrderMobile()">{{ 'TABLE_HEADER.STATUS' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in ordersList">
						<td class="has-text-centered">
							<!-- <i class="material-icons table-collapse-icon"></i> -->
						</td>
						<td class="max-w-200 text-ellipsis"><a href="#" ng-click="goToOrderDetails(row.code)">{{row.code}}</a></td>
						<td class="max-w-100 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.poNumber}}</span></td>
						<td class="max-w-100 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.placed | date:'MM/dd/yyyy'}}</span></td>
						<td
							ng-if="(row.statusDisplay | uppercase) == 'ON HOLD'"><div
								class="small-circle bg-danger"></div> {{row.statusDisplay |
							uppercase}}</td>
						<td
							ng-if="(row.statusDisplay | uppercase) == 'PENDING'"><div
								class="small-circle bg-warning"></div> {{row.statusDisplay |
							uppercase}}</td>
						<td
							ng-if="(row.statusDisplay | uppercase) == 'SHIPPED'"><div
								class="small-circle bg-success"></div> {{row.statusDisplay |
							uppercase}}</td>
						<td
							ng-if="(row.statusDisplay | uppercase) == 'PROCESSING'">{{row.statusDisplay
							| uppercase}}</td>
						<td ng-if="(row.statusDisplay | uppercase) == 'CANCELLED'">{{row.statusDisplay
							| uppercase}}</td>
					</tr>
				</tbody>
				<!-- <tfoot class="hide-if-no-paging" ng-show="ordersList.length > 5">
					<tr>
						<td colspan="4" align="center">
							<ul class="pagination"></ul>
						</td>
					</tr>
				</tfoot> -->
			</table>
		</div>

		<br />
		<div class="has-text-centered">
			<a class="button is-primary" ng-click="goToOrders()">{{ 'BUTTON.VIEW_ALL' | translate }} <i
				class="material-icons">arrow_forward</i>
			</a>
		</div>
	</div>
	<div class="card-content has-text-centered"
		ng-if="ordersList.length == 0">
		<span class="no-data-card">{{ 'ORDER_TEXT.NO_ORDER' | translate }}<br />{{ 'INVOICE_TEXT.SEARCH_CATALOG' | translate }}
		</span>
	</div>
</div>