<!-- <div class="bgimg-lg-home has-text-centered">
	
</div> -->

<section class="hero is-medium bgimg-lg-home">
	<div class="hero-body">
		<div class="container has-text-centered">
			<p class="title">{{ 'HOME.HEADING' | translate}}</p>
		</div>
	</div>
</section>