<div class="columns container is-fluid margin-0-mobile">
	<div class="clearfix is-hidden-tablet">&nbsp;</div>
	<div class="column center-x-y">
		<div class="p-x-2 p-y-2">
			<div class="tile is-vertical">
				<div class="tile center-x-y has-text-centered min-height-96">
					<span class="company-assurance-title">{{ 'HOME.COMPANY_ASSURANCE_TITLE' | translate}}</span>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<figure class="image">
						<img src="resources/images/customer-service@2x.jpg">
					</figure>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<div class="content">{{ 'HOME.HOME_TEXT' | translate}}</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y has-text-centered">
					<a class="button is-secondary">{{ 'HOME.LEARN_MORE' | translate}} <i
						class="material-icons">arrow_forward</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="column center-x-y">
		<div class="p-x-2 p-y-2">
			<div class="tile is-vertical">
				<div class="tile center-x-y has-text-centered min-height-96">
					<span class="company-assurance-title">{{ 'HOME.SATISFACTION' | translate}}</span>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<figure class="image">
						<img src="resources/images/satisfaction@2x.jpg">
					</figure>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<div class="content">{{ 'HOME.HOME_TEXT' | translate}}</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y has-text-centered">
					<a class="button is-secondary">{{ 'HOME.LEARN_MORE' | translate}} <i
						class="material-icons">arrow_forward</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="column center-x-y">
		<div class="p-x-2 p-y-2">
			<div class="tile is-vertical">
				<div class="tile center-x-y has-text-centered min-height-96">
					<span class="company-assurance-title">{{ 'HOME.CORPORATE_SERV' | translate}}</span>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<figure class="image">
						<img src="resources/images/corporate-services@2x.jpg">
					</figure>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<div class="content">{{ 'HOME.HOME_TEXT' | translate}}</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y has-text-centered">
					<a class="button is-secondary">{{ 'HOME.LEARN_MORE' | translate}} <i
						class="material-icons">arrow_forward</i></a>
				</div>
			</div>
		</div>
	</div>
</div>