<div class="card column order-block">
	<div class="tile">
		<div class="tile">
			<div class="tile">
				<header class="card-header content has-text-centered">
					<span class="card-title">{{ 'NAV_MENU.INVOICES' | translate}}</span>
				</header>
			</div>
			<div class="tile p-l-1 p-r-1-3f is-hidden-touch"
				ng-if="invoiceList.length > 0">
				<div class="tile">
					<a class="button p-x-0 p-y-0 invoice-btn"
						ng-click="changeInvoiceView(1)"> 
						<img ng-hide="invoiceView == 1" class="invoice-btn-img"
						src="resources/images/invoices_list_view@2x.png">
						<img ng-show="invoiceView == 1" class="invoice-btn-img"
						src="resources/images/invoices_list_view_active@2x.png">
					</a> &nbsp;&nbsp; <a class="button p-x-0 p-y-0 invoice-btn"
						ng-click="changeInvoiceView(2)"> 
						<img ng-show="invoiceView == 2" class="invoice-btn-img"
						src="resources/images/invoices_thumbnail_view@2x.png">
						<img ng-hide="invoiceView == 2" class="invoice-btn-img"
						src="resources/images/invoices_thumbnail_view_disabled@2x.png">
					</a>
				</div>
			</div>
		</div>
		<div class="tile is-hidden-touch">
			<p class="control has-icons-right max-width-100">
				<input class="input search" type="search" ng-model="invoiceFilter" ng-change="filterInvoiceTable()"
					placeholder="Search Invoices" id="invoice-filter"> <span
					class="icon is-small is-right"> <i class="material-icons">search</i>
				</span>
			</p>
		</div>
	</div>
	<div class="tile is-hidden-desktop">
		<p class="control has-icons-right max-width-100 m-t-1">
			<input class="input search" type="search" ng-model="invoiceFilter" ng-change="filterInvoiceTable()"
				placeholder="Search Invoices" id="invoice-filter"> <span
				class="icon is-small is-right"> <i class="material-icons">search</i>
			</span>
		</p>
	</div>
	<div class="columns m-t-2 is-mobile" ng-show="invoiceView == 1">		
		<div class="column">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content is-success">{{invoiceStatusPaid}}</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text is-success">{{ 'INVOICE_TEXT.PAID' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content is-warning">{{invoiceStatusOpen}}</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text is-warning">{{ 'INVOICE_TEXT.OPEN' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content is-danger">{{invoiceStatusPastDue}}</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text is-danger">{{ 'INVOICE_TEXT.PAST_DUE' | translate | uppercase}}</span>
			</div>
		</div>
	</div>
	<div class="card-content" ng-if="invoiceList.length > 0"
		ng-show="invoiceView == 1">
		<div class="overflow-auto height-200">
			<table id="home-invoice-table" class="table footable is-hidden-touch" datatable="ng" dt-options="hc.dtOptionsInvoice" dt-column-defs="hc.dtColumnDefsInvoice" dt-instance="hc.dtInstanceInvoice"
				width="100%" cellspacing="0" data-filter="#invoice-filter">
				<thead>
					<tr>
						<th class="not-desktop center-text toggle" data-sort-ignore="true">&nbsp;</th>
						<th ng-click="resetSortInvoice()">{{ 'TABLE_HEADER.INVOICE_NO' | translate}}</th>
						<th class="" ng-click="resetSortInvoice()">{{ 'TABLE_HEADER.PO_NO' | translate}}</th>
						<th class="" ng-click="resetSortInvoice()">{{ 'TABLE_HEADER.DATE_ORDERED' | translate}}</th>
						<th class="" data-priority="1" ng-click="resetSortInvoice()">{{ 'TABLE_HEADER.STATUS' | translate}}</th>
						<th data-sort-ignore="true" data-priority="2" ng-click="resetSortInvoice()">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in invoiceList">
						<td class="has-text-centered" ng-click="$timeout(loadAngular,500)">
						<!-- <i
							class="material-icons table-collapse-icon"></i> -->
						</td>
						<td class="max-w-200 text-ellipsis"><span class="max-w-100 text-ellipsis"><a href="#" ng-click="goToInvoiceDetail(row)">{{row.invoiceNumber}}</a></span></td>
						<td class="max-w-100 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.poNumber}}</span></td>
						<td class="">{{row.dateIssued}}</td>
						<td class="p-l-3 has-text-left no-wrap"
							ng-if="(row.status | uppercase) == 'PAST DUE'"><div
								class="small-circle bg-danger"></div><span class="m-l-1h invoice-status">{{row.status |
							uppercase}}</span></td>
						<td class="p-l-3 has-text-left no-wrap"
							ng-if="(row.status | uppercase) == 'OPEN'"><div
								class="small-circle bg-warning"></div><span class="m-l-1h invoice-status">{{row.status |
							uppercase}}</span></td>
						<td class="p-l-3 has-text-left no-wrap"
							ng-if="(row.status | uppercase) == 'PAID'"><div
								class="small-circle bg-success"></div><span class="m-l-1h invoice-status">{{row.status |
							uppercase}}</span></td>
						<td class="center-text"><a ng-if="(row.status | uppercase) != 'PAID'" class="button is-ghost" ng-click="payNow($event.currentTarget)">{{ 'BUTTON.PAY_NOW' | translate}}<span class="is-hidden invoiceNo">{{row.invoiceNumber}}</span>
								</a></td>
					</tr>
				</tbody>
			</table>
			<table id="home-invoice-table-mobile" class="table footable is-hidden-desktop" datatable="ng" dt-options="hc.dtOptionsInvoice" dt-column-defs="hc.dtColumnDefsInvoice" dt-instance="hc.dtInstanceInvoiceM"
		 			width="100%" data-filter="#invoice-filter">
				<thead>
					<tr>
						<th class="center-text toggle" data-sort-ignore="true">&nbsp;</th>
						<th data-priority="1" ng-click="resetSortInvoiceMobile()">{{ 'TABLE_HEADER.INVOICE_NO' | translate}}</th>
						<th class="" data-hide="phone,tablet" ng-click="resetSortInvoiceMobile()">{{ 'TABLE_HEADER.PO_NO' | translate}}</th>
						<th class="" data-hide="phone,tablet" ng-click="resetSortInvoiceMobile()">{{ 'TABLE_HEADER.DATE_ORDERED' | translate}}</th>
						<th class="center-text" data-priority="2" ng-click="resetSortInvoiceMobile()">{{ 'TABLE_HEADER.STATUS' | translate}}</th>
						<th data-sort-ignore="true">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in invoiceList">
						<td class="has-text-centered" ng-click="$timeout(loadAngular,500)">
							<!-- <i class="material-icons table-collapse-icon"></i> -->
						</td>
						<td class="max-w-200 text-ellipsis"><span class="max-w-100 text-ellipsis"><a href="#">{{row.invoiceNumber}}</a></span></td>
						<td class="max-w-100 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.poNumber}}</span></td>
						<td class="center-text">{{row.dateIssued}}</td>
						<td class="p-l-1 has-text-left"
							ng-if="(row.status | uppercase) == 'PAST DUE'"><div
								class="small-circle bg-danger"></div><span class="m-l-1h invoice-status">{{row.status |
							uppercase}}</span></td>
						<td class="p-l-1 has-text-left"
							ng-if="(row.status | uppercase) == 'OPEN'"><div
								class="small-circle bg-warning"></div><span class="m-l-1h invoice-status">{{row.status |
							uppercase}}</span></td>
						<td class="p-l-1 has-text-left"
							ng-if="(row.status | uppercase) == 'PAID'"><div
								class="small-circle bg-success"></div><span class="m-l-1h invoice-status">{{row.status |
							uppercase}}</span></td>
						<td class="center-text"><a ng-if="(row.status | uppercase) != 'PAID'" class="button is-ghost" ng-click="payNow($event.currentTarget)">{{ 'BUTTON.PAY_NOW' | translate}}
								<span class="is-hidden invoiceNo">{{row.invoiceNumber}}</span></a></td>
					</tr>
				</tbody>
			</table>

		</div>
		<br />
		<div class="has-text-centered">
			<a class="button is-primary" ng-click="goToInvoice()">{{'BUTTON.VIEW_ALL' | translate | uppercase}} <i
				class="material-icons">arrow_forward</i>
			</a>
		</div>
	</div>

	<div class="card-content p-x-0 is-hidden-touch"
		ng-if="invoiceList.length > 0" ng-show="invoiceView == 2">
		<div class="clearfix">&nbsp;</div>
		<div class="columns">
			<div class="tile is-1 center-x-y is-hidden-mobile">
				<button class="pagination-previous transparent"
					ng-disabled="invoiceIndex == 0"
					ng-click="changePage(invoiceIndex-1)">
					<i class="material-icons">keyboard_arrow_left</i>
				</button>
			</div>
			<div class="column">
				<div class="tile is-vertical">
					<div class="tile center-x-y">
						<figure class="image invoice-img-container">
							<img src="resources/images/invoice_1.png" class="invoice-img">
						</figure>
					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="tile center-x-y">
						<a class="button p-x-0 p-y-0 invoice-btn download-invoice"> <img
							class="invoice-btn-img"
							src="resources/images/download_invoice_icon@2x.png">
						</a>&nbsp;<a class="button p-x-0 p-y-0 invoice-btn view-invoice">
							<img class="view-invoice-btn-img"
							src="resources/images/view_invoice_icon@2x.png">
						</a>
					</div>
				</div>
			</div>
			<div class="column is-half">
				<div class="tile">
					<div class="tile is-vertical">
						<div class="tile">
							<span class="card-label">{{ 'TABLE_HEADER.INVOICE_NO' | translate}}</span>
						</div>
						<div class="tile">
							<span class="card-invoice-number   max-w-100 text-ellipsis">{{invoiceList[invoiceIndex].invoiceNumber}}</span>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="tile">
							<span class="card-label">{{ 'TABLE_HEADER.INVOICE_NO' | translate}}</span>
						</div>
						<div class="tile">
							<span class="card-value">{{invoiceList[invoiceIndex].dateIssued}}</span>
						</div>
						<div class="clearfix">&nbsp;</div>
					</div>
					<div class="tile is-vertical">
						<div class="tile">
							<span class="card-label">{{ 'TABLE_HEADER.PO_NO' | translate}}</span>
						</div>
						<div class="tile">
							<span class="card-value max-w-200 text-ellipsis">{{invoiceList[invoiceIndex].poNumber}}</span>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="tile">
							<span class="card-label">{{ 'TABLE_HEADER.STATUS' | translate}}</span>
						</div>
						<div class="tile">
							<span class="card-status is-danger"
								ng-if="invoiceList[invoiceIndex].status == 'PAST DUE'">{{invoiceList[invoiceIndex].status}}</span>
							<span class="card-status is-warning"
								ng-if="invoiceList[invoiceIndex].status == 'OPEN'">{{invoiceList[invoiceIndex].status}}</span>
							<span class="card-status is-success"
								ng-if="invoiceList[invoiceIndex].status == 'PAID'">{{invoiceList[invoiceIndex].status}}</span>
						</div>
						<div class="clearfix">&nbsp;</div>
					</div>
				</div>
				<div class="tile center-x-y has-text-centered is-hidden-tablet">
					<a class="button is-ghost">{{ 'BUTTON.PAY_NOW' | translate}}</a>
				</div>
			</div>
			<div class="tile is-1 center-x-y is-hidden-mobile">
				<button class="pagination-next transparent"
					ng-disabled="invoiceIndex+1 == invoiceList.length"
					ng-click="changePage(invoiceIndex+1)">
					<i class="material-icons">keyboard_arrow_right</i>
				</button>
			</div>
		</div>
		<div class="columns is-mobile">
			<div class="column">
				<nav class="pagination is-centered">
					<ul class="pagination-list">
						<li ng-show="invoiceIndex > 2 && invoiceList.length != 3"><span
							class="pagination-ellipsis">&hellip;</span></li>
						<li ng-repeat="page in totalPagesList"><a
							class="pagination-link" ng-click="changePage(page)"
							ng-class="{'is-current': invoiceIndex == page}">{{page+1}}</a></li>
						<li
							ng-show="invoiceList.length > invoiceIndex+2 && invoiceIndex != invoiceList.length-1"><span
							class="pagination-ellipsis">&hellip;</span></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="has-text-centered">
			<a class="button is-primary" ng-click="goToInvoice()">{{ 'BUTTON.PAY_NOW' | translate | uppercase}} <i
				class="material-icons">arrow_forward</i>
			</a>
		</div>
	</div>
	<div class="columns m-t-2 is-mobile" ng-if="invoiceList.length == 0">
		<div class="column">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content">0</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text">{{ 'INVOICE_TEXT.OPEN' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column">
			<div class="display-table">
				<div class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div class="circle__content">0</div>
						</div>
					</div>
				</div>
				&nbsp; <span class="circle-text">{{ 'INVOICE_TEXT.PAST_DUE' | translate | uppercase}}</span>
			</div>
		</div>
	</div>
	<div class="card-content p-x-0 has-text-centered"
		ng-if="invoiceList.length == 0">
		<span class="no-data-card">{{ 'INVOICE_TEXT.NO_INVOICE' | translate}}<br />{{ 'INVOICE_TEXT.SEARCH_CATALOG' | translate}}
		</span>
	</div>
</div>