<div class="container is-fluid is-marginless">
	<home-page-heading></home-page-heading>
	<div class="background-color-grey p-b-2">
		<div class="columns container is-fluid margin-0-mobile">
			<div class="clearfix is-hidden-tablet">&nbsp;</div>
			<div class="clearfix is-hidden-tablet">&nbsp;</div>
			<div class="clearfix is-hidden-tablet">&nbsp;</div>
			<div class="column is-6 p-t-0 margin-top-neg-25">
				<home-page-order-card></home-page-order-card>
			</div>
			<div class="clearfix is-hidden-tablet">&nbsp;</div>
			<div class="clearfix is-hidden-tablet">&nbsp;</div>
			<div class="clearfix is-hidden-tablet">&nbsp;</div>
			<div class="column is-6 p-t-0 margin-top-neg-25">
				<home-page-invoice-card></home-page-invoice-card>
			</div>
		</div>
		<div class="columns container is-fluid margin-0-mobile">
			<div class="column is-one-third">
				<home-page-recall-card></home-page-recall-card>
			</div>
			<div class="column">
				<home-page-recommended-card></home-page-recommended-card>
			</div>
		</div>
	</div>
	<home-page-banner></home-page-banner>
	<div class="clearfix">&nbsp;</div>
</div>