<div class="card column secondary-card">
	<header class="card-header">
		<span>Recall Notice</span>
	</header>
	<div
		class="clearfix is-hidden-mobile is-hidden-desktop">&nbsp;</div>
	<div class="card-content">
		<div class="tile">
			<div class="clearfix is-hidden-tablet">&nbsp;</div>
			<div
				class="tile center-x-y is-vertical is-hidden-tablet-only is-hidden-widescreen">
				<div class="tile center-x-y">
					<figure class="image is-128x128-home">
						<img src="resources/images/einhell_drill.jpeg">
					</figure>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<div class="content">{{'HOME.HOME_TEXT' | translate}}</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y has-text-centered">
					<a class="button is-secondary">{{'HOME.SEE_DETAIL' | translate}} <i
						class="material-icons">arrow_forward</i></a>
				</div>
			</div>
			<div
				class="tile center-x-y is-hidden-touch is-hidden-desktop-only">
				<div class="tile center-x-y">
					<figure class="image is-128x128-home">
						<img src="resources/images/einhell_drill.jpeg">
					</figure>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y is-vertical">
					<div class="tile">
						<div class="content">{{'HOME.HOME_TEXT' | translate}}</div>
					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="tile center-x-y has-text-centered">
						<a class="button is-secondary">{{'HOME.SEE_DETAIL' | translate}} <i
							class="material-icons">arrow_forward</i></a>
					</div>
				</div>
			</div>
			<div
				class="tile is-vertical is-hidden-desktop is-hidden-mobile">
				<div class="tile center-x-y">
					<figure class="image is-128x128-home">
						<img src="resources/images/einhell_drill.jpeg">
					</figure>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y">
					<div class="content">{{'HOME.HOME_TEXT' | translate}}</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="tile center-x-y has-text-centered">
					<a class="button is-secondary">{{'HOME.SEE_DETAIL' | translate}} <i
						class="material-icons">arrow_forward</i></a>
				</div>
			</div>
		</div>
	</div>
</div>