<div class="card column secondary-card">
	<div class="columns m-b-0 is-mobile is-centered">
		<div class="column is-7 p-b-0">
			<header class="card-header center-x-y has-text-centered">
				<span>{{'HOME.RECOMMENDED_FOR' | translate}}</span>
			</header>
		</div>
	</div>
	<div
		class="clearfix is-hidden-mobile is-hidden-desktop-only is-hidden-widescreen">&nbsp;</div>
	<div class="card-content p-x-0">
		<div class="columns is-mobile is-multiline">
			<div class="column is-12 is-paddingless p-x-1">
				<div class="columns is-marginless is-mobile">

					<!-- Desktop View -->
					<div class="column is-3 m-x-auto is-hidden-touch"
						ng-repeat="product in visibleRecommendedProductsDesktop">
						<div class="columns is-multiline is-mobile is-marginless">
							<div class="column is-12 is-paddingless m-b-2">
								<figure class="image is-128x128">
									<img class="image is-128x128" ng-src="{{product.image}}">
								</figure>
							</div>
							<div
								class="column is-12 is-paddingless has-text-centered recommended-product-name display-table-100">
								<a href="" class="tool-name word-break-all display-table-cell" go-to-specific-product productCode="product.productCode">{{product.name}}</a>
							</div>
							<div class="column is-12 has-text-centered">
								<span class="tool-price word-break-all">{{currency}}{{product.price | number : 2}}</span>
							</div>
						</div>
					</div>

					<!-- Tablet View -->
					<div
						class="column is-6 m-x-auto is-hidden-desktop is-hidden-mobile"
						ng-repeat="product in visibleRecommendedProductsTablet">
						<div class="columns is-multiline is-mobile is-marginless">
							<div class="column is-12 is-paddingless m-b-2">
								<figure class="image is-64x64">
									<img class="image is-64x64" ng-src="{{product.image}}">
								</figure>
							</div>
							<div
								class="column is-12 is-paddingless has-text-centered recommended-product-name display-table-100">
								<a href="" class="tool-name word-break-all display-table-cell" go-to-specific-product productCode="product.productCode">{{product.name}}</a>
							</div>
							<div class="column is-12 has-text-centered">
								<span class="tool-price word-break-all">{{currency}}{{product.price | number : 2}}</span>
							</div>
						</div>
					</div>

					<!-- Mobile View -->
					<div class="column is-12 m-x-auto is-hidden-tablet">
						<div class="columns is-multiline is-mobile is-marginless">
							<div class="column is-12 is-paddingless m-b-2">
								<figure class="image is-128x128">
									<img class="image is-128x128"
										ng-src="{{recommendedProductsMobile[recommendedProductsIndexMobile].image}}">
								</figure>
							</div>
							<div
								class="column is-12 is-paddingless has-text-centered recommended-product-name display-table-100">
								<a href="" class="tool-name word-break-all display-table-cell" go-to-specific-product productCode="product.productCode">{{recommendedProductsMobile[recommendedProductsIndexMobile].name}}</a>
							</div>
							<div class="column is-12 is-paddingless has-text-centered">
								<span class="tool-price word-break-all">{{currency}}{{recommendedProductsMobile[recommendedProductsIndexMobile].price
									| number : 2}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 is-paddingless">
				<!-- Desktop View -->
				<div class="columns is-mobile is-hidden-touch is-marginless is-centered">
					<div class="column is-5 is-paddingless">
						<nav class="pagination is-centered"
							ng-if="recommendedProductsDesktop.length > 1">
							<button class="pagination-previous transparent"
								ng-disabled="recommendedProductsIndexDesktop == 0"
								ng-click="decrementPageIndex('recommendedProductsIndexDesktop','recommendedProductDesktop')">
								<i class="material-icons">keyboard_arrow_left</i>
							</button>
							<ul class="pagination-list">
								<li
									ng-show="recommendedProductsIndexDesktop > 1 && recommendedProductsDesktop.length != 3"><span
									class="pagination-ellipsis">&hellip;</span></li>
								<li ng-repeat="page in recommendedProductsPagesDesktop"><a
									class="pagination-link"
									ng-click="updatePageIndex('recommendedProductsIndexDesktop',page-1,'recommendedProductDesktop')"
									ng-class="{'is-current': recommendedProductsIndexDesktop == {{page}}-1}">{{page}}</a>
								</li>
								<li
									ng-show="recommendedProductsDesktop.length > recommendedProductsIndexDesktop+2 && recommendedProductsIndexDesktop != recommendedProductsDesktop.length-1 && recommendedProductsDesktop.length > 3"><span
									class="pagination-ellipsis">&hellip;</span></li>
							</ul>
							<button class="pagination-next transparent"
								ng-disabled="recommendedProductsIndexDesktop+1 == recommendedProductsDesktop.length"
								ng-click="incrementPageIndex('recommendedProductsIndexDesktop','recommendedProductDesktop')">
								<i class="material-icons">keyboard_arrow_right</i>
							</button>
						</nav>
					</div>
				</div>

				<!-- Tablet View -->
				<div
					class="columns is-mobile is-hidden-desktop is-hidden-mobile is-marginless is-centered">
					<div class="column is-6 is-paddingless">
						<nav class="pagination is-centered"
							ng-if="recommendedProductsTablet.length > 1">
							<button class="pagination-previous transparent"
								ng-disabled="recommendedProductsIndexTablet == 0"
								ng-click="decrementPageIndex('recommendedProductsIndexTablet','recommendedProductTablet')">
								<i class="material-icons">keyboard_arrow_left</i>
							</button>
							<ul class="pagination-list">
								<li
									ng-show="recommendedProductsIndexTablet > 1 && recommendedProductsTablet.length != 3"><span
									class="pagination-ellipsis">&hellip;</span></li>
								<li ng-repeat="page in recommendedProductsPagesTablet"><a
									class="pagination-link"
									ng-click="updatePageIndex('recommendedProductsIndexTablet',page-1,'recommendedProductTablet')"
									ng-class="{'is-current': recommendedProductsIndexTablet == {{page}}-1}">{{page}}</a>
								</li>
								<li
									ng-show="recommendedProductsTablet.length > recommendedProductsIndexTablet+2 && recommendedProductsIndexTablet != recommendedProductsTablet.length-1 && recommendedProductsTablet.length > 3"><span
									class="pagination-ellipsis">&hellip;</span></li>
							</ul>
							<button class="pagination-next transparent"
								ng-disabled="recommendedProductsIndexTablet+1 == recommendedProductsTablet.length"
								ng-click="incrementPageIndex('recommendedProductsIndexTablet','recommendedProductTablet')">
								<i class="material-icons">keyboard_arrow_right</i>
							</button>
						</nav>
					</div>
				</div>

				<!-- Mobile View -->
				<div class="columns is-mobile is-marginless is-hidden-tablet">
					<div class="column is-12">
						<nav class="pagination is-centered"
							ng-if="recommendedProductsMobile.length > 1">
							<button class="pagination-previous transparent"
								ng-disabled="recommendedProductsIndexMobile == 0"
								ng-click="decrementPageIndex('recommendedProductsIndexMobile','recommendedProductMobile')">
								<i class="material-icons">keyboard_arrow_left</i>
							</button>
							<ul class="pagination-list">
								<li
									ng-show="recommendedProductsIndexMobile > 1 && recommendedProductsMobile.length != 3"><span
									class="pagination-ellipsis">&hellip;</span></li>
								<li ng-repeat="page in recommendedProductsPagesMobile"><a
									class="pagination-link"
									ng-click="updatePageIndex('recommendedProductsIndexMobile',page-1,'recommendedProductMobile')"
									ng-class="{'is-current': recommendedProductsIndexMobile == {{page}}-1}">{{page}}</a>
								</li>
								<li
									ng-show="recommendedProductsMobile.length > recommendedProductsIndexMobile+2 && recommendedProductsIndexMobile != recommendedProductsMobile.length-1 && recommendedProductsMobile.length > 3"><span
									class="pagination-ellipsis">&hellip;</span></li>
							</ul>
							<button class="pagination-next transparent"
								ng-disabled="recommendedProductsIndexMobile+1 == recommendedProductsMobile.length"
								ng-click="incrementPageIndex('recommendedProductsIndexMobile','recommendedProductMobile')">
								<i class="material-icons">keyboard_arrow_right</i>
							</button>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>