<!-- <div class="bgimg-lg-category has-text-centered">
	<div class="header-display-table-cell">
		<div class="columns is-marginless is-mobile container is-fluid m-b-4 is-hidden-mobile">
			<div class="tile is-2 align-items-center">
				<figure class="image p-r-1-3f m-x-0 m-y-0">
					<img class="category-logo-img"
						src="resources/images/category/timberland-logo.png">
				</figure>
			</div>
			<div class="tile center-x-y">
				<span class="expression-text-category">TOUGH FOOTWEAR FOR
					TOUGH JOBS</span>
			</div>
			
			<div class="column is-paddingless has-text-centered">
				<figure class="image">
					<img class=""
						src="resources/images/category/timberland-logo.png">
				</figure>
			</div>
			<div class="column is-9 is-paddingless has-text-centered">
				<span class="expression-text-category">TOUGH FOOTWEAR FOR
					TOUGH JOBS</span>
			</div>
		</div>
		<div
			class="tile is-mobile container is-fluid m-b-3 is-hidden-tablet align-items-center">
			<figure class="image p-r-1-3f m-x-0 m-y-0">
				<img class="image category-logo-img"
					src="resources/images/category/timberland-logo.png">
			</figure>
		</div>
	</div>
</div> -->


<section class="hero bgimg-lg-category">
	<div class="hero-body has-text-centered">
		<img class="is-hidden-tablet category-logo-img"
			src="resources/images/category/timberland-logo.png">
		<span class="expression-text-category is-hidden-mobile"> <img class="m-r-2"
			src="resources/images/category/timberland-logo.png">{{ 'TEXT.CATEG_COVER' | translate | uppercase}}
		</span>

	</div>
</section>
