<div class="container is-fluid">
	<div class="columns is-mobile is-marginless">
		<div class="column p-l-0 p-t-0">
			<div class="display-table has-text-centered bgimg-lg-category-1">
				<span class="subcategory-text">{{'TEXT.CATEG_HIGH' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column p-t-0 is-hidden-mobile">
			<div class="display-table has-text-centered bgimg-lg-category-2">
				<span class="subcategory-text">{{'TEXT.CATEG_MID' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column p-x-0 p-t-0 is-hidden-tablet">
			<div class="display-table has-text-centered bgimg-lg-category-2">
				<span class="subcategory-text">{{'TEXT.CATEG_MID' | translate | uppercase}}</span>
			</div>
		</div>
		<div class="column p-r-0 p-t-0">
			<div class="display-table has-text-centered bgimg-lg-category-3">
				<span class="subcategory-text">{{'TEXT.CATEG_LOW' | translate | uppercase}}</span>
			</div>
		</div>
	</div>
</div>