<a class="button is-ghost p-x-1 p-y-1 border-radius-0"
	ng-class="{'filter-active-display-options' : isDisplayOptionsOpen}"
	ng-click="toggleDisplayOptions()">
	<img class="invoice-btn-img"
	src="resources/images/display_options_icon@2x.png" ng-show="!isDisplayOptionsOpen">
	<img class="invoice-btn-img"
	src="resources/images/display_options_icon@2x_white.png" ng-show="isDisplayOptionsOpen">
	<span
	class="display-option-btn">{{ 'DISP_OPTIONS.DISP_OPT' | translate | uppercase}}</span></a>