
<category-breadcrumbs></category-breadcrumbs>
<div class="container ">
	<category-cover></category-cover>
	<category-sub-cover></category-sub-cover>
</div>
<div class="container p-x-1 m-t-1">
	<div class="columns">
		<div class="column is-2 m-t-1 is-hidden-touch">
			<category-filter></category-filter>
		</div>
		<div class="column m-t-1">
			<div class="tile is-vertical">
				<div class="tile">
					<div class="tile is-vertical is-8">
						<div class="tile">
							<category-selected-filter></category-selected-filter>
						</div>
						<div class="tile m-t-1">
							<category-dropdown-filter></category-dropdown-filter>
						</div>
					</div>
					<div class="tile is-vertical is-4">
						<div class="tile m-t-1 justify-right is-hidden-mobile">
							<category-display-options></category-display-options>
							<div class="display-options" ng-show="isDisplayOptionsOpen">
								<category-display-options-tab></category-display-options-tab>
							</div>
						</div>
						<div class="tile m-t-1 justify-right">
							<category-pagination></category-pagination>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
			<div class="tile is-vertical">
				<category-product-card></category-product-card>
				<div class="tile m-t-1 justify-right">
					<category-pagination></category-pagination>
				</div>
				<div class="clearfix">&nbsp;</div>
			</div>
		</div>
	</div>
</div>

<category-filter-modal></category-filter-modal>