<new-report-breadcrumbs></new-report-breadcrumbs>
<div class="container is-fluid">
	<div class="columns m-t-0 is-multiline">
		<div class="column is-12 m-t-1">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 is-paddingless">
					<span ng-if="!isEdit" class="invoices-title report-detail-title">{{'TEXT.NEW' | translate}} {{reportOption.reportType}}</span>
					<span ng-if="isEdit" class="invoices-title report-detail-title">{{'TEXT.EDIT' | translate}} {{reportOption.reportType}}</span>
				</div>
			</div>
		</div>
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">
				<div class="column is-12 is-paddingless m-b-1">
					<report-year-to-date></report-year-to-date>
				</div>
			</div>
		</div>
	</div>
</div>