<div class="column is-12 is-paddingless">
	<table class="table footable row-border hover" datatable="ng" dt-options="newReportCtrl.dtOptions" dt-column-defs="newReportCtrl.dtColumnDefs" dt-instance="newReportCtrl.dtInstance"
		 cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="center-text not-desktop" data-sort-ignore="true">&nbsp;</th>
				<th class="" data-priority="2">{{'TEXT.START' | translate}}</th>
				<th class="" data-priority="3">{{'TEXT.END' | translate}}</th>
				<th data-priority="4" >{{'TEXT.TOTAL' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in reportList track by $index">
				<td class="has-text-centered footable-toggle"></td> 
				<td class="report-name"><a ng-click="goToReportDetail(row)">{{row.reportName}}</a></td>
				<td class="">{{row.dateIssued | date:'MM/dd/yyyy'}}</td>
				<td class="has-text-left">{{row.type}}</td>
			</tr>
		</tbody>
	</table>
</div>