<div class="breadcrumbs-background">
	<div class="container is-fluid breadcrumbs-background">
		<nav class="breadcrumb">
			<ul>
				<li><a class="p-l-0" go-to-home>{{'HOME_LABEL' | translate}}</a></li>
				<li go-to-report ><a>{{'NAV_MENU.REPORTS' | translate}}</a></li>
				<li ng-if="!isEdit" class="is-active"><a>{{'TEXT.NEW' | translate}} {{reportOption.reportType}}</a></li>
				<li ng-if="isEdit" class="is-active"><a>{{'TEXT.EDIT' | translate}} {{reportOption.reportType}}</a></li>
			</ul>
		</nav>
	</div>
</div>