<link rel="stylesheet" href="resources/plugins/semantic-ui/semantic.min.css">
<div class="columns is-marginless is-mobile m-t-0 is-multiline">
	<!-- DESKTOP -->
	<div class="column is-12 is-paddingless" >
		<div class="columns p-r-3 m-t-2 p-b-0 is-multiline p-l-1 p-b-2 ">
			<div class="column is-3 p-l-0" >
				<div class="control">
				  	<label class="label filter-label">{{'REPORT_TEXT.REPORT_NAME' | translate | uppercase}} *</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="reportName" placeholder="Report Name">
					</span>
				</div>
			</div>
			<div class="column is-3 control p-l-0 has-icons-right">				
				<label class="label checkout-label">{{'REPORT_TEXT.DIV' | translate | uppercase}}</label> 
				<!-- <sm-dropdown settings="{maxSelections: 1}" class="column fluid multiple search selection .roboto-font" on-change="selectAllDivision" model="division" items="reportOption.division" label="item.name" value="item.code" default-text="'Select Division'"></sm-dropdown> -->
				<span
					class="select width-100-perc"> <select
					ng-model="division"
					class="filter-dropdown width-100-perc"
					ng-options="division.name for division in reportOption.division"
					ng-change="selectAllDivision()">
					<option value="" disabled selected>{{'REPORT_TEXT.SEL_DIV' | translate }}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>
			<div class="column is-4 control p-l-0 has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.PAYER' | translate | uppercase}}</label> 
				<span
					class="select width-100-perc"> <select
					ng-model="customer"
					class="filter-dropdown width-100-perc"
					ng-options="payer.displayName for payer in reportOption.customer"
					ng-change="selectPayer()" ng-disabled="isDivSelected">
					<option value="" disabled selected>{{'REPORT_TEXT.SELECT_CUSTOMER' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>				
		</div>
		<div class="column is-12 is-paddingless" >
			<span class="footer-label size-2h-rem">{{'REPORT_TEXT.DATA_PARAM' | translate }}</span>
		</div>	
		<div class="columns p-r-3 p-b-0 is-multiline p-l-1 p-b-2 ">			
			<div class="column is-4 p-l-0 control has-icons-right">
				<label class="label checkout-label">{{'TEXT.SOLD_TO' | translate | uppercase}}</label> 
				<!-- <sm-dropdown ng-class="{'disabled': !isPayerSelected}" class="column fluid multiple search selection .roboto-font" on-change="selectAllSoldCheckAccount" model="soldToAccount" items="reportOption.soldTo" label="item.displayName" value="item.code" default-text="'Select Account'" settings="{maxSelections: 1}"></sm-dropdown> -->
				<span
					class="select width-100-perc"> <select
					ng-model="soldToAccount"
					class="filter-dropdown width-100-perc"
					ng-options="soldTo.displayName for soldTo in reportOption.soldTo"
					ng-change="selectAllSoldCheckAccount()" ng-disabled="!isPayerSelected">
					<option value="" disabled selected>{{'REPORT_TEXT.SEL_ACC' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>
			<div class="column is-4 p-l-0 control has-icons-right">
				<label class="label checkout-label">{{'TEXT.SHIP_TO' | translate | uppercase}}</label> 
				<!-- <sm-dropdown  ng-class="{'disabled': !isSoldToSelected}" class="column fluid multiple search selection .roboto-font" on-change="selectAllCheckAccount" model="shipToAccount" items="reportOption.shipTo" label="item.displayName" value="item.code" default-text="'Select Account'" settings="{maxSelections: 1}"></sm-dropdown> -->
				<span
					class="select width-100-perc"> <select
					ng-model="shipToAccount"
					class="filter-dropdown width-100-perc"
					ng-options="shipTo.displayName for shipTo in reportOption.shipTo"
					ng-change="selectAllCheckAccount()" ng-disabled="!isSoldToSelected">
					<option value="" disabled selected>{{'REPORT_TEXT.SEL_ACC' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>
			<div class="column is-4 p-l-0 control has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.SUBCATEG' | translate | uppercase}}</label>
				<!-- <sm-dropdown  ng-class="{'disabled': !isShipToSelected}" class="column fluid multiple search selection .roboto-font" on-add="selectAllCheckSubCategory" model="subcategory" items="reportOption.subcategories" label="item.name" value="item.code" default-text="'Select Sub-Category'" ></sm-dropdown> -->
				<span
					class="select width-100-perc"> <select
					ng-model="subcategory"
					class="filter-dropdown width-100-perc"
					ng-options="subCateg.name for subCateg in reportOption.subcategories"
					ng-change="selectAllCheckSubCategory()" ng-disabled="!isShipToSelected">
					<option value="" disabled selected>{{'REPORT_TEXT.SEL_SUB' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>
			<!--<div ng-if="reportOption.reportType != 'Ship-To Summary Report'" class="column is-4 p-l-0 control has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.PROD_CATEG' | translate | uppercase}}</label>
				<sm-dropdown class="column fluid multiple search selection .roboto-font" on-add="selectAllCheckCategory" model="category" items="reportOption.categories" default-text="'Select Category'"></sm-dropdown>
			</div>-->
			<!-- <div ng-if="reportOption.reportType != 'Ship-To Summary Report'" class="column is-4 p-l-0 control has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.STATES' | translate | uppercase}}</label> 
				<sm-dropdown class="column fluid multiple search selection .roboto-font" on-add="selectAllCheckState" model="states" items="reportOption.states" default-text="'Select States'"></sm-dropdown>
			</div> -->			
			<div class="column is-4 control p-l-0 has-icons-right">
				<label class="label checkout-label">{{'TEXT.UNIT' | translate | uppercase}}</label> <span
					class="select width-100-perc"> <select
					ng-model="unit"
					class="filter-dropdown width-100-perc"
					ng-options="dateRange for dateRange in reportOption.unit"
					ng-change="changeUnit(unit)">
					<option value="" disabled selected>{{'TEXT.SELECT_UNIT' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>
			<!-- <div class="column is-3 control p-l-0 has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.TIME_PERIOD' | translate | uppercase}}</label> <span
					class="select width-100-perc"> <select
					ng-model="timePeriod" class="filter-dropdown width-100-perc"
					ng-options="dateRange for dateRange in reportOption.timePeriod"
					ng-change="changedTimePeriod(timePeriod)">
					<option value="" disabled selected>{{'REPORT_TEXT.SELECT_TIME' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>	 -->
			<!-- <div class="column is-4 control p-l-0 has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.YEAR' | translate | uppercase}}</label> <span
					class="select width-100-perc"> <select
					ng-model="year"
					class="filter-dropdown width-100-perc"
					ng-options="dateRange for dateRange in reportOption.year"
					ng-change="">
					<option value="" disabled selected>{{'REPORT_TEXT.SELECT_TIME' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
			</div>  -->
			<div class="column is-4 control p-l-0 has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.DATE_RANGE' | translate | uppercase}}</label> 
				<div class="columns is-paddingless is-multiline">
					<!-- <div class="column is-12">
						<div class="control has-icons-right">
						</div>						
						<datepicker class="datepick-filter"
							button-prev="<i class='material-icons'>keyboard_arrow_left</i>"
							button-next="<i class='material-icons'>keyboard_arrow_right</i>"
							date-format="MM/dd/yyyy" datepicker-mobile="false"
							date-max-limit="{{endDate}}"> <input class="datepick-filter"
							ng-model="startDate" id="date-from-filter" type="text"
							placeholder="Date" ng-change="changedStartDate(startDate)" 
							readonly /> <label
							for="date-from-filter"
							class="icon is-small is-right datepicker-filter-icon"> <i
							class="fa fa-calendar" aria-hidden="true"></i>
						</label> </datepicker>
					</div> -->
					<div class="column is-5">
						<div class="control has-icons-right">
						</div>						
						<datepicker class="datepick-filter"
							button-prev="<i class='material-icons'>keyboard_arrow_left</i>"
							button-next="<i class='material-icons'>keyboard_arrow_right</i>"
							date-format="MM/dd/yyyy" datepicker-mobile="false"
							date-max-limit="{{endDate}}"> <input class="datepick-filter"
							ng-model="startDate" id="date-from-filter" type="text"
							placeholder="Date" ng-change="changedStartDate(startDate)" 
							readonly /> <label
							for="date-from-filter"
							class="icon is-small is-right datepicker-filter-icon"> <i
							class="fa fa-calendar" aria-hidden="true"></i>
						</label> </datepicker>
					</div>
					<div class="column is-1 m-t-1h">
						<label class="label checkout-label">{{'TEXT.TO' | translate | uppercase}}</label> 
					</div>
					<div class="column is-5">
						<div class="control has-icons-right"> 
						</div>
						<datepicker class="datepick-filter"
							button-prev="<i class='material-icons'>keyboard_arrow_left</i>"
							button-next="<i class='material-icons'>keyboard_arrow_right</i>"
							date-format="MM/dd/yyyy" datepicker-mobile="false"
							date-min-limit="{{startDate}}" date-min-limit="{{minDate}}"> <input
							class="datepick-filter" ng-model="endDate"
							id="date-to-filter" type="text" placeholder="Date"
							ng-change="changedEndDate(endDate)"
							readonly /> <label for="date-to-filter"
							class="icon is-small is-right datepicker-filter-icon"> <i
							class="fa fa-calendar" aria-hidden="true"></i>
						</label> </datepicker>
					</div> 
				</div>
			</div>	
		</div>
		
		<div class="column is-12 is-paddingless" >
			<span class="footer-label size-2h-rem">{{'REPORT_TEXT.REPORT_LABEL' | translate}}</span>
		</div>	
		<div class="columns p-r-3 p-b-0 is-multiline p-l-1">
			<!-- <div class="column is-4 p-l-0 control has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.REPORT_FORMAT' | translate | uppercase}}</label> <span
					class="select width-100-perc"> <select
					ng-model="reportFormat"
					class="filter-dropdown width-100-perc"
					ng-options="dateRange for dateRange in reportOption.reportFormat"
					ng-change="">
					<option value="" disabled selected>{{'REPORT_TEXT.SEL_CHART_TYPE' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
				
				<div class="column is-12 p-l-0 control has-icons-right report-preview">
					<label class="label checkout-label">{{'REPORT_TEXT.REPORT_PREV' | translate | uppercase}}</label>
					<span ng-show="(chartType.length == undefined || chartType.length == 0) && (reportFormat.length == undefined || reportFormat.length == 0)">Select a format and a chart type to see a preview</span>
					<div ng-show="reportFormat == 'Tabular'" >
						<img class="" src="resources/images/reports-icon/tabular-prev.svg">
					</div>
					<div ng-show="reportFormat == 'Summary'" >
						<img class="" src="resources/images/reports-icon/summary-prev.svg">
					</div>
					<div ng-show="reportFormat == 'Matrix'" >
						<img class="" src="resources/images/reports-icon/matrix-prev.svg">
					</div>
				</div>
			</div> -->
			<div class="column is-4 p-l-0 control has-icons-right">
				<label class="label checkout-label">{{'REPORT_TEXT.CHART_TYPE' | translate | uppercase}}</label> <span
					class="select width-100-perc"> <select
					ng-model="chartType"
					class="filter-dropdown width-100-perc"
					ng-options="dateRange for dateRange in reportOption.chart"
					ng-change="">
					<option value="" disabled selected>{{'REPORT_TEXT.SEL_CHART_TYPE' | translate}}</option>
				</select> <span class="icon is-large is-right"> <i
						class="material-icons">arrow_drop_down</i>
				</span></span>
				
				<div class="column is-4 p-l-0 control has-icons-right report-preview">
					<label class="label checkout-label hidden-visiblity">{{'REPORT_TEXT.REPORT_PREV' | translate | uppercase}}</label>
					<div ng-show="chartType == 'Bar Chart'" >
						<img class="" src="resources/images/reports-icon/bar_chart-prev.svg">
					</div>
					<div ng-show="chartType == 'Line Chart'" >
						<img class="" src="resources/images/reports-icon/line_chart-prev.svg">
					</div>
					<div ng-show="chartType == 'Pie Chart'" >
						<img class="" src="resources/images/reports-icon/pie_chart-prev.svg">
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="column is-12 is-paddingless is-hidden-mobile m-b-12" >
		<div class="column is-4 p-x-0 m-t-2 is-paddingless">
			<a class="button is-primary" ng-disabled="reportName.length ==0 || reportName ==null" ng-click="runReport()">{{'REPORT_TEXT.RUN_REPORT' | translate | uppercase}}</a>
		</div>
	</div>	
	<!-- TABLET AND MOBILE -->
		<div class="column is-12 p-x-0 m-t-2 is-paddingless has-text-centered is-hidden-desktop is-hidden-tablet">
			<a class="button is-primary" ng-click="runReport()" ng-disabled="reportName.length ==0 || reportName ==null">{{'REPORT_TEXT.RUN_REPORT' | translate | uppercase}}</a>
		</div>
	
	
</div>