<ui-view name="header" id="top-header"></ui-view>

<ui-view name="content"></ui-view>

<ui-view name="footer"></ui-view>

<div ng-http-loader template="resources/views/common/loading-modal.html" ng-show="!searchSuggestion"></div>
<div id="overlay"></div>