<div class="modal" ng-class="errorModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-content filter-modal">
		<div class="columns is-marginless is-multiline">
			<div class="column is-12">
				<span class="checkout-heading">{{errorMsg}}</span>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<span class="confirmation-text"> </span>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<div class="columns is-marginless is-mobile">
					<div class="column is-offset-6 is-6 p-x-0">
						<div class="tile has-text-right justify-right">							
							<button class="button is-primary height-35"
								ng-click="errorRedirect()">{{'TEXT.OK' | translate}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large"
		ng-click="errorModalTrigger = ''"></button>
</div>