<!-- Desktop & Mobile View -->
<footer class="footer is-hidden-tablet-only">
	<div class="container">
		<div class="columns">
			<div class="column">
				<span class="footer-label">{{'FOOTER.ABOUT_POWER_TOOLS' | translate}}</span>
				<div class="footer-horizontal-line"></div>
				<ul>
					<li>{{'FOOTER.CONTACT' | translate}}</li>
					<li>{{'FOOTER.EVENTS' | translate}}</li>
					<li>{{'FOOTER.PRESS' | translate}}</li>
					<li>{{'FOOTER.CAREER' | translate}}</li>
				</ul>
			</div>
			<div class="column">
				<span class="footer-label">About Power Tools Unlimited</span>
				<div class="footer-horizontal-line"></div>
				<div class="columns">
					<div class="column">
						<ul>
							<li>{{'NAV_ACCOUNT' | translate}}</li>
							<li>{{'FOOTER.RETURN' | translate}}</li>
							<li>{{'FOOTER.SHIP_OPTION' | translate}}</li>
							<li>{{'FOOTER.HELP' | translate}}</li>
						</ul>
					</div>
					<div class="column">
						<ul>
							<li>{{'FOOTER.FAQ' | translate}}</li>
							<li>{{'FOOTER.SITE_MAP' | translate}}</li>
							<li>{{'FOOTER.WEB_TERM' | translate}}</li>
							<li>{{'FOOTER.PRIVACY' | translate}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="column">
				<span class="footer-label">{{'FOOTER.STAY_CONNECTED' | translate}}</span>
				<div class="footer-horizontal-line"></div>
				<ul>
					<li>{{'FOOTER.SIGN_UP' | translate}}</li>
					<li><div class="field is-grouped m-t-1-3f m-b-1-3f">
							<p class="control">
								<a class="nav-item footer-link p-l-0"><i
									class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
							</p>
							<div class="footer-vertical-line"></div>
							<p class="control m-l-1-3f">
								<a class="nav-item footer-link"><i
									class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
							</p>
							<div class="footer-vertical-line"></div>
							<p class="control m-l-1-3f">
								<a class="nav-item footer-link"><i
									class="fa fa-telegram fa-lg" aria-hidden="true"></i></a>
							</p>
							<div class="footer-vertical-line"></div>
							<p class="control m-l-1-3f">
								<a class="nav-item footer-link"><i
									class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
							</p>
						</div></li>
					<li>{{'FOOTER.ADDRESS' | translate}}</li>
					<li>{{'FOOTER.CONTACT_NO' | translate}}</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Tablet View -->
<footer class="footer is-hidden-desktop is-hidden-mobile">
	<div class="container is-fluid">
		<div class="columns is-multiline">
			<div class="column is-12 is-paddingless is-marginless">
				<div class="columns is-paddingless is-marginless">
					<div class="column is-5">
						<span class="footer-label">{{'FOOTER.ABOUT_POWER_TOOLS' | translate}}</span>
						<div class="footer-horizontal-line"></div>
						<ul>
							<li>{{'FOOTER.CONTACT' | translate}}</li>
							<li>{{'FOOTER.EVENTS' | translate}}</li>
							<li>{{'FOOTER.PRESS' | translate}}</li>
							<li>{{'FOOTER.CAREER' | translate}}</li>
						</ul>
					</div>
					<div class="column is-7">
						<span class="footer-label">{{'FOOTER.ABOUT_POWER_TOOLS' | translate}}</span>
						<div class="footer-horizontal-line"></div>
						<div class="columns">
							<div class="column">
								<ul>
									<li>{{'NAV_ACCOUNT' | translate}}</li>
									<li>{{'FOOTER.RETURN' | translate}}</li>
									<li>{{'FOOTER.SHIP_OPTION' | translate}}</li>
									<li>{{'FOOTER.HELP' | translate}}</li>
								</ul>
							</div>
							<div class="column">
								<ul>
									<li>{{'FOOTER.FAQ' | translate}}</li>
									<li>{{'FOOTER.SITE_MAP' | translate}}</li>
									<li>{{'FOOTER.WEB_TERM' | translate}}</li>
									<li>{{'FOOTER.PRIVACY' | translate}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 is-paddingless is-marginless">
				<div class="column">
					<span class="footer-label">{{'FOOTER.STAY_CONNECTED' | translate}}</span>
					<div class="footer-horizontal-line"></div>
					<div class="columns is-paddingless is-marginless">
						<div class="column is-6 is-paddingless is-marginless">
							<ul>
								<li>{{'FOOTER.SIGN_UP' | translate}}</li>
								<li><div class="field is-grouped m-t-1-3f m-b-1-3f">
										<p class="control">
											<a class="nav-item footer-link p-l-0"><i
												class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
										</p>
										<div class="footer-vertical-line"></div>
										<p class="control m-l-1-3f">
											<a class="nav-item footer-link"><i
												class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
										</p>
										<div class="footer-vertical-line"></div>
										<p class="control m-l-1-3f">
											<a class="nav-item footer-link"><i
												class="fa fa-telegram fa-lg" aria-hidden="true"></i></a>
										</p>
										<div class="footer-vertical-line"></div>
										<p class="control m-l-1-3f">
											<a class="nav-item footer-link"><i
												class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
										</p>
									</div></li>
							</ul>
						</div>
						<div class="column is-6 is-paddingless is-marginless">
							<ul>
								<li>{{'FOOTER.ADDRESS' | translate}}</li>
								<li>{{'FOOTER.CONTACT_NO' | translate}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>