<div class="columns m-b-3 is-mobile is-centered">
	<div class="column is-6 p-b-0">
		<header class="item-header-text-pdp has-text-centered center-x-y">
			<span>{{'FREQ_BOUGHT.HEADING' | translate}}</span>
		</header>
	</div>
</div>
<div class="columns m-b-1 is-mobile">
	<div class="column is-6 m-x-auto is-hidden-mobile"
		ng-repeat="savedProduct in visibleSavedProductsDesktop">
		<div class="tile is-vertical m-x-2 height-100-perc">
			<div class="tile center-x-y m-b-2">
				<figure class="image is-128x128">
					<img class="image is-128x128" ng-src="{{savedProduct.image}}">
				</figure>
			</div>
			<div class="tile has-text-centered center-x-y m-b-2">
				<a href="" class="item-name-text-pdp" go-to-specific-product productCode="savedProduct.productCode">{{savedProduct.name}}</a>
			</div>
			<!-- <div class="tile has-text-centered center-x-y">
				<div class="field is-grouped">
					<p class="m-r-1">
						<input class="input width-60 center-text" type="text"
							placeholder="Qty" ng-model="savedProduct.quantity" numeric-only>
					</p>
					<p>
						<a class="button is-secondary add-to-cart-item-pdp"><i
							class="material-icons">add_circle_outline</i>ADD TO CART</a>
					</p>
				</div>
			</div> -->
		</div>
	</div>
	<div class="column is-6 m-x-auto is-hidden-tablet">
		<div class="tile is-vertical m-x-2 height-100-perc">
			<div class="tile center-x-y m-b-2">
				<figure class="image is-128x128">
					<img class="image is-128x128"
						ng-src="{{savedProductsMobile[savedProductsIndexMobile].image}}">
				</figure>
			</div>
			<div class="tile has-text-centered center-x-y m-b-2">
				<a href="" class="item-name-text-pdp" go-to-specific-product productCode="savedProduct.productCode">{{savedProductsMobile[savedProductsIndexMobile].name}}</a>
			</div>
			<!-- <div class="tile has-text-centered center-x-y">
				<div class="field is-grouped center-x-y">
					<p class="m-r-1">
						<input class="input width-60 center-text" type="text"
							placeholder="Qty" ng-model="savedProduct.quantity" numeric-only>
					</p>
					<p>
						<a class="button is-secondary add-to-cart-item-pdp"><i
							class="material-icons">add_circle_outline</i>ADD TO CART</a>
					</p>
				</div>
			</div> -->
		</div>
	</div>
</div>
<div class="columns is-mobile is-hidden-mobile is-centered">
	<div class="column is-5">
		<nav class="pagination is-centered"
			ng-if="savedProductsDesktop.length > 1">
			<button class="pagination-previous transparent"
				ng-disabled="savedProductsIndexDesktop == 0"
				ng-click="decrementPageIndex('savedProductsIndexDesktop','savedProductDesktop')">
				<i class="material-icons">keyboard_arrow_left</i>
			</button>
			<ul class="pagination-list">
				<li
					ng-show="savedProductsIndexDesktop > 1 && savedProductsDesktop.length != 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
				<li ng-repeat="page in savedProductsPagesDesktop"><a
					class="pagination-link"
					ng-click="updatePageIndex('savedProductsIndexDesktop',page-1,'savedProductDesktop')"
					ng-class="{'is-current': savedProductsIndexDesktop == {{page}}-1}">{{page}}</a>
				</li>
				<li
					ng-show="savedProductsDesktop.length > savedProductsIndexDesktop+2 && savedProductsIndexDesktop != savedProductsDesktop.length-1 && savedProductsDesktop.length > 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
			</ul>
			<button class="pagination-next transparent"
				ng-disabled="savedProductsIndexDesktop+1 == savedProductsDesktop.length"
				ng-click="incrementPageIndex('savedProductsIndexDesktop','savedProductDesktop')">
				<i class="material-icons">keyboard_arrow_right</i>
			</button>
		</nav>
	</div>
</div>
<div class="columns is-mobile is-hidden-tablet">
	<div class="column is-12">
		<nav class="pagination is-centered"
			ng-if="savedProductsMobile.length > 1">
			<button class="pagination-previous transparent"
				ng-disabled="savedProductsIndexMobile == 0"
				ng-click="decrementPageIndex('savedProductsIndexMobile','savedProductMobile')">
				<i class="material-icons">keyboard_arrow_left</i>
			</button>
			<ul class="pagination-list">
				<li
					ng-show="savedProductsIndexMobile > 1 && savedProductsMobile.length != 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
				<li ng-repeat="page in savedProductsPagesMobile"><a
					class="pagination-link"
					ng-click="updatePageIndex('savedProductsIndexMobile',page-1,'savedProductMobile')"
					ng-class="{'is-current': savedProductsIndexMobile == {{page}}-1}">{{page}}</a>
				</li>
				<li
					ng-show="savedProductsMobile.length > savedProductsIndexMobile+2 && savedProductsIndexMobile != savedProductsMobile.length-1 && savedProductsMobile.length > 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
			</ul>
			<button class="pagination-next transparent"
				ng-disabled="savedProductsIndexMobile+1 == savedProductsMobile.length"
				ng-click="incrementPageIndex('savedProductsIndexMobile','savedProductMobile')">
				<i class="material-icons">keyboard_arrow_right</i>
			</button>
		</nav>
	</div>
</div>