<div class="modal is-active">
	<div class="modal-background"></div>
	<div class="modal-content has-text-centered">
		<div ng-include="'resources/images/svg/Spinner.svg'" class="ng-scope">
			<svg>
			</svg>
		</div>
	</div>
</div>