<div class="columns is-multiline is-marginless is-mobile">
	<div class="column is-4 is-paddingless padding-top-7">
		<span class="shopping-cart-summary-label">Promo Code</span>
	</div>
	<div class="column is-paddingless">
		<input class="input" type="text" placeholder="Your Promo Code">
	</div>
</div>
<hr class="m-y-1">
<div class="columns is-multiline is-marginless is-mobile">
	<div class="column is-4 p-x-0">
		<span class="shopping-cart-summary-label">{{'TEXT.SUBTOTAL' | translate}}</span>
	</div>
	<div class="column has-text-right">
		<span class="shopping-cart-summary-computation">{{currency}}{{shoppingCart.subTotal
			| number : 2}}</span>
	</div>
</div>
<div class="columns is-multiline is-marginless is-mobile">
	<div class="column is-4 p-x-0">
		<span class="shopping-cart-summary-label">{{'CHECKOUT_TEXT.SHIPPING' | translate}}</span>
	</div>
	<div class="column has-text-right">
		<span class="shopping-cart-summary-computation">{{currency}}{{shippingFee
			| number : 2}}</span>
	</div>
</div>
<hr class="m-y-1">
<div class="columns is-multiline is-marginless is-mobile">
	<div class="column is-4 p-x-0">
		<span class="shopping-cart-summary-label">{{'TEXT.TOTAL' | translate}}</span>
	</div>
	<div class="column has-text-right">
		<span
			class="shopping-cart-summary-computation shopping-cart-summary-total">{{currency}}{{shoppingCart.subTotal
			+ shippingFee | number : 2}}</span>
	</div>
</div>