<div class="container is-fluid">
	<div class="columns is-marginless is-multiline is-mobile m-t-2">
		<div class="column is-12 has-text-centered">
			<span class="order-success-message-header">{{'CHECKOUT_TEXT.ORDER_SUCCESS' | translate}}</span>
		</div>
		<div class="column is-12 has-text-centered">
			<span class="order-success-message-1">{{'CHECKOUT_TEXT.ORDER_SUCCESS_MSG' | translate}}</span>
		</div>
		<div class="column is-12 has-text-centered p-t-0">
			<span class="order-success-message-2">{{'CHECKOUT_TEXT.ORDER_SUCCESS_EMAIL' | translate}} <span class="order-success-message-2-bold">{{email}}</span>
			</span>
		</div>
		<div class="column is-12 has-text-centered m-b-3 is-hidden-mobile">
			<div class="tile center-x-y has-text-centered">
				<a class="button is-ghost m-r-1" ng-click="goToSearchResults()">{{'BUTTON.CONT_SHOPPING' | translate | uppercase}}</a>
				<button class="button is-primary height-35"
					go-to-home>{{'TEXT.GO_TO_HOME' | translate | uppercase}}</button>
			</div>
		</div>
		<div class="column is-12 has-text-centered is-hidden-tablet">
			<a class="button is-ghost" ng-click="goToSearchResults()">{{'BUTTON.CONT_SHOPPING' | translate | uppercase}}</a>
		</div>
		<div class="column is-12 has-text-centered p-t-0 m-b-3 is-hidden-tablet">
			<button class="button is-primary height-35" go-to-home>{{'TEXT.GO_TO_HOME' | translate | uppercase}}</button>
		</div>
	</div>
</div>