<div class="columns m-b-3 is-mobile is-centered">
	<div class="column is-5 p-b-0 is-hidden-mobile">
		<header class="item-header-text-pdp has-text-centered center-x-y">
			<span>{{'TEXT.RECOMMEND_PRODUCT' | translate | uppercase}}</span>
		</header>
	</div>
	<div class="column is-10 p-b-0 is-hidden-tablet">
		<header class="item-header-text-pdp has-text-centered center-x-y">
			<span>{{'TEXT.RECOMMEND_PRODUCT' | translate | uppercase}}</span>
		</header>
	</div>
</div>
<div class="columns m-b-1 is-mobile">
	<div class="column m-x-auto is-hidden-mobile"
		ng-repeat="product in visibleRecommendedProductsDesktop">
		<div class="tile is-vertical">
			<div class="tile is-vertical">
				<div class="tile center-x-y m-b-2">
					<figure class="image is-128x128">
						<img class="image is-128x128" ng-src="{{product.image}}">
					</figure>
				</div>
				<div class="tile has-text-centered center-x-y">
					<a href="" class="item-name-text-pdp" go-to-specific-product productCode="product.productCode">{{product.name}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-6 m-x-auto is-hidden-tablet">
		<div class="tile is-vertical">
			<div class="tile center-x-y m-b-2">
				<figure class="image is-128x128">
					<img class="image is-128x128"
						ng-src="{{recommendedProductsMobile[recommendedProductsIndexMobile].image}}">
				</figure>
			</div>
			<div class="tile has-text-centered center-x-y">
				<a href="" class="item-name-text-pdp" go-to-specific-product productCode="product.productCode">{{recommendedProductsMobile[recommendedProductsIndexMobile].name}}</a>
			</div>
		</div>
	</div>
</div>
<div class="columns is-mobile is-hidden-mobile is-centered">
	<div class="column is-5">
		<nav class="pagination is-centered"
			ng-if="recommendedProductsDesktop.length > 1">
			<button class="pagination-previous transparent"
				ng-disabled="recommendedProductsIndexDesktop == 0"
				ng-click="decrementPageIndex('recommendedProductsIndexDesktop','recommendedProductDesktop')">
				<i class="material-icons">keyboard_arrow_left</i>
			</button>
			<ul class="pagination-list">
				<li
					ng-show="recommendedProductsIndexDesktop > 1 && recommendedProductsDesktop.length != 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
				<li ng-repeat="page in recommendedProductsPagesDesktop"><a
					class="pagination-link"
					ng-click="updatePageIndex('recommendedProductsIndexDesktop',page-1,'recommendedProductDesktop')"
					ng-class="{'is-current': recommendedProductsIndexDesktop == {{page}}-1}">{{page}}</a>
				</li>
				<li
					ng-show="recommendedProductsDesktop.length > recommendedProductsIndexDesktop+2 && recommendedProductsIndexDesktop != recommendedProductsDesktop.length-1 && recommendedProductsDesktop.length > 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
			</ul>
			<button class="pagination-next transparent"
				ng-disabled="recommendedProductsIndexDesktop+1 == recommendedProductsDesktop.length"
				ng-click="incrementPageIndex('recommendedProductsIndexDesktop','recommendedProductDesktop')">
				<i class="material-icons">keyboard_arrow_right</i>
			</button>
		</nav>
	</div>
</div>
<div class="columns is-mobile is-hidden-tablet">
	<div class="column is-12">
		<nav class="pagination is-centered"
			ng-if="recommendedProductsMobile.length > 1">
			<button class="pagination-previous transparent"
				ng-disabled="recommendedProductsIndexMobile == 0"
				ng-click="decrementPageIndex('recommendedProductsIndexMobile','recommendedProductMobile')">
				<i class="material-icons">keyboard_arrow_left</i>
			</button>
			<ul class="pagination-list">
				<li
					ng-show="recommendedProductsIndexMobile > 1 && recommendedProductsMobile.length != 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
				<li ng-repeat="page in recommendedProductsPagesMobile"><a
					class="pagination-link"
					ng-click="updatePageIndex('recommendedProductsIndexMobile',page-1,'recommendedProductMobile')"
					ng-class="{'is-current': recommendedProductsIndexMobile == {{page}}-1}">{{page}}</a>
				</li>
				<li
					ng-show="recommendedProductsMobile.length > recommendedProductsIndexMobile+2 && recommendedProductsIndexMobile != recommendedProductsMobile.length-1 && recommendedProductsMobile.length > 3"><span
					class="pagination-ellipsis">&hellip;</span></li>
			</ul>
			<button class="pagination-next transparent"
				ng-disabled="recommendedProductsIndexMobile+1 == recommendedProductsMobile.length"
				ng-click="incrementPageIndex('recommendedProductsIndexMobile','recommendedProductMobile')">
				<i class="material-icons">keyboard_arrow_right</i>
			</button>
		</nav>
	</div>
</div>