@CHARSET "UTF-8";

html {
	overflow-y: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	-webkit-overflow-scrolling: touch;
	position:relative 
}

a.no-underline {
	text-decoration: none !important;
}

input::placeholder {
	font-family: 'Roboto-Italic', sans-serif;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

button.transparent {
	background-color: transparent;
	border: transparent;
	cursor: pointer;
}

.pagination-link:disabled,
.pagination-link[disabled]{
	background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    box-shadow: none !important;
    color: #7a7a7a !important;
    opacity: 0.5 !important;
}


.dataTables_wrapper .dataTables_paginate .disabled button{
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: 0.5;
}

a.paginate_button {
    vertical-align: middle !important;
}

div:focus{
	outline: none;
}

.error-message{
	font-size: 12px;
	font-family: 'Roboto-Light', sans-serif;
	color: #B4000C;
}

/* HEADER */
.header-background-color {
	background-color: #444d66;
}

.header-nav-btn {
	/* background-color: #55617f; */
	box-shadow: inset 1px 0 0 0 #55617F;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #FFFFFF !important;
	letter-spacing: 0;
    line-height: 34px;
}

.display-initial{
	display: initial !important;
}

.box-shadow-none{
	box-shadow: none !important;
}

.padding-right-5{
	padding-right: 5px !important;
}

.nav-btn-mobile{
	display: inline-flex !important;
}

.header-profile-btn {
	box-shadow: inset 1px 0 0 0 #55617F, inset -1px 0 0 0 #55617F;
}

.logo-section {
	background: #2C3242;
	min-width: 352px;
}

.logo-img {
	height: 93px !important;
	width: auto !important;
	vertical-align: middle;
	cursor: pointer;
}

.search-icon {
	color: #000000 !important;
}

.search-link {
	font-family: 'Teko-Regular', sans-serif;
	font-size: 28px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.search-area-btn{
	height: 50px;
}

.search-area-btn span {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.search-link .icon{
	width: 15px !important;
}

/* FOOTER */
footer ul li {
	font-size: 14px;
	color: #0A0A0A;
	line-height: 30px;
}

.footer {
	background: #F8F8F8;
}

.footer-label {
	font-family: 'Teko-Light', sans-serif;
	font-size: 26px;
	color: #2C3242;
	letter-spacing: 0;
}

.footer a {
	display: block;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 14px;
	color: #0A0A0A;
	letter-spacing: 0;
	line-height: 30px;
}

.footer-horizontal-line {
	border: 1px solid #BCBBAF;
}

.footer-vertical-line {
	border: 1px solid #E8E8E8;
}

.footer-link {
	color: #6E7275 !important;
	padding-top: 0px;
	padding-bottom: 0px;
}

.text-left-important {
	text-align: left !important;
}

/* Roboto Font */
@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: Roboto-Italic;
	src: url(../fonts/Roboto/Roboto-Italic.ttf);
}

/* Teko Font */
@font-face {
	font-family: Teko-Regular;
	src: url(../fonts/Teko/Teko-Regular.ttf);
}

@font-face {
	font-family: Teko-Light;
	src: url(../fonts/Teko/Teko-Light.ttf);
}

@font-face {
	font-family: Teko-SemiBold;
	src: url(../fonts/Teko/Teko-SemiBold.ttf);
}

/* Material Icons */
/* @font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:
		url(../plugins/material-design-icons/iconfont/MaterialIcons-Regular.eot);
	For IE6-8
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(../plugins/material-design-icons/iconfont/MaterialIcons-Regular.woff2)
		format('woff2'),
		url(../plugins/material-design-icons/iconfont/MaterialIcons-Regular.woff)
		format('woff'),
		url(../plugins/material-design-icons/iconfont/MaterialIcons-Regular.ttf)
		format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; Preferred icon size
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	Support for all WebKit browsers.
	-webkit-font-smoothing: antialiased;
	Support for Safari and Chrome.
	text-rendering: optimizeLegibility;
	Support for Firefox.
	-moz-osx-font-smoothing: grayscale;
	Support for IE.
	font-feature-settings: 'liga';
} */

.bgimg-lg-home {
	background-image: url(../../resources/images/grinder_3_HDR.jpg);
    /* background-position-y: -330px; */
    min-height: 332px;
    /* height: 332px; */
    overflow-y: hidden;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimg-lg-home .title{
	font-family: 'Teko-SemiBold', sans-serif;
	font-size: 96px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
}

/* Card */
.card {
	background: #FFFFFF !important;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10) !important;
}

.is-128x128-home {
	height: 128px;
	width: 128px;
}

/* <<<<<<<<<< Exc Styles >>>>>>>>>*/

/*BUTTONS*/
a.button {
	font-family: 'Roboto', sans-serif;
	padding: 1em 1.5em;
	text-decoration: none;
	border: 0;
}

a.button.is-primary, button.button.is-primary {
	background: #B4000C;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

a.button.is-primary:hover, button.button.is-primary:hover {
	background: #8C0009;
}

a.button.is-secondary {
	background: #444D66;
	font-size: 16px;
	color: #FFFFFF !important;
	font-weight: 300;
}

a.button.is-secondary:hover {
	background: #333A4C;
}

a.button i {
	margin-left: .25em;
}

a.button.is-big {
	background: #FF001F;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: -0.33px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.30);
	text-transform: uppercase;
}

a.button.is-big:hover {
	background: #DD000C;
}

a.button.is-ghost {
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	color: #444D66;
	text-transform: uppercase;
}

.button.is-primary[disabled] {
    background-color: #B4000C;
}

/*TYPOGRAPHY*/
.content h1, h2, h3, h4 {
	font-family: 'Teko', sans-serif;
	color: #2C3242;
}

.content h1 {
	font-size: 114px;
	letter-spacing: 6px;
	line-height: 94px;
}

.content h2 {
	font-size: 86px;
	line-height: 87px;
}

.content h3 {
	font-size: 48px;
	line-height: 48px;
}

.content h4 {
	font-size: 26px;
	margin-bottom: .5em;
}

.content p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #454545;
	line-height: 30px;
}

a {
	font-size: 1em;
	color: #333A4C;
	text-decoration: underline;
	font-weight: 700;
}

/*CALLOUT*/
.callout-block {
	background: rgba(10, 10, 10, 0.65);
}

.callout-block p {
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #FFFFFF;
	line-height: 42px;
}

/*FORMS*/
label.label {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #454545;
	font-weight: 300;
	text-transform: uppercase;
}

.control input.input {
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #4A4A4A;
	box-shadow: none;
}

.control input.search {
	border-radius: 2px;
	padding-right: 30px !important;
}

.control.has-icons-right .material-icons {
	color: #000;
}

.control .select select {
	border: 1px solid #D9D9D9;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #454545;
}

.select:after {
	display: none;
}

.control.has-icons-right .icon {
	height: 2.05em;
}

.styled-checkbox {
	position: absolute;
	opacity: 0;
}

.styled-checkbox+label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

.styled-checkbox+label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border: 1px solid #444D66;
}

.styled-checkbox:hover+label:before {
	border: 2px solid #444D66;
}

.styled-checkbox:checked+label:before {
	background: #B4000C;
	border: 0;
}

.styled-checkbox:disabled+label {
	color: #b8b8b8;
	cursor: auto;
}

.styled-checkbox:disabled+label:before {
	box-shadow: none;
	background: #ddd;
}

.styled-checkbox:checked+label:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 9px;
	background: white;
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0
		white, 4px -6px 0 white, 4px -8px 0 white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.filter label{
    font-size: 14px;
}





.styled-radio {
	position: absolute;
	opacity: 0;
}

.styled-radio+label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

.styled-radio+label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border: 1px solid #444D66;
    border-radius: 50%;
}

.styled-radio:hover+label:before {
	border: 2px solid #444D66;
}

.styled-radio:checked+label:before {
    background: #FFFFFF;
    border: 1px solid #B4000C;
}

.styled-radio:disabled+label {
	color: #b8b8b8;
	cursor: auto;
}

.styled-radio:disabled+label:before {
	box-shadow: none;
	background: #ddd;
}

.styled-radio:checked+label:after {
    content: '';
    position: absolute;
    left: 4px;
    border-radius: 50%;
    top: 4px;
    background: #B4000C;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
}




/*TABLE*/
table thead {
	border-bottom: 1px solid #EAEAEA;
}

table thead tr th {
	padding: 12px 10px !important;
	font-weight: 700 !important;
	font-size: 12px !important;
	font-family: 'Roboto-Bold', sans-serif !important;
	color: #4A4A4A !important;
}

table tbody tr {
	border-bottom: 1px solid #EAEAEA;
}

table tbody tr td, input {
	font-family: 'Roboto-Regular', sans-serif !important;
    font-size: 14px;
	padding: 6px 10px !important;
	color: #272727;
	vertical-align: middle !important;
}

table a {
	font-family: 'Roboto-Medium', sans-serif !important;
	font-size: 14px !important;
	color: #464F69 !important;
	letter-spacing: 0;
}

table td a.button {
	font-size: 12px;
	padding: .5em .75em;
}

table .is-warning, table .is-danger, table .is-success {
	font-weight: 700;
}

table .is-warning {
	color: #DE951F;
}

table .is-danger {
	color: #B4000C;
}

table .is-success {
	color: #5C9C18;
}

.overflow-auto {
	overflow: auto;
}

.pagination a{
	text-decoration: none;
}

.footable-row-detail-name{
    font-family: 'Roboto-Bold', sans-serif !important;
    font-size: 12px !important;
    color: #272727 !important;
    flex: none;
    width: 45%;
}

.footable-row-detail-value{
	font-family: 'Roboto-Regular', sans-serif !important;
	font-size: 14px !important;
    color: #272727;
}

.footable-row-detail-row{
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    margin-left: 16.66667%;
    padding-bottom: 7px;
    padding-top: 7px;
}

.footable-toggle{
	font-family: Material Icons !important;
	font-size: 18px !important;
	background-color: #fff !important
}

report-detail-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, 
report-detail-table table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before,
report-detail-table table.dataTable.dtr-column>tbody>tr>td.control:before, 
report-detail-table table.dataTable.dtr-column>tbody>tr>th.control:before{
	position: relative;
	line-height: 0px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before,
table.dataTable.dtr-column>tbody>tr>td.control:before, 
table.dataTable.dtr-column>tbody>tr>th.control:before{
	font-family: Material Icons !important;
	content: "\E148" !important;
	color: #464F69 !important;
	box-shadow: none !important;
	background-color: #fff !important;
	font-size: 18px !important;
}

.footable-detail-show .footable-toggle:before{
	font-family: Material Icons !important;
	content: "\E15D" ;
	box-shadow: none !important;
	color: #464F69 !important;
}

table th i.fa{
	margin-top: 3px;
}

table span.footable-sort-indicator:before{
	font-family: FontAwesome;
    content: "\F0DC";
    margin-left: 2px;
    color: #9A9A9A !important;
}

table th.footable-sortable{
	cursor: pointer;
}

/*ORDER CENTER*/
.card.order-block {
	background: #FFFFFF;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.10);
	border: 0;
}

.card.order-block .card-header {
	background: #FFFFFF;
	width: 10em;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20);
	margin-top: -3em;
	margin-left: 1em;
    height: 65px;
}

.card.order-block .card-header h3 {
	width: 100%;
	margin: .5em 0 0 0;
	text-transform: uppercase;
	box-shadow: inset 0 -2px 0 0 #B4000C;
}

h4.oh-notif{
    position: relative;
}

h4.oh-notif:before{
    content: "";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #BCBBAF;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

div.facet {
    background: #BBBBAF;
    color: #fff;
    padding: 1em;
    border-radius: 100px;
    font-weight: 300;
    cursor: auto;
    border: 0;
    font-size: 14px;
}

div.facet a{
    color: #fff;
    line-height: 0;
}

div.facet i{
    width: 24px;
    height: 24px;
}

div.facet:hover{
    color: #fff;
    background: #A1A197;
}

div.facet i{
    margin-left:-.15em;
    margin-right: .25em;
}

.max-width-100 {
	width: 100%;
	max-width: 100%;
}

.align-items-center {
	align-items: center;
}

.center-x-y {
	align-items: center !important;
	justify-content: center !important;
}

.justify-content-right {
	justify-content: flex-end;
}

.height-150 {
	height: 150px;
}

.min-height-489 {
	min-height: 489px;
	height: 489px;
}

.min-height-435 {
	min-height: 435px;
	height: 435px;
	overflow-y: hidden;
}

.height-200 {
	height: 200px;
}

.margin-top-neg-25 {
	margin-top: -25px !important;
}

.card-title {
	font-family: 'Teko-Light', sans-serif;
	font-size: 48px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 48px;
	width: 100%;
	margin: .3em 0 0 0;
	text-transform: uppercase;
	box-shadow: inset 0 -2px 0 0 #B4000C;
}

/*FILTER*/

ul.filter h4{
    border-bottom: 1px solid #B4000C;
}

/*PAGINATION*/

.pagination-previous, .pagination-next{
    text-decoration: none;
    border: 0;
    padding: 0;
    margin: 0;
}

nav.pagination .pagination-list li a.pagination-link, .pagination-ellipsis{
    border-radius: 0;
    border: 0;
    text-decoration: none;
    padding: .05em;
    min-width: 1.5em;
    font-size: 14px;
}

.pagination .pagination-list a.is-current{
    background: none;
    color: #D9D9D9;
}

.pagination-previous:active, .pagination-next:active, a.pagination-link:active{
    box-shadow: none;
}

.padding-top-5{
	padding-top: 5px;
}

/*NAVIGATION*/

.nav-toggle span {
    background-color: #FFF;
}

.nav-toggle:hover{
    background: #353C54;
}

.nav.top-level{
    background: #444D66;
}

.nav.top-level .nav-item{
    box-shadow: inset 1px 0 0 0 #55617F;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1em;
    background: #444D66;
}

.nav.top-level .nav-item:hover{
    background: #353C54;
}

.nav.top-level i.material-icons{
    font-size: 18px;
    color: #D9D9D9;
}

.nav.top-level i.material-icons.is-left{
    margin-right: .75em;
}

.nav.top-level i.material-icons.is-right{
    margin-left: .75em;
}

/*MAIN NAVIGATION*/

nav.main-nav{
    background: #2C3242;
}

a.nav-item.is-tab:hover{
    border: 0;
}

nav.main-nav a.is-tab{
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

/* Circle Styles */
.circle {
	position: relative;
	display: inline-block;
	background-color: transparent;
	color: #222;
	text-align: center;
	width: 40px;
}

.circle:after {
	display: block;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: transparent;
	content: "";
	border: 1px solid #BCBBAF;
}

.circle__inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.circle__wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.circle__content {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	color: #6E7275;
	letter-spacing: 0;
}

.circle-text {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	color: #6E7275;
	letter-spacing: 0;
	line-height: 1;
}

.background-color-grey {
	background-color: #ebebeb;
}

.display-table {
	display: table;
	line-height: 0;
	margin: auto;
}

.display-table-100{
	display: table !important;
	width: 100% !important;
}

/* Recall Notice */
.secondary-card {
	min-height: 352px;
}

.secondary-card .card-header {
	box-shadow: inset 0 -2px 0 0 #B4000C;
	font-size: 36px;
	font-family: 'Teko-Light', sans-serif;
	color: #2c3242;
}

.tool-name {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	color: #464F69;
	letter-spacing: 0;
}

.tool-price {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #464F69;
	letter-spacing: 0;
}

/* Company Assurance */
.company-assurance-title {
	font-family: 'Teko-Light', sans-serif;
	font-size: 52px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 48px;
}

.min-height-96 {
	min-height: 96px;
}

.min-height-63 {
	min-height: 63px;
	height: 63px;
}

.notification-number {
	display: block;
	height: 25px;
	width: 25px;
	line-height: 25px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #EEEEEE;
	text-align: center;
	font-family: 'Roboto-Medium', sans-serif !important;
	font-size: 14px !important;
	color: #4A4A4A !important;
	letter-spacing: 0 !important;
}

.no-data-card {
	font-family: 'Roboto-Light', sans-serif;
	font-size: 24px;
	color: #4A4A4A;
	letter-spacing: 0;
}

.image {
	margin: auto;
}

.invoice-img-container {
	max-height: 224px;
	max-width: 128px;
}

.invoice-img {
	background: #FDFDFD;
	border: 1px solid #D9D9D9;
	box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.10) !important;
	max-height: 224px;
	max-width: 128px;
}

.invoice-btn {
	border: 1px solid #E6E6E6 !important;
	width: 36px;
	border-radius: 0px;
}

.invoice-btn-img {
	padding: 7px;
	height: 34px;
	width: 34px;
}

.view-invoice-btn-img {
	padding-left: 2px;
	padding-right: 2px;
}

.card-label {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 12px;
	color: #4A4A4A;
	letter-spacing: 0;
}

.card-invoice-number {
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 16px;
	color: #464F69;
	letter-spacing: 0;
}

.card-value {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #272727;
	letter-spacing: 0;
}

.card-status {
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 16px;
	letter-spacing: 0;
}

/* Font Colors */
.is-warning {
	color: #DE951F !important;
}

.is-danger {
	color: #B4000C !important;
}

.is-success {
	color: #5C9C18 !important;
}

.breadcrumbs-background {
	background-color: #EBEBEB;
}

/* Search Page */
.filter {
	width: 100%;
}

.filter-title {
	font-family: 'Teko-Light', sans-serif;
	font-size: 24px;
	color: #444D66;
	letter-spacing: 0.33px;
	line-height: 24px;
}

.filter-name {
	font-family: 'Teko-Light', sans-serif !important;
	font-size: 24px !important;
	color: #2C3242 !important;
	letter-spacing: 0.33px !important;
	line-height: 24px !important;
}

.filter-value {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #454545;
	letter-spacing: 0;
}

.search-title {
	font-family: 'Teko-Light', sans-serif;
	font-size: 36px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 36px;
}

.search-facet {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.filter-label {
	font-family: 'Roboto-Regular', sans-serif !important;
	font-size: 13px !important;
	color: #454545 !important;
	letter-spacing: 0 !important;
}

.filter-dropdown {
	font-family: 'Roboto-Regular', sans-serif !important;
	font-size: 14px !important;
	color: #454545 !important;
	letter-spacing: 0 !important;
}

.justify-right {
	justify-content: flex-end;
}

.display-option-btn {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 14px;
	color: #444D66;
	letter-spacing: 0;
}

.product-name {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 18px;
	color: #6E7275;
	letter-spacing: 0;
}

.product-price {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 26px;
	color: #B4000C;
	letter-spacing: 0;	
    word-wrap: break-word;
}

.star-rated {
	color: #FED766;
}

.star-unrated {
	color: #FED766;
}

.item-hover-effect {
	box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.10) !important;
}

.filter-small-screen {
	height: 32px !important;
	width: 50px !important;
	background: #B4000C !important;
	color: #FFFFFF !important;
}

.filter-modal {
	width: 320px;
	background: #FFFFFF;
}

.width-100-perc {
	width: 100%;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.search-img {
	width: 128px !important;
	height: 128px !important;
}

.search-name-card{
	height: 80px;
}

.cursor-pointer {
	cursor: pointer;
}

.width-50 {
	width: 50px;
}

.header-btn-mobile {
	height: 40px !important;
	width: 40px !important;
}

.logo-img-mobile {
	height: 75px !important;
}

.header-display-table {
	height: 100%;
	display: table;
}

.header-display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.float-right {
	float: right;
}

.profile-btn-mobile {
	background: #2C3242 !important;
}

.profile-btn-mobile-icon {
	margin: 0;
	font-size: 30px;
}

.number-circle-notification {
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	position: absolute;
	top: -10px;
	left: -10px;
	height: 20px !important;
	width: 20px !important;
	padding: 1px;
	background: #E06C47;
	border: 1px solid #E06C47;
	text-align: center;
	font-family: 'Roboto-Medium', sans-serif !important;
	font-size: 11px !important;
	letter-spacing: 0;
}

.search-icon {
	position: absolute;
	bottom: 8px;
	right: 10px;
	cursor: pointer
}

.search-icon-card{
    position: absolute;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
}

/* Product Category */
.bgimg-lg-category {
	background-image: url('../../resources/images/category/timberland-hero-cover.png');
    min-height: 395px; 
    /* display: table; */
    overflow-y: hidden;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bgimg-lg-category-1 {
	background-image:
		url('../../resources/images/category/timberland_category_hero_01.png');
    height: 260px;
	width: 98%;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #FFFFFF;
    box-shadow: 0 15px 40px 0 rgba(0,0,0,0.25);
}

.bgimg-lg-category-2 {
	background-image:
		url('../../resources/images/category/timberland_category_hero_02.png');
	height: 260px;
	width: 100%;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #FFFFFF;
    box-shadow: 0 15px 40px 0 rgba(0,0,0,0.25);
}

.bgimg-lg-category-3 {
	background-image:
		url('../../resources/images/category/timberland_category_hero_03.png');
	height: 260px;
	width: 98%;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #FFFFFF;
    box-shadow: 0 15px 40px 0 rgba(0,0,0,0.25);
}

.expression-text-category {
	font-family: 'Teko-Regular', sans-serif;
	font-size: 96px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
	display: inline-flex;
    align-items: center;
}

.margin-top-neg-70 {
	margin-top: -70px !important;
}

.subcategory-text {
	font-family: 'Teko-Regular', sans-serif;
	font-size: 115px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
	display: table-cell;
	vertical-align: middle;
}

/* .category-logo-img {
	height: 128px !important;
} */

.breadcrumb li {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #454545;
	letter-spacing: 0;
}

.breadcrumb li.is-active a {
	text-decoration: none;
}

/* Product Details */
.produt-name-pdp {
	font-family: 'Roboto-Light', sans-serif;
	font-size: 32px;
	color: #333A4c;
	letter-spacing: 0;
	line-height: 31px;
}

.product-item-number-pdp {
	font-family: 'Roboto-Light', sans-serif;
	font-size: 18px;
	color: #444D66;
	letter-spacing: 0;
}

.label-text-pdp-13 {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 13px;
	color: #444D66;
	letter-spacing: 0;
}

.label-text-pdp-15 {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	color: #444D66;
	letter-spacing: 0;
}

.label-text-pdp-16 {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #444D66;
	letter-spacing: 0;
}

.square-number {
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 55px;
	height: 46px;
	padding: 5px;
	background: #FFFFFF;
	border: 2px solid #D9D9D9;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 18px;
	color: #444D66;
	letter-spacing: 0;
}

.square-number-active {
	background: #B4000C;
	box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.25);
	color: #FFFFFF !important;
}

.square-number-active div {
	border: 1px solid #FFFFFF;
	width: 42px;
	height: 32px;
}

.square-color {
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 46px;
	height: 46px;
	padding: 5px;
}

.square-color-active {
	box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.25);
}

.square-color-active div {
	border: 2px solid #FFFFFF;
	width: 36px;
	height: 36px;
}

.square-color-search-page {
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 28px;
	height: 28px;
	padding: 4px;
    display: inline-block;
}

.square-color-search-page-active {
	box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.25);
}

.square-color-search-page-active div {
	border: 1px solid #FFFFFF;
	width: 20px;
	height: 20px;
}

.product-price-pdp {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 32px;
	color: #B4000C;
	letter-spacing: -1.07px;
	line-height: 21px;
    word-break: break-word;
}

.product-qty-pdp {
	height: 50px;
}

.horizontal-line-with-text {
	width: 100%;
	height: 12px;
	border-bottom: 1px solid #D9D9D9;
	text-align: center;
}

.horizontal-line-with-text span {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 15px;
	color: #454545;
	letter-spacing: 0;
	padding: 0 10px;
	background-color: #FFFFFF;
}

.select-store-container {
	display: table;
	width: 100%;
	min-height: 32px;
	height: 32px;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.checkbox-text-pdp {
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 14px;
	color: #B4000C;
	letter-spacing: 0;
	text-decoration: underline;
}

.pick-up-note {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 13px;
	color: #696773;
	letter-spacing: 0;
}

.day-note {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #272727;
	letter-spacing: 0;
}

.margin-top-neg-5 {
	margin-top: -5px;
}

.see-more-locations-pdp {
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 14px;
	color: #B4000C;
	letter-spacing: 0;
}

.padding-top-1 {
	padding-top: 1px;
}

.carousel-image {
	/* min-height: 134px; */
	height: 100%;
	width: 128px;
}

.slick-item-img-border {
	border: 1px solid #D9D9D9 !important;
    cursor: pointer;
}

.no-underline {
	text-decoration: none;
}

.slick-image-active {
	opacity: 1 !important;
	border: 1px solid #B4000C !important;
}

.slick-image-inactive {
	opacity: 0.3;
}

.height-100-perc {
	height: 100%;
}

.print-btn-pdp {
	position: absolute;
	right: 0px;
	top: 40px;
	color: #6E7275;
}

.image-pdp {
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.slick-disabled {
	cursor: default;
	color: #ADADAD;
}

.slick-disabled:hover {
	cursor: default;
	color: #ADADAD;
}

.item-header-text-pdp {
	font-family: 'Teko-Light', sans-serif;
	font-size: 36px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 36px;
	box-shadow: inset 0 -2px 0 0 #B4000C;
}

.item-name-text-pdp {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	color: #B4000C;
	letter-spacing: 0;
	line-height: 19px;
}

.add-to-cart-item-pdp {
	font-family: 'Roboto-Medium', sans-serif !important;
	font-size: 14px !important;
	color: #FFFFF !important;
	letter-spacing: 0;
	width: 145px;
	height: 36px;
}

.width-60 {
	width: 60px;
}

.btn-tabs {
	font-family: 'Teko-Light', sans-serif;
	font-size: 28px;
	color: #6E7275;
	letter-spacing: 0;
	line-height: 20px;
	text-decoration: none;
}

.btn-tabs-active-underline {
	border-bottom: 3px solid #B4000C !important;
}

.btn-tabs-active {
	font-family: 'Teko-Regular', sans-serif;
	color: #B4000C !important;
}

.btn-tabs-container-active-mobile{
    background-color: #FFFFFF;
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.10) !important;
}

.btn-tabs-icon{
    position: relative;
	top: 5px;
}

.tabs-btn-container-pdp {
	height: 80px;
}

.background-grey-pdp {
	background-color: #FAFAFA;
}

.tabs-text-details-pdp {
	font-family: 'Roboto-Light', sans-serif;
	font-size: 15px;
	color: #303030;
	letter-spacing: 0;
	line-height: 24px;
}

.customer-review-text {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	color: #303030;
	letter-spacing: 0;
	line-height: 20px;
}

.customer-review-long-comment {
	font-family: 'Roboto-Light', sans-serif;
	font-size: 15px;
	color: #303030;
	letter-spacing: 0;
	line-height: 20px;
}

.margin-right-2 {
	margin-right: 2px;
}

.slick-item-img {
	height: 128px;
	width: 100%;
}

/* Shopping Cart */
.shopping-cart-title {
	font-family: 'Teko-Light', sans-serif;
	font-size: 54px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 61.1px;
}

.shopping-cart-table tbody th {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 12px;
	color: #272727;
	letter-spacing: 0;
}

.shopping-cart-table tbody th {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 12px;
	color: #272727;
	letter-spacing: 0;
}

.shopping-cart-table-project {
	background-color: #EFEFEF;
	border-radius: 8px;
}

.width-50 {
	width: 50px;
}

.shopping-cart-summary-label {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #272727;
	letter-spacing: 0;
}

.shopping-cart-summary-computation {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	color: #272727;
	letter-spacing: 0;
}

.shopping-cart-summary-total {
	font-size: 20px;
}

.padding-top-7 {
	padding-top: 7px !important;
}

.center-text {
	text-align: center !important;
}

.right-text {
	text-align: right !important;
}

.padding-3 {
	padding: 3px;
}

.error-input{
	border-color: #B4000C !important;
	color: #B4000C !important;
}

/* Login Page */
.login-background-image {
	background-image: url('../../resources/images/jackhammer_HDR_2.jpg');
	background-repeat: no-repeat;
	height: 700px;
	background-size: 100% 100%;
}

.login-container {
	background-color: #2C3242;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
	height: 560px;
    background-image: linear-gradient(#B4000C, #B4000C);
    background-repeat: no-repeat;
    background-size: 65% 4px;
    background-position: left bottom;
}

.login-heading-desktop {
	font-family: 'Teko-Light', sans-serif;
	font-size: 180px;
	color: #FFFFFF;
	letter-spacing: 3px;
	line-height: 165px;
}

.login-logo-img {
	height: 130px !important;
	width: auto !important;
	vertical-align: middle;
	cursor: pointer;
}

.login-link {
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 12px;
	color: #F4EDD7;
	letter-spacing: 0;
	line-height: 24px;
}

.login-icon-link {
	color: #8E8E8E;
}

.login-border-top-tablet{
    background-image: linear-gradient(#B4000C, #B4000C);
    background-repeat: no-repeat;
    background-size: 55% 7px;
    background-position: right top;
}

.login-heading-tablet-bold {
	font-family: 'Teko-SemiBold', sans-serif;
	font-size: 96px;
	color: #FFFFFF;
	letter-spacing: -0.69px;
	line-height: 89px;
}

.login-heading-tablet {
	font-family: 'Teko-Regular', sans-serif;
	font-size: 96px;
	color: #FFFFFF;
	letter-spacing: -0.69px;
	line-height: 89px;
}

.horizontal-line-black {
	width: 55%;
	border: 6px solid #0A0A0A;
}

.headline-image-left, .headline-image-right {
	background-repeat: no-repeat;
	height: 500px;
	background-size: 100% 100%;
}

.login-headline-title-right {
	font-family: 'Teko-Light', sans-serif;
	font-size: 74px;
	color: #2C3242;
	letter-spacing: 3.9px;
	line-height: 61.1px;
}

.login-headline-content {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #454545;
	letter-spacing: 0px;
	line-height: 26px;
}

.border-bottom-red-right, .border-bottom-red-left{
	border-bottom: 7px solid #B4000C;
}

.login-headline-title-left {
	font-family: 'Teko-Light', sans-serif;
	font-size: 62px;
	color: #2C3242;
	letter-spacing: 3.9px;
	line-height: 87px;
}

div.headline-title-left:after{
	content: "";
	border-bottom: 7px solid #B4000C;
	width: 80%;
	display: block;
	margin-left: -24px;
}

.headline-image-right-border-bottom{
    background-image: linear-gradient(#B4000C, #B4000C);
    background-repeat: no-repeat;
    background-size: 75% 4px;
    background-position: right bottom;
}

.headline-message{
	font-family: 'Teko-Light', sans-serif;
	font-size: 32px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 42px;
}

.headline-message-container{
	padding: 25px;
    text-align: center;
	background-image: linear-gradient(#B4000C, #B4000C), linear-gradient(#B4000C, #B4000C), linear-gradient(#B4000C, #B4000C), linear-gradient(#B4000C, #B4000C), linear-gradient(rgba(10, 10, 10, 0.65), rgba(10, 10, 10, 0.65));
    background-repeat: no-repeat;
    background-size: 4px 50px, 50px 4px, 4px 50px, 50px 4px, calc(100% - 8px) calc(100% - 8px);
    background-position: left top, left top, right bottom, right bottom, 4px 4px;
}

.login-logo-img-mobile{
	height: 95px !important;
    width: auto !important;
    vertical-align: middle;
    cursor: pointer;
}

.login-heading-mobile{
	font-family: 'Teko-Regular', sans-serif;
	font-size: 26px;
	color: #FFFFFF;
	letter-spacing: -0.15px;
	line-height: 25px;
}

.login-heading-mobile-bold{
	font-family: 'Teko-SemiBold', sans-serif;
	font-size: 26px;
	color: #FFFFFF;
	letter-spacing: -0.19px;
	line-height: 25px;
}

.login-container-mobile{
	background-color: rgba(44,50,66,0.85);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
    height: 560px;
    background-image: linear-gradient(#B4000C, #B4000C);
    background-repeat: no-repeat;
    background-size: 65% 4px;
    background-position: left bottom;
}

.login-background-image-mobile {
	background-image: url('../../resources/images/jackhammer_HDR_2.jpg');
	background-repeat: no-repeat;
	height: 560px;
	/* background-size: 100% 100%; */
}

.headline-image-left-mobile, .headline-image-right-mobile{
    background-repeat: no-repeat;
    height: 400px;
    background-size: 100% 100%;
}

.headline-message-mobile {
    font-family: 'Teko-Light', sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 32px;
}

.login-headline-title-mobile {
    font-family: 'Teko-Light', sans-serif;
    font-size: 48px;
    color: #2C3242;
    letter-spacing: 1.5px;
    line-height: 42px;
}


/* Product Catalog */
.product-catalog-container{
	width: 760px !important;
    overflow: hidden;
}

.product-catalog-container a, .product-catalog-item a{
	font-family: 'Teko-Light', sans-serif !important;
    font-size: 23px !important;
    color: #2C3242 !important;
    letter-spacing: 0 !important;
	text-decoration: none !important;
	font-weight: normal !important;
}

.product-catalog-header{
    font-family: 'Teko-Regular', sans-serif;
    font-size: 28px;
    color: #2C3242;
    letter-spacing: 0;
    line-height: 33px;
}

.product-catalog-horizontal-line {
	border: 1px solid #B4000C;
}

.product-catalog-item{
	margin-top: 10px;
}

ul.product-catalog-item li{
	font-family: 'Teko-Light', sans-serif;
    font-size: 23px;
    color: #2C3242;
    letter-spacing: 0;
}

.overflow-hidden{
	overflow: hidden;
}

/* Quick Order */
.quick-order-container {
	width: 400px !important;
}

.quick-order-item{
	height: 40px;
}

.quick-order-add-to-cart{
    width: 185px;
    height: 50px;
}

.quick-order-add-more-items{
	width: 175px;
    height: 50px;
}

.quick-order-name{
	font-family: 'Roboto-Medium', sans-serif;
    font-size: 14px;
    color: #464F69;
    letter-spacing: 0;
}

.quick-order-stock{
	font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #272727;
    letter-spacing: 0;
}

.smart-nav-content{
	height: 300px;
	overflow-y: auto;
}

.smart-nav-item span{
	font-family: 'Teko-Light', sans-serif;
    font-size: 23px;
    color: #2C3242;
    letter-spacing: 0;
}

.quick-order-add-more-items-mobile{
	border: 1px solid #d9d9d9 !important;
    display: inline-flex !important;
    height: 50px !important;
}

.quick-order-add-to-cart-mobile{
	display: inline-flex !important;
    height: 50px !important;
}

.live-chat{
	color: #FFFFFF;
	position: fixed;
    bottom: 2%;
    right: 2%;
    width: 44px;
    height: 44px;
    background: #B4000C;
    border: 1px solid #FFFFFF;
    border-radius: 0.25em;
    box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    overflow: hidden;
    white-space: nowrap;
    padding: 9px;
    z-index: 9;
}

.live-chat i{
	font-size: 34px;
}

.live-chat-mobile{
    background-color: #B4000C;
    border: 1px solid #bbbbbb;
}

.live-chat-mobile i{
	font-size: 18px;
}

/* Cart */

.side-nav-cart-container {
    height: 500px;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: 0.5s;
}

.nav-cart-container-mobile{
	height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: 0.5s;
}

.side-nav-shopping-cart-title{
	font-family: 'Teko-Light', sans-serif;
    font-size: 36px;
    color: #2C3242;
    letter-spacing: 0;
}

.side-nav-shopping-cart-item{
	font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #2C3242;
    letter-spacing: 0;
}

.side-nav-shopping-cart-table-container{
	max-height: 350px;
    overflow: auto;
}

.font-size-32{
	font-size: 32px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before,
cart table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before,
project-detail-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
report-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before{
	line-height: 51px !important;
	font-family: Material Icons !important;
	content: "\E148" !important;
	color: #464F69 !important;
	box-shadow: none !important;
	background-color: #fff !important;
	font-size: 18px !important;
}



.shopping-cart-table-project {
    background-color: #fff !important
}

/* Notification */
.side-nav-notification-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow-y: auto;
    transition: 0.5s;
}

/* .side-nav-notification-container-mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #444d66;
    overflow-y: auto;
    transition: 0.5s;
} */

.side-nav-notification{
	font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
}

.notification-btn{
    font-family: 'Roboto-Bold', sans-serif !important;
    font-size: 14px !important;
    color: #4A4A4A !important;
}

.notification-message{
	font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
}

.notification-item{
    border: 1px solid #E1E1E1;
}

.notification-item-container{
	display: table;
	height: 66px;
}

.notification-tag-new{
	background-color: #444d66;
	color: #FFFFFF;
	font-family: 'Roboto-Bold', sans-serif;
    font-size: 12px;
}

.notification-type{
	color: #B4000C;
	font-family: 'Roboto-Bold', sans-serif;
    font-size: 12px;
}

.notification-link{
	font-family: 'Roboto-Medium', sans-serif !important;
    font-size: 14px !important;
    color: #464F69 !important;
    letter-spacing: 0;
}

.notification-details{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
}

.notification-past-due{
    color: #e06c47;
    font-size: 18px;
}

.vertical-align-middle{
	vertical-align: middle;
}

.font-color-white{
	color: #FFFFFF;
}

.quick-order-modal{
    background: #FFFFFF;
}

/* Search Autocomplete */
.autocomplete ul{
	position: absolute;
    left: 0;
    width: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 9;
}

.autocomplete li {
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 0.4em;
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
}

.autocomplete li:hover{
	background-color: #c9cdda;
}

/* Orders */
.orders-title{
	font-family: 'Teko-Light', sans-serif;
    font-size: 54px;
    color: #2c3242;
    letter-spacing: 0;
    line-height: 61.1px;
}

.width-70-perc{
	width: 70%;
}

.bg-success{
	background-color: #5C9C18;
}

.bg-warning{
	background-color: #DE951F;
}

.bg-danger{
	background-color: #B4000C;
}

.small-circle{
	border-radius: 50%;
	height: 10px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* Invoices */
.invoices-title,.invoices-id-title {
	font-family: 'Teko-Light', sans-serif;
	font-size: 54px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 61.1px;
}

.total-selected-invoices-label{
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 14px;
	color: #2C3242;
	letter-spacing: 0;
}

.total-selected-invoices{
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 18px;
	color: #2C3242;
	letter-spacing: 0;
}

.pay-selected-invoices-btn{
	font-size: 14px !important;
    border-radius: 0;
    margin-left: -5px;
}

.total-invoices-detail{
	display: inline-table;
    border: 1px solid #dbdbdb;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-right: 8px;
    padding-left: 8px;
}

.margin-top-18{
	margin-top: 18px;
}

.margin-bottom-3{
	margin-bottom: 3px !important;
}

.margin-bottom-5{
	margin-bottom: 5px !important;
}

.display-block{
	display: block;
}

.total-selected-container{
    min-width: 190px;
    text-align: left;
    float: right;
}

.min-height-555{
	min-height: 555px;
	height: 555px;
}

/* Date Picker */
.date-range-text{
	font-family: 'Teko-Regular', sans-serif;
	font-size: 18px;
	color: #444D66;
	letter-spacing: 0.25px;
	line-height: 24px;
}

.datepick-filter{
	width: 100%;
	color: #464F69 !important;
}

.datepick-filter[disabled]{
	background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
    box-shadow: none !important;
    color: #7a7a7a !important;
    opacity: 0.5 !important;
}

.datepicker-filter-icon{
	position: absolute;
    bottom: 9px;
    right: 5px;
    cursor: pointer;
}

._720kb-datepicker-calendar{
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10) !important;
}

._720kb-datepicker-calendar-header{
	background: #FFFFFF !important;
	font-family: 'Roboto-Light', sans-serif !important;
    font-size: 14px !important;
    color: #464F69 !important;
    letter-spacing: 0 !important;
}

._720kb-datepicker-calendar-days-header{
	font-family: 'Roboto-Medium', sans-serif !important;
    font-size: 14px !important;
    color: #464F69 !important;
    letter-spacing: 0 !important;
	background: #FFFFFF !important;
    margin-top: -10px !important;
}

._720kb-datepicker-calendar-month{
	font-family: 'Roboto-Medium', sans-serif !important;
    font-size: 16px !important;
    color: #B4000C !important;
    letter-spacing: 0 !important;
}

._720kb-datepicker-calendar-month span {
    font-family: 'Roboto-Medium', sans-serif !important;
    font-size: 16px !important;
    color: #B4000C !important;
    letter-spacing: 0 !important;
}

._720kb-datepicker-calendar-body{
	font-family: 'Roboto-Light', sans-serif !important;
    font-size: 14px !important;
    color: #464F69 !important;
    letter-spacing: 0 !important;
}

._720kb-datepicker-calendar-day._720kb-datepicker-active{
	background: #bcb7a2 !important;
}

.padding-y-12px{
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

.date-picker-mobile-right ._720kb-datepicker-calendar {
	right: 0;
}

._720kb-datepicker-calendar-header-left, ._720kb-datepicker-calendar-header-right{
	padding-top: 7px;
}

._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-days-header div, ._720kb-datepicker-calendar-years-pagination a{
	color: #464F69 !important;
}

/* Checkout */
.checkout-heading{
	font-family: 'Teko-Light', sans-serif;
	font-size: 52px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 48px;
}

.checkout-step-label{
	font-family: 'Teko-Regular', sans-serif;
	font-size: 26px;
	color: #B9B9B9;
	letter-spacing: 0;
	line-height: 26px;
}

.checkout-step-label-active{
	font-family: 'Teko-Regular', sans-serif;
	font-size: 26px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 26px;
}

.checkout-step-label-border{
	box-shadow: inset 0 -2px 0 0 #D9D9D9;
}

.checkout-step-label-border-previous{
	box-shadow: inset 0 -2px 0 0 #D9D9D9;
}

.checkout-radio-text{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #454545;
	letter-spacing: 0;
}

.checkout-label{
	font-family: 'Roboto-Regular', sans-serif !important;
	font-size: 13px !important;
	color: #454545 !important;
	letter-spacing: 0 !important;
}

.checkout-label-previous{
	color: #B4000C !important;
}

.checkout-edit{
	float: right;
}

.address-details{
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 14px;
	color: #272727;
	letter-spacing: 0;
}

.checkout-link{
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 12px;
	color: #284B63;
	letter-spacing: 0;
}

.checkout-agreement-text{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #454545;
	letter-spacing: 0;
}

.confirmation-text{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #444D66;
	letter-spacing: 0;
}

.order-success-message-header{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 28px;
    color: #444D66;
    letter-spacing: 0;
}

.order-success-message-1{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 20px;
    color: #444D66;
    letter-spacing: 0;
}

.order-success-message-2{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 20px;
    color: #454545;
    letter-spacing: 0;
}

.order-success-message-2-bold{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 20px;
    color: #454545;
    letter-spacing: 0;
}

/* Checkout */

.display-options{
    position: absolute;
    width: 300px;
    height: 105px;
    background-color: #444d66;
    right: 1px;
    margin-top: 35px;
    z-index: 1;
}

.display-options-text{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.margin-top-8{
	margin-top: 8px;
}

.height-105{
	height: 105px;
}

.recommended-product-name {
	height: 90px;
}

.height-35{
	height: 35px;
}

.filter-active-display-options{
	background-color: #444d66 !important;
}

.filter-selected-display-options{
	background-color: #2c3242 !important;
}

.filter-active-display-options span{
	color: #FFFFFF !important;
}

.border-radius-0{
	border-radius: 0;
}

/* Order Details */
.order-detail-title{
	font-family: 'Teko-Light', sans-serif;
	font-size: 54px;
	color: #2C3242;
	letter-spacing: 0;
	line-height: 61.1px;
}

.order-detail-address-label{
	font-family: 'Roboto-Bold', sans-serif;
    font-size: 18px;
    color: #2C3242;
    letter-spacing: 0;
    line-height: 18px;
}

.order-detail-address{
	font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #272727;
    letter-spacing: 0;
    line-height: 14px;
}

.print-order-btn{
    float: right;
    width: 35px;
    height: 35px;
    border: 1px solid #E6E6E6 !important;
    margin-top: 10px;
}

.print-order-btn i{
	font-size: 22px;
}

.order-detail-container{
    width: 490px !important;
    max-height: 440px !important;
	overflow: auto;
}

.order-detail-container-mobile{
	max-height: 430px !important;
	overflow: auto;
}

.order-detail-nav{
	border-bottom: 3px solid #6E7275;
}

.order-pop-over-product-name{
	font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
    color: #464F69;
    letter-spacing: 0;
}

.order-pop-over-product-name:hover{
    color: #464F69;
}

.order-detail-modal{
    width: 500px;
    background: #FFFFFF;
    overflow: hidden;
}

.nav-order-detail-mobile{
	height: 0;
    width: 100%;
    position: fixed;
    z-index: 20;
    bottom: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: 0.5s;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 8; /* Specify a stack order in case you're using a different order for other elements */
}

/* Other */
.hero-body{
    padding: 3rem 1.2rem;
}

category-filter-modal .filter-modal,
search-filter-modal .filter-modal {
    background: transparent !important
}

category-filter-modal .modal-card-head,
search-filter-modal .modal-card-head{
    background-color: transparent !important
}

category-filter-modal .modal-card-foot,
search-filter-modal .modal-card-foot{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top: none !important; 
}



/* OVERRIDES*/

invoice-table #DataTables_Table_0_length,invoice-table .dataTables_length,.dataTables_filter,invoice-table .dataTables_info,
order-table #DataTables_Table_0_length,order-table .dataTables_length, order-table .dataTables_info, 
home-page-order-card .dataTables_length, home-page-order-card .dataTables_info, 
home-page-invoice-card .dataTables_length, home-page-invoice-card .dataTables_info, 
cart.dataTables_length, cart .dataTables_info,
shopping-cart-table .dataTables_info{
	display: none
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
	content: "\E15D" !important;
}

table.dataTable.no-footer {
    border-bottom: none !important
}

table.dataTable, table.dataTable.no-footer {
    margin: 0px !important;
    border-top: none !important
}

.dtr-title{
    font-family: 'Roboto-Bold', sans-serif !important;
    font-size: 12px !important;
    color: #272727 !important;
    flex: none;
    width: 45%;
}

.dtr-data{
	font-family: 'Roboto-Regular', sans-serif !important;
	font-size: 14px !important;
    color: #272727;
}

.dtr-details{
    border-bottom: none;
    display: flex;
    margin-left: 16.66667% !important;
    padding-bottom: 7px !important;
    padding-top: 7px !important;
    width: 84%;
}



invoice-table table td.child {
    background-color: #fff;
}

invoice-table .status-border{
	/* margin-left: 25%; */
	border:1px solid #b8b8b8;
	border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 3px; 
}

#cart-mobile .side-nav-shopping-cart-title {
    font-family: 'Teko-Light', sans-serif;
    font-size: 33px;
}

td.dataTables_empty {
    text-align: center;
}

.hidden-visiblity{
	visibility : hidden !important;
}

home-page-order-card table thead,
home-page-invoice-card table thead,
invoice-table table thead,
order-table table thead{
    border-top: 1px solid #ffffff !important;
}

/* home-page-order-card table.dataTable thead th,
home-page-invoice-card table.dataTable thead th,
order-table table.dataTable thead th{
    border-bottom: 1px solid #B4000C !important;
} */


invoice-table table.dataTable thead th{
	 border-bottom: none !important
}
/* Invoice PDF viewer */
invoice-pdf-view-modal a.button.py2.m0.button-nav-dark {
    font-size: 14px !important;
}

invoice-pdf-view-modal .modal-card-head {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	background-color: #3b3835 !important;
	padding-left : 20px !important;
	padding-top : 10px !important;
	padding-bottom : 10px !important
}

invoice-pdf-view-modal object {
	height: 500px;
}

invoice-pdf-view-modal .modal-card-title{
	color : #ffffff !important;
    font-size: 1.3rem !important;
}

invoice-pdf-view-modal .delete.is-large {
    background-color: #3b3835 !important;
}

invoice-pdf-view-modal .pdf-download a{
    color: #fff;
    padding-right: 36px;
    cursor: pointer;
	text-decoration: none !important;
}

invoice-pdf-view-modal .fa{
    font-size: 1.3rem;
	
}

/* Invoice Payment */
.invoice-total{
	font-family: 'Roboto-Regular', sans-serif !important;
    font-size: 18px;
	color: #464F69;
	margin-top: 10px;
}

.datepick-invoice-pay{
	width: 121px;
    color: #464F69 !important;
}

.asterisk-head{
	font-size: 23px
}

.required-label{
	font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    font-weight: bolder;
}

/* Project page */
.project-options .display-options {
    width: 185px !important;
}

.create-project{
	font-family: Roboto-Bold !important;
	font-size: 15px !important;
	color: #FFFFFF;
	letter-spacing: 0;
	width: 100%
}

.project-btn-img {
    padding: 7px;
    height: 34px;
    width: 37px;
}

.project-img{
	height: 50px !important;
	widht: 70px !important
}

.project-folder{
	border: 1px solid #dbdbdb;
}

.project-name{
	font-family: 'Roboto-Regular', sans-serif;
	font-weight: 600;
    font-size: 16px;
}

.project-date {
    color: #888686;
    font-size: 13px;
    font-family: 'Roboto-Regular', sans-serif;
}

.project-folder i, .project-list-item i{
	font-size: 24px;
	color: #B4000C;
	position:relative
}

project-list{
	position: relative
}

.project-img-list{
	width: 45px
}

.project-list-item{
	border-bottom: 1px solid #EAEAEA;
}

.create-proj-title{
	font-family: 'Teko-Light', sans-serif;
    font-size: 44px;
    color: #444D66;
    letter-spacing: 0.33px;
    line-height: 24px;
}
a.button.is-secondary-btn{
	background: #444D66;
	border: 1px solid #D9D9D9;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}

.create-proj-modal{
	width: 500px
}

project-create-modal .cancel-btn{
	margin-left: 4rem !important;
}

.tile.proj-add-cart {
    float: right;
    margin-right: 1rem;
}

.popover-floating-animation-bottom,
.popover-floating-animation-top{
    animation: none;
    -webkit-animation: none;
}

.popover-proj{
    font-family: 'Roboto-Regular', sans-serif;
    color: #444D66;
    font-size: 14px;
    font-weight: 600;
    z-index: 100
}

.popover-proj i{
	color: #444D66;
}

.popover-proj ul{
	width: 134px
}

.popover-proj .fa{
	font-size: 25px;
	vertical-align: baseline
}
.angular-popover {
	z-index:10
}

.thumb-4 .angular-popover, .list-popover .angular-popover{
	left: -132px !important	
}

.angular-popover-triangle {
    z-index: 11;
}

.project-thumb{
	width: 20% !important;
}

.product-section .card{
	box-shadow: none !important
}

.overflow {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.delete-font-size{
	font-size: 33px !important
}

.popover-content.popover-proj-product{
    width: 442px;
}

.select-proj-title{
	font-family: 'Teko-Light', sans-serif;
    font-size: 37px;
    text-transform: capitalize;
    font-weight: 500;
    color: #2C3242;
}

.is-capitalized{
	text-transform: capitalize !important;
}

.popover-proj-product .proj-title{
	color: hsl(0, 0%, 21%)
}

.column.project-product-list {
    overflow-y: scroll;
    height: 300px;
    overflow-x: hidden;
}

project-filter-modal .filter-modal{
	height: 511px
}

.hide{
	visibility: hidden
}

.add-to-project i.material-icons {
    color: #2C3242;
}

.project-product-search .angular-popover-triangle.angular-popover-triangle-bottom {
	display: none;
}

.project-product-search .angular-popover {
	top: 0px !important;
	left: 3px !important;
	width: 500px
}

.width-230{
	width: 230px !important
}

.account-info-name{
	font-family: 'Teko-Light', sans-serif !important;
}

.accont-menu-title{
	font-family: 'Teko-Light', sans-serif;	
    letter-spacing: 0.33px;
    line-height: 24px;
    color: gray;
    font-size: 24px; 
    margin-left: -20px;
    width: 141%;
}

.is-active-acct{
	color: #B4000C !important;
    border-bottom: solid 2px;   
}

.accont-menu-title span {
    margin-left: 23px;
}

.account-container {
    left: 0px !important
}

.is-100-width{
	width: 100% !important;
}

.width-100px{
	width: 100px
}

a.button.is-ghost.max-width-100, .save-changes {
	font-size: 18px;
    font-weight: 700;
}

.no-wrap{
	white-space: nowrap !important;
}

.project-thumb label {
    font-family: 'Roboto-Regular', sans-serif !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.roboto{
    font-family: 'Roboto-Regular', sans-serif !important;	
}

shopping-cart-table table thead,
project-detail-table table thead,
invoice-table table thead ,
invoice-detail-table table thead,
report-table table thead,
report-detail-table table thead,
new-report-table table thead,
create-report-table table thead,
summary-report-table table thead,
product-summary-report-table table thead,
ship-to-summary-report-table table thead,table thead{
    border-bottom: 1px solid #EAEAEA;
    background-color: #454f6a;
}

shopping-cart-table table.dataTable thead th,
project-detail-table table.dataTable thead th,
invoice-table table.dataTable thead td,
invoice-detail-table table.dataTable thead th,
report-table table.dataTable thead th,
report-detail-table table.dataTable thead th,
new-report-table table.dataTable thead th,
create-report-table table.dataTable thead th,
summary-report-table table.dataTable thead th,
product-summary-report-table table.dataTable thead th,
ship-to-summary-report-table table.dataTable thead th,table table.dataTable thead th{
    border: 1px solid #454f6a; 
}

shopping-cart-table table thead tr th,
project-detail-table table thead tr th,
invoice-table table thead tr th,
invoice-detail-table table thead tr th,
report-table table thead tr th,
report-detail-table table thead tr th,
new-report-table table thead tr th,
create-report-table table thead tr th,
summary-report-table table thead tr th,
product-summary-report-table table thead tr th,
ship-to-summary-report-table table thead tr th,table thead tr th{
	color: white !important
}

shopping-cart-table .table tr:hover,
project-detail-table .table tr:hover,
invoice-table .table tr:hover,
invoice-detail-table .table tr:hover ,
report-table .table tr:hover,
report-detail-table .table tr:hover,
new-report-table .table tr:hover ,
create-report-table .table tr:hover,
summary-report-table .table tr:hover,
product-summary-report-table .table tr:hover ,
ship-to-summary-report-table .table tr:hover,.table tr:hover   {
    background-color: transparent 
}

project-detail-table .table tr:hover{	
	cursor: pointer
}

report-detail-table table.dataTable.no-footer,{
	border-bottom: 1px solid #dbdbdb !important;
    border-spacing: 0px;
    border-collapse: collapse;
}

report-detail-table table.dataTable.row-border tbody td{
	border-top: none;	
    border-width: thin !important
}

td.dataTables_empty {
    height: 8rem;    
    font-size: 1.1rem;
    color: #a3a9ac
}

.invoice-button{
	text-decoration: none;
	color: #464f69;
}

.invoice-stats{
	font-size: 27px;
	font-weight:600;
	color: #464F69
}

.invoice-detail-label{
	font-family: 'Roboto-Regular', sans-serif !important;
    font-size: 18px;
	color: #464F69;
	margin-top: 10px;
	font-weight: 600
}

.invoice-pdf-view{
	padding-top: 120%
}

.invoice-address-label {
    font-family: 'Teko-Light', sans-serif;
    font-size: 23px;
    color: #2C3242;
    letter-spacing: 0;
    font-weight: 600;
}

.relative{
	position: relative
}

.report-dropdown a{
	text-decoration: none
}

td.has-text-right.report-action {
    opacity: 0.75;
}

td.has-text-right.report-action:hover{
    opacity: 1;
}

report-table .context-menu{
	position: relative
}

report-table .angular-popover{
   	width: 198px;
    left: -125.5px !important;
}

report-table .angular-popover-container{
    top: 60px !important;
}

.report-context a{
	text-decoration: none
}

.report-export .button{
	color : #444D66;
	float : right
}

.report-export a, .is-ghost{
	color : #444D66;
}

invoice-table .dt-buttons,
create-report-table .dt-buttons,
report-detail-table .dt-buttons,
summary-report-table .dt-buttons,
product-summary-report-table .dt-buttons,
ship-to-summary-report-table .dt-buttons{
	display: none
}

.report-icon{
	max-height:1.10rem !important
}

report-year-to-date .ui.label>.delete.icon{
	background: #bcbbaf
}
report-year-to-date .ui.multiple.dropdown>.label{
	background: #bcbbaf;
    color: white;
    text-decoration: none;
    padding-bottom: 0
}

report-year-to-date i.icon.delete:before {
    content: "" !important; 
}

report-year-to-date i.icon:before {
     background: white!important; 
}

*, :after, :before {
    box-sizing: border-box;
}

.new-report-border {
    box-shadow: inset 0 -1px 0 0 #D9D9D9;
}

.report-preview span{
	color: #B9B9B9;
	font-size : 17px
}

.report-preview img{	
    width: 150px;
    height: 150px;
}

.summary-report .label{
	font-weight: 600;
	color: #444D66;
}

.summary-report .ng-binding{
	font-weight: 300;
	color: #0A0A0A;
	font-size: 16px
}

.report-title span, #summary-report-table .report-title{
    color: #444D66;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	padding:0.5em 1em;
}
#product-to-table .report-title,#product-to-table .report-footer,#product-to-table .report-mFooter,
#summary-report-table .report-footer,#summary-report-table .group-start{
    color: #444D66;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#product-to-table .group{
	display:none;
}
.ship-to-summary-tab table#product-to-table {
	display:table;
}
.table th.has-text-right{
	text-align:right;
}
#product-to-table .report-title td,#product-to-table .report-footer td,#product-to-table .report-mFooter td{
	background-color:#e4e8f3;
	color: #444D66;
	padding:6px 10px;
}
#product-to-table .report-title td:first-child:before,#product-to-table .report-title td:before,
#product-to-table .report-mFooter td:before,
#summary-report-table .group-start td:before{
	content:"" !important;    
	background-color: transparent !important;
    border: 0px;
}
#product-to-table.collapsed .report-footer,#product-to-table.collapsed .report-mFooter{
	visibility:hidden !important;
}
#product-to-table .report-title{
	cursor:pointer;
}
#ship-to-table .report-title,#ship-to-table .report-footer,#ship-to-table .report-mFooter,#ship-to-table .report-footer-sec{
    color: #444D66;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#ship-to-table .group{
	display:none;
}
#ship-to-table .report-title td,#ship-to-table .report-footer td,#ship-to-table .report-mFooter td,#ship-to-table .report-footer-sec td{
	background-color:#e4e8f3;
	color: #444D66;
	padding:6px 10px;
}
#ship-to-table .report-title td:first-child:before,#ship-to-table .report-title td:before,#ship-to-table .report-mFooter td:before{
	content:"" !important;    
	background-color: transparent !important;
    border: 0px;
}
#ship-to-table.collapsed .report-footer,#ship-to-table.collapsed .report-mFooter,#ship-to-table.collapsed .report-footer-sec{
	display:none;
}
#ship-to-table .report-title{
	cursor:pointer;
}
.report-title .report-content{ 
	border-top: 2px solid #444D66 !important;
    padding-left: 8px;
}

.report-title{
	padding-bottom: 1em;
	padding-top: 1em;
    background-color: white;
	border: none !important
}
.report-title th{
	border-bottom: 1px solid #ddd !important;
	border-left: none !important;
	border-right: none !important
}

.report-title th:hover{
    background-color: white	
}

.ui.dropdown:not(.button)>.default.text,
.ui.fluid.dropdown>.dropdown.icon{
	color: #0A0A0A !important
}

report-year-to-date  input[type=text] {
    -webkit-appearance: button;
}

.report-chart img{
	max-width: 900px;
	max-height: 500px
}

.overlap-div{
	height: 71px;
    position: relative;
    z-index: 5;
}

.invoice-detail-icon{
    max-height: 1.2rem !important;
}

.invoice-tab-active small{
	border-bottom: 2px solid
}

.invoice-tab span{
	cursor : pointer
}

a.button.is-secondary-btn {
    background: #444D66;
    border: 1px solid #D9D9D9;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-weight: 100;
}

ship-to-summary-report-table table.dataTable thead .sorting_desc:after,
ship-to-summary-report-table table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting:after,
table.dataTable thead .toggle:after{
 	content: url("../images/table-sort/sort-descending.svg");
 	opacity: 0.5;
    padding-top: 0.12em;
  	padding-left: 1em;
  	visibility: hidden
} 
table.dataTable thead .sorting_asc:after{
 	content: url("../images/table-sort/sort-ascending.svg");
    padding-top: 0.12em;
 	padding-left: 1em;
}
table.dataTable thead .sorting_desc:after{
 	content: url("../images/table-sort/sort-descending.svg");
    padding-top: 0.12em;
  	padding-left: 1em;
}

table.dataTable thead .expand:after{
	display:none
}

tr.ng-scope.odd {
    background-color: #FFF !important;
}

tr.ng-scope.even {
    background-color: #FCFCFC !important;
}

table.dataTable tbody .even td,
table.dataTable tbody .odd td {
    padding: 40px 10px !important;
}
table.dataTable#ship-to-table thead .sorting:after,
table.dataTable#ship-to-table thead .toggle:after, 
table.dataTable#ship-to-table thead .sorting_asc:after,
table.dataTable#ship-to-table thead .sorting_desc:after{
 	content: '';
    padding-top: 0;
  	padding-left:0;
}
#ship-to-table thead th{
	vertical-align:middle;
}
.report-detail-container div.column.p-t-0{
	width:100%;
}
ship-to-summary-report-table table.dataTable#ship-to-table thead .sorting_asc,ship-to-summary-report-table table.dataTable#ship-to-table  thead .sorting_desc{
	background-image:none;
}
table.dataTable#ship-to-table thead .sorting span:after,
table.dataTable#ship-to-table thead .toggle span:after{
 	content: url("../images/table-sort/sort-descending.svg");
 	opacity: 0.5;
    padding-top: 0.12em;
  	padding-left: 0.5em;
  	visibility: hidden
} 
table.dataTable#ship-to-table thead .sorting_asc span:after{
 	content: url("../images/table-sort/sort-ascending.svg");
    padding-top: 0.12em;
 	padding-left: 0.5em;
}
table.dataTable#ship-to-table thead .sorting_desc span:after{
 	content: url("../images/table-sort/sort-descending.svg");
    padding-top: 0.12em;
  	padding-left: 0.5em;
}
home-page-invoice-card table.dataTable tbody .even td,
home-page-invoice-card table.dataTable tbody .odd td,
home-page-order-card table.dataTable tbody .even td,
home-page-order-card table.dataTable tbody .odd td  {
    padding: 10px 10px !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc{
	background-image: none 
}	 

ship-to-summary-report-table table.dataTable thead .sorting_asc {
    background-image: url(../plugins/angular-datatable/images/sort_asc.png);
}

ship-to-summary-report-table table.dataTable thead .sorting_desc {
    background-image: url(../plugins/angular-datatable/images/sort_desc.png);
}

.align-middle{
	vertical-align: middle !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	font-family: 'Roboto', sans-serif !important;
	border-color: transparent !important;
	background: none !important;
	color: #444D66 !important
}
#ship-to-tableD{display:none;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	font-family: 'Roboto', sans-serif !important;
	color: #7a7a7a !important;
    opacity: 0.5 !important;
	background: none !important;
	border: none !important;
}

table.dataTable th{
	width:auto !important;
	white-space: nowrap;
	text-transform: uppercase;	
}

ship-to-summary-report-table table.dataTable th {
    white-space: pre-line;
}

invoice-table table.dataTable th{
	text-transform: uppercase;	
}


.is-white{
	color:#ffff !important
}

invoice-table .dtr-details{
	width: 93%;
	margin-left:7% !important;
}

invoice-table .dtr-title{
	color: #464F69  !important
}

.divider {
    border-bottom: 1px solid #b8b8b8;
}

invoice-table table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, 
invoice-table table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  	font-family: 'FontAwesome' !important;
    content: "\f139" !important;
}

invoice-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, 
invoice-table table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before,
invoice-table table.dataTable.dtr-column>tbody>tr>td.control:before, 
invoice-table table.dataTable.dtr-column>tbody>tr>th.control:before{
  	font-family: 'FontAwesome' !important;
	content: "\f13a" !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: none !important	
}
.toast-message {
	font-family: 'Roboto', sans-serif;	
}

.toast-success {
	background-color: #464F69
}

.toast-top-right {
    top: 47%;
    right: 40%;
}

.btn-tooltip{
	color:#464F69;
	font-size: 11px;
	padding:1px
}

a.button.p-y-0.m-r-1.invoice-dl.ng-scope:after {
    font-family: 'Material Icons';
    content: '\E2C4';
    font-size: 27px;
}

a.button.p-y-0.m-r-1.invoice-print.ng-scope:after {
    font-family: 'Material Icons';
    content: '\E555';
    font-size: 27px;
}

invoice-table td {
	text-overflow: ellipsis
}

.item-name{
	display: inline-block;
	width: 50%
}

invoice-table .dtr-title,
order-detail-table .dtr-title,
project-detail-table .dtr-title{	
    vertical-align: top;
}


table.dataTable thead th{
	border-bottom: none
}

report-rename-modal .is-mobile{
	padding-left: 2rem
}

.shopping-order-summary{
	background-color: #464f69
}

.order-summary-title{
	font-family: 'Teko-Light', sans-serif;
	font-size: 32px;
	color: #FFF;
	letter-spacing: 0;
	line-height: 61.1px;	
}

.order-summary-fixed{	
    z-index: 1
}

.fixed {
    position: fixed;
    right: 15px; 
    top: 0;
    padding-top: 0px;
}

.fixed-mobile{
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding-top: 0px;	
    z-index: 1
}

.text-ellipsis{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
} 

.word-break-all{	
    word-break: break-all;
}

category-sub-cover .container.is-fluid{
	margin-top: -80px
}

.ship-to-summary-tab table{
	 display: inline-block;
	 width: 100%!important;  
	 overflow: auto;
	 clear:both 
}  

.custom-ship-width{
	
}
 
ship-to-summary-report-table .dataTables_scrollHead,
ship-to-summary-report-table .dataTables_scrollBody,summary-report-table .dataTables_scrollHead,
summary-report-table .dataTables_scrollBody{
	/* display: block;
	overflow-x: auto; */
	 width: 100% !important; 
}

/*  ship-to-summary-report-table table.dataTable thead th{	
	width: 1400px!important;
	/* border-collapse: collapse;
    display: block !important
}  */

.light-blue{
	background-color:#e4e8f3 !important
}

/* ship-to-summary-report-table .dataTables_paginate{
	margin-right: 24rem
} */
/* @media print { 
	#summary-report-table th,#ship-to-table th, #product-to-table th{
		background:#111;
	}
	
	#summary-report-table th.report-title td,
	#summary-report-table .report-footer td,
	#ship-to-table .report-title td,
	#ship-to-table .report-footer td,
	#product-to-table .report-title td,
	#product-to-table .report-footer td{
		color: #444D66;
    	font-weight: 600;
    	background:#e4e8f3;
	} 
	table {
        border: solid #000 !important;
        border-width: 1px 0 0 1px !important;
    }
    th, td {
        border: solid #000 !important;
        border-width: 0 1px 1px 0 !important;
    }
} */

#summary-report-table .group-start{
	background-color:#e4e8f3 !important
}

#summary-report-table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
ship-to-summary-report-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
#product-to-table_wrapper table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before{
    position: initial !important;
    display: inline-block;    
    margin-right: 5px;
}

.report-render{
	visibility: hidden;
	position: absolute; 
  	left: -999em;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.search-link{
		margin-top: 50px
	}
	
	body > ui-view > ui-view:nth-child(2) > div > div > div.column.is-2.m-t-1.is-hidden-touch > div > div.column.is-12.is-paddingless > order-filter > div > div:nth-child(2){
		margin-top: 130px
	}
	
	body > ui-view > ui-view:nth-child(2) > div > div > div.column.is-2.m-t-1.is-hidden-touch > div > div.column.is-12.is-paddingless > invoice-filter > div > div:nth-child(2) > ul > li{
		margin-top: 150px
	}
	
	body > ui-view > div.ng-scope.ng-isolate-scope > div > div > div.modal-content.has-text-centered > div > svg{
		flex: 1 1 0%
	}
	
	body > ui-view > ui-view:nth-child(2) > div.columns.product-section.m-t-5.is-hidden-touch.ng-scope > div,
	body > ui-view > ui-view:nth-child(2) > div > div.background-color-grey.p-b-2 > div:nth-child(2) > div.column.is-one-third > home-page-recall-card > div > div.card-content > div > div.tile.center-x-y.is-hidden-touch.is-hidden-desktop-only > div.tile.center-x-y.is-vertical > div:nth-child(1){
		flex: 0 1 auto
	}
	
	.modal {
	  	flex-direction: column;
	}
	body > ui-view > ui-view:nth-child(2) > div > div.background-color-grey.p-b-2 > div:nth-child(2) > div.column.is-one-third > home-page-recall-card > div > div.card-content > div > div.tile.center-x-y.is-hidden-touch.is-hidden-desktop-only > div.tile.center-x-y.is-vertical > div:nth-child(1) > div{
		width: 145px
	}
	
	body > ui-view > ui-view:nth-child(2) > div.columns.product-section.m-t-5.is-hidden-touch.ng-scope > div > recommended-products > div.columns.is-mobile.is-hidden-mobile.is-centered{
		margin-top: 200px	
	}
	body > ui-view > ui-view:nth-child(2) > div.columns.product-section.m-t-5.is-hidden-touch.ng-scope > div > recommended-products > div.columns.m-b-1.is-mobile > div > div > div > div.tile.has-text-centered.center-x-y{
		
	}
	body > ui-view > ui-view:nth-child(2) > div.columns.product-section.m-t-5.is-hidden-touch.ng-scope > div > recommended-products > div.columns.m-b-1.is-mobile > div > div > div > div.tile.center-x-y.m-b-2{
		flex: 0 1 auto;
		flex-direction: column;
	}
	
}