@CHARSET "UTF-8";

@media ( min-width : 320px) {
	.container.is-fluid {
		margin-left: 20px;
		margin-right: 20px;
	}
	.header-display-table {
	    width: 110%;
	}
	.logo-section {
	    min-width: 330px;
	}
	
}

@media (max-width : 320px) {
	a.button.is-ghost.max-width-100,
	a.button.is-secondary.max-width-100{
	    font-size: 14px;
	}	
	
	.create-proj-modal {
	    width: 266px !important;
	}
	
	.create-proj-modal section.modal-card-body.has-text-centered {
	    padding: 0px;
	}
	.create-proj-modal a.button {
	    width: 97px;
	}
	project-detail-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before{
	    line-height: 25px !important;
	}
	add-to-project-modal .modal-content{
		margin-top : 5rem !important
	}
	
	.project-product-search .angular-popover {
		width: 300px !important
	}
}

@media ( min-width : 598px) and (max-width: 767px) {
	.total-qtr td:nth-child(9),
	.total-qtr td:nth-child(8),
	.total-qtr td:nth-child(7),
	.total-qtr td:nth-child(6),
	.total-qtr td:nth-child(5){
		display: none !important
	}
}	
/* Mobile View */
@media ( min-width : 320px) and (max-width: 598px) {
	.header-background-color{
		height: 0px;
	}
	#cart-mobile a.button.is-ghost.max-width-100,
	.add-to-project a.button.is-ghost{
	    width: 100%;
	}
	add-to-project-modal .modal-close:before,add-to-project-modal .modal-close:after {
    	background-color: #2C3242;
	}
	add-to-project-modal .modal-close{
	    margin-top: 40px;
	    margin-right: 10px;
	}
	.list-popover .angular-popover {
	    padding-right: 7px;
	}

	
	.margin-0-mobile {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.card-header{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.card-content {
		padding: 0.5rem;
	}
	.circle {
		width: 30px;
	}
	.circle__content {
		font-size: 14px;
	}
	.circle-text {
		font-size: 14px;
	}
	.bgimg-lg-category {
	    background-size: 100%;
	    background-repeat: no-repeat;
	}
	.hero-body{
	    padding-top: 12px;
	    padding-bottom: 12px;
	}
	.category-logo-img {
		height: 70px !important;
	}
	.subcategory-text {
		font-size: 35px;
	}
	.bgimg-lg-category-1, .bgimg-lg-category-2, .bgimg-lg-category-3 {
		height: 70px;
	    background-size: 120% 100px;
	}
	.margin-top-neg-70 {
		margin-top: -45px !important;
	}
	.notification-btn{
	    color: #FFFFFF !important;
	}
	
	.notification-message{
	    color: #FFFFFF;
	}
	.search-icon-card{
	    bottom: 8px;
	}
	.pagination-previous{
	    flex-grow: 0;
    	flex-shrink: 0;
    	margin-right: auto;
	}
	.pagination-next{
		flex-grow: 0;
    	flex-shrink: 0;
    	margin-left: auto;
	}
	.invoices-title {
		font-size: 38px;
	}
	.invoices-id-title {
		font-size: 30px;
	}
	.checkout-heading{
		font-size: 38px;
	}
	.orders-title {
		font-size: 38px;
	}
	.order-detail-title{
		font-size: 45px;
	}
	.btn-tabs {
	    font-size: 24px;
	}
	.tabs-btn-container-pdp {
	    height: 40px;
	}
	.notification-tag-new{
	    font-size: 10px;
    	padding-left: 5px;
	    padding-right: 5px;
	}
	.recommended-product-name{
		height: 60px;
	}
	invoice-pdf-view-modal object {
		height: 300px;
	}
	invoice-pdf-view-modal .modal-card-title{
		color : #ffffff !important;
	    font-size: 14px !important;
	}
	.project-name{
		font-family: 'Roboto-Regular', sans-serif;
		font-weight: 600;
	    font-size: 13px;
	}
	.project-img-list{
		width: 19px
	}
	.project-date {
	    font-size: 12px;
	}
	project-create-modal .cancel-btn{
		margin-left: 0rem !important;
	}
	.create-proj-title{
		font-size: 39px
	}
	.project-product-search .angular-popover {
		width: 300px !important
	}
	project-detail-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before{
		line-height: 17px !important;
	}
	a.button.is-secondary {
		font-size: 14px !important;
	}
	
	a.button.is-ghost.max-width-100{
		font-size : 14px !important
	}
	a.button.is-ghost {
		width : 70%
	}
	.add-watchlist-btn a.button.is-ghost {
		width : 100%
	}
	report-detail-header a.button.is-ghost {
		width : 100%
	}
	
	report-detail-header a.button.is-primary.max-width-100{
		font-size: 14px !important;
	}
	
	.report-detail-title {
	    font-size: 25px;
	}
	
	invoice-table .small-circle {
	    margin-left: 0px;
	}
	.duplicate-modal a.button {
	    width: 88%;
	}
	.report-name {
	    width: 10em;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: block
	}
	
	report-table .table td {
	    border: none;
	}
	report-table table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before{
		line-height: 15px !important
	}
	summary-report-header a.button.is-ghost {
	    width: 100% !important;
	}
	.pagination-list {
	    margin: -3rem;
	}
	report-table .angular-popover {
    	width: 198px;
	    left: -150.5px !important;
	    font-size: 14px !important
	}
	.toast-top-right {
	    left: 20%;
	    right: 20%;
	} 

	report-rename-modal .is-mobile{
		padding-left: 0rem
	}
	.shopping-cart-container{
		margin-left: 0px !important;
		margin-right: 0px !important
	}
	.shopping-cart-title{
		padding-left: 1rem
	}
	.cart-table{
		padding-left: 20px
	}
	.item-title{
		display: inline-block;
		width: 50%	
	}
	.max-w-200{
		max-width: 100px !important
	}
	.bgimg-lg-category {
		min-height: 0px	
	}
	category-sub-cover .container.is-fluid{
		margin-top: -10px
	}
	.total-qtr td:nth-child(9),
	.total-qtr td:nth-child(8),
	.total-qtr td:nth-child(7),
	.total-qtr td:nth-child(6),
	.total-qtr td:nth-child(5),
	.total-qtr td:nth-child(4){
		display: none
	}
	
	product-summary-report-table td span.ng-binding{	
	    display: inline-block;
	    margin-left: 25px;
	    margin-top: -24px;
    }
	
}
@media ( min-width : 320px) and (max-width: 999px) {
	.dec{
		display: none 
	}
}	

@media ( min-width : 900px) and (max-width: 999px) {
	.total-qtr td:nth-child(9){
		display: none 
	}
}	
@media ( min-width : 800px) and (max-width: 899px) {
	.total-qtr td:nth-child(9),
	.total-qtr td:nth-child(8){
		display: none 
	}
}	

/* Tablet View */
@media ( min-width : 768px) and (max-width: 800px) {
	category-sub-cover .container.is-fluid{
		margin-top: -40px
	}
	.bgimg-lg-category {
		min-height: 0px
	}
	.toast-top-right {
	    right: 28%;
	} 
	.header-height {
		height: 150px;
	}
	.image.is-128x128-home {
		height: 64px;
		width: 64px;
	}
	.card-header{
		margin-left: auto !important;
		margin-right: auto !important;
		height: 50px !important;
	}
	.card-content {
		padding: 0.5rem;
	}
	.circle {
		width: 33px;
	}
	.circle__content {
		font-size: 14px;
	}
	.circle-text {
		font-size: 14px;
	}
	.company-assurance-title {
		font-size: 38px;
		line-height: 38px;
	}
	.card.order-block .card-header {
		width: 7em;
	}
	.card-title {
		font-size: 35px;
		margin: .1em 0 0 0;
	}
	.invoice-btn {
		border: 1px solid #E6E6E6 !important;
		width: 29px;
		height: 29px;
	}
	.invoice-btn-img {
		padding: 4px;
		height: 24px;
	}
	/* .bgimg-lg-category {
		min-height: 280px;
	} */
	/* .category-logo-img {
		height: 85px !important;
	} */
	.expression-text-category {
		font-size: 55px;
	}
	.expression-text-category img{
		height: 110px;
	    margin-right: 1rem !important;
	}
	.subcategory-text {
		font-size: 65px;
	}
	.bgimg-lg-category-1, .bgimg-lg-category-2, .bgimg-lg-category-3 {
	    height: 135px;
    	background-size: 120% 190px;
	}
	.login-heading-desktop {
		font-size: 120px;
	}
	.login-background-image {
		height: 560px;
	}
	.product-catalog-container{
		width: 565px !important;
	}
	.recommended-product-name{
		height: 55px;
	}
	.tool-name{
		font-size: 16px;
	}
	.popover-content.popover-proj-product {
	    width: 377px !important;
	}
	product-detail-selection .angular-popover{
    	left: -80px !important;	
	}
	.total-qtr td:nth-child(9),
	.total-qtr td:nth-child(8),
	.total-qtr td:nth-child(6),
	.total-qtr td:nth-child(7){
		display: none
	}
}

/* Desktop View */
@media ( min-width : 1000px) and (max-width: 1239px) {
	.search-link {
		font-size: 24px;
	}
	.header-height {
		height: 150px;
	}
	.content h3 {
		font-size: 38px;
		line-height: 60px;
	}
	.invoice-btn {
		border: 1px solid #E6E6E6 !important;
		width: 29px;
		height: 29px;
	}
	.invoice-btn-img {
		padding: 4px;
		height: 24px;
	}
	/* .category-logo-img {
		height: 100px !important;
	} */
	.expression-text-category {
		font-size: 75px;
	}
	.subcategory-text {
		font-size: 85px;
	}
	.bgimg-lg-category-1, .bgimg-lg-category-2, .bgimg-lg-category-3 {
		height: 200px;
	    background-size: 120% 280px
	}
	.login-heading-desktop {
		font-size: 140px;
	}
	.search-icon-card{
	    bottom: 8px;
	}
	
	.footable-toggle:before{
		display: none !important;
	}
	
	td.has-text-centered.footable-toggle {
	    display: none;
	}

	.footable-detail-show .footable-toggle:before{
		display: none !important;
	}
}

/* Desktop View - Large */
@media ( min-width : 1240px) {
	.header-height {
		height: 150px;
	}
	.search-icon-card{
	    bottom: 8px;
	}
	.footable-toggle:before{
		display: none !important;
	}
	
	.footable-detail-show .footable-toggle:before{
		display: none !important;
	}
}

@media only screen and (min-width: 768px){
	.cd-primary-nav .cd-nav-gallery li {
	    width: 100% !important;
	    margin: 0px 4% 10px 0;
	}
}


@media ( max-width : 1195px){	
	.invoice-status{
		display: none;
	}
	home-page-invoice-card table .has-text-left{
		text-align : center !important;
		padding-left: 2px !important
	}
}