#summary-report-table th,#ship-to-table th, #product-to-table th{
	background:#111;
}

#summary-report-table th.report-title td,
#summary-report-table .report-footer td,
#ship-to-table .report-title td,
#ship-to-table .report-footer td,
#product-to-table .report-title td,
#product-to-table .report-footer td{
	color: #444D66;
   	font-weight: 600;
   	background:#e4e8f3;
} 
table {
       border: solid #000 !important;
       border-width: 1px 0 0 1px !important;
   }
th, td {
    border: solid #000 !important;
    border-width: 0 1px 1px 0 !important;
}