@CHARSET "UTF-8";
html {
    margin: 0;
    padding: 0;
    border: 0;
}

.page-content {
	min-height: 100%;
}

html, body {
	height: 100%;
}

.w-100 {
 	width: 100% !important;
}
.max-w-50{
 	max-width: 50px !important;
}
.max-w-100{
 	max-width: 100px !important;
}
.max-w-200{
 	max-width: 200px !important;
}

.max-w-300{
 	max-width: 300px !important;
}

.max-w-400{
 	max-width: 400px !important;
}

.m-x-auto {
 margin-right: auto !important;
 margin-left: auto !important;
}

.m-a-0 {
 margin: 0 0 !important;
}

.m-t-0 {
 margin-top: 0 !important;
}

.m-r-0 {
 margin-right: 0 !important;
}

.m-b-0 {
 margin-bottom: 0 !important;
}

.m-l-0 {
 margin-left: 0 !important;
}

.m-x-0 {
 margin-right: 0 !important;
 margin-left: 0 !important;
}

.m-y-0 {
 margin-top: 0 !important;
 margin-bottom: 0 !important;
}

.m-a-1 {
 margin: 1rem 1rem !important;
}

.m-x-1h {
 margin-right: 0.5rem !important;
 margin-left: 0.5rem !important;
}

.m-t-1h {
 margin-top: 0.5rem !important;
}

.m-r-1h {
 margin-right: 0.5rem !important;
}

.m-b-1h {
 margin-bottom: 0.5rem !important;
}

.m-l-1h {
 margin-left: 0.5rem !important;
}

.m-t-1-3f {
 margin-top: 0.75rem !important;
}

.m-r-1-3f {
 margin-right: 0.75rem !important;
}

.m-b-1-3f {
 margin-bottom: 0.75rem !important;
}

.m-l-1-3f {
 margin-left: 0.75rem !important;
}

.m-t-1 {
 margin-top: 1rem !important;
}

.m-r-1 {
 margin-right: 1rem !important;
}

.m-b-1 {
 margin-bottom: 1rem !important;
}

.m-l-1 {
 margin-left: 1rem !important;
}

.m-x-1 {
 margin-right: 1rem !important;
 margin-left: 1rem !important;
}

.m-y-1 {
 margin-top: 1rem !important;
 margin-bottom: 1rem !important;
}

.m-a-2 {
 margin: 1.5rem 1.5rem !important;
}

.m-t-2 {
 margin-top: 1.5rem !important;
}

.m-r-2 {
 margin-right: 1.5rem !important;
}

.m-b-2 {
 margin-bottom: 1.5rem !important;
}

.m-l-2 {
 margin-left: 1.5rem !important;
}

.m-x-2 {
 margin-right: 1.5rem !important;
 margin-left: 1.5rem !important;
}

.m-y-2 {
 margin-top: 1.5rem !important;
 margin-bottom: 1.5rem !important;
}

.m-a-3 {
 margin: 3rem 3rem !important;
}

.m-t-3 {
 margin-top: 3rem !important;
}

.m-r-3 {
 margin-right: 3rem !important;
}

.m-b-3 {
 margin-bottom: 3rem !important;
}

.m-l-3 {
 margin-left: 3rem !important;
}

.m-x-3 {
 margin-right: 3rem !important;
 margin-left: 3rem !important;
}

.m-y-3 {
 margin-top: 3rem !important;
 margin-bottom: 3rem !important;
}

.m-a-4 {
 margin: 4rem 4rem !important;
}

.m-t-4 {
 margin-top: 4rem !important;
}

.m-r-4 {
 margin-right: 4rem !important;
}

.m-b-4 {
 margin-bottom: 4rem !important;
}

.m-l-4 {
 margin-left: 4rem !important;
}

.m-x-4 {
 margin-right: 4rem !important;
 margin-left: 4rem !important;
}

.m-y-4 {
 margin-top: 4rem !important;
 margin-bottom: 4rem !important;
}

.m-a-5 {
 margin: 5rem 5rem !important;
}

.m-t-5 {
 margin-top: 5rem !important;
}

.m-r-5 {
 margin-right: 5rem !important;
}

.m-b-5 {
 margin-bottom: 5rem !important;
}

.m-l-5 {
 margin-left: 5rem !important;
}

.m-x-5 {
 margin-right: 5rem !important;
 margin-left: 5rem !important;
}
.m-y-5 {
 margin-top: 5rem !important;
 margin-bottom: 5rem !important;
}

.m-a-6 {
 margin: 6rem 6rem !important;
}

.m-t-6 {
 margin-top: 6rem !important;
}

.m-r-6 {
 margin-right: 6rem !important;
}

.m-b-6 {
 margin-bottom: 6rem !important;
}

.m-l-6 {
 margin-left: 6rem !important;
}

.m-x-6 {
 margin-right: 6rem !important;
 margin-left: 6rem !important;
}

.m-y-6 {
 margin-top: 6rem !important;
 margin-bottom: 6rem !important;
}

.p-3f {
 padding: 0.75rem !important;
}

.p-a-0 {
 padding: 0 0 !important;
}

.p-t-0 {
 padding-top: 0 !important;
}

.p-r-0 {
 padding-right: 0 !important;
}

.p-b-0 {
 padding-bottom: 0 !important;
}

.p-l-0 {
 padding-left: 0 !important;
}

.p-x-0 {
 padding-right: 0 !important;
 padding-left: 0 !important;
}

.p-y-0 {
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}

.p-a-1 {
 padding: 1rem 1rem !important;
}

.p-t-1-3f {
 padding-top: 0.75rem !important;
}

.p-r-1-3f {
 padding-right: 0.75rem !important;
}

.p-b-1-3f {
 padding-bottom: 0.75rem !important;
}

.p-l-1-3f {
 padding-left: 0.75rem !important;
}

.p-t-1 {
 padding-top: 1rem !important;
}

.p-r-1 {
 padding-right: 1rem !important;
}

.p-b-1 {
 padding-bottom: 1rem !important;
}

.p-l-1 {
 padding-left: 1rem !important;
}

.p-x-1 {
 padding-right: 1rem !important;
 padding-left: 1rem !important;
}

.p-y-1 {
 padding-top: 1rem !important;
 padding-bottom: 1rem !important;
}

.p-a-2 {
 padding: 1.5rem 1.5rem !important;
}

.p-t-2 {
 padding-top: 1.5rem !important;
}

.p-r-2 {
 padding-right: 1.5rem !important;
}

.p-b-2 {
 padding-bottom: 1.5rem !important;
}

.p-l-2 {
 padding-left: 1.5rem !important;
}

.p-x-2 {
 padding-right: 1.5rem !important;
 padding-left: 1.5rem !important;
}

.p-y-2 {
 padding-top: 1.5rem !important;
 padding-bottom: 1.5rem !important;
}

.p-a-3 {
 padding: 3rem 3rem !important;
}

.p-t-3 {
 padding-top: 3rem !important;
}

.p-r-3 {
 padding-right: 3rem !important;
}

.p-b-3 {
 padding-bottom: 3rem !important;
}

.p-l-3 {
 padding-left: 3rem !important;
}

.p-x-3 {
 padding-right: 3rem !important;
 padding-left: 3rem !important;
}

.p-y-3 {
 padding-top: 3rem !important;
 padding-bottom: 3rem !important;
}

.p-a-4 {
 padding: 4rem 4rem !important;
}

.p-t-4 {
 padding-top: 4rem !important;
}

.p-r-4 {
 padding-right: 4rem !important;
}

.p-b-4 {
 padding-bottom: 4rem !important;
}

.p-l-4 {
 padding-left: 4rem !important;
}

.p-x-4 {
 padding-right: 4rem !important;
 padding-left: 4rem !important;
}
.p-y-4 {
 padding-top: 4rem !important;
 padding-bottom: 4rem !important;
}

.p-a-5 {
 padding: 5rem 5rem !important;
}

.p-t-5 {
 padding-top: 5rem !important;
}

.p-r-5 {
 padding-right: 5rem !important;
}

.p-b-5 {
 padding-bottom: 5rem !important;
}

.p-l-5 {
 padding-left: 5rem !important;
}

.p-x-5 {
 padding-right: 5rem !important;
 padding-left: 5rem !important;
}

.p-y-5 {
 padding-top: 5rem !important;
 padding-bottom: 5rem !important;
}

.p-a-6 {
 padding: 6rem 6rem !important;
}

.p-t-6 {
 padding-top: 6rem !important;
}

.p-r-6 {
 padding-right: 6rem !important;
}

.p-b-6 {
 padding-bottom: 6rem !important;
}

.p-l-6 {
 padding-left: 6rem !important;
}

.p-x-6 {
 padding-right: 6rem !important;
 padding-left: 6rem !important;
}

.p-y-6 {
 padding-top: 6rem !important;
 padding-bottom: 6rem !important;
}

.pos-f-t {
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1030;
}
.v-align-super{
	vertical-align:super;
}

.align-text-top{
	vertical-align:text-top;
}

.roboto-med{	
	font-family: 'Roboto-Medium', sans-serif !important;
}

.roboto-font{	
	font-family: 'Roboto', sans-serif;
}

/* font Sizes */

.size-14{
	font-size: 14px !important;
}

.size-18{
	font-size: 18px !important;
}

.size-25{
	font-size: 25px !important;
}

.size-1-rem{	
    font-size: 1rem;
}

.size-2-rem{
	font-size : 2rem !important
}

.size-2h-rem{
	font-size : 2.5rem !important
}

.size-3-rem{
	font-size : 3rem !important
}

.size-1h-rem{	
    font-size: 1.4rem;
}


.has-text-weight-semibold{
	font-weight: 600
}

.is-muted{
	color: #b8b8b8 !important
}

.dropdown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
  display: block;
}

.dropdown.is-right .dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown.is-up .dropdown-menu {
  bottom: 100%;
  padding-bottom: 4px;
  padding-top: unset;
  top: auto;
}

.dropdown-menu {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.dropdown-content {
    background-color: white;
    border-radius: 0px;
    border: 1px solid#B4000C;
    margin-top: -4px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.dropdown-item {
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}

a.dropdown-item {
  padding-right: 3rem;
  white-space: nowrap;
}

a.dropdown-item:hover {
  background-color: whitesmoke;
  color: #0a0a0a;
}

a.dropdown-item.is-active {
  background-color: #3273dc;
  color: #fff;
}

.dropdown-divider {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0;
}

.m-b-12{
	margin-bottom: 12rem !important
}

.has-text-white{
	color: #fff !important
}
