<div class="modal" ng-class="saveChangesModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-content filter-modal">
		<div class="columns is-marginless is-multiline">
			<div class="column is-12">
				<span class="checkout-heading">{{'BUTTON.SAVE_CHANGES' | translate}}</span>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<span class="confirmation-text">{{'TEXT.CONFIRM_CHANGE' | translate}}</span>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<div class="columns is-marginless is-mobile">
					<div class="column is-offset-6 is-6 p-x-0">
						<div class="tile has-text-right justify-right">
							<a class="button is-secondary"
								ng-click="toggleSaveChangesModal(false);proceedWithoutSave()">{{'TEXT.NO' | translate}}</a>&nbsp;&nbsp;
							<button class="button is-primary height-35"
								ng-click="updateProjectQuantity()">{{'TEXT.YES' | translate}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleSaveChangesModal(false)"></button>
</div>