<div class="breadcrumbs-background">
	<div class="container breadcrumbs-background">
		<nav class="breadcrumb">
			<ul>
				<li><a class="p-l-1" go-to-home>{{ 'HOME_LABEL' | translate }}</a></li>
				<li><a ng-click="goToMyProjects()">{{ 'NAV_PROJECTS' | translate }}</a></li>
				<li class="is-active"><a>{{projectName}}</a></li>
			</ul>
		</nav>
	</div>
</div>