<div class="column is-12" ng-click="$event.stopPropagation()">
	<div class="columns is-multiline ng-scope" ng-show="searchProductItem != undefined && searchProductItem.item.length!= 0">
		<div class="column is-2">
			<figure class="image is-48x48">
				<img class="image is-48x48" ng-src="{{searchProductItem.item.image}}">
			</figure>
		</div>
		<div class="column is-6">
			<span class="quick-searchProductItem-name ng-binding">{{searchProductItem.item.name}}</span> <br> <span class="quick-searchProductItem-stock ng-binding" ng-show="searchProductItem.item.stock.stockLevel > 0">{{searchProductItem.item.stock.stockLevel}}
				in stock</span> <span class="quick-searchProductItem-stock ng-hide" ng-show="searchProductItem.item.stock.stockLevel == 0">Out of stock</span>
		</div>
		<div class="column is-2">
			<input class="input width-50 center-text ng-pristine ng-untouched ng-valid ng-not-empty error-input" type="text" min="0" 
				ng-class="[{'error-input': searchProductItem.item.quantity > searchProductItem.item.stock.stockLevel}, {'error-input': !searchProductItem.item.quantity}]" ng-model="searchProductItem.item.quantity" numeric-only="" select-on-click="">
		</div>
		<div class="column is-1">
			<div class="">
				<p class="control">
					<a class="button is-primary max-width-100" ng-click="addToExistingProject()" ng-disabled="searchProductItem.item.quantity == 0 || searchProductItem.item.quantity == undefined">
						ADD
					</a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="columns ng-scope has-text-centered p-l-2" ng-show="searchProjProductError.length > 0">
		<span class="error-message ng-binding">{{searchProjProductError}}</span>
	</div>
</div>