<div class="column is-12 is-paddingless row-reorder-container">
	<table id="{{projectId}}" class="table footable p-x-1" datatable="ng" dt-options="pDCtrl.dtOptions" dt-column-defs="pDCtrl.dtColumnDefs" dt-instance="pDCtrl.dtInstance"
		 cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="center-text is-hidden-tablet not-desktop toggle" data-sort-ignore="true">&nbsp;</th>
				<th>&nbsp;</th>
				<th data-priority="1" class="item-no-head" ng-click="triggerSort();resetSort()">{{'TABLE_HEADER.ITEM_NO' | translate}}</th>
				<th class="" data-hide="phone" ng-click="triggerSort();resetSort()">{{'TABLE_HEADER.ITEM_NAME' | translate}}</th>
				<th  data-hide="phone" ng-click="triggerSort();resetSort()">{{'TABLE_HEADER.OPTION' | translate}}</th>
				<th  data-priority="2" ng-click="triggerSort();resetSort()">{{'TABLE_HEADER.UNIT_PRICE' | translate}}</th>
				<th  data-priority="1">{{'TABLE_HEADER.QUANTITY' | translate}}</th>
				<th  data-hide="phone" ng-click="triggerSort();resetSort()">{{'TABLE_HEADER.AVAILABILITY' | translate}}</th>
				<th  data-hide="phone" ng-click="triggerSort();resetSort()">{{'TABLE_HEADER.TOTAL_COST' | translate}}</th>
				<th data-sort-ignore="true" data-priority="1">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="projItem in projectItems track by $index">
				<td class="is-hidden-tablet has-text-centered no-reorder"><span class="is-hidden index-no">{{$index}}</span></td>
				<td>
					<figure class="image is-64x64">
						<img class="image is-64x64" ng-src="{{projItem.image}}" />
					</figure>
				</td>
				<!-- <td><a href="" class="ng-popover-trigger" id="order-details">{{projItem.itemNumber}}</a></td> -->
				<td class="no-reorder invoice-no">
					<a href=""  ng-click="toggleOrderDetailsModal(true, projItem)" productCode="projItem.itemNumber"
					class="is-hidden-mobile item-no" ng-bind="projItem.itemNumber | limitTo:15">{{projItem.itemNumber}}</a> 
					<a href="" ng-click="showOrderDetailsMobile(projItem)" productCode="projItem.itemNumber"
					class="is-hidden-tablet" ng-bind="projItem.itemNumber | limitTo:15">{{projItem.itemNumber}}>{{projItem.itemNumber}}</a>
					<span ng-if="projItem.itemNumber.length > 15">...</span>
				</td>
				<td>
					<span class="is-hidden-mobile" ng-bind="projItem.name | limitTo:45">{{projItem.name}}</span>
					<span class="is-hidden-mobile" ng-if="projItem.name.length > 45">...</span>					
					<span class="is-hidden-desktop is-hidden-tablet item-name">{{projItem.name}}</span>
				</td>
				<td class="max-w-200 text-ellipsis">
					<span ng-if="projItem.options.length == 0 || !projItem.hasOptions">-</span>
					<span class="item-title max-w-100 text-ellipsis">
						<span ng-if="projItem.options.length != 0 && projItem.hasOptions" ng-repeat="option in projItem.options">
							{{option}} 
							<span ng-if="!$last">-</span> 
						</span>
					</span>
				</td>
				<td class="max-w-200 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{currency}}{{projItem.unitPrice | number : 2}}</span></td>
				<td class="no-reorder"><input
					class="input width-50 center-text" type="text" min="0"
					ng-model="projItem.quantity"
					ng-class="{'error-input': projItem.quantity > projItem.stockLevel}"
					ng-change="listChangedProduct(projItem.itemNumber)"
					numeric-only select-on-click> <br
					ng-show="projItem.quantity > projItem.stockLevel" /> <span
					class="error-message" ng-show="projItem.quantity > projItem.stockLevel">{{'TEXT.INVALID_QUANTITY' | translate}}</span></td>
				<td><span
					ng-if="projItem.stockLevel > 0">In Stock</span><span
					ng-if="projItem.stockLevel == 0">Out Of Stock</span></td>
				<td class="max-w-200 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{currency}}{{projItem.unitPrice * projItem.quantity | number : 2}}</span></td>
				<td class="no-reorder"><a class="button p-x-0 p-y-0"> <span
						class="icon is-danger" ng-click="deleteProjectItem(projItem.itemNumber)"><i
							class="fa fa-trash" aria-hidden="true"></i></span>
				</a></td>
			</tr>
		</tbody>
	</table>
</div>