<project-detail-breadcrumbs></project-detail-breadcrumbs>
<toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
<div class="container p-x-1 m-b-3">
	<div class="columns m-b-0 m-t-1 is-multiline">
		<div class="column is-12 is-paddingless">
			<div class="columns is-marginless is-mobile">
				<div class="column">
					<span class="order-detail-title">{{'TEXT.PROJECT' | translate}} - {{projectName}}</span>
				</div>
				
				<div class="column is-3 is-hidden-touch">
					<div class="control m-t-1">
						<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="search" placeholder="Search this project" ng-model="searchProjectProduct" ng-change="filterProductTable()"> <span class="icon is-small is-right search-icon" ng-click=""> <i class="material-icons">search</i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="column is-12 is-paddingless m-l-1 is-hidden-touch">
			<div class="columns is-paddingless">
				<div class="column is-2 project-product-search is-paddingless m-l-1 is-hidden-touch">
					<div class="control m-t-1" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project-detail/project-detail-search-product-popover.html">
						<label class="label filter-label">{{'TEXT.QUICK_ADD' | translate | uppercase}}</label>
						<input  ng-model="searchProjProduct"  class="input search ng-pristine ng-valid ng-empty ng-touched" type="search" placeholder="Item # or SKU" ng-enter="getProductQuickOrder(searchProjProduct)" > 
					</div>
				</div>
				
				<div class="column is-10 p-r-3 m-t-1 is-paddingless is-hidden-touch">		
					<div class="tile proj-add-cart">
						<p class="control">
							<a class="button is-primary max-width-100" ng-click="addToCart()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
								<i class="material-icons">add_circle_outline</i>&nbsp; {{'BUTTON.ADD_TO_CART' | translate | uppercase}}
							</a>
						</p>
					</div>		
					<div class="tile proj-add-cart">
						<p class="control">
							<a class="button is-ghost  max-width-100" ng-click="updateProjectQuantity()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
								{{'BUTTON.SAVE_CHANGES' | translate | uppercase}}
							</a>
						</p>
					</div>	
					<input type="file" file-reader="fileContent" id="upload-csv" accept=".csv" callback-fn="addDataFromCsv(result)" class="is-hidden" />	
					<div class="tile proj-add-cart">
						<p class="control">
							<a class="button is-ghost  max-width-100" ng-click="clickUploadCsv(); $event.stopPropagation();">
								{{'BUTTON.IMPORT_CSV' | translate | uppercase}}
							</a>
						</p>
					</div>	
				</div>
			</div>
			
		</div>
		
		
		<!-- tablet View -->
		<div class="column is-3 project-product-search is-paddingless m-l-1 is-hidden-desktop is-hidden-mobile">
			<div class="control m-t-1" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project-detail/project-detail-search-product-popover.html">
				<label class="label filter-label">{{'TEXT.QUICK_ADD' | translate | uppercase}}</label>
				<input  ng-model="searchProjProduct"  class="input search ng-pristine ng-valid ng-empty ng-touched" type="search" placeholder="Item # or SKU" ng-enter="getProductQuickOrder(searchProjProduct)" > 
			</div>
		</div>			
		<div class="column is-paddingless is-hidden-desktop is-hidden-mobile">			
			<div class="column is-5 m-t-1h is-pulled-right">
				<div class="control m-t-1">
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="search" placeholder="Search this project" ng-model="searchProjectProduct" ng-change="filterProductTable()"> 
					<span class="icon is-small is-right search-icon" ng-click=""> 
						<i class="material-icons">search</i>
					</span>
				</div>
			</div>			
		</div>
		
		<div class="column is-12 m-t-1 is-paddingless is-hidden-desktop is-hidden-mobile">
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-primary max-width-100" ng-click="addToCart()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						<i class="material-icons">add_circle_outline</i>&nbsp; {{'BUTTON.ADD_TO_CART' | translate | uppercase}}
					</a>
				</p>
			</div>				
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-ghost  max-width-100" ng-click="updateProjectQuantity()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						{{'BUTTON.SAVE_CHANGES' | translate | uppercase}}
					</a>
				</p>
			</div>
							
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-ghost  max-width-100" ng-click="clickUploadCsv(); $event.stopPropagation();">
						{{'BUTTON.IMPORT_CSV' | translate | uppercase}}
					</a>
				</p>
			</div>
		</div>
		
		<!-- Mobile View -->					
		<div class="column is-12 is-hidden-tablet">
			<div class="control m-t-1">
				<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="search" placeholder="Search this project" ng-model="searchProjectProduct" ng-change="filterProductTable()"> 
				<span class="icon is-small is-right search-icon" ng-click=""> 
					<i class="material-icons">search</i>
				</span>
			</div>
		</div>	
		<div class="column is-3 project-product-search is-paddingless m-l-1 is-hidden-tablet p-r-1">
			<div class="control m-t-1" angular-popover direction="bottom" close-on-click="true" template-url="resources/views/project-detail/project-detail-search-product-popover.html">
				<label class="label filter-label">{{'TEXT.QUICK_ADD' | translate | uppercase}}</label>
				<input  ng-model="searchProjProduct"  class="input search ng-pristine ng-valid ng-empty ng-touched" type="search" placeholder="Item # or SKU" ng-enter="getProductQuickOrder(searchProjProduct)" > 
			</div>
		</div>
		
		<div class="column is-12 is-hidden-tablet">
			<div class="column is-12 is-hidden-tablet">				
				<div class="tile">
					<p class="has-text-centered">
						<a class="button save-changes is-ghost m-l-2" ng-click="clickUploadCsv(); $event.stopPropagation();">
							{{'BUTTON.IMPORT_CSV' | translate | uppercase}}
						</a>
					</p>
				</div>	
			</div>
			<div class="column is-12 is-hidden-tablet">				
				<div class="tile">
					<p class="has-text-centered">
						<a class="button save-changes is-ghost m-l-2" ng-click="updateProjectQuantity()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
							{{'BUTTON.SAVE_CHANGES' | translate | uppercase}}
						</a>
					</p>
				</div>	
			</div>
			<div class="tile">
				<p class="has-text-centered">
					<a class="button is-primary m-l-2" ng-click="addToCart()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						<i class="material-icons">add_circle_outline</i>&nbsp; {{'BUTTON.ADD_TO_CART' | translate | uppercase}}
					</a>
				</p>
			</div>	
		</div>
		
		
		<div class="column is-12 is-paddingless m-t-2">
			<project-detail-table></project-detail-table>
		</div>

		<!-- Desktop View -->
		
		<div class="column is-12 is-paddingless is-hidden-touch">
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-primary max-width-100" ng-click="addToCart()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						<i class="material-icons">add_circle_outline</i>&nbsp; {{'BUTTON.ADD_TO_CART' | translate | uppercase}}
					</a>
				</p>
			</div>	
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-ghost  max-width-100" ng-click="updateProjectQuantity()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						{{'BUTTON.SAVE_CHANGES' | translate | uppercase}}
					</a>
				</p>
			</div>		
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-ghost  max-width-100" ng-click="clickUploadCsv(); $event.stopPropagation();">
						{{'BUTTON.IMPORT_CSV' | translate | uppercase}}
					</a>
				</p>
			</div>	
		</div>

		<!-- Tablet View -->
		<div class="column is-12  is-paddingless is-hidden-desktop is-hidden-mobile">
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-primary max-width-100" ng-click="addToCart()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						<i class="material-icons">add_circle_outline</i>&nbsp; {{'BUTTON.ADD_TO_CART' | translate | uppercase}}
					</a>
				</p>
			</div>				
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-ghost  max-width-100" ng-click="updateProjectQuantity()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						{{'BUTTON.SAVE_CHANGES' | translate | uppercase}}
					</a>
				</p>
			</div>
			
			<div class="tile proj-add-cart">
				<p class="control">
					<a class="button is-ghost  max-width-100" ng-click="clickUploadCsv(); $event.stopPropagation();">
						{{'BUTTON.IMPORT_CSV' | translate | uppercase}}
					</a>
				</p>
			</div>
		</div>

		<!-- Mobile View -->
		<div class="column is-12 is-hidden-tablet">
			<div class="column is-12 is-hidden-tablet">				
				<div class="tile">
					<p class="has-text-centered">
						<a class="button save-changes is-ghost m-l-2" ng-click="clickUploadCsv(); $event.stopPropagation();">
							{{'BUTTON.IMPORT_CSV' | translate | uppercase}}
						</a>
					</p>
				</div>	
			</div>
			<div class="column is-12 is-hidden-tablet">				
				<div class="tile">
					<p class="has-text-centered">
						<a class="button save-changes is-ghost m-l-2" ng-click="updateProjectQuantity()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
							{{'BUTTON.SAVE_CHANGES' | translate | uppercase}}
						</a>
					</p>
				</div>	
			</div>
			<div class="tile">
				<p class="has-text-centered">
					<a class="button is-primary m-l-2" ng-click="addToCart()" ng-disabled="projectItems.length == 0 || projectItems.length == undefined">
						<i class="material-icons">add_circle_outline</i>&nbsp; {{'BUTTON.ADD_TO_CART' | translate | uppercase}}
					</a>
				</p>
			</div>	
		</div>
	</div>
</div>
<div class="columns product-section m-t-5 is-hidden-touch">
	<div class="column container">
		<recommended-products></recommended-products>
	</div>	
	<!-- <div class="column">
		<saved-products></saved-products>	
	</div> -->
</div>


<div class="product-section m-t-5 is-mobile is-hidden-desktop is-multiline">
	<div class="column">
		<recommended-products></recommended-products>
	</div>	
	<!-- <div class="column">
		<saved-products></saved-products>	
	</div> -->
</div>
<order-detail-modal></order-detail-modal>
<order-detail-mobile></order-detail-mobile>
<project-save-changes-modal></project-save-changes-modal>
<error-modal></error-modal>