<div class="popover-content popover-proj-product m-y-1" ng-click="$event.stopPropagation()">
	<div class="columns m-l-1h">
		<div class="column is-5 p-r-2 m-t-1h" >
			<span class="select-proj-title">{{'PROJ_TEXT.SELECT_PROJ' | translate}}</span>
		</div>
		<div class="column is-7 p-r-1">
			<div class="control m-t-1">
				<input class="input search" type="search" id="project-search-desktop"
					placeholder="Search Projects" ng-model="searchProjects.name" ng-change="searchProjects()"> <span
					class="icon is-small is-right search-icon" ng-click=""> <i
					class="material-icons">search</i>
				</span>
			</div>
		</div>
	</div>
	<div class="column project-product-list">
		<div class="columns project-list-item m-x-1 cursor-pointer p-l-1 m-t-1" ng-repeat="project in projectList | orderBy: 'name' | filter:searchProjects">
			<div class="column is-1 is-paddingless is-1 m-l-1h m-r-1h" ng-click="goToProjectDetail(project)">			
				<figure class="project-img-list is-pulled-right">
					<img class="project-img-list" src="resources/images/folder-large.svg">
				</figure>
			</div>
			<div class="column is-7 is-multiline is-paddingless has-text-left" ng-click="goToProjectDetail(project)">
				<div class="column is-12 m-l-0 is-paddingless proj-title project-name overflow">
					<span class="project-name is-capitalized">
						{{project.name}}
					</span>	
				</div>	
				<div class="column is-12 is-paddingless project-name">
					<span class="project-date is-capitalized">Created: {{project.createDate | date:'MM/dd/yyyy'}}</span>
				</div>
			</div>
			<div ng-class="{'hide' : !project.isAdded}" class="column is-1 is-paddingless is-1 m-l-1h m-t-1h m-r-1h">			
				<i class="material-icons">&#xE876;</i>
			</div>			
			<div class="column is-2 is-paddingless ">
				<a ng-click="addToExistingProject(project.customerProjectId)" class="button is-ghost max-width-100 ng-scope is-pulled-right m-l-1h">
				{{'BUTTON.ADD' | translate | uppercase}}
				</a>
			</div>
		</div>
	</div>
	<div class="columns p-x-2">
		<div class="column m-t-2 p-x-6" >
			<a class="button m-t-1 p-t-1 p-b-1 is-secondary create-project" ng-click="toggleProjectCreateModal(true)">
			<img class="project-btn-img" src="resources/images/folder-add.svg">&nbsp;
			{{'BUTTON.CREATE_PROJ' | translate | uppercase}}
			</a>
		</div>
	</div>
</div>