<!-- Desktop & Tablet View -->
<div class="columns is-multiline is-hidden-mobile">
	<div class="column is-12 tabs-btn-container-pdp">
		<div class="tile justify-content-right has-text-right"
			ng-class="{'btn-tabs-active-underline': tab == 1}">
			<a class="btn-tabs" ng-click="tab = 1; focusTabContent();"
				ng-class="{'btn-tabs-active': tab == 1}">{{'TEXT.PRODUCT_DESC' | translate | uppercase}}</a>
		</div>
	</div>
	<div class="column is-12 tabs-btn-container-pdp">
		<div class="tile justify-content-right has-text-right"
			ng-class="{'btn-tabs-active-underline': tab == 2}">
			<a class="btn-tabs" ng-click="tab = 2; focusTabContent();"
				ng-class="{'btn-tabs-active': tab == 2}">{{'TEXT.DETAIL_SPEC' | translate | uppercase}}</a>
		</div>
	</div>
	<div class="column is-12 tabs-btn-container-pdp">
		<div class="tile justify-content-right has-text-right"
			ng-class="{'btn-tabs-active-underline': tab == 3}">
			<a class="btn-tabs" ng-click="tab = 3; focusTabContent();"
				ng-class="{'btn-tabs-active': tab == 3}">{{'TEXT.CUSTOMER_REVIEW' | translate | uppercase}}</a>
		</div>
	</div>
	<div class="column is-12 tabs-btn-container-pdp">
		<div class="tile justify-content-right has-text-right"
			ng-class="{'btn-tabs-active-underline': tab == 4}">
			<a class="btn-tabs" ng-click="tab = 4; focusTabContent();"
				ng-class="{'btn-tabs-active': tab == 4}">{{'TEXT.WARRANTY' | translate | uppercase}}</a>
		</div>
	</div>
</div>

<!-- <div class="columns m-t-2 is-multiline is-hidden-tablet">
	<div class="column has-text-centered is-12 tabs-btn-container-pdp"
		ng-show="tab == 1 || showNav == true">
		<div class="tile justify-content-right">
			<a class="btn-tabs" ng-click="tab = 1; showNav = !showNav"
				ng-class="{'btn-tabs-active': tab == 1}"><span>PRODUCT
					DESCRIPTION<span class="icon"> <i class="material-icons">keyboard_arrow_down</i>
				</span>
			</span> </a>
		</div>
	</div>
	<div class="column has-text-centered is-12 tabs-btn-container-pdp"
		ng-show="tab == 2 || showNav == true">
		<div class="tile justify-content-right">
			<a class="btn-tabs" ng-click="tab = 2; showNav = !showNav"
				ng-class="{'btn-tabs-active': tab == 2}">DETAILED SPECS<span
				class="icon"> <i class="material-icons">keyboard_arrow_down</i>
			</span></a>
		</div>
	</div>
	<div class="column has-text-centered is-12 tabs-btn-container-pdp"
		ng-show="tab == 3 || showNav == true">
		<div class="tile justify-content-right">
			<a class="btn-tabs" ng-click="tab = 3; showNav = !showNav"
				ng-class="{'btn-tabs-active': tab == 3}">CUSTOMER REVIEWS &
				RATINGS<span class="icon"> <i class="material-icons">keyboard_arrow_down</i>
			</span>
			</a>
		</div>
	</div>
	<div class="column has-text-centered is-12 tabs-btn-container-pdp"
		ng-show="tab == 4 || showNav == true">
		<div class="tile justify-content-right">
			<a class="btn-tabs" ng-click="tab = 4; showNav = !showNav"
				ng-class="{'btn-tabs-active': tab == 4}">WARRANTY<span
				class="icon"> <i class="material-icons">keyboard_arrow_down</i>
			</span></a>
		</div>
	</div>
</div> -->

<!-- Mobile View -->
<div
	class="columns m-t-2 is-multiline is-mobile is-centered is-hidden-tablet">
	<div class="column is-8 is-paddingless">
		<div class="columns is-marginless is-mobile is-multiline"
			ng-class="{'btn-tabs-container-active-mobile' : showNav}">
			<!-- <div class="column has-text-centered is-12 tabs-btn-container-pdp is-paddingless"
				ng-show="tab == 1 || showNav">
				<a class="btn-tabs" ng-click="tab = 1; showNav = !showNav"
					ng-class="{'btn-tabs-active': tab == 1}"><span>PRODUCT
						DESCRIPTION<span class="icon"> <i class="material-icons btn-tabs-icon">keyboard_arrow_down</i>
					</span>
				</span> </a>
			</div>
			<div class="column has-text-centered is-12 tabs-btn-container-pdp is-paddingless"
				ng-show="tab == 2 || showNav">
				<a class="btn-tabs" ng-click="tab = 2; showNav = !showNav"
					ng-class="{'btn-tabs-active': tab == 2}">DETAILED SPECS<span
					class="icon"> <i class="material-icons btn-tabs-icon">keyboard_arrow_down</i>
				</span></a>
			</div>
			<div class="column has-text-centered is-12 tabs-btn-container-pdp is-paddingless"
				ng-show="tab == 3 || showNav">
				<a class="btn-tabs" ng-click="tab = 3; showNav = !showNav"
					ng-class="{'btn-tabs-active': tab == 3}">CUSTOMER REVIEWS &
					RATINGS<span class="icon"> <i class="material-icons btn-tabs-icon">keyboard_arrow_down</i>
				</span>
				</a>
			</div>
			<div class="column has-text-centered is-12 tabs-btn-container-pdp is-paddingless"
				ng-show="tab == 4 || showNav">
				<a class="btn-tabs" ng-click="tab = 4; showNav = !showNav"
					ng-class="{'btn-tabs-active': tab == 4}">WARRANTY<span
					class="icon"> <i class="material-icons btn-tabs-icon">keyboard_arrow_down</i>
				</span></a>
			</div> -->

			<div
				class="column has-text-centered is-12 tabs-btn-container-pdp is-paddingless"
				ng-show="tabName == tabsMobile[0] || showNav"
				ng-repeat="tabName in tabsMobile track by $index"
				ng-init="tabNum = $index + 1">
				<a class="btn-tabs"
					ng-click="changeTab(tabName); toggleShowNav(); selectTabMobile($index, tabName); focusTabContentMobile(tabName == tabsMobile[0]);"
					ng-class="[{'btn-tabs-active': tabName == tabsMobile[0]}, {'p-l-1': tabName == tabsMobile[0]}]"><span>{{tabName}}<span
						ng-show="tabName == tabsMobile[0]" class="icon"><i
							class="material-icons btn-tabs-icon">keyboard_arrow_down</i> </span>
				</span> </a>
			</div>

		</div>
	</div>
</div>