<product-detail-breadcrumbs></product-detail-breadcrumbs>
<div class="container p-x-1">
	<div class="columns">
		<product-detail-header></product-detail-header>
	</div>
	<!-- Desktop View -->
	<div class="columns is-hidden-touch">
		<div class="column is-2 has-text-centered center-x-y">
			<product-detail-carousel></product-detail-carousel>
		</div>
		<div class="column is-6">
			<product-detail-display-image></product-detail-display-image>
		</div>
		<div class="column is-4">
			<product-detail-selection></product-detail-selection>
		</div>
	</div>

	<!-- Tablet & Mobile View -->
	<div class="columns is-hidden-widescreen is-hidden-desktop-only">
		<div class="column is-7">
			<div class="tile is-vertical">
				<div class="tile center-x-y ">
					<figure class="image is-1by1 max-width-100 image-pdp">
						<img ng-src="{{product.selectedImage.url}}">
					</figure>
				</div>
				<product-detail-carousel></product-detail-carousel>
			</div>
		</div>
		<div class="column is-5">
			<product-detail-selection></product-detail-selection>
		</div>
	</div>
</div>


<!-- Tabs Desktop & Tablet View-->
<div class="container m-b-4 m-t-2 is-hidden-mobile"
	ng-class="[{'background-grey-pdp': tab == 1}, {'background-grey-pdp': tab ==3}]">
	<div class="columns is-marginless" ng-init="tab=1">
		<div class="column is-4 p-x-0 m-t-3">
			<product-detail-tab-labels></product-detail-tab-labels>
		</div>
		<div class="column is-1 p-x-0 m-t-3"></div>
		<div class="column is-7 p-x-0 m-t-3" id="tab-content">
			<product-detail-tab-contents></product-detail-tab-contents>
		</div>
	</div>
</div>

<!-- Tabs Mobile View-->
<div class="m-b-4 m-t-2 is-hidden-tablet"
	ng-class="[{'background-grey-pdp': tab == 1}, {'background-grey-pdp': tab ==3}]">
	<div class="columns is-marginless">
		<div class="column is-12 m-t-3 overlap-div" id='tab-content-select'>
			<product-detail-tab-labels></product-detail-tab-labels>
		</div>
		<div class="column is-12 " id="tab-content-mobile">
			<product-detail-tab-contents></product-detail-tab-contents>
		</div>
	</div>
</div>


<!-- Desktop View - Other Products-->
<div class="container is-hidden-touch m-b-4">
	<div class="columns">
		<div class="column is-6">
			<recommended-products></recommended-products>
		</div>
		<div class="column is-6">
			<saved-products></saved-products>
		</div>
	</div>
</div>

<!-- Tablet View - Other Products-->
<div class="container is-fluid is-hidden-desktop is-hidden-mobile m-b-4">
	<div class="columns is-multiline is-mobile">
		<div class="column is-12">
			<recommended-products></recommended-products>
		</div>
		<div class="column is-12">
			<saved-products></saved-products>
		</div>
	</div>
</div>

<!-- Mobile View - Other Products-->
<div class="container is-fluid is-hidden-desktop is-hidden-tablet m-b-4">
	<div class="columns">
		<div class="column is-12">
			<recommended-products></recommended-products>
		</div>
	</div>
</div>
<div class="container is-fluid is-hidden-desktop is-hidden-tablet m-b-4">
	<div class="columns">
		<div class="column is-12">
			<saved-products></saved-products>
		</div>
	</div>
</div>
<add-to-project-modal></add-to-project-modal>
<project-create-modal></project-create-modal>