<div class="column is-12">
	<p class="m-t-2">
		<span class="produt-name-pdp">{{product.name}}</span>
	</p>
	<p>
		<span class="product-item-number-pdp">{{'TABLE_HEADER.ITEM_NO' | translate}}{{product.code}}</span><span
			class="m-r-2">&nbsp;</span> <span class="icon is-small" ng-click="goToReview()"> <i
			class="fa fa-star star-rated" aria-hidden="true"
			ng-repeat="rating in displayCurrentRating(product.rating)"></i> <i
			class="fa fa-star-o star-unrated" aria-hidden="true"
			ng-show="product.rating < 5"
			ng-repeat="rating in displayUnratedRating(product.rating)"></i>
		</span>
	</p>
	<a class="button p-x-0 p-y-0 print-btn-pdp is-hidden-touch"><i
		class="material-icons">print</i> </a>
</div>