<nav class="pagination is-centered"
	ng-if="customerReviewsAndRatingsList.length > 1">
	<button class="pagination-previous transparent"
		ng-disabled="customerReviewsAndRatingsIndex == 0"
		ng-click="decrementPageIndex('customerReviewsAndRatingsIndex','customerReviewsAndComments')">
		<i class="material-icons">keyboard_arrow_left</i>
	</button>
	<ul class="pagination-list">
		<li
			ng-show="customerReviewsAndRatingsIndex > 1 && customerReviewsAndRatingsList.length != 3"><span
			class="pagination-ellipsis">&hellip;</span></li>
		<li ng-repeat="page in customerReviewsAndRatingsPage"><button
			class="pagination-link transparent"
			ng-click="updatePageIndex('customerReviewsAndRatingsIndex',page-1,'customerReviewsAndComments')"
			ng-class="{'is-current': customerReviewsAndRatingsIndex == {{page}}-1}"
			ng-disabled="customerReviewsAndRatingsIndex == {{page}}-1">{{page}}</button>
		</li>
		<li
			ng-show="customerReviewsAndRatingsList.length > customerReviewsAndRatingsIndex+2 && customerReviewsAndRatingsIndex != customerReviewsAndRatingsList.length-1 && customerReviewsAndRatingsList.length > 3"><span
			class="pagination-ellipsis">&hellip;</span></li>
	</ul>
	<button class="pagination-next transparent"
		ng-disabled="customerReviewsAndRatingsIndex+1 == customerReviewsAndRatingsList.length"
		ng-click="incrementPageIndex('customerReviewsAndRatingsIndex','customerReviewsAndComments')">
		<i class="material-icons">keyboard_arrow_right</i>
	</button>
</nav>