<div class="tile is-vertical">
	<div class="tile">
		<div class="columns max-width-100 m-x-0 is-mobile">
			<div class="column p-l-0" ng-class="{'is-hidden': !hasColor}">
				<p>
					<span class="label-text-pdp-13">COLOR:</span>
				</p>
			</div>
			<div class="column p-r-0">
				<p>
					<span class="label-text-pdp-13">INVENTORY:</span>
				</p>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="columns max-width-100 m-x-0 is-mobile">
			<div class="column p-l-0" ng-class="{'is-hidden': !hasColor}">
				<div
					class="columns max-width-100 m-x-0 m-y-0 is-mobile is-multiline">
					<a class="square-color m-b-1"
						ng-repeat="image in imageList"
						ng-click="selectColor(product, image.code)"
						ng-class="[{'square-color-active': product.color == image.code}, {'m-r-1': !$last}]"><div
							class="padding-top-1">
							<img ng-src="{{image.url}}"/>
							</div></a>
				</div>
			</div>
			<div class="column p-r-0">
				<p>
					<span class="label-text-pdp-16"
						ng-show="product.stock.stockLevel > 0">{{product.stock.stockLevel}}
						Available</span> <span class="label-text-pdp-16"
						ng-show="product.stock.stockLevel == null || product.stock.stockLevel == undefined || product.stock.stockLevel == 0">Out
						Of Stock</span>
				</p>
			</div>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="tile" ng-class="{'is-hidden': !hasSize}">
		<p>
			<span class="label-text-pdp-13">SIZE:</span>&nbsp;<span
				class="label-text-pdp-16">{{product.size}}</span>
		</p>
	</div>
	<div class="tile" ng-class="{'is-hidden': !hasSize}">
		<div class="columns max-width-100 m-x-0 m-y-0 is-mobile is-multiline">
			<a class="square-number m-r-1 m-b-1"
				ng-repeat="size in product.sizeAvailable | orderBy: sizeAvailable"
				ng-click="selectSize(product, size)"
				ng-class="selectedSize(product.size == size)"><div
					class="padding-top-1">{{size}}</div></a>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="tile">
		<div class="columns max-width-100 m-x-0 is-mobile">
			<div class="column p-l-0">
				<div class="tile is-vertical">
					<div class="tile">
						<p>
							<span class="label-text-pdp-16">{{'TEXT.YOUR_PRICE' | translate | uppercase}}</span>
						</p>
					</div>
					<div class="tile">
						<p>
							<span class="product-price-pdp">{{product.price.formattedValue}}</span>
						</p>
					</div>
				</div>
			</div>
			<div class="column is-2 p-r-0">
				<input class="input product-qty-pdp" type="text"
					ng-model="productQuantity" placeholder="Qty"
					ng-disabled="product.stock.stockLevel == null || product.stock.stockLevel == undefined || product.stock.stockLevel == 0"
					select-on-click numeric-only>
			</div>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="tile">
		<p class="control max-width-100">
			<a class="button is-primary max-width-100"
				ng-click="addToCart(product, productQuantity)"
				ng-disabled="productQuantity > product.stock.stockLevel || product.stock.stockLevel == null || product.stock.stockLevel == undefined || product.stock.stockLevel == 0 || productQuantity == undefined || productQuantity == 0">
				<i class="material-icons">add_circle_outline</i>{{'BUTTON.ADD_TO_CART' | translate | uppercase}}
			</a>
		</p>
	</div>
	<div class="add-to-project tile m-t-1">
		<p class="control max-width-100">
			<a class="button is-ghost max-width-100 is-hidden-mobile"  angular-popover direction="top" close-on-click="true" template-url="resources/views/product-detail/add-to-project-popover.html">
				{{'BUTTON.ADD_TO_PROJ' | translate | uppercase}}
			</a>
			<a class="button is-ghost max-width-100 is-hidden-tablet" ng-click="toggleAddToProjModal(true)">
				{{'BUTTON.ADD_TO_PROJ' | translate | uppercase}}
			</a>
		</p>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="tile">
		<div class="horizontal-line-with-text">
			<span>{{'TEXT.OR' | translate | uppercase}}</span>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="tile">
		<p class="control max-width-100">
			<a class="button is-secondary max-width-100" ng-click="togglePickUpInStore()">PICKUP IN STORE</a>
		</p>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="tile is-vertical" ng-show="showPickUpStore">
		<div class="tile">
			<div class="columns max-width-100 m-x-0 is-mobile">
				<div class="column p-l-0">
					<div class="select-store-container">
						<p class="display-table-cell">
							<span class="label-text-pdp-15">{{'TEXT.SELECT_STORE' | translate}}</span>
						</p>
					</div>
				</div>
				<div class="column p-r-0">
					<p class="control has-icons-right">
						<input class="input" type="text" placeholder="19460"><span
							class="icon is-small is-right"> <i class="material-icons">place</i>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
		<div class="tile">
			<div class="columns max-width-100 m-x-0 is-mobile">
				<div class="column p-l-0">
					<p class="control">
						<input class="styled-checkbox" id="styled-checkbox-1"
							type="checkbox" value="value1"> <label
							for="styled-checkbox-1"><span class="checkbox-text-pdp">{{'TEXT.AJAX_POWERTOOLS' | translate}}</span></label>
					</p>
				</div>
				<div class="column p-r-0">
					<p class="control">
						<input class="styled-checkbox" id="styled-checkbox-2"
							type="checkbox" value="value1"> <label
							for="styled-checkbox-2"><span class="checkbox-text-pdp">McKenzie
								Hardware</span></label>
					</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="tile">
			<div class="columns max-width-100 m-x-0 is-mobile">
				<div class="column p-l-1">
					<p class="control">
						<span class="pick-up-note">{{'TEXT.AVAILABLE_PICKUP' | translate}}</span>
					</p>
				</div>
				<div class="column p-r-0">
					<p class="control">
						<span class="pick-up-note">{{'TEXT.AVAILABLE_PICKUP' | translate}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="tile margin-top-neg-5">
			<div class="columns max-width-100 m-x-0 is-mobile">
				<div class="column p-l-1">
					<p class="control">
						<span class="day-note">{{'TEXT.TODAY' | translate}}</span>
					</p>
				</div>
				<div class="column p-r-0">
					<p class="control">
						<span class="day-note">{{'TEXT.TODAY' | translate}}</span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix">&nbsp;</div>
	<div class="tile center-x-y has-text-centered">
		<p>
			<a class="see-more-locations-pdp">{{'TEXT.SEE_MORE_LOC' | translate}}</a>
		</p>
	</div>
	<div class="clearfix">&nbsp;</div>
</div>