<!-- Desktop & Tablet View -->
<div class="columns is-marginless is-multiline">
	<div class="column is-9 tabs-details-pdp is-hidden-touch" ng-show="tab == 1">
		<p class="m-b-2" ng-repeat="description in productDescription">
			<span class="tabs-text-details-pdp">{{description}}</span>
		</p>
	</div>
	<div class="column is-11 tabs-details-pdp p-x-0 is-hidden-desktop is-hidden-mobile" ng-show="tab == 1">
		<p class="m-b-2" ng-repeat="description in productDescription">
			<span class="tabs-text-details-pdp">{{description}}</span>
		</p>
	</div>
	
	<div class="column is-9 tabs-details-pdp is-hidden-touch" ng-show="tab == 2">
		<p class="m-b-2" ng-repeat="detailedSpecs in productDetailsSpecs">
			<span class="tabs-text-details-pdp">{{detailedSpecs.name}}</span> <br />
			<span class="tabs-text-details-pdp">{{detailedSpecs.details}}</span>
		</p>
	</div>
	<div class="column is-11 tabs-details-pdp p-x-0 is-hidden-desktop is-hidden-mobile" ng-show="tab == 2">
		<p class="m-b-2" ng-repeat="detailedSpecs in productDetailsSpecs">
			<span class="tabs-text-details-pdp">{{detailedSpecs.name}}</span> <br />
			<span class="tabs-text-details-pdp">{{detailedSpecs.details}}</span>
		</p>
	</div>
	
	<div class="column is-12 tabs-details-pdp is-hidden-touch" ng-show="tab == 3">
		<div class="columns is-paddingless is-multiline">
			<div class="column is-12">
				<div class="columns is-paddingless">
					<div class="column is-3">
						<p class="control has-icons-right">
							<label class="label filter-label">SORT BY</label> <span
								class="select"> <select ng-model="selectedStarRating"
								class=""
								ng-options="rating.value for rating in starRating track by rating.id"">
							</select> <span class="icon is-large is-right"> <i
									class="material-icons">arrow_drop_down</i>
							</span>
							</span>
						</p>
					</div>
					<div class="column p-r-2">
						<div class="tile justify-content-right">
							<product-detail-rating-pagination></product-detail-rating-pagination>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12" ng-repeat="customerReviewAndRating in visibleCustomerReviewsAndRatingsList">
				<div class="columns is-multiline is-paddingless">
					<div class="column is-10">
						<p>
							<span class="icon margin-right-2"
								ng-repeat="rating in displayCurrentRating(customerReviewAndRating.rating)">
								<i class="fa fa-star star-rated" aria-hidden="true"></i>
							</span><span class="icon margin-right-2"
								ng-show="customerReviewAndRating.rating < 5"
								ng-repeat="rating in displayUnratedRating(customerReviewAndRating.rating)">
								<i class="fa fa-star-o star-unrated" aria-hidden="true"></i>
							</span>
						</p>
					</div>
					<div class="column is-10">
						<p>
							<span class="customer-review-text">{{customerReviewAndRating.shortComment}}</span><br />
							<span class="customer-review-text">{{customerReviewAndRating.customerName}}
								on {{customerReviewAndRating.date}}</span><br /> <span
								class="customer-review-text">{{customerReviewAndRating.size}}
								D(M)</span><br /> <span class="customer-review-text">{{customerReviewAndRating.color}}</span><br />
						</p>
					</div>
					<div class="column is-10 p-y-0">
						<p class="m-b-2" ng-if="$first"
							ng-repeat="comment in customerReviewAndRating.longComment">
							<span class="customer-review-long-comment">{{comment}}</span><a
								class="is-danger"
								ng-show="customerReviewAndRating.showBtnShowAll"
								ng-click=showMoreComment(customerReviewAndRating)>Show more</a>
						</p>
						<p class="m-b-2"
							ng-if="customerReviewAndRating.showAllComment && !$first && !customerReviewAndRating.showBtnShowAll"
							ng-repeat="comment in customerReviewAndRating.longComment">
							<span class="customer-review-long-comment">{{comment}}</span><a
								class="is-danger"
								ng-show="!customerReviewAndRating.showBtnShowAll && $last"
								ng-click=showMoreComment(customerReviewAndRating)>Show less</a>
						</p>
					</div>
					<div class="column is-12 p-y-0">
						<hr>
					</div>
				</div>
			</div>
			<div class="column is-12">
				<div class="column p-r-2">
					<div class="tile justify-content-right">
						<product-detail-rating-pagination></product-detail-rating-pagination>
					</div>
					<div class="column"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-11 tabs-details-pdp p-x-0 is-hidden-desktop is-hidden-mobile" ng-show="tab == 3">
		<div class="columns is-paddingless is-multiline">
			<div class="column is-12">
				<div class="columns is-paddingless">
					<div class="column is-3">
						<p class="control has-icons-right">
							<label class="label filter-label">SORT BY</label> <span
								class="select"> <select ng-model="selectedStarRating"
								class=""
								ng-options="rating.value for rating in starRating track by rating.id"">
							</select> <span class="icon is-large is-right"> <i
									class="material-icons">arrow_drop_down</i>
							</span>
							</span>
						</p>
					</div>
					<div class="column p-t-1 m-t-1">
						<div class="tile justify-content-right">
							<product-detail-rating-pagination></product-detail-rating-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column is-12 is-paddingless">
			<div class="columns is-multiline is-paddingless"
				ng-repeat="customerReviewAndRating in visibleCustomerReviewsAndRatingsList">
				<div class="column is-12">
					<p>
						<span class="icon margin-right-2"
							ng-repeat="rating in displayCurrentRating(customerReviewAndRating.rating)">
							<i class="fa fa-star star-rated" aria-hidden="true"></i>
						</span><span class="icon margin-right-2"
							ng-show="customerReviewAndRating.rating < 5"
							ng-repeat="rating in displayUnratedRating(customerReviewAndRating.rating)">
							<i class="fa fa-star-o star-unrated" aria-hidden="true"></i>
						</span>
					</p>
				</div>
				<div class="column is-12">
					<p>
						<span class="customer-review-text">{{customerReviewAndRating.shortComment}}</span><br />
						<span class="customer-review-text">{{customerReviewAndRating.customerName}}
							{{'TEXT.ON' | translate}} {{customerReviewAndRating.date}}</span><br /> <span
							class="customer-review-text">{{customerReviewAndRating.size}}
							D(M)</span><br /> <span class="customer-review-text">{{customerReviewAndRating.color}}</span><br />
					</p>
				</div>
				<div class="column is-12 p-y-0">
					<p class="m-b-2" ng-if="$first"
						ng-repeat="comment in customerReviewAndRating.longComment">
						<span class="customer-review-long-comment">{{comment}}</span><a
							class="is-danger"
							ng-show="customerReviewAndRating.showBtnShowAll"
							ng-click=showMoreComment(customerReviewAndRating)>{{'TEXT.SHOW_MORE' | translate}}</a>
					</p>
					<p class="m-b-2"
						ng-if="customerReviewAndRating.showAllComment && !$first && !customerReviewAndRating.showBtnShowAll"
						ng-repeat="comment in customerReviewAndRating.longComment">
						<span class="customer-review-long-comment">{{comment}}</span><a
							class="is-danger"
							ng-show="!customerReviewAndRating.showBtnShowAll && $last"
							ng-click=showMoreComment(customerReviewAndRating)>{{'TEXT.SHOW_LESS' | translate}}</a>
					</p>
				</div>
				<div class="column is-12 p-y-0">
					<hr>
				</div>
			</div>
		</div>
		<div class="column is-12 p-x-0">
			<div class="column p-x-0">
				<div class="tile justify-content-right">
					<product-detail-rating-pagination></product-detail-rating-pagination>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
	
	<div class="column is-9 tabs-details-pdp is-hidden-touch" ng-show="tab == 4">
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.name}}</span>
		</p>
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.detail1}}</span>
		</p>
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.detail2}}</span>
		</p>
	</div>
	<div class="column is-11 tabs-details-pdp p-x-0 is-hidden-desktop is-hidden-mobile" ng-show="tab == 4">
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.name}}</span>
		</p>
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.detail1}}</span>
		</p>
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.detail2}}</span>
		</p>
	</div>
</div>

<!-- Mobile View -->
<div class="columns is-marginless is-multiline is-hidden-tablet" id="tab-content">
	<div class="column is-11 tabs-details-pdp" ng-show="tab == 1">
		<p class="m-b-2" ng-repeat="description in productDescription">
			<span class="tabs-text-details-pdp">{{description}}</span>
		</p>
	</div>
	<div class="column is-11 tabs-details-pdp" ng-show="tab == 2">
		<p class="m-b-2" ng-repeat="detailedSpecs in productDetailsSpecs">
			<span class="tabs-text-details-pdp">{{detailedSpecs.name}}</span> <br />
			<span class="tabs-text-details-pdp">{{detailedSpecs.details}}</span>
		</p>
	</div>
	<div class="column is-12 tabs-details-pdp" ng-show="tab == 3">
		<div class="columns is-paddingless is-multiline">
			<div class="column is-12">
				<div class="columns is-mobile is-multiline is-paddingless">
					<div class="column is-5">
						<p class="control has-icons-right">
							<label class="label filter-label">{{'SORT_BY' | translate | uppercase}}</label> <span
								class="select"> <select ng-model="selectedStarRating"
								class=""
								ng-options="rating.value for rating in starRating track by rating.id"">
							</select> <span class="icon is-large is-right"> <i
									class="material-icons">arrow_drop_down</i>
							</span>
							</span>
						</p>
					</div>
					<div class="column is-7 is-paddingless">
						<div class="columns is-mobile is-paddingless p-l-1 p-t-3">
							<div class="column is-12 is-paddingless">
								<product-detail-rating-pagination></product-detail-rating-pagination>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-11">
				<div class="columns is-multiline is-paddingless"
					ng-repeat="customerReviewAndRating in visibleCustomerReviewsAndRatingsList">
					<div class="column is-12">
						<p>
							<span class="icon margin-right-2"
								ng-repeat="rating in displayCurrentRating(customerReviewAndRating.rating)">
								<i class="fa fa-star star-rated" aria-hidden="true"></i>
							</span><span class="icon margin-right-2"
								ng-show="customerReviewAndRating.rating < 5"
								ng-repeat="rating in displayUnratedRating(customerReviewAndRating.rating)">
								<i class="fa fa-star-o star-unrated" aria-hidden="true"></i>
							</span>
						</p>
					</div>
					<div class="column is-12">
						<p>
							<span class="customer-review-text">{{customerReviewAndRating.shortComment}}</span><br />
							<span class="customer-review-text">{{customerReviewAndRating.customerName}}
								{{'TEXT.ON' | translate}} {{customerReviewAndRating.date}}</span><br /> <span
								class="customer-review-text">{{customerReviewAndRating.size}}
								D(M)</span><br /> <span class="customer-review-text">{{customerReviewAndRating.color}}</span><br />
						</p>
					</div>
					<div class="column is-12 p-y-0">
						<p class="m-b-2" ng-if="$first"
							ng-repeat="comment in customerReviewAndRating.longComment">
							<span class="customer-review-long-comment">{{comment}}</span><a
								class="is-danger"
								ng-show="customerReviewAndRating.showBtnShowAll"
								ng-click=showMoreComment(customerReviewAndRating)>{{'TEXT.SHOW_MORE' | translate}}</a>
						</p>
						<p class="m-b-2"
							ng-if="customerReviewAndRating.showAllComment && !$first && !customerReviewAndRating.showBtnShowAll"
							ng-repeat="comment in customerReviewAndRating.longComment">
							<span class="customer-review-long-comment">{{comment}}</span><a
								class="is-danger"
								ng-show="!customerReviewAndRating.showBtnShowAll && $last"
								ng-click=showMoreComment(customerReviewAndRating)>{{'TEXT.SHOW_LESS' | translate}}</a>
						</p>
					</div>
					<div class="column is-12 p-y-0">
						<hr>
					</div>
				</div>
			</div>
			<div class="columns is-mobile">
				<div class="column"></div>
				<div class="column is-8">
					<product-detail-rating-pagination></product-detail-rating-pagination>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
	<div class="column is-11 tabs-details-pdp" ng-show="tab == 4">
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.name}}</span>
		</p>
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.detail1}}</span>
		</p>
		<p class="m-b-2">
			<span class="tabs-text-details-pdp">{{productWarranty.detail2}}</span>
		</p>
	</div>
</div>