<div class="columns is-marginless is-multiline">
	<div class="column is-12 has-text-centered is-hidden-mobile">
		<span class="checkout-heading">{{ 'ORDER_SUMMARY' | translate }}</span>
	</div>
	<div class="column is-12 side-nav-shopping-cart-table-container is-hidden-mobile">
		<table class="table footable"datatable="ng" dt-options="checkoutCtrl.dtOptionsCheckout" dt-column-defs="checkoutCtrl.dtColumnDefsCheckout" dt-instance="dtInstance"
		 					width="100%" ng-show="shoppingCart.items.length > 0">
			<thead>
				<tr>
					<th data-sort-ignore="true">&nbsp;</th>
					<th>{{ 'TABLE_HEADER.ITEM_NO' | translate }}</th>
					<th class="center-text">{{ 'TABLE_HEADER.QUANTITY' | translate }}</th>
					<th class="center-text">{{ 'TABLE_HEADER.TOTAL_COST' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in shoppingCart.items">
					<td>
						<figure class="image is-64x64">
							<img class="image is-64x64" ng-src="{{row.image}}" />
						</figure>
					</td>
					<td><a href="#">{{row.itemNumber}}</a></td>
					<td class="center-text">{{row.quantity}}</td>
					<td class="center-text">{{currency}}{{row.unitPrice * row.quantity |
						number : 2}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Desktop view -->
	<div class="column is-12 p-x-6 is-hidden-touch">
		<common-order-summary-computation></common-order-summary-computation>
	</div>
	
	<!-- Tablet View -->
	<div class="column is-offset-5 is-7 is-hidden-desktop is-hidden-mobile">
		<common-order-summary-computation></common-order-summary-computation>
	</div>
	
	<!-- Mobile View -->
	<div class="column is-12 is-hidden-tablet">
		<common-order-summary-computation></common-order-summary-computation>
	</div>
</div>