<div class="columns is-marginless is-multiline p-x-1 is-mobile"
	ng-init="tab = 1">
	<div class="column is-12 has-text-centered is-hidden-mobile">
		<span class="checkout-heading">{{ 'CHECKOUT_TEXT.SECURE_CHECKOUT' | translate}}</span>
	</div>
	<div class="column is-6 p-l-0 is-hidden-tablet">
		<span class="checkout-heading">{{ 'CHECKOUT_TEXT.SECURE_CHECKOUT' | translate}}</span>
	</div>
	<div class="column is-6 is-hidden-tablet">
		<a class="button is-secondary">{{ 'ORDER_SUMMARY' | translate | uppercase}}</a>
	</div>

	<!-- Payment Type -->
	<div class="column is-12 p-x-0 checkout-step-label-border"
		ng-class="{'checkout-step-label-border-previous': tab > 1}">
		<span class="checkout-step-label"
			ng-class="[{'checkout-step-label-active': tab == 1}, {'checkout-label-previous': tab > 1}]">1.
			{{ 'CHECKOUT_TEXT.PAYMENT_TYPE' | translate}}</span> <a class="checkout-edit" ng-click="tab = 1"
			ng-show="tab > 1" ng-class="{'checkout-label-previous': tab > 1}"><i
			class="material-icons">mode_edit</i></a>
	</div>
	<div class="column is-12 p-x-0" ng-show="tab == 1">
		<div class="columns is-marginless is-multiline is-mobile">
			<div class="column is-12 p-x-0 p-b-0">
				<div class="control">
					<input type="radio" class="styled-radio" name="paymentType"
						id="credit-card-payment" ng-model="selectedPaymentType"
						ng-value="'creditCard'" ng-click="getSelectedPayment()"> <label
						for="credit-card-payment" class="radio checkout-radio-text">{{ 'CHECKOUT_TEXT.CREDIT_CARD' | translate}}</label>
				</div>
				<div class="control">
					<input type="radio" class="styled-radio" name="paymentType"
						id="bill-account-payment" ng-model="selectedPaymentType"
						ng-value="'billAccount'" ng-click="getSelectedPayment()">
					<label for="bill-account-payment" class="radio checkout-radio-text">{{ 'CHECKOUT_TEXT.BILL_ACCT' | translate}}</label>
				</div>
			</div>
			<div class="column is-12 p-x-0 p-b-0">
				<div class="columns is-marginless is-multiline is-mobile">
					<div class="column is-6 p-l-0 p-r-1">
						<div class="control has-icons-right">
							<label class="label checkout-label">{{ 'CHECKOUT_TEXT.PO_NO' | translate | uppercase}} <span
								class="is-danger">*</span></label> <input class="input" type="text">
						</div>
					</div>
					<div class="column is-6 p-l-1 p-r-0">
						<div class="control has-icons-right">
							<label class="label checkout-label">{{ 'CHECKOUT_TEXT.COST_CENTER' | translate | uppercase}}</label> <span
								class="select width-100-perc"> <select
								ng-model="selectedCostCenter"
								class="filter-dropdown width-100-perc"
								ng-options="costCenter for costCenter in costCenterList"
								ng-change="">
							</select> <span class="icon is-large is-right"> <i
									class="material-icons">arrow_drop_down</i>
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 p-x-0 has-text-centered">
				<a class="button is-secondary" ng-click="tab = 2">{{ 'BUTTON.NEXT' | translate | uppercase}}</a>
			</div>
		</div>
	</div>

	<!-- Shipping Address -->
	<div class="column is-12 p-x-0 checkout-step-label-border"
		ng-class="{'checkout-step-label-border-previous': tab > 2}">
		<span class="checkout-step-label"
			ng-class="[{'checkout-step-label-active': tab == 2}, {'checkout-label-previous': tab > 2}]">2.
			{{ 'CHECKOUT_TEXT.SHIP_ADDRESS' | translate}}</span> <a class="checkout-edit" ng-click="tab = 2"
			ng-show="tab > 2" ng-class="{'checkout-label-previous': tab > 2}"><i
			class="material-icons">mode_edit</i></a>
	</div>
	<div class="column is-12 p-x-0" ng-show="tab == 2">
		<div class="columns is-marginless is-multiline is-mobile">
			<div class="column is-12 p-x-0 p-b-0">
				<div class="columns is-marginless is-multiline is-mobile">
					<div class="column is-6 p-x-0">
						<input type="radio" class="styled-radio" name="shippingAddress"
							id="bill-account-shipping" ng-model="selectedShippingAddress"
							ng-value="'billAccount'" ng-click="getSelectedPayment()">
						<label for="bill-account-shipping"
							class="radio checkout-radio-text">{{ 'CHECKOUT_TEXT.BILL_ACCT' | translate}}</label>
					</div>
					<div class="column is-6 p-x-0">
						<input type="radio" class="styled-radio" name="shippingAddress"
							id="credit-card-payment-shipping"
							ng-model="selectedShippingAddress" ng-value="'creditCard'"
							ng-click="getSelectedPayment()"> <label
							for="credit-card-payment-shipping"
							class="radio checkout-radio-text">{{ 'CHECKOUT_TEXT.CREDIT_CARD' | translate}}</label>
					</div>
				</div>
				<div class="columns is-marginless is-multiline is-mobile">
					<div class="column is-6 p-x-2 p-t-0">
						<div class="control">
							<span class="address-details">{{billAccount.name}}</span>
						</div>
						<div class="control">
							<span class="address-details">{{billAccount.address1}}</span>
						</div>
						<div class="control">
							<span class="address-details">{{billAccount.address2}}</span>
						</div>
					</div>
					<div class="column is-6 p-x-2 p-t-0">
						<div class="control">
							<a href="" class="checkout-link">{{ 'CHECKOUT_TEXT.ADDRESS_BOOK' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 p-x-0 has-text-centered">
				<a class="button is-secondary" ng-click="tab = 3">{{ 'BUTTON.NEXT' | translate | uppercase}}</a>
			</div>
		</div>
	</div>

	<!-- Shipping Method -->
	<div class="column is-12 p-x-0 checkout-step-label-border"
		ng-class="{'checkout-step-label-border-previous': tab > 3}">
		<span class="checkout-step-label"
			ng-class="[{'checkout-step-label-active': tab == 3}, {'checkout-label-previous': tab > 3}]">3.
			{{ 'CHECKOUT_TEXT.SHIPPING_METHOD' | translate}}</span> <a class="checkout-edit" ng-click="tab = 3"
			ng-show="tab > 3" ng-class="{'checkout-label-previous': tab > 3}"><i
			class="material-icons">mode_edit</i></a>
	</div>
	<div class="column is-12 p-x-0" ng-show="tab == 3">
		<div class="columns is-marginless is-multiline is-mobile">
			<div class="column is-12 p-x-0 p-b-0">
				<div class="columns is-marginless is-multiline is-mobile">
					<div class="column is-6 p-x-0 p-t-0">
						<label class="label checkout-label">{{ 'CHECKOUT_TEXT.SHIP_ADDRESS' | translate | uppercase}}</label>
						<div class="control">
							<span class="address-details">{{billAccount.name}}</span>
						</div>
						<div class="control">
							<span class="address-details">{{billAccount.address1}}</span>
						</div>
						<div class="control">
							<span class="address-details">{{billAccount.address2}}</span>
						</div>
					</div>
					<div class="column is-6 p-x-0 p-t-0">
						<div class="control has-icons-right">
							<label class="label checkout-label">{{ 'CHECKOUT_TEXT.SHIPPING_METHOD' | translate | uppercase}}</label> <span
								class="select width-100-perc"> <select
								ng-model="selectedShippingMethod"
								class="filter-dropdown width-100-perc"
								ng-options="shippingMethod for shippingMethod in shippingMethodList"
								ng-change="">
							</select> <span class="icon is-large is-right"> <i
									class="material-icons">arrow_drop_down</i>
							</span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 p-x-0 has-text-centered">
				<a class="button is-secondary" ng-click="tab = 4">{{ 'BUTTON.NEXT' | translate | uppercase}}</a>
			</div>
		</div>
	</div>

	<!-- Review -->
	<div class="column is-12 p-x-0 checkout-step-label-border">
		<span class="checkout-step-label"
			ng-class="[{'checkout-step-label-active': tab == 4}]">4.
			{{ 'CHECKOUT_TEXT.REVIEW' | translate}}</span>
	</div>
	<div class="column is-12 p-x-0" ng-show="tab == 4">
		<div class="columns is-marginless is-multiline is-mobile">
			<div class="column is-12 p-x-0 p-b-0">
				<div class="columns is-multiline is-marginless is-mobile">
					<div class="column is-4 p-x-0">
						<span class="shopping-cart-summary-label">{{ 'TEXT.SUBTOTAL' | translate}}</span>
					</div>
					<div class="column has-text-right">
						<span class="shopping-cart-summary-computation">{{currency}}{{shoppingCart.subTotal
							| number : 2}}</span>
					</div>
				</div>
				<div class="columns is-multiline is-marginless is-mobile">
					<div class="column is-4 p-x-0">
						<span class="shopping-cart-summary-label">{{ 'CHECKOUT_TEXT.SHIPPING' | translate}}</span>
					</div>
					<div class="column has-text-right">
						<span class="shopping-cart-summary-computation">{{currency}}{{shippingFee
							| number : 2}}</span>
					</div>
				</div>
				<hr class="m-y-1">
				<div class="columns is-multiline is-marginless is-mobile">
					<div class="column is-4 p-x-0">
						<span class="shopping-cart-summary-label">{{ 'TEXT.TOTAL' | translate}}</span>
					</div>
					<div class="column has-text-right">
						<span
							class="shopping-cart-summary-computation shopping-cart-summary-total">{{shoppingCart.subTotal
							+ shippingFee | number : 2}}</span>
					</div>
				</div>
			</div>
			<div class="column is-12 p-x-0 has-text-centered">
				<input class="styled-checkbox" id="agreement-checkbox"
					type="checkbox" ng-change="" ng-model="userAgreement"> <label
					for="agreement-checkbox" class="filter-value"><span
					class="checkout-agreement-text">{{ 'CHECKOUT_TEXT.AGREEMENT_TEXT' | translate}}</span></label>
			</div>
			<div class="column is-12 p-x-0 has-text-centered">
				<button class="button is-primary transparent"
					ng-click="toggleOrderConfirmationModal(true)"
					ng-disabled="!userAgreement || shoppingCart.items.length == 0">{{ 'CHECKOUT_TEXT.PLACE_ORDER' | translate | uppercase}}</button>
			</div>
		</div>
	</div>
</div>