<div class="modal" ng-class="orderConfirmationModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-content filter-modal">
		<div class="columns is-marginless is-multiline">
			<div class="column is-12">
				<span class="checkout-heading">{{ 'CHECKOUT_TEXT.HEADING' | translate }}</span>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<span class="confirmation-text">{{ 'CHECKOUT_TEXT.CONFIRMATION' | translate }}</span>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<div class="columns is-marginless is-mobile">
					<div class="column is-offset-6 is-6 p-x-0">
						<div class="tile has-text-right justify-right">
							<a class="button is-secondary"
								ng-click="toggleOrderConfirmationModal(false)">{{ 'TEXT.NO' | translate | uppercase}}</a>&nbsp;&nbsp;
							<button class="button is-primary height-35"
								ng-click="placeOrder()"
								ng-disabled="!userAgreement || shoppingCart.items.length == 0">{{ 'TEXT.YES' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleOrderConfirmationModal(false)"></button>
</div>