<checkout-breadcrumbs></checkout-breadcrumbs>
<div class="container p-x-1">
	<!-- Desktop View -->
	<div class="columns is-marginless is-hidden-touch">
		<div class="column is-6">
			<checkout-tabs></checkout-tabs>
		</div>
		<div class="column is-6">
			<checkout-order-summary></checkout-order-summary>
		</div>
	</div>

	<!-- Tablet View -->
	<div
		class="columns is-marginless is-multiline p-x-3 is-hidden-desktop is-hidden-mobile">
		<div class="column is-12">
			<checkout-tabs></checkout-tabs>
		</div>
		<div class="column is-12">
			<checkout-order-summary></checkout-order-summary>
		</div>
	</div>

	<!-- Mobile View -->
	<div class="columns is-marginless is-hidden-tablet">
		<div class="column is-12 is-paddingless">
			<checkout-tabs></checkout-tabs>
		</div>
		<div class="column is-12 is-paddingless">
			<checkout-order-summary></checkout-order-summary>
		</div>
	</div>
</div>

<checkout-order-summary-modal></checkout-order-summary-modal>
<checkout-order-confirmation-modal></checkout-order-confirmation-modal>