<div class="modal is-hidden-touch" ng-class="summaryModalTrigger">
	<div class="modal-background"></div>
	<div class="modal-content filter-modal">
		<div class="columns is-marginless is-multiline">
			<div class="column is-12">
				<span class="checkout-heading">{{ 'ORDER_SUMMARY' | translate }}</span>
			</div>
			<div class="column is-12 side-nav-shopping-cart-table-container">
				<table class="table footable" datatable="ng" dt-options="checkoutCtrl.dtOptionsModal" dt-column-defs="checkoutCtrl.dtColumnDefsModal" dt-instance="dtInstance"
		 					width="100%" ng-show="shoppingCart.items.length > 0">
					<thead>
						<tr>
							<th>{{ 'TABLE_HEADER.ITEM_NO' | translate }}</th>
							<th class="center-text">{{ 'TABLE_HEADER.QUANTITY' | translate }}</th>
							<th class="center-text">{{ 'TABLE_HEADER.TOTAL_COST' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in shoppingCart.items">
							<td><a href="#">{{row.itemNumber}}</a></td>
							<td class="center-text">{{row.quantity}}</td>
							<td class="center-text">{{currency}}{{row.unitPrice * row.quantity |
								number : 2}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleOrderSummaryModal(false)"></button>
</div>