<div class="shopping-order-summary is-hidden-mobile">
	<div class="columns is-multiline is-marginless is-mobile has-text-centered">
		<div class="column is-12 is-paddingless">
			<span class="order-summary-title">{{'CART_TEXT.ORDER_SUMMARY' | translate | uppercase}}</span>
		</div>
	</div>
	<div class="columns is-multiline is-marginless p-x-2 is-mobile is-hidden-touch">
		<div class="column is-4 is-paddingless padding-top-7">
			<span class="shopping-cart-summary-label has-text-white">{{'CART_TEXT.PROMO_CODE' | translate}}</span>
		</div>
		<div class="column is-paddingless p-l-1">
			<input class="input" type="text" placeholder="Your Promo Code">
		</div>
	</div>
	
	<div class="columns is-multiline is-marginless p-x-2 is-mobile is-hidden-desktop">
		<div class="column is-12 is-paddingless padding-top-7">
			<span class="shopping-cart-summary-label has-text-white">{{'CART_TEXT.PROMO_CODE' | translate}}</span>
		</div>
		<div class="column is-paddingless">
			<input class="input" type="text" placeholder="Your Promo Code">
		</div>
	</div>

	<div class="columns is-multiline is-marginless is-mobile p-x-2">
		<div class="column is-4 p-x-0">
			<span class="shopping-cart-summary-label has-text-white">{{'TEXT.SUBTOTAL' | translate}}</span>
		</div>
		<div class="column has-text-right">
			<span class="shopping-cart-summary-computation word-break-all has-text-white">{{currency}}{{shoppingCart.subTotal
				| number : 2}}</span>
		</div>
	</div>
	<div class="columns is-multiline is-marginless is-mobile p-x-2">
		<div class="column is-4 p-x-0">
			<span class="shopping-cart-summary-label has-text-white">{{'CHECKOUT_TEXT.SHIPPING' | translate}}</span>
		</div>
		<div class="column has-text-right">
			<span class="shopping-cart-summary-computation has-text-white word-break-all">{{currency}}{{shippingFee
				| number : 2}}</span>
		</div>
	</div>

	<div class="columns is-multiline is-marginless is-mobile p-x-2">
		<div class="column is-4 p-x-0">
			<span class="shopping-cart-summary-label has-text-white">{{'TEXT.TOTAL' | translate}}</span>
		</div>
		<div class="column has-text-right">
			<span
				class="shopping-cart-summary-computation shopping-cart-summary-total word-break-all has-text-white">{{currency}}{{shoppingCart.subTotal
				+ shippingFee | number : 2}}</span>
		</div>
	</div>
</div>
<!-- Mobile View -->
<div class="shopping-order-summary is-hidden-tablet">
	<div class="columns is-multiline is-marginless is-mobile has-text-centered">
		<div class="column is-12 is-paddingless has-text-left">
			<span class="order-summary-title m-l-1">{{'CART_TEXT.ORDER_SUMMARY' | translate | uppercase}}</span>
			<i ng-click="toggleOrderDetails(false)" ng-show="isOrderVisible" class="fa fa-angle-up has-text-white fa-2x float-right m-t-1h p-r-1"></i>
			<span ng-click="toggleOrderDetails(false)" ng-show="isOrderVisible" class="has-text-white float-right m-r-1 m-t-1">HIDE DETAILS</span>
			<i ng-click="toggleOrderDetails(true)" ng-show="!isOrderVisible" class="fa fa-angle-down has-text-white fa-2x float-right m-t-1h p-r-1"></i>
			<span ng-click="toggleOrderDetails(true)" ng-show="!isOrderVisible" class="has-text-white float-right m-r-1 m-t-1">SHOW DETAILS</span>
		</div>
	</div>
	<div class="columns is-multiline is-marginless is-paddingless is-mobile" ng-show="isOrderVisible">
		<div class="column is-6 is-multiline is-paddingless is-marginless">
			<div class="columns is-multiline is-marginless is-mobile">
				<div class="column is-12 p-b-0 padding-top-7">
					<span class="size-14 shopping-cart-summary-label has-text-white">{{'CART_TEXT.PROMO_CODE' | translate}}</span>
				</div>
				<div class="column is-11">
					<input class="input size-14" type="text" placeholder="Your Promo Code">
				</div>
			</div>
		</div>
		<div class="column is-6 is-multiline is-marginless is-paddingless">
			<div class="columns is-multiline is-marginless is-paddingless is-mobile is-paddingless">
				<div class="column is-4 p-x-0">
					<span class="size-14 shopping-cart-summary-label has-text-white">{{'TEXT.SUBTOTAL' | translate}}</span>
				</div>
				<div class="column has-text-right">
					<span class="size-14 shopping-cart-summary-computation has-text-white word-break-all">{{currency}}{{shoppingCart.subTotal
						| number : 2}}</span>
				</div>
			</div>
			<div class="columns is-multiline is-marginless is-paddingless is-mobile is-paddingless">
				<div class="column is-4 p-x-0 p-t-0">
					<span class="size-14 shopping-cart-summary-label has-text-white">{{'CHECKOUT_TEXT.SHIPPING' | translate}}</span>
				</div>
				<div class="column has-text-right p-t-0">
					<span class="size-14 shopping-cart-summary-computation has-text-white word-break-all">{{currency}}{{shippingFee
						| number : 2}}</span>
				</div>
			</div>
			<hr class="m-y-1 p-x-3">
			<div class="columns is-multiline is-marginless is-mobile is-paddingless">
				<div class="column is-4 p-x-0 p-t-0">
					<span class="size-14 shopping-cart-summary-label has-text-white">{{'TEXT.TOTAL' | translate}}</span>
				</div>
				<div class="column has-text-right p-t-0">
					<span
						class="size-14 shopping-cart-summary-computation shopping-cart-summary-total has-text-white word-break-all">{{currency}}{{shoppingCart.subTotal
						+ shippingFee | number : 2}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="columns is-multiline is-marginless is-paddingless is-mobile" ng-show="!isOrderVisible">
		<div class="column is-4 p-x-0 p-t-0 p-l-1">
			<span class="size-14 shopping-cart-summary-label has-text-white">{{'TEXT.TOTAL' | translate}}</span>
		</div>
		<div class="column has-text-right p-t-0">
			<span
				class="size-14 shopping-cart-summary-computation shopping-cart-summary-total has-text-white word-break-all">{{currency}}{{shoppingCart.subTotal
				+ shippingFee | number : 2}}</span>
		</div>
	</div>

	
</div>
