<div class="column is-12 is-paddingless is-hidden-mobile" ng-repeat="row in shoppingCart.items">
	<div class="columns is-paddingless" >
		<div class="column is-3">
			<figure class="image is-128x128 is-hidden-touch">
				<img class="image is-128x128" ng-src="{{row.image}}" />
			</figure>
			<figure class="image is-96x96 is-hidden-desktop">
				<img class="image is-96x96" ng-src="{{row.image}}" />
			</figure>
		</div>
		<div class="column is-3 is-hidden-touch word-break-all">
			<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.PRODUCT_NO' | translate }}:</label></label> <a href="" class="is-hidden-mobile size-1-rem" ng-click="toggleOrderDetailsModal(true, row)" productCode="row.itemNumber">{{row.itemNumber}}</a>
					<a href="" class="is-hidden-tablet size-1-rem" ng-click="showOrderDetailsMobile(row)" productCode="row.itemNumber">{{row.itemNumber}}</a>
		</div> 
		<div class="column is-3 is-hidden-touch word-break-all">
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.OPTION' | translate }}:</label> <span ng-show="row.hasOptions == false">None</span>
						<span ng-show="row.hasOptions" ng-repeat="option in row.options">{{option}} <span ng-if="!$last">-</span> </span>
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.AVAILABILITY' | translate }}:</label> {{row.availability}}
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.UNIT_PRICE' | translate }}:</label> {{currency}}{{row.unitPrice}}
			</div>
		</div> 
		<div class="column is-5 is-hidden-desktop word-break-all">
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.PRODUCT_NO' | translate }}:</label></label> <a href="" class="is-hidden-mobile size-1-rem" ng-click="toggleOrderDetailsModal(true, row)" productCode="row.itemNumber">{{row.itemNumber}}</a>
					<a href="" class="is-hidden-tablet size-1-rem" ng-click="showOrderDetailsMobile(row)" productCode="row.itemNumber">{{row.itemNumber}}</a>
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.OPTION' | translate }}:</label> <span ng-show="row.hasOptions == false">None</span>
						<span ng-show="row.hasOptions" ng-repeat="option in row.options">{{option}} <span ng-if="!$last">-</span> </span>
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.AVAILABILITY' | translate }}:</label> {{row.availability}}
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.UNIT_PRICE' | translate }}:</label> {{currency}}{{row.unitPrice}}
			</div>
		</div> 
		<div class="column is-1 is-hidden-touch">
			<div class="">
				<input
						class="input width-50 center-text" type="text" min="0"
						ng-model="row.quantity"
						ng-blur="updateItemQuantityToCart($index, row.quantity, row, row.quantity <= row.stockLevel)"
						ng-class="{'error-input': row.quantity > row.stockLevel}"
						numeric-only select-on-click> <br
						ng-show="row.quantity > row.stockLevel" /> <span
						class="error-message" ng-show="row.quantity > row.stockLevel">{{'TEXT.INVALID_QUANTITY' | translate }}</span>
			</div>
		</div> 
		<div class="column is-4 is-hidden-desktop">
			<div class="float-right">
				<input
						class="input width-50 center-text" type="text" min="0"
						ng-model="row.quantity"
						ng-blur="updateItemQuantityToCart($index, row.quantity, row, row.quantity <= row.stockLevel)"
						ng-class="{'error-input': row.quantity > row.stockLevel}"
						numeric-only select-on-click> <br
						ng-show="row.quantity > row.stockLevel" /> <span
						class="error-message" ng-show="row.quantity > row.stockLevel">{{'TEXT.INVALID_QUANTITY' | translate }}</span>
			</div>
			<div class="column is-paddingless m-t-3 word-break-all">
				<label class="address-details has-text-black has-text-weight-semibold">{{'TEXT.TOTAL_PRICE' | translate }}:</label> {{currency}}{{row.unitPrice * row.quantity | number : 2}}
			</div> 
		</div> 
		<div class="column is-2 is-hidden-touch word-break-all">
			<label class="address-details has-text-black has-text-weight-semibold">{{'TEXT.TOTAL_PRICE' | translate }}:</label> {{currency}}{{row.unitPrice * row.quantity | number : 2}}
		</div> 
	</div>
	
	<div class="is-paddingless is-multiline columns is-mobile is-hidden-touch">
		<div class="column is-12 m-l-3">
			<div class="is-paddingless is-multiline columns">
				<div class="column is-2" ng-click="saveItemForLater(row)">
					<a class="button is-ghost max-width-100 p-y-1 size-14">{{'BUTTON.SAVE_FOR_LATER' | translate | uppercase}}</a>
				</div>
				<div class="column is-3">
					<a class="button p-x-0 p-y-0"> <span class="icon is-danger" ng-click="removeToCart(row.entryNumber)">
					<i class="fa fa-trash" aria-hidden="true"></i></span>
					</a>
				</div>		
			</div>
		</div>				
	</div>
    <div class="is-paddingless is-multiline columns is-mobile is-hidden-desktop">
		<div class="column is-12">
			<div class="is-paddingless is-multiline columns">
				<div class="column is-4" ng-click="saveItemForLater(row)">
					<a class="button is-ghost max-width-100 p-y-1 size-14">{{'BUTTON.SAVE_FOR_LATER' | translate | uppercase}}</a>
				</div>
				<div class="column is-3">
					<a class="button p-x-0 p-y-0"> <span class="icon is-danger" ng-click="removeToCart(row.entryNumber)">
					<i class="fa fa-trash" aria-hidden="true"></i></span>
					</a>
				</div>		
			</div>
		</div>				
	</div> 
	<hr class="m-y-1 p-x-2">
</div>

<!-- Mobile View -->
<div class="column is-12 is-paddingless is-hidden-tablet" ng-repeat="row in shoppingCart.items">
	<div class="columns is-paddingless is-mobile" >
		<div class="column is-6">
			<figure class="image is-64x64">
				<img class="image is-64x64" ng-src="{{row.image}}" />
			</figure>
			<div class="column is-paddingless m-t-2" ng-click="saveItemForLater(row)">
				<a class="button is-ghost max-width-100 w-100 p-y-1 size-14">{{'BUTTON.SAVE_FOR_LATER' | translate | uppercase}}</a>
			</div>
			<div class="column has-text-centered">
				<a class="button p-x-0 p-y-0"> <span class="icon is-danger" ng-click="removeToCart(row.entryNumber)">
				<i class="fa fa-trash" aria-hidden="true"></i></span>
				</a>
			</div>	
		</div>
		<div class="column is-6 word-break-all">
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.PRODUCT_NO' | translate }}:</label></label> <a href="" class="is-hidden-mobile size-1-rem" ng-click="toggleOrderDetailsModal(true, row)" productCode="row.itemNumber">{{row.itemNumber}}</a>
					<a href="" class="is-hidden-tablet size-1-rem" ng-click="showOrderDetailsMobile(row)" productCode="row.itemNumber">{{row.itemNumber}}</a>
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.OPTION' | translate }}:</label> <span ng-show="row.hasOptions == false">None</span>
						<span ng-show="row.hasOptions" ng-repeat="option in row.options">{{option}} <span ng-if="!$last">-</span> </span>
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.AVAILABILITY' | translate }}:</label> {{row.availability}}
			</div>
			<div>
				<label class="address-details has-text-black has-text-weight-semibold">{{'TABLE_HEADER.UNIT_PRICE' | translate }}:</label> {{currency}}{{row.unitPrice}}
			</div>
			<div class="">
				<input
						class="input width-50 center-text" type="text" min="0"
						ng-model="row.quantity"
						ng-blur="updateItemQuantityToCart($index, row.quantity, row, row.quantity <= row.stockLevel)"
						ng-class="{'error-input': row.quantity > row.stockLevel}"
						numeric-only select-on-click> <br
						ng-show="row.quantity > row.stockLevel" /> <span
						class="error-message" ng-show="row.quantity > row.stockLevel">{{'TEXT.INVALID_QUANTITY' | translate }}</span>
			</div>
			<div class="column is-paddingless m-t-1">
				<label class="address-details has-text-black has-text-weight-semibold">{{'TEXT.TOTAL_PRICE' | translate }}:</label> {{currency}}{{row.unitPrice * row.quantity | number : 2}}
			</div> 
		</div> 
	</div>
	
	<div class="is-paddingless is-multiline columns is-mobile is-hidden-touch">
		<div class="column is-12 m-l-3">
			<div class="is-paddingless is-multiline columns" ng-click="saveItemForLater(row)">
				<div class="column is-2">
					<a class="button is-ghost max-width-100 p-y-1 size-14">{{'BUTTON.SAVE_FOR_LATER' | translate }}</a>
				</div>
				<div class="column is-3">
					<a class="button p-x-0 p-y-0"> <span class="icon is-danger" ng-click="removeToCart(row.entryNumber)">
					<i class="fa fa-trash" aria-hidden="true"></i></span>
					</a>
				</div>		
			</div>
		</div>				
	</div>
	<hr class="m-y-1 p-x-2">
</div>
