<shopping-cart-breadcrumbs></shopping-cart-breadcrumbs>
<div class="container p-x-1 m-b-3 shopping-cart-container">
	<div class="columns m-y-0 is-multiline">
		<!-- Mobile View order computation -->
		<div class="column is-12 is-paddingless is-hidden-tablet order-summary-fixed-mobile">
			<order-summary-computation></order-summary-computation>
			<div class="columns is-multiline is-marginless is-mobile">
				<div class="column is-12 has-text-centered p-x-0 p-y-0">
					<shopping-cart-checkout-button></shopping-cart-checkout-button>
				</div>
			</div>
		</div>
		<div class="column is-12">
			<span class="shopping-cart-title">{{'CART_TEXT.MY_CART' | translate}}</span>
		</div>
		<div class="column is-9 is-hidden-touch">
			<shopping-cart-table></shopping-cart-table>				
			<div class="column is-12" ng-show="saveProductList.length !== 0 ">
				<span class="shopping-cart-title">{{'CART_TEXT.SAVED_FOR_LATER' | translate}}</span>
			</div>
			<shopping-cart-saved-later-table ng-show="saveProductList"></shopping-cart-saved-later-table>
		</div>
		
		<div class="column is-8 is-hidden-desktop cart-table">
			<shopping-cart-table></shopping-cart-table>
			<div class="column is-12" ng-show="saveProductList">
				<span class="shopping-cart-title">{{'CART_TEXT.SAVED_FOR_LATER' | translate}}</span>
			</div>
			<shopping-cart-saved-later-table  ng-show="saveProductList"></shopping-cart-saved-later-table>
		</div>	
		
		<div class="column is-3 is-hidden-touch order-summary-fixed">

			<!-- Desktop View -->
			<div class="column is-12 is-paddingless is-hidden-touch">
				<order-summary-computation></order-summary-computation>
				<div class="columns is-multiline is-marginless is-mobile">
					<div class="column is-12 has-text-centered m-t-1 is-paddingless">
						<shopping-cart-checkout-button></shopping-cart-checkout-button>
					</div>
				</div>
			</div>
		</div>
		<div class="column is-4 is-hidden-desktop is-hidden-mobile order-summary-fixed" sticky>
			<!-- Tablet View -->
			<div class="column is-12 is-paddingless is-hidden-desktop is-hidden-mobile">
				<order-summary-computation></order-summary-computation>
				<div class="columns is-multiline is-marginless is-mobile">
					<div class="column is-12 has-text-centered p-x-0">
						<shopping-cart-checkout-button></shopping-cart-checkout-button>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

<!-- Desktop View - Other Products-->
<div class="container is-fluid is-hidden-touch m-b-4">
	<div class="columns">
		<div class="column is-12">
			<recommended-products></recommended-products>
		</div>
		<!-- <div class="column is-6">
			<saved-products></saved-products>
		</div> -->
	</div>
</div>

<!-- Tablet View - Other Products-->
<div class="container is-fluid is-hidden-desktop is-hidden-mobile m-b-4">
	<div class="columns is-multiline is-mobile">
		<div class="column is-12">
			<recommended-products></recommended-products>
		</div>
		<!-- <div class="column is-12">
			<saved-products></saved-products>
		</div> -->
	</div>
</div>

<!-- Mobile View - Other Products-->
<div class="container is-fluid is-hidden-desktop is-hidden-tablet m-b-4">
	<div class="columns">
		<div class="column is-12">
			<recommended-products></recommended-products>
		</div>
	</div>
</div>
<!-- <div class="container is-fluid is-hidden-desktop is-hidden-tablet m-b-4">
	<div class="columns">
		<div class="column is-12">
			<saved-products></saved-products>
		</div>
	</div>
</div> -->


<order-detail-modal></order-detail-modal>
<order-detail-mobile></order-detail-mobile>