<div class="column is-12 is-paddingless">
	<a class="button is-primary transparent max-width-100" ng-click="goToCheckout()"
		ng-disabled="shoppingCart.items.length == 0">
		CHECKOUT<i class="material-icons">arrow_forward</i>
	</a>
</div>