<div class="column is-12 is-paddingless container">
	<table id="summary-report-table"class="table footable row-border hover" width="100%">
		<thead>
			<tr>
				<th class="is-hidden"></th>
				<th class="" data-priority="2" ng-click="resetSort(1)">{{'TABLE_HEADER.MONTH' | translate }}</th>
				<th ng-if="newReport.unit == 'Both' || newReport.unit=='MSF'" class="" data-priority="3" ng-click="resetSort(2)">{{'TABLE_HEADER.CURR_YEAR_MSF' | translate }}</th>
				<th ng-if="newReport.unit == 'Both' || newReport.unit=='Dollar'" data-priority="4" ng-click="resetSort(3)">{{'TABLE_HEADER.CURR_YEAR_$' | translate }}</th>
				<th ng-if="newReport.unit == 'Both' || newReport.unit=='MSF'" data-priority="4" ng-click="resetSort(4)">{{'TABLE_HEADER.PREV_YEAR_MSF' | translate }}</th>
				<th ng-if="newReport.unit == 'Both' || newReport.unit=='Dollar'" data-priority="4" ng-click="resetSort(5)">{{'TABLE_HEADER.PREV_YEAR_$' | translate }}</th>
				<th ng-if="newReport.unit == 'Both' || newReport.unit=='Dollar'" ng-click="resetSort(6)">{{'TABLE_HEADER.VAR_$' | translate }}</th>
				<th ng-if="newReport.unit == 'Both' || newReport.unit=='MSF'" ng-click="resetSort(7)">{{'TABLE_HEADER.VAR_QTY' | translate }}</th>
				<th class="is-hidden"></th>
			</tr>
		</thead>
		<tbody>
			<input type="hidden" ng-repeat-start="item in reportSummaryList track by $index" ng-init="parentIndex = $index" class="report-title is-hidden" />
			<tr ng-repeat="row in reportSummaryList[$index].monthSummary track by $index" ng-class="{'report-title': row.month == '1st Qtr' || row.month == '2nd Qtr' 
					|| row.month == '3rd Qtr' || row.month == '4th Qtr', 'first-qtr' : row.month == '1st Qtr', 'second-qtr' : row.month == '2nd Qtr', 'third-qtr' : row.month == '3rd Qtr', 'fourth-qtr' : row.month == '4th Qtr', 'total-qtr report-title' : row.month == 'Total'}">
				<td class="light-blue size-14 no-wrap is-hidden">{{item.name}} </td>
				<td class="report-content no-wrap" ng-class="{'light-blue' : row.month == 'Total'}">
					{{row.month}}
				</td>
				<td ng-if="newReport.unit == 'Both' || newReport.unit=='MSF'" class="report-content" ng-class="{'light-blue' : row.month == 'Total'}">
					{{row.currYrMSF}}
				</td>
				<td ng-if="newReport.unit == 'Both' || newReport.unit=='Dollar'" class="has-text-left report-content" ng-class="{'light-blue' : row.month == 'Total'}">					
					{{row.currYr$}}
				</td>
				<td ng-if="newReport.unit == 'Both' || newReport.unit=='MSF'" class="has-text-left report-content" ng-class="{'light-blue' : row.month == 'Total'}">
					{{row.prevYrMSF}}
				</td>
				<td ng-if="newReport.unit == 'Both' || newReport.unit=='Dollar'" class="has-text-left report-content" ng-class="{'light-blue' : row.month == 'Total'}">	
					{{row.prevYr$}}
				</td>
				<td ng-if="newReport.unit == 'Both' || newReport.unit=='Dollar'" class="has-text-left report-content" ng-class="{'light-blue' : row.month == 'Total'}">		
					{{row.var$}}
				</td>
				<td ng-if="newReport.unit == 'Both' || newReport.unit=='MSF'" class="has-text-left report-content" ng-class="{'light-blue' : row.month == 'Total'}">	
					{{row.varQty}}
				</td>
				<td class="light-blue size-14 no-wrap is-hidden">{{item.name}}{{parentIndex}}{{row.quarter}}</td>
			</tr>
			<input type="hidden" ng-repeat-end="" value="" class="is-hidden" /> 
		</tbody>
	</table>
</div>