<!-- Desktop View -->
<div class="columns is-marginless is-mobile m-t-0 is-multiline is-hidden-touch">	
	<div class="column is-7 is-paddingless summary-report" >
		<div class="columns is-paddingless is-multiline p-l-1" >
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">
							{{'REPORT_TEXT.REPORT_NAME' | translate | uppercase}}
							<a class=""  ng-click="toggleRename()"> 
								<i class="fa fa-pencil-square-o is-danger size-1-rem m-r-2" aria-hidden="true"></i>
							</a>	
						</label> 						
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" ng-hide="!reportToggle">{{report.reportName}}</label> 
						<input class="input search ng-pristine ng-valid ng-empty ng-touched" ng-hide="reportToggle" type="text" 
							ng-model="report.reportName" placeholder="Report Name">
					</div>
				</div>
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'TEXT.CUSTOMER' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding">{{newReport.customer.displayName}}</label> 
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.TIME_PERIOD' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" ng-if="newReport.timePeriod != 'Custom'">{{newReport.timePeriod}}</label> 
						<label class="ng-binding" ng-if="newReport.timePeriod == 'Custom'">
							{{newReport.dateRange.startDate | date: 'MMMM d, y'}} - {{newReport.dateRange.endDate  | date: 'MMMM d, y'}}
						</label> 
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.DIV' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" >{{newReport.division.name}}</label> 
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.PROD_CATEG' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" ng-repeat="category in newReport.category">{{category}}{{$last ? '' : ', '}}</label>
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.STATE_S' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" ng-repeat="state in newReport.states">{{state}}{{$last ? '' : ', '}}</label>
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.SHIP_TO_ACCT' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" >{{newReport.shipToAccount.name}}</label>
					</div>
				</div>			
			</div>
			
		</div>	
	</div>
	<div class="column is-5 p-x-0 p-t-2" >
		<div class="columns is-paddingless is-multiline" >
			<div class="column is-12 is-paddingless" >
				<div class="columns is-paddingless is-multiline" >
					<div class="column is-paddingless m-r-1">
						<p class="control">
							<a class="button is-primary max-width-100 size-14" ng-click="saveReport()">
								{{'REPORT_TEXT.SAVE_REP' | translate | uppercase}}
							</a>
						</p>
					</div>		
					<div class="column is-paddingless m-r-1">
						<p class="control">
							<a class="button is-ghost  max-width-100 size-14" ng-click="createReport()">
								{{'REPORT_TEXT.EDIT_REP' | translate | uppercase}}
							</a>
						</p>
					</div>	
					<div class="column is-paddingless m-r-1">
						<p class="control">
							<a class="button is-ghost  max-width-100 size-14" ng-click="">
								{{'REPORT_TEXT.DELETE_REP' | translate | uppercase}}
							</a>
						</p>
					</div>	
				</div>
			</div>
			<div class="column is-12 p-l-0 m-t-2 report-export">
				<!--<a class="button p-x-1 p-y-0 relative" ng-click="printReport()" angular-popover direction="top" template="<div class='btn-tooltip'>PRINT</div>" mode="mouseover"> 
					<span class="icon" >
						<i class="material-icons">print</i> 
					</span>
				</a>
				<a class="button p-x-1 p-y-0 is-hidden"> 
					<span class="icon" >
						<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
					</span>
				</a>
				<a class="button p-x-1 p-y-0 relative" ng-click="exportReportExcel()" angular-popover direction="top" template="<div class='btn-tooltip'>DOWNLOAD<br>SPREADSHEET</div>" mode="mouseover"> 
					<span class="icon">					
						<img class="logo-img report-icon" src="resources/images/reports-icon/reports-export-excel.svg">
					</span>
				</a>
				<a class="button p-x-1 p-y-0 relative" ng-click="exportReportPdf()" angular-popover direction="top" template="<div class='btn-tooltip no-wrap'>DOWNLOAD PDF</div>" mode="mouseover"> 
					<span class="icon">				
						<img class="logo-img report-icon" src="resources/images/reports-icon/pdf-icon-blue.svg">
					</span>
				</a>-->		
			</div>
		</div>		
	</div>

	
	
</div>

<!-- Tablet & Mobile View-->

<div class="columns is-marginless is-mobile m-t-0 is-multiline is-hidden-desktop">	
	<div class="column is-12 is-paddingless summary-report" >
		<div class="columns is-paddingless is-multiline p-l-1" >
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.REPORT_NAME' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding">{{report.reportName}}</label> 
					</div>
				</div>
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'TEXT.CUSTOMER' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding">{{newReport.customer.displayName}}</label> 
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.TIME_PERIOD' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" ng-if="newReport.timePeriod != 'Custom'">{{newReport.timePeriod}}</label> 
						<label class="ng-binding" ng-if="newReport.timePeriod == 'Custom'">
							{{newReport.dateRange.startDate | date: 'MMMM d, y'}} - {{newReport.dateRange.endDate  | date: 'MMMM d, y'}}
						</label> 
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.DIV' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" >{{newReport.division.name}}</label> 
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.PROD_CATEG' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" ng-repeat="category in newReport.category">{{category}}{{$last ? '' : ', '}}</label>
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.STATE_S' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" ng-repeat="state in newReport.states">{{state}}{{$last ? '' : ', '}}</label>
					</div>
				</div>			
			</div>
			<div class="column is-3 is-paddingless" >
				<div class="column is-12 p-l-0 p-r-1">
					<div class="control has-icons-right">
						<label class="label">{{'REPORT_TEXT.SHIP_TO_ACCT' | translate | uppercase}}</label> 
					</div>
					<div class="control has-icons-right m-t-0 invoice-total">
						<label class="ng-binding" >{{newReport.shipToAccount.name}}</label>
					</div>
				</div>			
			</div>
			
		</div>	
	</div>
	<div class="column is-12 p-x-2 p-t-2 m-t-2" >
		<div class="columns is-paddingless is-multiline" >
			<div class="column is-12 is-paddingless" >
				<div class="columns is-paddingless is-multiline ">
					<div class="column is-paddingless m-r-1 m-b-1">
						<p class="control">
							<a class="button is-primary max-width-100 size-14" ng-click="saveReport()">
								{{'REPORT_TEXT.SAVE_REP' | translate | uppercase}}
							</a>
						</p>
					</div>		
					<div class="column is-paddingless m-r-1 m-b-1">
						<p class="control">
							<a class="button is-ghost  max-width-100 size-14" ng-click="createReport()">
								{{'REPORT_TEXT.EDIT_REP' | translate | uppercase}}
							</a>
						</p>
					</div>	
					<div class="column is-paddingless m-r-1 m-b-1">
						<p class="control">
							<a class="button is-ghost  max-width-100 size-14" ng-click="">
								{{'REPORT_TEXT.DELETE_REP' | translate | uppercase}}
							</a>
						</p>
					</div>	
				</div>
			</div>
			<div class="column is-12 p-l-0 m-t-2 report-export" ng-click="printReport()">
				<!--<a class="button p-x-1 p-y-0"> 
					<span class="icon">
						<i class="material-icons">print</i> 
					</span>
				</a>
				<a class="button p-x-1 p-y-0 is-hidden"> 
					<span class="icon" >
						<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
					</span>
				</a>
				<a class="button p-x-1 p-y-0 " ng-click="exportReportExcel()"> 
					<span class="icon">					
						<img class="logo-img report-icon" src="resources/images/reports-icon/reports-export-excel.svg">
					</span>
				</a>	
				<a class="button p-x-1 p-y-0 " ng-click="exportReportPdf()"> 
					<span class="icon">					
						<img class="logo-img report-icon" src="resources/images/reports-icon/pdf-icon-blue.svg">
					</span>
				</a>	-->
			</div>
		</div>		
	</div>

	
	
</div>



<div class="columns is-marginless m-t-2 is-mobile m-t-0 is-multiline has-text-centered report-chart">		
	<canvas id="bar" class="chart chart-bar" chart-options="options"
	  chart-data="data" chart-labels="labels"  chart-series="series" ng-if="newReport.chartType == 'Bar Chart' || newReport.chartType == undefined">
	</canvas>
	<canvas id="line" class="chart chart-line" chart-data="data"
	chart-labels="labels" chart-series="series" chart-options="options"
	chart-dataset-override="datasetOverride" chart-click="onClick" ng-if="newReport.chartType == 'Line Chart'">
	</canvas>
	<canvas id="pie" class="chart chart-pie"
	  chart-data="data" chart-labels="labels" chart-options="options" ng-if="newReport.chartType == 'Pie Chart'">
	</canvas> 
</div>