<div id="account-sidenav" class="side-nav-notification-container account-container">
	<div class="p-x-1 p-y-1">
		<div class="tile is-vertical m-t-1">
			<div class="column is-12 is-paddingless">
				<div class="columns is-mobile is-paddingless is-marginless">
					<div class="column is-12 is-paddingless">
						<a class="no-underline" ng-click="hideAccountMenu()"> <span
							class="icon is-pulled-right"> <i class="material-icons font-size-32">close</i>
						</span>
						</a>
					</div>
				</div>
			</div>
			<div class="tile m-b-1">
				<ul>
					<li class="accont-menu-title m-b-2 is-100-width is-active-acct">
						<span>{{ 'LABEL_ACCT_INFO' | translate | uppercase}}</span>		
					</li>
					<li class="accont-menu-title m-b-1 is-100-width">
						<span>{{ 'ACCOUNT_MENU.BILL_SHIP_INFO' | translate | uppercase}}</span>		
					</li>
					<li class="accont-menu-title m-b-1 is-100-width">
						<span>{{ 'ACCOUNT_MENU.PAYMENT_INFO' | translate | uppercase}}</span>		
					</li>
					<li class="accont-menu-title m-b-1 is-100-width">
						<span>{{ 'ACCOUNT_MENU.EMAIL_SETTINGS' | translate | uppercase}}</span>		
					</li>
					<li class="accont-menu-title m-b-1 is-100-width">
						<span>{{ 'ACCOUNT_MENU.NOTIF_SETTINGS' | translate | uppercase}}</span>		
					</li>
					<li class="accont-menu-title m-b-1 is-100-width">
						<span>{{ 'ACCOUNT_MENU.RETURNS' | translate | uppercase}}</span>		
					</li>
					<li class="accont-menu-title m-b-1 is-100-width">
						<span>{{ 'ACCOUNT_MENU.SUPPORT_TICKETS' | translate | uppercase}}</span>		
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>