<div class="tile is-vertical m-t-1">
	<div class="tile m-b-1">
	<ul>
		<li class="accont-menu-title m-b-2 is-active-acct">
			<span>{{ 'LABEL_ACCT_INFO' | translate | uppercase}}</span>		
		</li>
		<li class="accont-menu-title m-b-1">
			<span>{{ 'ACCOUNT_MENU.BILL_SHIP_INFO' | translate | uppercase}}</span>		
		</li>
		<li class="accont-menu-title m-b-1">
			<span>{{ 'ACCOUNT_MENU.PAYMENT_INFO' | translate | uppercase}}</span>		
		</li>
		<li class="accont-menu-title m-b-1">
			<span>{{ 'ACCOUNT_MENU.EMAIL_SETTINGS' | translate | uppercase}}</span>		
		</li>
		<li class="accont-menu-title m-b-1">
			<span>{{ 'ACCOUNT_MENU.NOTIF_SETTINGS' | translate | uppercase}}</span>		
		</li>
		<li class="accont-menu-title m-b-1">
			<span>{{ 'ACCOUNT_MENU.RETURNS' | translate | uppercase}}</span>		
		</li>
		<li class="accont-menu-title m-b-1">
			<span>{{ 'ACCOUNT_MENU.SUPPORT_TICKETS' | translate | uppercase}}</span>		
		</li>
	</ul>
	</div>
</div>