<account-breadcrumbs></account-breadcrumbs>
<div class="container p-x-1">
	<div class="columns m-t-0">
		<div class="column is-2 is-hidden-touch">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 p-x-0 m-b-1">
					<span class="invoices-title">{{ 'NAV_ACCOUNT' | translate}}</span>
				</div>
				<div class="column is-12 is-paddingless">
					<account-menu-list></account-menu-list>
				</div>
			</div>
		</div>
		
		<div class="column is-4 is-hidden-mobile is-hidden-desktop">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 p-x-0 m-b-1">
					<span class="invoices-title">{{ 'NAV_ACCOUNT' | translate}}</span>
				</div>
				<div class="column is-12 is-paddingless">
					<account-menu-list></account-menu-list>
				</div>
			</div>
		</div>
		
		<div class="column is-4 p-y-0 is-hidden-tablet">
			<div class="columns p-y-0 is-multiline is-marginless">
				<div class="column is-12 p-y-0 is-paddingless m-b-1">
					<span class="invoices-title">{{ 'NAV_ACCOUNT' | translate}}</span>
				</div>
			</div>
		</div>
		
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">
				<div class="column m-t-3 p-l-3 is-12 is-paddingless is-hidden-touch">
					<account-info></account-info>
				</div>
				<div class="column is-12 m-t-3 is-paddingless is-hidden-mobile is-hidden-desktop">
					<account-info></account-info>
				</div>
				<div class="column is-12 is-paddingless is-hidden-tablet">
					<account-info></account-info>
				</div>
			</div>
		</div>
	</div>
</div>
<account-sidenav-mobile></account-sidenav-mobile>