<div class="columns is-multiline">
	<div class="column is-12">			
		<h3 class="account-info-name is-2 title is-danger is-hidden-mobile">		
			{{ 'LABEL_ACCT_INFO' | translate }}
		</h3>		
		<h4 class="account-info-name is-3 title is-danger is-hidden-tablet">			
			<a href="#cd-primary-nav" class="acct-btn mega-notification-cd-nav-trigger button is-ghost filter-small-screen m-r-1 m-b-1" ng-click="showAccountMenu()">
				<i class="material-icons">&#xE3C7;</i>
			</a>
			{{ 'LABEL_ACCT_INFO' | translate }}
		</h4>	
	</div>
	<!-- Desktop View -->
	<div class="column is-12 is-hidden-touch">		
		<div class="columns">
			<div class="column is-4">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_FIRST_NAME' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="First Name">
					</span>
				</div>
			</div>
			<div class="column is-4">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_LAST_NAME' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="Last Name">
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobile View -->	
	<div class="column is-12 is-hidden-desktop is-multiline">		
		<div class="columns is-multiline">
			<div class="column is-8">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_FIRST_NAME' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="First Name">
					</span>
				</div>
			</div>
			<div class="column is-8">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_LAST_NAME' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="Last Name">
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Desktop View -->
	<div class="column is-12 is-hidden-touch">		
		<div class="columns">
			<div class="column is-3">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_PHONE' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="">
					</span>
				</div>
			</div>
			<div class="column is-2">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_EXTENSION' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="">
					</span>
				</div>
			</div>
		</div>
	</div>	
	<!-- Mobile View -->
	<div class="column is-12 is-hidden-desktop">		
		<div class="columns">
			<div class="column is-5">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_PHONE' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="">
					</span>
				</div>
			</div>
			
			<div class="column is-3">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_EXTENSION' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="">
					</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="column is-12 m-t-2">		
		<div class="columns">		
			<!-- Desktop View -->
			<div class="column is-4 is-hidden-touch">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_EMAIL' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="Email Address">
					</span>
				</div>
			</div>			
			<!-- Mobile View -->
			<div class="column is-8 is-hidden-desktop">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_EMAIL' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="Email Address">
					</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="column is-12">		
		<div class="columns">
			<!-- Desktop View -->
			<div class="column is-4 is-hidden-touch">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_PASSWORD' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="password" placeholder="Password">
					</span>
				</div>
			</div>
			<!-- Mobile View -->
			<div class="column is-4 is-hidden-desktop">
				<div class="control">
				  	<label class="label filter-label">{{ 'LABEL_PASSWORD' | translate }}</label>
					<input class="input search ng-pristine ng-valid ng-empty ng-touched" type="password" placeholder="Password">
					</span>
				</div>
			</div>
		</div>
	</div>
	
		
	<div class="column is-12 has-text-left m-t-2 is-hidden-mobile">
		<a class="button is-primary">{{ 'LABEL_SAVE' | translate | uppercase}}</a>
	</div>
	
	<div class="column is-12 has-text-centered m-t-2 is-hidden-tablet">
		<a class="button is-primary">{{ 'LABEL_SAVE' | translate | uppercase}}</a>
	</div>
</div>