<div class="column is-12 is-paddingless ship-to-summary-tab container">
	<table id="product-to-table" class="table footable row-border hover responsive" cellspacing="0" width="100%" >
		<thead>
			<tr>
				<th class="is-hidden"></th>
				<th ng-click="resetSort(1)" class="no-wrap align-middle m-t-1" data-priority="1" ><span>{{'TABLE_HEADER.PRODUCT_GRP' | translate}}</span></th>
				<th ng-if="newReport.unit != 'Dollar'" ng-click="resetSort(2)" class="no-wrap has-text-right m-t-1"><span>{{'TABLE_HEADER.QUANTITY' | translate}}</span></th>
				<th ng-if="newReport.unit != 'Dollar'" ng-click="resetSort(3)" class="has-text-center m-t-1"><span>{{'TABLE_HEADER.UOM' | translate}}</span></th>
				<th ng-click="resetSort(4)" class="has-text-right m-t-1"><span>{{'TABLE_HEADER.INVOICE_AMT' | translate}}</span></th>
			</tr>
		</thead>
		<tbody><input type="hidden" ng-repeat-start="item in ProductData track by $index" class="report-title is-hidden" />
			<tr ng-repeat="row in ProductData[$index].summary track by $index">
				<td class="light-blue size-14 no-wrap is-hidden">{{item.name}}</td>
				<td ng-if="newReport.unit == 'Dollar'"><span>{{row.product_group}}</span></td> 
				<td ng-if="newReport.unit != 'Dollar'" class=""><span>{{row.Product_group}}</span></td> 
				<td ng-if="newReport.unit != 'Dollar'" class="has-text-right">{{row.Quantity}}</td>
				<td ng-if="newReport.unit != 'Dollar'" class="has-text-center">{{row.Uom}}</td> 
				<td class="has-text-right max-w-50">{{row.$}}</td>
			</tr>
			<input type="hidden" ng-repeat-end="" value="" class="is-hidden" /> 
		</tbody>
		<tfoot>
			<tr class="report-mFooter">
				<td class="is-hidden">&nbsp;</td>
				<td ng-if="newReport.unit == 'Dollar'" class="has-text-right" colspan="1">{{'TABLE_HEADER.TOTAL_AMT' | translate}}</td>
				<td ng-if="newReport.unit != 'Dollar'" class="has-text-right" colspan="3">{{'TABLE_HEADER.TOTAL_AMT' | translate}}</td>
				<td class="has-text-right">{{getTotalPValues()}}</td>
			</tr>
		</tfoot>
	</table>
</div>