<div class="columns is-marginless is-paddingless is-mobile">
	<a
		class="button is-ghost filter-small-screen is-hidden-desktop m-r-1 m-b-1"
		ng-click="toggleOrderFilterModal(true)"><i class="material-icons">filter_list</i></a>
	<div class="column is-paddingless">
		<div class="button facet m-r-1 search-facet margin-bottom-5"
			ng-repeat="selected in selectedFilter">
			<a href="#" ng-click="addFilter(selected, false)"><i
				class="material-icons">close</i></a>{{selected.name}}
		</div>
	</div>
</div>