<div class="modal" ng-class="modalTrigger">
	<div class="modal-background"></div>
	<div class="modal-content filter-modal">
		<div class="column m-t-1 p-x-2">
			<span class="filter-title">{{'FILTER_BY' | translate | uppercase}}:</span>
			<div class="tile is-vertical m-t-1">
				<div class="tile m-b-1">
					<!-- Status Filter -->
					<ul class="filter">
						<div class="content">
							<h4 class="filter-name">{{'TABLE_HEADER.STATUS' | translate}}</h4>
							<li ng-repeat="status in statusFilter track by $index">
								<p class="control">
									<input class="styled-checkbox" id="status-filter-{{$index}}"
										type="checkbox" value="{{status.name}}"
										ng-change="addFilter(status, status.selected)"
										ng-model="status.selected"
										ng-disabled="!status.isEnabled"> <label
										for="status-filter-{{$index}}" class="filter-value">{{status.name}}</label>
								</p>
							</li>
						</div>
					</ul>
				</div>
				<div class="tile m-b-1">
					<!-- Project Filter -->
					<ul class="filter m-t-1">
						<div class="content">
							<h4 class="filter-name">{{'TABLE_HEADER.PROJECT' | translate}}</h4>
							<li ng-repeat="project in projectFilter track by $index">
								<p class="control">
									<input class="styled-checkbox" id="project-filter-{{$index}}"
										type="checkbox" value="{{project.name}}"
										ng-change="addFilter(project, project.selected)"
										ng-model="project.selected"> <label
										for="project-filter-{{$index}}" class="filter-value">{{project.name}}</label>
								</p>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large"
		ng-click="toggleOrderFilterModal(false)"></button>
</div>