<div class="column is-12 is-paddingless">
	<table class="table footable row-border hover" datatable="ng" dt-options="oc.dtOptions" dt-column-defs="oc.dtColumnDefs" dt-instance="oc.dtInstance"
		 cellspacing="0" width="100%" data-filter="#order-search-filter-desktop, #order-search-filter">
		<thead>
			<tr>
				<th class="center-text expand not-desktop" data-sort-ignore="true">&nbsp;</th>
				<th data-priority="1" ng-click="resetSort()">{{'TABLE_HEADER.ORDER_NO' | translate}}</th>
				<th class="" data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.PO_NO' | translate}}</th>
				<th class="" data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.DATE_ORDERED' | translate}}</th>
				<th class="" data-hide="phone" ng-click="resetSort()">{{'TABLE_HEADER.PROJECT' | translate}}</th>
				<th class="" data-priority="2" ng-click="resetSort()">{{'TABLE_HEADER.TOTAL' | translate}}</th>
				<th class="" data-priority="1" ng-click="resetSort()">{{'TABLE_HEADER.STATUS' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in ordersList track by $index">
				<td class="footable-toggle"></td> 
				<td class="max-w-200 text-ellipsis"><span class="max-w-200 text-ellipsis"><a ng-click="goToOrderDetails(row.code)">{{row.code}}</a></span></td>
				<td class="max-w-200 text-ellipsis"><span class="item-title max-w-100 text-ellipsis">{{row.poNumber}}</span></td>
				<td class="max-w-200 text-ellipsis">{{row.placed | date:'MM/dd/yyyy'}}</td>
				<td ng-if="row.project.trim().length === 0" class="">-</td>
				<td ng-if="row.project.trim().length != 0" class="max-w-200 text-ellipsis">
					<div class="shopping-cart-table-project padding-3">
						<span class="item-title max-w-100 text-ellipsis">{{row.project}}</span>
					</div>
				</td>
				<td class="max-w-200 text-ellipsis"><span class="max-w-100 text-ellipsis">{{currency}}{{row.total.value | number : 2}}</span></td>
				<td class=""
					ng-if="(row.statusDisplay | uppercase) == 'ON HOLD'"><div
						class="small-circle bg-danger"></div> {{row.statusDisplay |
					uppercase}}</td>
				<td class=""
					ng-if="(row.statusDisplay | uppercase) == 'PENDING'"><div
						class="small-circle bg-warning"></div> {{row.statusDisplay |
					uppercase}}</td>
				<td class=""
					ng-if="(row.statusDisplay | uppercase) == 'SHIPPED'"><div
						class="small-circle bg-success"></div> {{row.statusDisplay |
					uppercase}}</td>
				<td class=""
					ng-if="(row.statusDisplay | uppercase) == 'PROCESSING'">{{row.statusDisplay
					| uppercase}}</td>
				<td class=""
					ng-if="(row.statusDisplay | uppercase) == 'CANCELLED'">{{row.statusDisplay
					| uppercase}}</td>
			</tr>
		</tbody>
	</table>
</div>