<!-- Desktop View -->
<div
	class="columns is-marginless is-mobile is-multiline is-hidden-touch">
	<div class="column is-12 is-paddingless">
		<div class="columns is-marginless is-mobile">
			<div class="column is-3 m-t-2 p-x-0">
				<div class="control m-t-1">
					<input class="input search" type="search"
						id="order-search-filter-desktop" placeholder="Search orders"
						ng-model="searchOrders" ng-change="searchOrder()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
			<div class="column m-t-2 p-x-0">
				<div class="columns justify-right is-mobile">
					<div class="column is-2 p-t-0">
						<p class="control has-icons-right">
							<label class="label filter-label">{{'PER_PAGE' | translate}}</label> <span
								class="select width-100-perc"> <select
								ng-model="ordersPerPage" class="filter-dropdown width-100-perc"
								ng-options="perPage for perPage in perPageDropdownList"
								ng-change="updatePerPage()">
							</select> <span class="icon is-large is-right"> <i
									class="material-icons">arrow_drop_down</i>
							</span></span>
					</div>
					<div class="column is-4 m-t-1 padding-top-5">
						<order-pagination></order-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-12 is-paddingless">
		<order-selected-filter></order-selected-filter>
	</div>
</div>

<!-- Tablet View -->
<div
	class="columns is-marginless is-mobile is-multiline is-hidden-desktop">
	<div class="column is-12 is-paddingless">
		<div class="columns m-y-0 is-mobile is-hidden-desktop">
			<div class="column">
				<span class="orders-title">{{'NAV_MENU.ORDERS' | translate}}</span>
			</div>
			<div class="column is-8 is-hidden-tablet">
				<div class="control m-t-1h">
					<input class="input search" type="search" id="order-search-filter"
						placeholder="Search orders" ng-model="searchOrders" ng-change="searchOrder()"> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-12 is-paddingless">
		<div class="columns is-marginless is-paddingless is-mobile">
			<order-selected-filter></order-selected-filter>
		</div>
	</div>
	<div class="column is-12 is-paddingless">
		<div class="columns is-marginless is-paddingless is-mobile">
			<div class="column is-4 is-paddingless is-hidden-mobile">
				<div class="control m-t-1">
					<input class="input search" type="search" id="order-search-filter"
						placeholder="Search orders" ng-model="searchOrders" ng-change="searchOrder()> <span
						class="icon is-small is-right search-icon" ng-click=""> <i
						class="material-icons">search</i>
					</span>
				</div>
			</div>
			<div class="column is-8 is-paddingless">
				<div class="columns justify-right is-mobile is-hidden-mobile">
					<div class="column is-3 p-t-0">
						<p class="control has-icons-right">
							<label class="label filter-label">{{'PER_PAGE' | translate}}</label> <span
								class="select width-100-perc"> <select
								ng-model="ordersPerPage" class="filter-dropdown width-100-perc"
								ng-options="perPage for perPage in perPageDropdownList"
								ng-change="updatePerPage()">
							</select> <span class="icon is-large is-right"> <i
									class="material-icons">arrow_drop_down</i>
							</span></span>
					</div>
					<div class="column is-7 m-t-1">
						<order-pagination></order-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile View -->
	<div class="column is-12 is-paddingless is-hidden-tablet">
		<p class="control has-icons-right">
			<label class="label filter-label">{{'PER_PAGE' | translate}}</label> <span
				class="select width-100-perc"> <select
				ng-model="ordersPerPage" class="filter-dropdown width-100-perc"
				ng-options="perPage for perPage in perPageDropdownList"
				ng-change="updatePerPage()">
			</select> <span class="icon is-large is-right"> <i
					class="material-icons">arrow_drop_down</i>
			</span></span>
	</div>
	<div
		class="column is-12 is-paddingless has-text-centered m-t-1 is-hidden-tablet">
		<order-pagination></order-pagination>
	</div>
</div>