<order-breadcrumbs></order-breadcrumbs>
<div class="container p-x-1">
	<div class="columns m-t-0">
		<div class="column is-2 m-t-1 is-hidden-touch">
			<div class="columns is-multiline is-marginless">
				<div class="column is-12 p-x-0 m-b-1">
					<span class="orders-title">{{'NAV_MENU.ORDERS' | translate}}</span>
				</div>
				<div class="column is-12 is-paddingless">
					<order-filter></order-filter>
				</div>
			</div>
		</div>
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">
				<div class="column is-12 is-paddingless">
					<order-header></order-header>
				</div>
				<div class="column is-12 is-paddingless">
					<order-table></order-table>
				</div>
				<!-- Lower Pagination Desktop & Tablet View -->
				<div
					class="column is-offset-9 is-3 m-t-1 p-x-0 is-right is-hidden-mobile">
					<order-pagination></order-pagination>
				</div>

				<!-- Lower Pagination Mobile View -->
				<div
					class="column is-12 m-t-1 p-x-0 has-text-centered is-hidden-tablet">
					<order-pagination></order-pagination>
				</div>

				<div class="clearfix">&nbsp;</div>
			</div>
		</div>
	</div>
</div>
<order-filter-modal></order-filter-modal>