<div class="column is-12 is-paddingless">
	<table class="table footable row-border hover" datatable dt-options="reportDetailCtrl.dtOptions" dt-columns="reportDetailCtrl.dtColumns" 
		 cellspacing="0" width="100%">
	</table>
</div>