<!-- Desktop View -->
<div class="columns is-marginless is-mobile m-t-0 is-multiline is-hidden-touch is-hidden-tablet">	
	<div class="column is-9 is-paddingless" >
		<div class="tile m-r-1 is-pulled-left">
			<p class="control">
				<a class="button is-primary max-width-100" ng-click="saveReport">
					{{'REPORT_TEXT.SAVE_REP' | translate | uppercase}}
				</a>
			</p>
		</div>		
		<div class="tile m-r-1 is-pulled-left">
			<p class="control">
				<a class="button is-ghost  max-width-100" ng-click="">
					{{'REPORT_TEXT.DELETE_REP' | translate | uppercase}}
				</a>
			</p>
		</div>	
	</div>
	<div class="column is-3 p-l-0 report-export">
		<a class="button p-x-1 p-y-0 relative" angular-popover direction="top" template="<div class='btn-tooltip'>PRINT</div>" mode="mouseover"> 
			<span class="icon" ng-click="printReport()">
				<i class="material-icons">print</i> 
			</span>
		</a>
		<a class="button p-x-1 p-y-0 is-hidden"> 
			<span class="icon" >
				<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
			</span>
		</a>
		<a class="button p-x-1 p-y-0 relative" angular-popover direction="top" template="<div class='btn-tooltip'>DOWNLOAD<br>SPREADSHEET</div>" mode="mouseover"> 
			<span class="icon" ng-click="exportReportExcel()">					
				<img class="logo-img report-icon" src="resources/images/reports-icon/reports-export-excel.svg">
			</span>
		</a>		
	</div>
	
</div>

<!-- Tablet & Mobile View-->

<div class="columns is-marginless is-mobile m-t-0 is-multiline is-hidden-mobile">	
	<div class="column is-8 is-paddingless" >
		<div class="tile m-r-1 is-pulled-left">
			<p class="control">
				<a class="button is-primary max-width-100" ng-click="saveReport()">
					{{'REPORT_TEXT.SAVE_REP' | translate | uppercase}}
				</a>
			</p>
		</div>		
		<div class="tile m-r-1 is-pulled-left">
			<p class="control">
				<a class="button is-ghost  max-width-100" ng-click="">
					{{'REPORT_TEXT.DELETE_REP' | translate | uppercase}}
				</a>
			</p>
		</div>	
	</div>
	<div class="column is-4 p-l-0 report-export">
		<a class="button p-x-1 p-y-0 relative" angular-popover direction="top" template="<div class='btn-tooltip'>PRINT</div>" mode="mouseover"> 
			<span class="icon" ng-click="printReport()">
				<i class="material-icons">print</i> 
			</span>
		</a>
		<a class="button p-y-0 is-hidden"> 
			<span class="icon" >
				<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
			</span>
		</a>
		<a class="button p-x-1 p-y-0 relative" angular-popover direction="top" template="<div class='btn-tooltip'>DOWNLOAD<br>SPREADSHEET</div>" mode="mouseover"> 
			<span class="icon" ng-click="exportReportExcel()">					
				<img class="logo-img report-icon" src="resources/images/reports-icon/reports-export-excel.svg">
			</span>
		</a>		
	</div>
	
</div>

<div class="columns is-marginless is-mobile m-t-0 is-multiline is-hidden-tablet">	
	<div class="column is-6 is-paddingless" >
		<div class="tile m-r-1">
			<p class="control">
				<a class="button is-primary max-width-100" ng-click="saveReport()">
					{{'REPORT_TEXT.SAVE_REP' | translate | uppercase}}
				</a>
			</p>
		</div>	
	</div>
	<div class="column is-6 is-paddingless" >
		<div class="tile m-r-1">
			<p class="control">
				<a class="button is-ghost  max-width-100" ng-click="">
					{{'REPORT_TEXT.DELETE_REP' | translate | uppercase}}
				</a>
			</p>
		</div>	
	</div>
	<div class="column is-12 p-l-0 has-text-centered ">
		<a class="button p-x-1 p-y-0 relative" angular-popover direction="top" template="<div class='btn-tooltip'>DOWNLOAD<br>SPREADSHEET</div>" mode="mouseover"> 
			<span class="icon" ng-click="exportReportExcel()">					
				<img class="logo-img report-icon" src="resources/images/reports-icon/reports-export-excel.svg">
			</span>
		</a>	
		<a class="button p-x-1 p-y-0 relative" angular-popover direction="top" template="<div class='btn-tooltip'>PRINT</div>" mode="mouseover"> 
			<span class="icon is-ghost" ng-click="printReport()">
				<i class="material-icons">print</i> 
			</span>
		</a>
		<a class="button p-x-1 p-y-0 is-hidden"> 
			<span class="icon" >
				<i class="size-1h-rem fa fa-envelope" aria-hidden="true"></i>
			</span>
		</a>	
	</div>
	
</div>