<div class="breadcrumbs-background">
	<div class="container breadcrumbs-background">
		<nav class="breadcrumb">
			<ul>
				<li><a class="p-l-1" go-to-home>{{'HOME_LABEL' | translate }}</a></li>
				<li go-to-report ><a>{{'NAV_MENU.REPORTS' | translate }}</a></li>
				<li class="is-active"><a>{{report.reportName}}</a></li>
			</ul>
		</nav>
	</div>
</div>