<div class="column is-12 is-paddingless is-fluid">
	<table class="table footable row-border hover" datatable="ng" dt-options="reportDetailCtrl.dtOptions" dt-column-defs="reportDetailCtrl.dtColumnDefs" dt-instance="reportDetailCtrl.dtInstance"
		 cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="center-text not-desktop toggle" data-sort-ignore="true">&nbsp;</th>
				<th class="" data-priority="2">{{'INVOICE_TEXT.INVOICE_NO' | translate}}</th>
				<th class="" data-priority="3">{{'TEXT.DATE' | translate}}</th>
				<th data-priority="4" >{{'TABLE_HEADER.PO_NO' | translate}}</th>
				<th>{{'TABLE_HEADER.CONTACT_NAME' | translate}}</th>
				<th>{{'TABLE_HEADER.CONTACT_EMAIL' | translate}}</th>
				<th>{{'TABLE_HEADER.STATUS' | translate}}</th>
				<th>{{'TABLE_HEADER.CREDIT_APPLIED' | translate}}</th>
				<th>{{'TEXT.TOTAL' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in reportDetail track by $index">
				<td class="has-text-centered footable-toggle "></td> 
				<td class=""><a>{{row.invoiceNumber}}</a></td>
				<td class="">{{row.dateIssued | date:'MM/dd/yyyy'}}</td>
				<td class="has-text-left">{{row.poNumber}}</td>
				<td class="has-text-left">{{row.contactName}}</td>
				<td class="has-text-left">{{row.contactEmail}}</td>
				<td class="has-text-left">{{row.status}}</td>
				<td class="has-text-left">${{row.creditsApplied}}</td>
				<td class="has-text-left">${{row.total}}</td>
			</tr>
		</tbody>
	</table>
</div>