<report-detail-breadcrumbs></report-detail-breadcrumbs>
<div class="container p-x-1 report-detail-container">
	<div class="columns m-t-0 is-multiline">
		<div class="column is-12 m-t-1" >
			<div class="columns is-multiline is-marginless" ng-if="reportId != 0 && report.type!='Summary Report' && report.type!='Product Summary Report' && report.type!='Ship-To Summary Report'">
				<div class="column is-12 is-paddingless">
					<span class="invoices-title report-detail-title">{{report.reportName}}</span>
				</div>
			</div>
		</div>
		<div class="column p-t-0">
			<div class="columns is-marginless is-mobile is-multiline">
				<div class="column is-12 is-paddingless m-b-1" ng-class="{'container' : report.type=='Ship-To Summary Report'}">
					<report-detail-header ng-if="reportId != 0 && report.type!='Summary Report' && report.type!='Product Summary Report' && report.type!='Ship-To Summary Report'"></report-detail-header>
					<summary-report-header ng-if="reportId == 0 || report.type=='Summary Report' || report.type=='Product Summary Report' || report.type=='Ship-To Summary Report'"></summary-report-header>
				</div>
				<div class="column is-12 is-paddingless" id="report-detail-table">					
					<report-detail-table  ng-if="reportId != 0 && report.type!='Summary Report' && report.type!='Product Summary Report' && report.type!='Ship-To Summary Report'"></report-detail-table>
					<summary-report-table ng-if="report.type=='Summary Report'"></summary-report-table>
					<product-summary-report-table ng-if="report.type=='Product Summary Report'"></product-summary-report-table> 
					<ship-to-summary-report-table ng-if="report.type=='Ship-To Summary Report'"></ship-to-summary-report-table> 
				</div>
			</div>
		</div>
	</div>
</div>
<error-modal></error-modal>